Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

chore(claude-code): update to 2.1.217 (#1126) (#1129)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(mcp): add ollama-code delegation server
  home/development/claude-code-mcp.nix
  pkgs/default.nix
  pkgs/ollama-mcp/default.nix
  pkgs/ollama-mcp/server.py
Due: nixpkgs-fmt, statix, deadnix, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(mcp): add ollama-code delegation server (#1130)
  home/development/claude-code-mcp.nix
  pkgs/default.nix
  pkgs/ollama-mcp/default.nix
  pkgs/ollama-mcp/server.py
Due: nixpkgs-fmt, statix, deadnix, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(agents): complete frontmatter + tier models on all project agents
  .claude/agents/config-drift-detective.md
  .claude/agents/deployment-coordinator.md
  .claude/agents/documentation-sync.md
  .claude/agents/issue-checker.md
  .claude/agents/local-logs.md
  .claude/agents/module-refactor.md
  .claude/agents/nix-check.md
  .claude/agents/package-resolver.md
  .claude/agents/performance-analyzer.md
  .claude/agents/security-patrol.md
  .claude/agents/test-generator.md
  .claude/agents/update.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(agents): complete frontmatter + tier models on all project agents (#1131)
  .claude/agents/config-drift-detective.md
  .claude/agents/deployment-coordinator.md
  .claude/agents/documentation-sync.md
  .claude/agents/issue-checker.md
  .claude/agents/local-logs.md
  .claude/agents/module-refactor.md
  .claude/agents/nix-check.md
  .claude/agents/package-resolver.md
  .claude/agents/performance-analyzer.md
  .claude/agents/security-patrol.md
  .claude/agents/test-generator.md
  .claude/agents/update.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1132)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1135)
  flake.lock
Due: none

chore(claude-code): update to 2.1.218 (#1133)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.218 (#1133) (#1136)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1137)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1138)
  flake.lock
Due: none

fix(razer): use DMS greeter + fix goobook simplejson build
  flake.lock
  hosts/razer/configuration.nix
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(overlays): skip fortune metadata check so rewaita builds
  flake.lock
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(overlays): unblock langfuse (wrapt pin) + optuna (flaky test)
  flake.lock
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): drop now-unused inputs param
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(ollama): don't fail deploy on model-loader activation race
  modules/services/ollama.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1140)
  flake.lock
  hosts/razer/configuration.nix
  modules/services/ollama.nix
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): niri touchpad tap/natural-scroll/dwt
  Users/olafkfreund/razer_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): niri touchpad tap/natural-scroll/dwt (#1141)
  Users/olafkfreund/razer_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1142)
  flake.lock
Due: none

chore(antigravity): bump cli 1.1.6 + sdk 0.1.8
  pkgs/antigravity-cli/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump cli 1.1.6 + sdk 0.1.8 (#1143)
  pkgs/antigravity-cli/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to v0.2026.07.22.09.01.stable_01
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): bump to v0.2026.07.22.09.01.stable_01 (#1144)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

fix(niri): add dwt to touchpad in the actual config source
  Users/olafkfreund/razer_home.nix
  home/desktop/noctalia/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(niri): add dwt to touchpad in the actual config source (#1145)
  Users/olafkfreund/razer_home.nix
  home/desktop/noctalia/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(overlays): skip cheetah3 metadata check (unblocks p510 sabnzbd)
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(overlays): skip cheetah3 metadata check (unblocks p510 sabnzbd) (#1148)
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(dns): tier 0 — kill switch-race + dead .222 primary resolver
  hosts/p620/nixos/dns-fallback.nix
  modules/common/networking.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(dns): tier 0 — kill switch-race + dead .222 primary resolver (#1149)
  hosts/p620/nixos/dns-fallback.nix
  modules/common/networking.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(net): shared BBR/fq + latency sysctl baseline (all hosts)
  modules/common/networking.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(net): shared BBR/fq + latency sysctl baseline (all hosts) (#1150)
  modules/common/networking.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check
