Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

docs(spec): draft 2026-09-15-1831-claude-multi-model-delegation (#1831)
  spec/2026-09-15-1831-claude-multi-model-delegation.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): use headings for 1831 verification steps (#1831)
  spec/2026-09-15-1831-claude-multi-model-delegation.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-15-1831-claude-multi-model-delegation (#1831)
  spec/2026-09-15-1831-claude-multi-model-delegation.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-09-15-1831-claude-multi-model-delegation (#1831)
  plan/2026-09-15-1831-claude-multi-model-delegation.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-15-1831-claude-multi-model-delegation (#1831)
  plan/2026-09-15-1831-claude-multi-model-delegation.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(ai): second-opinion skill, drop global API-key exports (#1831)
  CLAUDE.md
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/second-opinion/SKILL.md
  home/development/codex-cli.nix
  modules/secrets/api-keys.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): record the stale-branch deploy deviation for 1831 (#1831)
  plan/2026-09-15-1831-claude-multi-model-delegation.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(ai): agy prompt flag order, list agenix api files by name (#1831)
  home/development/claude-code-skills/second-opinion/SKILL.md
  modules/secrets/api-keys.nix
  plan/2026-09-15-1831-claude-multi-model-delegation.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(secrets): provider API keys 0400 owned by the user (#1831)
  Users/olafkfreund/profile.nix
  modules/secrets/api-keys.nix
  plan/2026-09-15-1831-claude-multi-model-delegation.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai): subscription-only second-opinion skill, drop global API-key exports (#1831) (#1833)
  CLAUDE.md
  Users/olafkfreund/profile.nix
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/second-opinion/SKILL.md
  home/development/codex-cli.nix
  intent/2026-09-15-1831-claude-multi-model-delegation.md
  modules/secrets/api-keys.nix
  plan/2026-09-15-1831-claude-multi-model-delegation.md
  spec/2026-09-15-1831-claude-multi-model-delegation.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): approve 2026-09-15-1832-agents-md-parity (#1832)
  intent/2026-09-15-1832-agents-md-parity.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(claude-code): update to 2.1.273 (#1834)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.273 (#1834) (#1837)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(apps): add Spotifast to p620 and razer (#1829) (#1830)
  Users/olafkfreund/profile.nix
  flake.lock
  flake.nix
  intent/2026-09-15-1829-spotifast.md
  overlays/default.nix
  plan/2026-09-15-1829-spotifast.md
  spec/2026-09-15-1829-spotifast.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(spec): draft 2026-09-15-1832-agents-md-parity (#1832)
  spec/2026-09-15-1832-agents-md-parity.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft 2026-09-15-1835-npm-global-path-order (#1835)
  intent/2026-09-15-1835-npm-global-path-order.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-15-1832-agents-md-parity (#1832)
  spec/2026-09-15-1832-agents-md-parity.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-09-15-1832-agents-md-parity (#1832)
  plan/2026-09-15-1832-agents-md-parity.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-15-1832-agents-md-parity (#1832)
  plan/2026-09-15-1832-agents-md-parity.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(agents): AGENTS.md as single source, global rules for codex and antigravity (#1832)
  AGENTS.md
  CLAUDE.md
  home/development/agent-rules.nix
  home/development/agent-rules/global.md
  home/development/antigravity-config.nix
  home/development/default.nix
  modules/programs/claude-code-managed.nix
  modules/programs/parr-protocol.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(agents): keep PARR text as .txt so markdownlint cannot reformat it (#1832)
  home/development/agent-rules.nix
  modules/programs/claude-code-managed.nix
  modules/programs/parr-protocol.txt
  plan/2026-09-15-1832-agents-md-parity.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(agents): AGENTS.md as single source, global rules for codex and antigravity (#1832) (#1838)
  AGENTS.md
  CLAUDE.md
  home/development/agent-rules.nix
  home/development/agent-rules/global.md
  home/development/antigravity-config.nix
  home/development/default.nix
  intent/2026-09-15-1832-agents-md-parity.md
  modules/programs/claude-code-managed.nix
  modules/programs/parr-protocol.txt
  plan/2026-09-15-1832-agents-md-parity.md
  spec/2026-09-15-1832-agents-md-parity.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): record 1835 decisions: Nix is master, delete duplicates (#1835)
  intent/2026-09-15-1835-npm-global-path-order.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-15-1835-npm-global-path-order (#1835)
  intent/2026-09-15-1835-npm-global-path-order.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-09-15-1835-npm-global-path-order (#1835)
  spec/2026-09-15-1835-npm-global-path-order.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-15-1835-npm-global-path-order (#1835)
  spec/2026-09-15-1835-npm-global-path-order.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-09-15-1835-npm-global-path-order (#1835)
  plan/2026-09-15-1835-npm-global-path-order.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): wrap long line in 1835 plan (#1835)
  plan/2026-09-15-1835-npm-global-path-order.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(chrome): open Omarchy web apps in the Default Chrome profile (#1839)
  home/browsers/chrome.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(chrome): open Omarchy web apps in the Default Chrome profile (#1839) (#1840)
  home/browsers/chrome.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1841)
  flake.lock
Due: none

fix(flake): track nixi-nixarchy master, not the deleted feature branch (#1842)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(flake): track nixi-nixarchy master, not the deleted feature branch (#1842) (#1843)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1844)
  flake.lock
Due: none

chore(claude-desktop): update to 2.110.0 (#1836)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(nixi): drop the nixi override; nixarchy pins 0.10 itself (#1827)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(nixi): drop the nixi override; nixarchy pins 0.10 itself (#1827) (#1845)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to 2.110.0 (#1836) (#1846)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check
