Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

fix(razer): switch to linuxPackages_latest (7.0.1) to dodge 6.18.24 + nvidia boot regression (#378)
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): switch to systemd-initrd to fix kernel 7.0.1 root mount timeout
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): switch to systemd-initrd to fix kernel 7.0.1 root mount timeout (#379)
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): enable lanzaboote (Secure Boot bootloader)
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): enable lanzaboote (Secure Boot bootloader) (#380)
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump 2.1.121 → 2.1.123 (#381)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump lanzaboote v0.4.1 → v1.0.0
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump lanzaboote v0.4.1 → v1.0.0 (#383)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): point lanzaboote pkiBundle at /var/lib/sbctl (sbctl 0.18 default)
  hosts/razer/nixos/secure-boot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): point lanzaboote pkiBundle at /var/lib/sbctl (sbctl 0.18 default) (#384)
  hosts/razer/nixos/secure-boot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): add shim+MOK module to bypass Razer's locked Setup Mode (#376)
  hosts/razer/configuration.nix
  hosts/razer/nixos/shim.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): add shim+MOK module to bypass Razer's locked Setup Mode (#376) (#385)
  hosts/razer/configuration.nix
  hosts/razer/nixos/shim.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): pass key flags + hardcoded paths to lzbt in shim wrapper
  hosts/razer/nixos/shim.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): pass key flags + hardcoded paths to lzbt in shim wrapper (#386)
  hosts/razer/nixos/shim.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

refactor(lazyvim): clean up bootstrap, add right-click keymap, host-aware nixd
  home/shell/lazyvim/lazyvim/init.lua
  home/shell/lazyvim/lazyvim/lua/config/keymaps.lua
  home/shell/lazyvim/lazyvim/lua/config/lazy.lua
  home/shell/lazyvim/lazyvim/lua/plugins/nix.lua
Due: stylua, trailing-whitespace, end-of-file, check-merge-conflict

refactor(lazyvim): clean up bootstrap, add right-click keymap, host-aware nixd (#387)
  home/shell/lazyvim/lazyvim/init.lua
  home/shell/lazyvim/lazyvim/lua/config/keymaps.lua
  home/shell/lazyvim/lazyvim/lua/config/lazy.lua
  home/shell/lazyvim/lazyvim/lua/plugins/nix.lua
Due: stylua, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump nixpkgs (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump nixpkgs (nixpkgs unchanged) (#388)
  flake.lock
Due: none

fix(obsidian): re-enable on p620/razer — drop obsolete electron_39 overlay (#370)
  flake.lock
  flake.nix
  home/development/productivity.nix
  home/profiles/developer/default.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos-options.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos-options.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(obsidian): re-enable on p620/razer — drop obsolete electron_39 overlay (#370) (#390)
  flake.lock
  flake.nix
  home/development/productivity.nix
  home/profiles/developer/default.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos-options.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos-options.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(lint): replace statix with nixpkgs-lint-community for whole-tree linting
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Justfile
  checks/default.nix
  tools/dev.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(lint): replace statix with nixpkgs-lint-community for whole-tree linting (#391)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Justfile
  checks/default.nix
  tools/dev.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(terminals): add Warp terminal to razer and p620 (#389)
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  home/desktop/terminals/default.nix
  home/desktop/terminals/warp/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(terminals): add Warp terminal to razer and p620 (#389) (#392)
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  home/desktop/terminals/default.nix
  home/desktop/terminals/warp/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(lint): clean up the four findings nixpkgs-lint surfaced after #391
  modules/TEMPLATE.nix
  modules/desktop/cosmic.nix
  modules/services/cosmic-ext-radio-applet/default.nix
  tools/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(lint): clean up the four findings nixpkgs-lint surfaced after #391 (#393)
  modules/TEMPLATE.nix
  modules/desktop/cosmic.nix
  modules/services/cosmic-ext-radio-applet/default.nix
  tools/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump 2.1.121 → 2.1.123 (#381) (#382)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): bump 1.4758.0 → 1.5354.0
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): bump 1.4758.0 → 1.5354.0 (#394)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(lazyvim): load blink.cmp from nixpkgs to restore Rust matcher
  home/shell/lazyvim/default.nix
  home/shell/lazyvim/lazyvim/lua/plugins/blink.lua
Due: nixpkgs-fmt, statix, deadnix, stylua, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(lazyvim): load blink.cmp from nixpkgs to restore Rust matcher (#395)
  home/shell/lazyvim/default.nix
  home/shell/lazyvim/lazyvim/lua/plugins/blink.lua
Due: nixpkgs-fmt, statix, deadnix, stylua, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

refactor(stylix): isolate GNOME from COSMIC, fix Adwaita Mono package
  Users/common/base-home.nix
  home/desktop/gnome/theme.nix
  hosts/common/shared-variables.nix
  hosts/p510/themes/stylix.nix
  hosts/p620/themes/stylix.nix
  hosts/razer/themes/stylix.nix
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

refactor(stylix): isolate GNOME from COSMIC, fix Adwaita Mono package (#396)
  Users/common/base-home.nix
  home/desktop/gnome/theme.nix
  hosts/common/shared-variables.nix
  hosts/p510/themes/stylix.nix
  hosts/p620/themes/stylix.nix
  hosts/razer/themes/stylix.nix
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(programs): auto-sync Chrome PWA icons into XDG hicolor tree (#397)
  hosts/razer/configuration.nix
  modules/programs/chrome-pwa-icons.nix
  modules/programs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(programs): auto-sync Chrome PWA icons into XDG hicolor tree (#397) (#400)
  hosts/razer/configuration.nix
  modules/programs/chrome-pwa-icons.nix
  modules/programs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code): three-layer settings architecture (managed + init-template) (#398)
  home/development/claude-code-lsp.nix
  home/development/claude-code-mcp.nix
  hosts/razer/configuration.nix
  modules/programs/claude-code-managed.nix
  modules/programs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code): three-layer settings architecture (managed + init-template) (#398) (#399)
  home/development/claude-code-lsp.nix
  home/development/claude-code-mcp.nix
  hosts/razer/configuration.nix
  modules/programs/claude-code-managed.nix
  modules/programs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(warp-terminal): track latest stable via custom derivation + daily auto-update
  .github/workflows/update-warp-terminal.yml
  flake.nix
  pkgs/warp-terminal/default.nix
  pkgs/warp-terminal/versions.json
  scripts/update-warp-terminal.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, yamllint, json-format, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(warp-terminal): drop CI workflow, rely on local script + nhs
  .github/workflows/update-warp-terminal.yml
  pkgs/warp-terminal/default.nix
  scripts/update-warp-terminal.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

feat(warp-terminal): track latest stable via custom derivation (#401)
  flake.nix
  pkgs/warp-terminal/default.nix
  pkgs/warp-terminal/versions.json
  scripts/update-warp-terminal.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, json-format, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
