Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2042)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2043)
  flake.lock
Due: none

docs(spec): approve 2026-09-25-2031-agents-md-native (#2031)
  spec/2026-09-25-2031-agents-md-native.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-25-2031-agents-md-native (#2031)
  intent/2026-09-25-2031-agents-md-native.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-09-25-2031-agents-md-native (#2031)
  spec/2026-09-25-2031-agents-md-native.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft 2026-09-25-2031-agents-md-native (#2031)
  intent/2026-09-25-2031-agents-md-native.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): fix stray heading in 2026-09-25-2031-agents-md-native (#2031)
  intent/2026-09-25-2031-agents-md-native.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-25-2031-agents-md-native (#2031)
  plan/2026-09-25-2031-agents-md-native.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-09-25-2031-agents-md-native (#2031)
  plan/2026-09-25-2031-agents-md-native.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(agents): let Claude Code read AGENTS.md natively, retire CLAUDE.md (#2031)
  .claude/CLAUDE-CODE-2.1.2-UPDATES.md
  .claude/agents/nix-anti-pattern-auditor.md
  .claude/commands/nix-help.md
  .claude/skills/tailscale.md
  AGENTS.md
  CLAUDE.md
  catalog-info.yaml
  docs/NIXOS-ANTI-PATTERNS.md
  docs/README.md
  docs/applications/sunshine.md
  docs/guides/GITHUB-WORKFLOW.md
  docs/tooling/CLAUDE-CODE-OPTIMIZATION.md
  mkdocs-full.yml
  mkdocs.yml
  modules/common/networking.nix
  modules/desktop/sunshine.nix
  plan/2026-09-25-2031-agents-md-native.md
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(agents): let Claude Code read AGENTS.md natively, retire CLAUDE.md (#2031) (#2033)
  .claude/CLAUDE-CODE-2.1.2-UPDATES.md
  .claude/agents/nix-anti-pattern-auditor.md
  .claude/commands/nix-help.md
  .claude/skills/tailscale.md
  AGENTS.md
  CLAUDE.md
  catalog-info.yaml
  docs/NIXOS-ANTI-PATTERNS.md
  docs/README.md
  docs/applications/sunshine.md
  docs/guides/GITHUB-WORKFLOW.md
  docs/tooling/CLAUDE-CODE-OPTIMIZATION.md
  intent/2026-09-25-2031-agents-md-native.md
  mkdocs-full.yml
  mkdocs.yml
  modules/common/networking.nix
  modules/desktop/sunshine.nix
  plan/2026-09-25-2031-agents-md-native.md
  spec/2026-09-25-2031-agents-md-native.md
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft 2026-09-26-2044-coredump-cap-all-hosts (#2044)
  intent/2026-09-26-2044-coredump-cap-all-hosts.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-26-2044-coredump-cap-all-hosts (#2044)
  intent/2026-09-26-2044-coredump-cap-all-hosts.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-09-26-2044-coredump-cap-all-hosts (#2044)
  spec/2026-09-26-2044-coredump-cap-all-hosts.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all — nixpkgs e94cb152 → e158d9ed
  flake.lock
Due: none

chore(flake): bump all — nixpkgs e94cb152 → e158d9ed (#2045)
  flake.lock
Due: none

chore(flake): bump nixarchy-voice (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump nixarchy-voice (nixpkgs unchanged) (#2046)
  flake.lock
Due: none

chore(flake): bump nixarchy (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump nixarchy (nixpkgs unchanged) (#2048)
  flake.lock
Due: none

chore(flake): bump nixarchy-voice (nixpkgs unchanged) (#2049)
  flake.lock
Due: none

chore(flake): bump nixarchy-voice (nixpkgs unchanged) (#2050)
  flake.lock
Due: none

Point nixarchy at a sops-nix that still builds
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

RDP between the three machines, over SSH rather than an open port
  .sops.yaml
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  secrets/hosts/p510/rdp.yaml
  secrets/hosts/p620/rdp.yaml
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Mirror a real monitor, because the headless path is broken on Hyprland 0.56
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

RDP between the three machines, over SSH rather than an open port (#2051)
  .sops.yaml
  flake.lock
  flake.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  secrets/hosts/p510/rdp.yaml
  secrets/hosts/p620/rdp.yaml
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

feat(p510): Oma (omarchy-voice), with p620's settings
  hosts/p510/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): Oma (omarchy-voice), with p620's settings (#2054)
  hosts/p510/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(flake): make nixarchy follow our home-manager
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(flake): make nixarchy follow our home-manager (#2055)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): draft 2026-09-26-2044-coredump-cap-all-hosts (#2044)
  plan/2026-09-26-2044-coredump-cap-all-hosts.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-26-2044-coredump-cap-all-hosts (#2044)
  spec/2026-09-26-2044-coredump-cap-all-hosts.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-26-2044-coredump-cap-all-hosts (#2044)
  plan/2026-09-26-2044-coredump-cap-all-hosts.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict
