Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

fix(nix): put /tmp on disk, and stop auto-optimise racing the collector (#1635) (#1636)
  hosts/p620/nixos/boot.nix
  hosts/razer/configuration.nix
  modules/nix/flake-settings.nix
  modules/nix/nix.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): remove the competing fstab /tmp so it actually lands on disk (#1635)
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): remove the competing fstab /tmp so it actually lands on disk (#1635) (#1644)
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

fix(omarchy): set_workspace takes a selector, not a table (#1517)
  hosts/common/nixos/omarchy-workspaces.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(omarchy): set_workspace takes a selector, not a table (#1517) (#1647)
  hosts/common/nixos/omarchy-workspaces.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): put /tmp on disk, matching p620 (#1635)
  hosts/razer/nixos/memory.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): put /tmp on disk, matching p620 (#1635) (#1648)
  hosts/razer/nixos/memory.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(agents): MCP bus on Matrix, to replace the SSH board (#1642)
  hosts/p510/configuration.nix
  modules/services/agent-bus-mcp.nix
  modules/services/matrix-continuwuity.nix
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  pkgs/agent-bus-mcp/default.nix
  pkgs/agent-bus-mcp/test_agent_bus_mcp.py
  pkgs/default.nix
  secrets.nix
  secrets/agent-bus-matrix-token.age
  secrets/matrix-registration-token.age
Due: nixpkgs-fmt, statix, deadnix, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(agents): MCP bus on Matrix, to replace the SSH board (#1642) (#1649)
  hosts/p510/configuration.nix
  modules/services/agent-bus-mcp.nix
  modules/services/matrix-continuwuity.nix
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  pkgs/agent-bus-mcp/default.nix
  pkgs/agent-bus-mcp/test_agent_bus_mcp.py
  pkgs/default.nix
  secrets.nix
  secrets/agent-bus-matrix-token.age
  secrets/matrix-registration-token.age
Due: nixpkgs-fmt, statix, deadnix, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(omarchy): add psmisc for `fuser`, needed by shell plugins
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(agents): real Matrix access token for the agent bus (#1642)
  secrets/agent-bus-matrix-token.age
Due: none

fix(agents): percent-encode the room alias in _resolve (#1642)
  pkgs/agent-bus-mcp/agent_bus_mcp.py
Due: ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict

fix(agents): real Matrix token, and percent-encode room aliases (#1642) (#1651)
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  secrets/agent-bus-matrix-token.age
Due: nixpkgs-fmt, statix, deadnix, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(bbs): retire the SSH bulletin board (#1652)
  docs/applications/nixarchy-bbs.md
  hosts/p510/configuration.nix
  mkdocs-full.yml
  mkdocs.yml
  modules/services/nixarchy-bbs.nix
  pkgs/default.nix
  pkgs/nixarchy-bbs/default.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(bbs): retire the SSH bulletin board (#1652) (#1653)
  docs/applications/nixarchy-bbs.md
  hosts/p510/configuration.nix
  mkdocs-full.yml
  mkdocs.yml
  modules/services/nixarchy-bbs.nix
  pkgs/default.nix
  pkgs/nixarchy-bbs/default.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(agents): onboarding for the agent bus, and a skill on every host (#1642)
  docs/applications/agent-bus.md
  home/development/claude-code-skills/agent-bus/SKILL.md
  home/development/claude-code-skills/default.nix
  mkdocs-full.yml
  mkdocs.yml
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(agents): onboarding for the agent bus, and a skill on every host (#1642) (#1654)
  docs/applications/agent-bus.md
  home/development/claude-code-skills/agent-bus/SKILL.md
  home/development/claude-code-skills/default.nix
  mkdocs-full.yml
  mkdocs.yml
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.259
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.1.24-6130423206641664
  pkgs/antigravity-cli/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 34ab9907 → 3ed67ec0
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 34ab9907 → 3ed67ec0 (#1657)
  flake.lock
Due: none

feat(mcp): reconcile shared MCP servers into ~/.claude.json (#1642)
  home/development/claude-code-mcp.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(mcp): reconcile shared MCP servers into ~/.claude.json (#1642) (#1659)
  home/development/claude-code-mcp.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1660)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1661)
  flake.lock
Due: none

feat(agents): require announcing on the bus before disrupting a shared host
  CLAUDE.md
  home/development/claude-code-skills/agent-bus/SKILL.md
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(agents): one bus identity per session and per subagent (#1642)
  docs/applications/agent-bus.md
  home/development/claude-code-mcp.nix
  home/development/claude-code-skills/agent-bus/SKILL.md
  hosts/p510/configuration.nix
  modules/secrets/api-keys.nix
  modules/services/agent-bus-mcp.nix
  modules/services/matrix-continuwuity.nix
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  pkgs/agent-bus-mcp/default.nix
  pkgs/agent-bus-mcp/test_agent_bus_mcp.py
  secrets.nix
  secrets/matrix-registration-token.age
Due: nixpkgs-fmt, statix, deadnix, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(desktop): install the share picker Omarchy's config asks for
  hosts/common/nixos/omarchy-sole-hyprland.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(desktop): install the share picker Omarchy's config asks for (#1664)
  hosts/common/nixos/omarchy-sole-hyprland.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(agents): require announcing on the bus before disrupting a shared host (#1662)
  CLAUDE.md
  home/development/claude-code-skills/agent-bus/SKILL.md
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(agents): one bus identity per session and per subagent (#1642) (#1663)
  docs/applications/agent-bus.md
  home/development/claude-code-mcp.nix
  home/development/claude-code-skills/agent-bus/SKILL.md
  hosts/p510/configuration.nix
  modules/secrets/api-keys.nix
  modules/services/agent-bus-mcp.nix
  modules/services/matrix-continuwuity.nix
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  pkgs/agent-bus-mcp/default.nix
  pkgs/agent-bus-mcp/test_agent_bus_mcp.py
  secrets.nix
  secrets/matrix-registration-token.age
Due: nixpkgs-fmt, statix, deadnix, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(agent-bus): join the room in read_new instead of waiting for a 403 (#1665)
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  pkgs/agent-bus-mcp/test_agent_bus_mcp.py
Due: ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict

fix(agent-bus): join the room in read_new instead of waiting for a 403 (#1665) (#1666)
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  pkgs/agent-bus-mcp/test_agent_bus_mcp.py
Due: ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
