Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

docs(plan): approve 2026-09-15-1835-npm-global-path-order (#1835)
  plan/2026-09-15-1835-npm-global-path-order.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(shell): append npm/cargo/go bin dirs after Nix on PATH (#1835)
  home/development/languages.nix
  home/development/npm-prefix.nix
  home/shell/bash.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(shell): append npm/cargo/go bin dirs after Nix on PATH (#1835) (#1847)
  home/development/languages.nix
  home/development/npm-prefix.nix
  home/shell/bash.nix
  intent/2026-09-15-1835-npm-global-path-order.md
  plan/2026-09-15-1835-npm-global-path-order.md
  spec/2026-09-15-1835-npm-global-path-order.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1848)
  flake.lock
Due: none

chore(nixi): take the watcher and Omarchy hooks from the module (#1849)
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(nixi): take the watcher and Omarchy hooks from the module (#1849) (#1850)
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft 2026-09-16-1851-opencode-from-nixpkgs (#1851)
  intent/2026-09-16-1851-opencode-from-nixpkgs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-16-1851-opencode-from-nixpkgs (#1851)
  intent/2026-09-16-1851-opencode-from-nixpkgs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-09-16-1851-opencode-from-nixpkgs (#1851)
  spec/2026-09-16-1851-opencode-from-nixpkgs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-16-1851-opencode-from-nixpkgs (#1851)
  spec/2026-09-16-1851-opencode-from-nixpkgs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-09-16-1851-opencode-from-nixpkgs (#1851)
  plan/2026-09-16-1851-opencode-from-nixpkgs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-16-1851-opencode-from-nixpkgs (#1851)
  plan/2026-09-16-1851-opencode-from-nixpkgs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(opencode): use pkgs.opencode 1.18.30, drop the vendored 0.5.13 derivation (#1851)
  flake.nix
  home/default.nix
  home/development/opencode/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): record 1851 implementation deviations (#1851)
  plan/2026-09-16-1851-opencode-from-nixpkgs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(opencode): use pkgs.opencode 1.18.30, drop the vendored 0.5.13 derivation (#1851) (#1852)
  flake.nix
  home/default.nix
  home/development/opencode/default.nix
  intent/2026-09-16-1851-opencode-from-nixpkgs.md
  plan/2026-09-16-1851-opencode-from-nixpkgs.md
  spec/2026-09-16-1851-opencode-from-nixpkgs.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(browseros): auto-update to 0.50.5
  pkgs/browseros/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(browseros): auto-update to 0.50.5 (#1854)
  pkgs/browseros/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.3-5101874907578368
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.3-5101874907578368 (#1855)
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1857)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1858)
  flake.lock
Due: none

docs(intent): approve 2026-09-16-1859-opencode-upstream-binary (#1859)
  intent/2026-09-16-1859-opencode-upstream-binary.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-16-1859-opencode-upstream-binary (#1859)
  spec/2026-09-16-1859-opencode-upstream-binary.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-16-1859-opencode-upstream-binary (#1859)
  plan/2026-09-16-1859-opencode-upstream-binary.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(opencode): run upstream 1.18.31 binary, nixpkgs 1.18.30 is broken (#1859)
  flake.nix
  home/default.nix
  pkgs/opencode-bin/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft global Codex instructions (#1861)
  intent/2026-09-16-1861-global-codex-instructions.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-16-1861-global-codex-instructions (#1861)
  intent/2026-09-16-1861-global-codex-instructions.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(opencode): run upstream 1.18.31 binary, nixpkgs 1.18.30 is broken (#1859) (#1860)
  flake.nix
  home/default.nix
  intent/2026-09-16-1859-opencode-upstream-binary.md
  pkgs/opencode-bin/default.nix
  plan/2026-09-16-1859-opencode-upstream-binary.md
  spec/2026-09-16-1859-opencode-upstream-binary.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(spec): draft global Codex instructions (#1861)
  spec/2026-09-16-1861-global-codex-instructions.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-16-1861-global-codex-instructions (#1861)
  spec/2026-09-16-1861-global-codex-instructions.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft global Codex instructions (#1861)
  plan/2026-09-16-1861-global-codex-instructions.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-16-1861-global-codex-instructions (#1861)
  plan/2026-09-16-1861-global-codex-instructions.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(agents): include global Claude standards in Codex (#1861)
  home/development/agent-rules.nix
  home/development/agent-rules/codex-standards.md
  plan/2026-09-16-1861-global-codex-instructions.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(secrets): add the daily.dev API token to agenix
  modules/secrets/api-keys.nix
  secrets.nix
  secrets/api-daily-dev.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(secrets): export DAILY_DEV_TOKEN for the Claude Code daily.dev plugin
  modules/secrets/api-keys.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(secrets): add the daily.dev token and export it for the Claude plugin (#1863)
  modules/secrets/api-keys.nix
  secrets.nix
  secrets/api-daily-dev.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
