Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration

just-validate:
  name: Validate justfile
  entry: just --list
  language: system
  pass_filenames: false
  description: Validate justfile syntax

fix(flake): remove unused cosmic-connect input
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(ci): improve security scan to exclude false positives
  .github/workflows/ci.yml
Due: none

feat(pre-commit): run flake check on all .nix file changes
  .pre-commit-config.yaml
Due: none

fix(ci): use --no-build flag to avoid disk space issues
  .github/workflows/ci.yml
  modules/nix/nix.nix
Due: nixpkgs-fmt, statix, deadnix

fix(ci): allow nix flake check to build evaluation dependencies
  .github/workflows/ci.yml
Due: none

refactor(ci): remove unnecessary cache setup steps
  .github/workflows/ci.yml
Due: none

feat(pkgs): add Newelle AI virtual assistant package (#182)
  pkgs/default.nix
  pkgs/newelle/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(p620): enable Newelle AI assistant (#182)
  Users/olafkfreund/p620_home.nix
Due: nixpkgs-fmt, statix, deadnix

feat(pkgs): Add Newelle AI virtual assistant package (#183)
  Users/olafkfreund/p620_home.nix
  pkgs/default.nix
  pkgs/newelle/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(packages): add GNU parallel to system packages
  modules/system-utils/utils.nix
Due: nixpkgs-fmt, statix, deadnix

chore(flake): remove empty Editor comment section
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(claude): add parallel task execution commands
  .claude/commands.json
  .claude/commands/parallel.sh
  .claude/commands/spawn.sh
  .claude/commands/subtask.sh
Due: shellcheck, shfmt

fix(claude): use correct claude CLI for parallel commands
  .claude/commands/parallel.sh
  .claude/commands/spawn.sh
  .claude/commands/subtask.sh
Due: shellcheck, shfmt

feat(packages): add Claude Code native binary package (#184)
  flake.lock
  flake.nix
  home/default.nix
  pkgs/claude-code-native/default.nix
  pkgs/default.nix
  scripts/update-claude-code-native.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check

feat(packages): add Claude Code native binary package (#184) (#185)
  flake.lock
  flake.nix
  home/default.nix
  pkgs/claude-code-native/default.nix
  pkgs/default.nix
  scripts/update-claude-code-native.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check

chore(claude-code): update to version 2.1.20 (#186)
  home/development/claude-code/default.nix
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.20 (#186) (#187)
  home/development/claude-code/default.nix
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(gemini-cli): update to version 0.26.0 (#188)
  flake.nix
  home/development/gemini-cli/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(gemini-cli): update to version 0.26.0 (#188) (#189)
  flake.nix
  home/development/gemini-cli/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(moltbot): add moltbot AI assistant gateway integration (#190)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  flake.lock
  flake.nix
  home/development/default.nix
  home/development/moltbot/default.nix
  modules/security/secrets.nix
  secrets.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.1.22
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(moltbot): add moltbot integration + chore(claude-code): update to 2.1.22 (#191)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  flake.lock
  flake.nix
  home/development/claude-code/default.nix
  home/development/default.nix
  home/development/moltbot/default.nix
  modules/security/secrets.nix
  secrets.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.1.23
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.23 (#192)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.25
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.25 (#193)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(gaming): add NVIDIA GeForce NOW native Linux client support (#194)
  home/games/steam.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/services/default.nix
  modules/services/geforcenow/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(gaming): add NVIDIA GeForce NOW native Linux client support (#194) (#195)
  home/games/steam.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/services/default.nix
  modules/services/geforcenow/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(theme): add missing gtk-cosmic-fix.nix file
  home/desktop/theme/gtk-cosmic-fix.nix
Due: nixpkgs-fmt, statix, deadnix

fix(geforcenow): improve Flatpak runtime installation
  modules/services/geforcenow/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(geforcenow): install system-wide instead of user-level
  modules/services/geforcenow/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(p620): disable GeForce NOW on AMD GPU host
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix(home): temporarily disable moltbot (flake structure changed)
  home/development/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(moltbot): update for openclaw rename upstream
  flake.lock
  home/development/default.nix
  home/development/moltbot/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.1.27
  Users/common/base-home.nix
  home/desktop/terminals/ghostty/default.nix
  home/desktop/theme/default.nix
  home/development/claude-code/default.nix
  hosts/common/shared-variables.nix
  hosts/p510/themes/stylix.nix
  hosts/p620/themes/stylix.nix
  hosts/razer/themes/stylix.nix
  hosts/samsung/themes/stylix.nix
  modules/desktop/cosmic.nix
Due: nixpkgs-fmt, statix, deadnix

chore(desktop): disable KDE Connect across all hosts
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  home/profiles/desktop-user/default.nix
  home/profiles/developer/default.nix
  home/profiles/laptop-user/default.nix
  hosts/p620/home-manager-options.nix
  hosts/razer/home-manager-options.nix
  hosts/samsung/home-manager-options.nix
Due: nixpkgs-fmt, statix, deadnix

fix(moltbot): remove moltbot completely from configuration
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  flake.lock
  flake.nix
  home/development/default.nix
  home/development/moltbot/default.nix
  modules/security/secrets.nix
  secrets.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(webcam): re-enable v4l2loopback support, disable droidcam
  hosts/p620/configuration.nix
  hosts/p620/nixos-options.nix
  hosts/p620/nixos/boot.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/boot.nix
  hosts/samsung/configuration.nix
  hosts/samsung/nixos-options.nix
  hosts/samsung/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

feat(cosmic): add COSMIC Connect for device connectivity
  flake.lock
  flake.nix
  modules/desktop/cosmic.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(p510): add SSH port 22 to firewall allowedTCPPorts
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  flake-check: any of: flake\.(nix|lock)$
  just-validate: any of: justfile$
