Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

docs(spec): approve 2026-09-21-1931-delegate-review-coding (#1931)
  spec/2026-09-21-1931-delegate-review-coding.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): use Codex, Ollama and agy for review and coding (#1931)
  plan/2026-09-21-1931-delegate-review-coding.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-21-1931-delegate-review-coding (#1931)
  plan/2026-09-21-1931-delegate-review-coding.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(second-opinion): Codex review, agy agents, consensus (#1931)
  home/development/claude-code-mcp.nix
  home/development/claude-code-skills/second-opinion/SKILL.md
  pkgs/ollama-mcp/server.py
  plan/2026-09-21-1931-delegate-review-coding.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): record step 5 verification failure (#1931)
  plan/2026-09-21-1931-delegate-review-coding.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): MCP servers do not follow a rebuild (#1933)
  intent/2026-09-21-1933-mcp-drift.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-21-1933-mcp-drift (#1933)
  intent/2026-09-21-1933-mcp-drift.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): MCP servers do not follow a rebuild (#1933)
  spec/2026-09-21-1933-mcp-drift.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-21-1933-mcp-drift (#1933)
  spec/2026-09-21-1933-mcp-drift.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump nixarchy (picks up nixarchy#843)
  flake.lock
Due: none

docs(spec): revise design, reconciliation already exists (#1933)
  spec/2026-09-21-1933-mcp-drift.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): MCP servers do not follow a rebuild (#1933)
  plan/2026-09-21-1933-mcp-drift.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-21-1933-mcp-drift (#1933)
  plan/2026-09-21-1933-mcp-drift.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(mcp): declare ollama-code so its registration follows a rebuild (#1933)
  Justfile
  home/development/claude-code-mcp.nix
  plan/2026-09-21-1933-mcp-drift.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(razer): add hello via nixarchy-pkg-add
  hosts/razer/nixarchy/apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs 20b1ddd1 → 44a91898
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 20b1ddd1 → 44a91898 (#1937)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1938)
  flake.lock
Due: none

feat(razer): enable nixarchy's devenv service (#1939)
  flake.lock
  hosts/razer/nixarchy/services.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1942)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1943)
  flake.lock
Due: none

fix(flake): track Hyprland main instead of the 0bd11c7a pin
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(flake): track Hyprland main instead of the 0bd11c7a pin (#1944)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(flake): pin the hyprland override to an explicit main ref
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(flake): pin the hyprland override to an explicit main ref (#1945)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(podman): remove podman-desktop and its nodejs-slim_26 workaround
  modules/virt/podman.nix
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs 44a91898 → 6774f7bc
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 44a91898 → 6774f7bc (#1947)
  flake.lock
Due: none

chore(podman): remove podman-desktop and its nodejs-slim_26 workaround (#1946)
  modules/virt/podman.nix
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1948)
  flake.lock
Due: none

fix(zellij): drop tmate, marked insecure in nixpkgs (#1949)
  home/shell/zellij/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(zellij): drop tmate, marked insecure in nixpkgs (#1949) (#1950)
  home/shell/zellij/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft remove-zellij (#1949)
  intent/2026-09-22-1949-remove-zellij.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve remove-zellij (#1949)
  intent/2026-09-22-1949-remove-zellij.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
