Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(flake): bump all — nixpkgs c59305ba → a7868a72 (#2160)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

docs(intent): draft 2026-10-04-2152-plugin-errors (#2152)
  intent/2026-10-04-2152-plugin-errors.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(omarchy): install the winvm plugin through Nix (#2152)
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-winvm.nix
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): record step 6-7 deviations (#2152)
  plan/2026-10-04-2152-plugin-errors.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-10-04-2152-plugin-errors (#2152)
  spec/2026-10-04-2152-plugin-errors.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-04-2152-plugin-errors (#2152)
  intent/2026-10-04-2152-plugin-errors.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-04-2152-plugin-errors (#2152)
  plan/2026-10-04-2152-plugin-errors.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-04-2152-plugin-errors (#2152)
  spec/2026-10-04-2152-plugin-errors.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-10-04-2152-plugin-errors (#2152)
  plan/2026-10-04-2152-plugin-errors.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): record that section A landed via nixarchy#1194 (#2152)
  plan/2026-10-04-2152-plugin-errors.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged) (#2161)
  flake.lock
Due: none

fix(p620): stop CI I/O starving the desktop; skip trim on the failing SSD (#2156)
  hosts/p620/configuration.nix
  hosts/p620/nixos/hardware-configuration.nix
  plan/2026-10-04-2156-games-ssd-failing.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(omarchy): install winvm through Nix; record the plugin-error fixes (#2152) (#2162)
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-winvm.nix
  hosts/p620/nixos/nixarchy.nix
  intent/2026-10-04-2152-plugin-errors.md
  plan/2026-10-04-2152-plugin-errors.md
  spec/2026-10-04-2152-plugin-errors.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): stop CI I/O starving the desktop; skip trim on the failing SSD (#2156) (#2163)
  hosts/p620/configuration.nix
  hosts/p620/nixos/hardware-configuration.nix
  plan/2026-10-04-2156-games-ssd-failing.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): load bfq at boot so the NVMe scheduler rule applies (#2156)
  hosts/p620/nixos/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620): mount new 1TB SSD at /mnt/code (#2165)
  hosts/p620/nixos/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620): mount new 1TB SSD at /mnt/code (#2165) (#2166)
  hosts/p620/nixos/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): put Plex transcode segments on the root SSD (#2153)
  hosts/p510/nixos/plex.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs a7868a72 → 494ce7fd
  flake.lock
Due: none

chore(flake): bump all — nixpkgs a7868a72 → 494ce7fd (#2167)
  flake.lock
Due: none

chore(claude-code): auto-update to 2.1.290
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.290 (#2171)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(browseros): auto-update to 0.51.0
  pkgs/browseros/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(browseros): auto-update to 0.51.0 (#2172)
  pkgs/browseros/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.17-6683332533157888
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.17-6683332533157888 (#2173)
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#2176)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2177)
  flake.lock
Due: none

fix(claude): replace wildcard git permission rule (#2178)
  .claude/settings.local.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

fix(claude): replace wildcard git permission rule (#2178) (#2179)
  .claude/settings.local.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(claude-code): update to 2.1.291 (#2174)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to 2.19675.1 (#2169)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.291 (#2174) (#2180)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to 2.19675.1 (#2169) (#2181)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft p620 new disks (#2182)
  intent/2026-10-06-2182-p620-new-disks.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-06-2182-p620-new-disks (#2182)
  intent/2026-10-06-2182-p620-new-disks.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft p620 new disks (#2182)
  spec/2026-10-06-2182-p620-new-disks.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
