Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        language: system
        files: '\.nix$'
        description: Format Nix files using nixpkgs-fmt
      - id: statix
        name: Lint Nix files
        entry: statix check
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Lint Nix files for common issues
      - id: deadnix
        name: Check for dead Nix code
        entry: deadnix --fail
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Check for dead/unused Nix code
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        files: '\.sh$'
        args: [-e, SC1091, -e, SC2034, -e, SC2086]
        description: Lint shell scripts with shellcheck
      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        language: system
        files: '\.sh$'
        args: [-w, -i, "2", -bn, -ci]
        description: Format shell scripts with shfmt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        description: Remove trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-yaml
        description: Validate YAML files
      - id: check-json
        description: Validate JSON files
      - id: check-toml
        description: Validate TOML files
      - id: mixed-line-ending
        description: Check for mixed line endings
      - id: check-executables-have-shebangs
        description: Ensure executables have shebangs
      - id: check-shebang-scripts-are-executable
        description: Ensure shebang scripts are executable
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        args: [--fix, --config, .markdownlint.json]
        description: Lint and fix Markdown files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Format files with Prettier
        types_or: [json, yaml, markdown]
        description: Format JSON, YAML, and Markdown files
  - repo: local
    hooks:
      - id: flake-check
        name: Check Nix flake
        entry: nix flake check --no-build
        language: system
        files: 'flake\.(nix|lock)$'
        pass_filenames: false
        description: Validate Nix flake configuration
      - id: just-validate
        name: Validate justfile
        entry: just --list
        language: system
        files: "justfile$"
        pass_filenames: false
        description: Validate justfile syntax

Integrate Walker with Stylix theming system
  home/desktop/walker/default.nix
Due: nixpkgs-fmt, statix, deadnix

Update Claude Code local settings
  .claude/settings.local.json
Due: none

✨ Enable Walker launcher with Stylix Gruvbox integration
  Users/common/features-impl.nix
  Users/olafkfreund/p620_home.nix
  flake.nix
  home/desktop/default.nix
  home/desktop/walker/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

🔧 Fix Walker Gruvbox theme and Alacritty deprecation warning
  Justfile
  home/desktop/terminals/default.nix
  home/desktop/walker/default.nix
Due: nixpkgs-fmt, statix, deadnix

🔧 Fix walker module configuration and enable for razer/samsung
  Users/common/features-impl.nix
  Users/olafkfreund/dex5550_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  flake.lock
Due: nixpkgs-fmt, statix, deadnix, flake-check

🔧 Fix walker module configuration and pre-commit warnings
  Users/common/base-home.nix
  Users/common/features-impl.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  flake.nix
  modules/networking/tailscale.nix
  secrets.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat: Make claude-desktop conditional on productivity features
  home/development/claude-desktop/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat: Disable claude-desktop on p510 media server
  Users/olafkfreund/p510_home.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Remove system-level claude-desktop from server hosts
  hosts/dex5550/configuration.nix
  hosts/p510/configuration.nix
  modules/ai/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Default claude-desktop to enabled, explicitly disable on servers
  modules/ai/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Add claude-desktop option to AI features module
  modules/common/features.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Resolve all Nix syntax errors across template and configuration files
  flake.nix
  home/default.nix
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
  home/development/claude-code/package.json
  home/development/opencode/default.nix
  hosts/p620/nixos/network-stability.nix
  lib/live-images.nix
  templates/hosts/laptop/configuration.nix
  templates/hosts/server/nixos/amd.nix
  templates/hosts/server/nixos/intel.nix
  templates/hosts/server/nixos/none.nix
  templates/hosts/server/nixos/nvidia.nix
  templates/hosts/workstation/nixos/none.nix
  templates/hosts/workstation/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: Update opencode hash to resolve build failure
  home/development/opencode/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore: Update claude-code and opencode flake inputs
  flake.lock
  home/development/claude-code/default.nix
  home/development/opencode/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: Resolve msgraph-core build failure and disable problematic packages
  flake.lock
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
  home/development/vscode.nix
  hosts/hp/themes/stylix.nix
  hosts/p510/themes/stylix.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos-options.nix
  hosts/p620/themes/stylix.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos-options.nix
  hosts/razer/themes/stylix.nix
  hosts/samsung/configuration.nix
  hosts/samsung/nixos-options.nix
  hosts/samsung/themes/stylix.nix
  modules/pkgs/default.nix
  modules/services/logind/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: Disable additional problematic packages to resolve build failures
  Users/olafkfreund/private.nix
  hosts/p620/nixos/boot.nix
  modules/helpers/default.nix
  modules/helpers/helpers.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Disable v4l2loopback on all hosts to resolve kernel module build failures
  hosts/hp/nixos/boot.nix
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

fix: disable webcam program to resolve v4l2loopback build failures
  hosts/p620/nixos-options.nix
  hosts/samsung/nixos-options.nix
Due: nixpkgs-fmt, statix, deadnix

fix: blacklist v4l2loopback kernel module to prevent build failures
  hosts/p620/nixos/boot.nix
  hosts/samsung/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

fix: force empty extraModulePackages to completely remove v4l2loopback
  hosts/p620/nixos/boot.nix
  hosts/samsung/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

fix: temporarily disable FlareSolverr on P510 to resolve xvfbwrapper build failure
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix: resolve all pre-commit hook warnings and errors
  hosts/dex5550/nixos/envvar.nix
  hosts/hp/nixos/boot.nix
  hosts/p620/nixos/boot.nix
  hosts/razer/nixos/boot.nix
  hosts/samsung/themes/stylix.nix
  templates/hosts/server/nixos/intel.nix
  templates/hosts/workstation/nixos/intel.nix
Due: nixpkgs-fmt, statix, deadnix

fix: resolve NVIDIA persistence daemon build error on P510
  hosts/p510/nixos/nvidia.nix
  templates/hosts/server/nixos/intel.nix
Due: nixpkgs-fmt, statix, deadnix

fix: disable v4l2loopback on P510 to resolve kernel module build failures
  hosts/p510/nixos/boot.nix
  hosts/p510/nixos/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix: comprehensive v4l2loopback elimination for P510
  hosts/p510/configuration.nix
  hosts/p510/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

feat: update Claude Code to version 1.0.93
  home/development/claude-code/default.nix.backup
  home/development/claude-code/package-lock.json
Due: none

feat: update Claude Code to version 1.0.94
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore: update flake inputs alongside Claude Code update
  flake.lock
Due: flake-check

fix: correct npmDepsHash for Claude Code 1.0.94
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat: update Claude Code to version 1.0.95
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix: disable nvidia-persistenced on Razer host to resolve build issues
  hosts/razer/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix

fix: correct Claude Code Neovim keymap configuration
  home/shell/lazyvim/lazyvim/lua/plugins/claude-code.lua
Due: none

fix: blacklist v4l2loopback module on Razer host to prevent build failures
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

fix: allow NVIDIA modules while blocking only v4l2loopback on Razer host
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

fix: disable webcam and droidcam features on Razer host to resolve v4l2loopback build failures
  hosts/razer/configuration.nix
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

feat: update claude-code to version 1.0.96
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix: update deprecated logind options to modern format
  flake.lock
  hosts/razer/nixos/laptop.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat: update claude-code to version 1.0.100
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix: resolve kitty configuration conflict and update dependencies
  flake.lock
  home/desktop/terminals/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check
