Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(warp-terminal): auto-update to 0.2026.09.09.08.26.stable_02
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(antigravity): auto-update to 1.2.0-5210873191596032
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1758)
  flake.lock
Due: none

chore(shell): stop exporting ANTHROPIC_API_KEY into interactive shells
  Users/olafkfreund/p620_home.nix
  home/shell/zsh-ai-cmd.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): add Oma voice control via nixarchy-voice
  flake.lock
  flake.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620): add Oma voice control via nixarchy-voice
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1761)
  Users/olafkfreund/p620_home.nix
  flake.lock
  flake.nix
  home/shell/zsh-ai-cmd.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.269
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 1.52386.3
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.1-5123043593420800
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

feat(pkgs): package BrowserOS with a nightly autoupdate
  .github/workflows/package-autoupdate.yml
  Users/olafkfreund/profile.nix
  pkgs/browseros/default.nix
  pkgs/default.nix
  scripts/update-browseros.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(flake): bump nixarchy-voice to the pkgs.system fix
  flake.lock
Due: none

feat(pkgs): package BrowserOS with a nightly autoupdate (#1766)
  .github/workflows/package-autoupdate.yml
  Users/olafkfreund/profile.nix
  flake.lock
  pkgs/browseros/default.nix
  pkgs/default.nix
  scripts/update-browseros.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

fix(services): drop the /bin/bash activation symlink, which envfs owns now
  modules/services/system/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(services): drop the /bin/bash activation symlink, which envfs owns now (#1768)
  modules/services/system/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

p620: wake on "oma", rather than reaching for the key
  flake.lock
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

p620: wake on "oma", rather than reaching for the key (#1769)
  flake.lock
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(bash): re-exec into bashInteractive when a dev shell hands us a readline-less bash
  hosts/common/nixos/bash-devshell-readline.nix
  hosts/p510/nixos/nixarchy.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(bash): re-exec into bashInteractive when a dev shell hands us a readline-less bash (#1770)
  hosts/common/nixos/bash-devshell-readline.nix
  hosts/p510/nixos/nixarchy.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1771)
  flake.lock
Due: none

fix(desktop): pin hyprland to 0bd11c7a for p620's third display (#1772)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

p620: a voice worth listening to, and a brain that survives the wifi
  flake.lock
  hosts/p620/nixos/nixarchy.nix
  modules/secrets/api-keys.nix
  secrets.nix
  secrets/api-elevenlabs.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(desktop): pin hyprland to 0bd11c7a for p620's third display (#1772) (#1773)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

perf(p620): turn Oma's wake word off, keep the SUPER+M toggle
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

p620: ElevenLabs voice, and an offline brain fallback (#1774)
  flake.lock
  hosts/p620/nixos/nixarchy.nix
  modules/secrets/api-keys.nix
  secrets.nix
  secrets/api-elevenlabs.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1775)
  flake.lock
Due: none

fix(p620): drop Chrome flags that pin one renderer core (#1776)
  Users/olafkfreund/p620_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): drop Chrome flags that pin one renderer core (#1776) (#1777)
  Users/olafkfreund/p620_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(herdr): document plugins, subagent visibility and integrations (#1779)
  docs/applications/herdr.md
  mkdocs-full.yml
  mkdocs.yml
Due: yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(typos): allow the literal plugin name reviewr (#1779)
  .typos.toml
Due: taplo, trailing-whitespace, end-of-file, check-merge-conflict

feat(herdr): bind zoetrope and reviewr (#1779)
  home/development/herdr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(herdr): value-based agent count, status symbols, tab bar; add bun (#1779)
  Users/olafkfreund/profile.nix
  home/development/herdr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(herdr): document plugins, subagent visibility and integrations (#1779) (#1780)
  .typos.toml
  Users/olafkfreund/profile.nix
  docs/applications/herdr.md
  home/development/herdr.nix
  mkdocs-full.yml
  mkdocs.yml
Due: nixpkgs-fmt, statix, deadnix, taplo, yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai): replace notebooklm-go with packaged notebooklm-mcp-cli (#1781)
  Users/olafkfreund/profile.nix
  home/development/antigravity-config.nix
  home/development/claude-code-mcp.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/ai/mcp-servers.nix
  nixarchy-theme.nix
  pkgs/default.nix
  pkgs/notebooklm-go/default.nix
  pkgs/notebooklm-mcp-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
