Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        language: system
        files: '\.nix$'
        description: Format Nix files using nixpkgs-fmt
      - id: statix
        name: Lint Nix files
        entry: statix check
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Lint Nix files for common issues
      - id: deadnix
        name: Check for dead Nix code
        entry: deadnix --fail
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Check for dead/unused Nix code
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        files: '\.sh$'
        args: [-e, SC1091, -e, SC2034, -e, SC2086]
        description: Lint shell scripts with shellcheck
      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        language: system
        files: '\.sh$'
        args: [-w, -i, "2", -bn, -ci]
        description: Format shell scripts with shfmt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        description: Remove trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-yaml
        description: Validate YAML files
      - id: check-json
        description: Validate JSON files
      - id: check-toml
        description: Validate TOML files
      - id: mixed-line-ending
        description: Check for mixed line endings
      - id: check-executables-have-shebangs
        description: Ensure executables have shebangs
      - id: check-shebang-scripts-are-executable
        description: Ensure shebang scripts are executable
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        args: [--fix, --config, .markdownlint.json]
        description: Lint and fix Markdown files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Format files with Prettier
        types_or: [json, yaml, markdown]
        description: Format JSON, YAML, and Markdown files
  - repo: local
    hooks:
      - id: flake-check
        name: Check Nix flake
        entry: nix flake check --no-build
        language: system
        files: 'flake\.(nix|lock)$'
        pass_filenames: false
        description: Validate Nix flake configuration
      - id: just-validate
        name: Validate justfile
        entry: just --list
        language: system
        files: "justfile$"
        pass_filenames: false
        description: Validate justfile syntax

chore: update Claude settings with new bash permissions
  .claude/settings.local.json
Due: none

chore: add gh pr view to bash permissions
  .claude/settings.local.json
Due: none

chore(kosli-cli): upgrade to version 2.11.32 (#43)
  pkgs/kosli-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(cosmic): resolve libEGL.so.1 missing error in cosmic-greeter
  .claude/settings.local.json
  modules/desktop/cosmic.nix
Due: nixpkgs-fmt, statix, deadnix

fix(cosmic): resolve LD_LIBRARY_PATH conflict with shells-environment
  modules/desktop/cosmic.nix
Due: nixpkgs-fmt, statix, deadnix

feat(storage): add automatic weekly garbage collection
  hosts/p510/configuration.nix
  modules/performance.nix
  modules/storage/garbage-collection.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.52 (#46)
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.52 (#46) (#47)
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

fix(cosmic): resolve libEGL.so.1 missing error in cosmic-greeter
  modules/desktop/cosmic.nix
Due: nixpkgs-fmt, statix, deadnix

fix(cosmic): wrap all essential COSMIC apps with Wayland libraries
  modules/desktop/cosmic.nix
Due: nixpkgs-fmt, statix, deadnix

enhancement(claude-code): update to version 2.0.54 (#48)
  docs/claude-code-update-2.0.54.md
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

enhancement(claude-code): update to version 2.0.54 (#48) (#49)
  docs/claude-code-update-2.0.54.md
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

feat(packages): add glim GitLab CI/CD TUI package (#50)
  flake.nix
  overlays/glim/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(shell): resolve ZSH lg alias-function conflict (#50)
  home/development/languages.nix
  home/development/nvim.nix
Due: nixpkgs-fmt, statix, deadnix

fix(nvim): switch avante.nvim from Copilot to Claude
  .claude/settings.local.json
  Users/olafkfreund/p620_home.nix
  flake.lock
  home/default.nix
  home/development/claude-code/default.nix
  home/development/claude-code/default.nix.backup
  home/development/claude-code/package-lock.json
  home/development/claude-monitor/module.nix
  home/development/shell.nix
  home/shell/claude-integration.nix
  home/shell/lazyvim/lazyvim/lua/plugins/avante.lua
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos/amd.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  lib/default.nix
  lib/live-images.nix
  lib/make-live-iso.nix
  modules/desktop/cosmic.nix
  modules/nix/flake-settings.nix
  modules/security/secrets.nix
  modules/storage/garbage-collection.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore: update Claude Code to version 2.0.56 (#51)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore: update Claude Code to version 2.0.56 (#51) (#52)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(desktop): replace Flameshot with native Wayland screenshot solution
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/common/imports.nix
  Users/olafkfreund/p620_home.nix
  flake.lock
  home/desktop/default.nix
  home/desktop/flameshot/default.nix
  home/desktop/gnome/extensions.nix
  home/desktop/gnome/theme.nix
  home/desktop/screenshots/wayland-native.nix
  hosts/common/shared-variables.nix
  hosts/p620/themes/stylix.nix
  modules/development/python.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore: upgrade Claude Code to version 2.0.57 (#53)
  flake.lock
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore/53 upgrade claude code 2.0.57 (#54)
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/common/imports.nix
  Users/olafkfreund/p620_home.nix
  flake.lock
  home/desktop/default.nix
  home/desktop/flameshot/default.nix
  home/desktop/gnome/extensions.nix
  home/desktop/gnome/theme.nix
  home/desktop/screenshots/wayland-native.nix
  home/development/claude-code/default.nix
  hosts/common/shared-variables.nix
  hosts/p620/themes/stylix.nix
  modules/development/python.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(claude-code): correct npmDepsHash for version 2.0.57 (#53)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(ai): add MCP (Model Context Protocol) server integration
  docs/MCP-SERVERS.md
  docs/OBSIDIAN-MCP-SETUP.md
  home/desktop/screenshots/wayland-native.nix
  hosts/p620/configuration.nix
  hosts/p620/themes/stylix.nix
  hosts/razer/themes/stylix.nix
  hosts/samsung/themes/stylix.nix
  modules/ai/default.nix
  modules/ai/mcp-servers.nix
  modules/packages/sets.nix
  pkgs/default.nix
  pkgs/obsidian-mcp/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(mcp): complete Claude Code MCP integration setup
  docs/MCP-CLAUDE-CODE-SETUP.md
  home/development/claude-code-mcp-config.json
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix

feat(services): implement NixOS Update Checker service (#9)
  hosts/p620/configuration.nix
  modules/services/default.nix
  modules/services/nixos-update-checker/README.md
  modules/services/nixos-update-checker/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.58 (#55)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.58 (#55) (#56)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.59 (#57)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.59 (#57) (#58)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.60 and fix Ollama deprecation
  home/development/claude-code/default.nix
  hosts/p620/configuration.nix
  modules/services/ollama/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(ollama): use mkDefault for package option to allow host overrides
  modules/services/ollama/default.nix
Due: nixpkgs-fmt, statix, deadnix

docs: add Ollama configuration change documentation
  CLAUDE.md
Due: none

refactor: massive cleanup - remove dead code and fix anti-patterns
  Users/olafkfreund/p510_home_profile.nix
  Users/olafkfreund/p620_home_profile.nix
  Users/olafkfreund/razer_home_profile.nix
  docs/ccache-decision-analysis.md
  docs/nixvirt-decision-analysis.md
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  modules/ai/auto-performance-tuner.nix
  modules/ai/automated-remediation.nix
  modules/ai/load-testing.nix
  modules/ai/memory-optimization.nix
  modules/ai/production-dashboard.nix
  modules/core.nix
  modules/default.nix
  modules/networking/performance-tuning.nix
  modules/networking/tailscale.nix
  modules/performance.nix
  modules/system/resource-manager.nix
  scripts/identify-ccache-candidates.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check

fix(nixos): resolve package conflicts and update deprecated GDM option
  Users/olafkfreund/p510_home.nix
  home/desktop/neofetch/default.nix
  hosts/p510/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

refactor(home-manager): migrate Git configuration to modern options
  Users/olafkfreund/p510_home.nix
  home/profiles/developer/default.nix
  home/profiles/laptop-user/default.nix
Due: nixpkgs-fmt, statix, deadnix

docs(ollama): add configuration documentation and analysis
  docs/ccache-decision-analysis.md
  docs/nixvirt-decision-analysis.md
  flake.lock
  hosts/p620/configuration.nix
  modules/services/ollama/README.md
  scripts/identify-ccache-candidates.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check

chore(claude-code): update to version 2.0.61
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update package to version 2.0.62 (#60)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix
