Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

chore(flake): bump all (nixpkgs unchanged) (#1613)
  flake.lock
Due: none

fix(meet): summarize without diarization, and name the right pyannote repo (#1614)
  docs/applications/meet.md
  modules/services/meeting-transcribe.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): stop the Plex software-transcode stampede tripping the PSU (#1616)
  hosts/p510/nixos/cpu.nix
  hosts/p510/nixos/nvidia.nix
  hosts/p510/nixos/plex.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(meet): summarize without diarization, and name the right pyannote repo (#1614) (#1615)
  docs/applications/meet.md
  modules/services/meeting-transcribe.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): stop the Plex software-transcode stampede tripping the PSU (#1616) (#1617)
  hosts/p510/nixos/cpu.nix
  hosts/p510/nixos/nvidia.nix
  hosts/p510/nixos/plex.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1619)
  flake.lock
Due: none

gh, because a release died on it after doing everything else right
  hosts/p510/nixos/github-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

gh, because a release died on it after doing everything else right (#1620)
  hosts/p510/nixos/github-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1622)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1623)
  flake.lock
Due: none

chore(claude-code): auto-update to 2.1.258
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 1.40609.1
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.1.23-6260551186251776
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1627)
  flake.lock
Due: none

fix(sunshine): put driver dir in RUNPATH so NVENC survives capSysAdmin (#1588)
  modules/desktop/sunshine.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(sunshine): put driver dir in RUNPATH so NVENC survives capSysAdmin (#1588) (#1629)
  modules/desktop/sunshine.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1630)
  flake.lock
Due: none

feat(pkgs): add notebooklm-go CLI on p620 + razer
  Users/olafkfreund/profile.nix
  pkgs/default.nix
  pkgs/notebooklm-go/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(pkgs): add notebooklm-go CLI on p620 + razer (#1631)
  Users/olafkfreund/profile.nix
  pkgs/default.nix
  pkgs/notebooklm-go/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(sunshine): build with CUDA so NVENC actually exists (#1588)
  docs/applications/sunshine.md
  modules/desktop/sunshine.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(sunshine): build with CUDA so NVENC actually exists (#1588) (#1632)
  docs/applications/sunshine.md
  modules/desktop/sunshine.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(bbs): host nixarchy-bbs on p510 at bbs.freundcloud.org.uk (#1633)
  docs/applications/nixarchy-bbs.md
  hosts/p510/configuration.nix
  mkdocs-full.yml
  mkdocs.yml
  modules/services/nixarchy-bbs.nix
  pkgs/default.nix
  pkgs/nixarchy-bbs/default.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(bbs): reuse the shared api-github-token secret instead of redeclaring it (#1633)
  modules/services/nixarchy-bbs.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(bbs): host nixarchy-bbs on p510 at bbs.freundcloud.org.uk (#1633) (#1634)
  docs/applications/nixarchy-bbs.md
  hosts/p510/configuration.nix
  mkdocs-full.yml
  mkdocs.yml
  modules/services/nixarchy-bbs.nix
  pkgs/default.nix
  pkgs/nixarchy-bbs/default.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(bbs): correct the port-forward target IP for p510 (#1633)
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(bbs): correct the port-forward target IP for p510 (#1633) (#1637)
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(bbs): make newsgroups reachable so agents can read, not just post (#1638)
  docs/applications/nixarchy-bbs.md
  hosts/p510/configuration.nix
  modules/services/nixarchy-bbs.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(bbs): make newsgroups reachable so agents can read, not just post (#1638) (#1639)
  docs/applications/nixarchy-bbs.md
  hosts/p510/configuration.nix
  modules/services/nixarchy-bbs.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(bbs): drop commas from newsgroup descriptions (#1638)
  hosts/p510/configuration.nix
  modules/services/nixarchy-bbs.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(bbs): drop commas from newsgroup descriptions (#1638) (#1640)
  hosts/p510/configuration.nix
  modules/services/nixarchy-bbs.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixarchy for the nixarchy-bbs agent skill (#1633)
  flake.lock
Due: none

chore(flake): bump nixarchy for the nixarchy-bbs agent skill (#1633) (#1641)
  flake.lock
Due: none

p510: set nix.settings.build-dir, because TMPDIR stopped deciding it
  hosts/p510/nixos/github-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): raise /tmp tmpfs from 32G to 128G (#1635)
  hosts/p620/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nix): put /tmp on disk, and stop auto-optimise racing the collector
  hosts/p620/nixos/boot.nix
  hosts/razer/configuration.nix
  modules/nix/flake-settings.nix
  modules/nix/nix.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check
