Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

fix(skills): no duplicate skills in Codex or Antigravity (nix-skills targets + nixarchy bump) (#1966)
  flake.lock
  home/development/claude-code-skills/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1977)
  flake.lock
Due: none

chore(claude-desktop): auto-update to 2.2553.13
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 2.2553.13 (#1979)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gogcli): auto-update to 0.41.0
  pkgs/gogcli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gogcli): auto-update to 0.41.0 (#1980)
  pkgs/gogcli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

chore(razer): add bubblewrap to the nixarchy apps
  hosts/razer/nixarchy/apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(razer): add bubblewrap to the nixarchy apps (#1982)
  hosts/razer/nixarchy/apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): nixd + nixfmt LSP for Claude Code and Codex (#1983)
  intent/2026-09-23-1983-nixd-lsp-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-23-1983-nixd-lsp-agents (#1983)
  intent/2026-09-23-1983-nixd-lsp-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): nixd + nixfmt LSP for Claude Code and Codex (#1983)
  spec/2026-09-23-1983-nixd-lsp-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-23-1983-nixd-lsp-agents (#1983)
  spec/2026-09-23-1983-nixd-lsp-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): nixd + nixfmt LSP for Claude Code and Codex (#1983)
  plan/2026-09-23-1983-nixd-lsp-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump ai-mirror to a03c308
  flake.lock
Due: none

docs(plan): approve 2026-09-23-1983-nixd-lsp-agents (#1983)
  plan/2026-09-23-1983-nixd-lsp-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(pkgs): nix-format, the repo-aware Nix formatter for agents (#1983)
  pkgs/default.nix
  pkgs/nix-format/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(nixd): nixd-agent wrapper with per-host options (#1983)
  Users/olafkfreund/private.nix
  home/development/nixd.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code): nix-lsp plugin runs nixd-agent instead of nil (#1983)
  home/development/claude-code-lsp.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code): format-on-edit hook uses nix-format (#1983)
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(syncthing): stop syncing the Claude plugin marketplace symlink (#1983)
  home/syncthing-stignore.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(codex): nixd over MCP and a nix-format post-edit hook (#1983)
  home/development/codex-cli.nix
  plan/2026-09-23-1983-nixd-lsp-agents.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(tooling): Nix LSP for coding agents (#1983)
  docs/tooling/nix-lsp-agents.md
  mkdocs-full.yml
  mkdocs.yml
Due: yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(nixd): reply MethodNotFound instead of exiting on unknown requests (#1983)
  docs/tooling/nix-lsp-agents.md
  home/development/nixd-method-not-found.patch
  home/development/nixd.nix
  plan/2026-09-23-1983-nixd-lsp-agents.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai): nixd + repo formatter as the Nix LSP for Claude Code and Codex (#1983) (#1985)
  Users/olafkfreund/private.nix
  docs/tooling/nix-lsp-agents.md
  home/development/claude-code-lsp.nix
  home/development/codex-cli.nix
  home/development/nixd-method-not-found.patch
  home/development/nixd.nix
  home/syncthing-stignore.nix
  intent/2026-09-23-1983-nixd-lsp-agents.md
  mkdocs-full.yml
  mkdocs.yml
  modules/programs/claude-code-managed.nix
  pkgs/default.nix
  pkgs/nix-format/default.nix
  plan/2026-09-23-1983-nixd-lsp-agents.md
  spec/2026-09-23-1983-nixd-lsp-agents.md
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(razer): drop hello from the extra packages
  hosts/razer/nixarchy/apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): restart playerctld on failure
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft 2026-09-23-1987-playerctld-null-variant (#1987)
  intent/2026-09-23-1987-playerctld-null-variant.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): scope playerctld fix to p620 and razer (#1987)
  intent/2026-09-23-1987-playerctld-null-variant.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): keep playerctld patch local (#1987)
  intent/2026-09-23-1987-playerctld-null-variant.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-23-1987-playerctld-null-variant (#1987)
  intent/2026-09-23-1987-playerctld-null-variant.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-09-23-1987-playerctld-null-variant (#1987)
  spec/2026-09-23-1987-playerctld-null-variant.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-23-1987-playerctld-null-variant (#1987)
  spec/2026-09-23-1987-playerctld-null-variant.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-09-23-1987-playerctld-null-variant (#1987)
  plan/2026-09-23-1987-playerctld-null-variant.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-23-1987-playerctld-null-variant (#1987)
  plan/2026-09-23-1987-playerctld-null-variant.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(playerctl): patch playerctld NULL-variant crashes (#1987)
  hosts/razer/configuration.nix
  overlays/playerctl-null-variant.patch
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): record implementation deviations (#1987)
  plan/2026-09-23-1987-playerctld-null-variant.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs: markdownlint fixes for #1987 spec and plan
  plan/2026-09-23-1987-playerctld-null-variant.md
  spec/2026-09-23-1987-playerctld-null-variant.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

flake: bump nixarchy (ships nix-snapd); drop our own nix-snapd
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
