Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(flake): bump all (nixpkgs unchanged) (#2146)
  flake.lock
Due: none

chore(flake): bump nixarchy for the menu IPC timeout fix (#2138)
  flake.lock
Due: none

chore(flake): bump nixarchy for the menu IPC timeout fix (#2138) (#2147)
  flake.lock
Due: none

fix(desktop): remove hyprflip from p620 and razer (#2148)
  flake.lock
  flake.nix
  hosts/common/nixos/hyprland-from-hyprflip.nix
  hosts/common/nixos/omarchy-hyprflip.nix
  hosts/common/nixos/omarchy-sole-hyprland.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(desktop): remove hyprflip from p620 and razer (#2148) (#2149)
  flake.lock
  flake.nix
  hosts/common/nixos/hyprland-from-hyprflip.nix
  hosts/common/nixos/omarchy-hyprflip.nix
  hosts/common/nixos/omarchy-sole-hyprland.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent,spec,plan): draft remove-hyprflip (#2148)
  intent/2026-10-04-2148-remove-hyprflip.md
  plan/2026-10-04-2148-remove-hyprflip.md
  spec/2026-10-04-2148-remove-hyprflip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-04-2148-remove-hyprflip (#2148)
  plan/2026-10-04-2148-remove-hyprflip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-04-2148-remove-hyprflip (#2148)
  intent/2026-10-04-2148-remove-hyprflip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-04-2148-remove-hyprflip (#2148)
  spec/2026-10-04-2148-remove-hyprflip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs: intent, spec and plan for removing hyprflip (#2148) (#2150)
  intent/2026-10-04-2148-remove-hyprflip.md
  plan/2026-10-04-2148-remove-hyprflip.md
  spec/2026-10-04-2148-remove-hyprflip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(p510): put Plex transcode segments on the root SSD
  hosts/p510/nixos/plex.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): approve 2026-10-04-2151-shell-startup-slow (#2151)
  plan/2026-10-04-2151-shell-startup-slow.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

refactor(omarchy): remove the gmessages plugin (#2151)
  hosts/common/nixos/omarchy-gmessages.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  pkgs/default.nix
  pkgs/gmessages-omarchy/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(spec): draft 2026-10-04-2151-shell-startup-slow (#2151)
  spec/2026-10-04-2151-shell-startup-slow.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(omarchy): keep the Omamail window closed at login (#2151)
  hosts/common/nixos/omarchy-omamail.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  plan/2026-10-04-2151-shell-startup-slow.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): approve 2026-10-04-2151-shell-startup-slow (#2151)
  intent/2026-10-04-2151-shell-startup-slow.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(quickshell): rescan desktop entries only on a real change (#2151)
  overlays/quickshell-desktopentry-parent-watch.patch
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixarchy-microvm for the focus fix (#2151)
  flake.lock
Due: none

docs(intent): draft 2026-10-04-2151-shell-startup-slow (#2151)
  intent/2026-10-04-2151-shell-startup-slow.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-04-2151-shell-startup-slow (#2151)
  spec/2026-10-04-2151-shell-startup-slow.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): wrap the step 2 deviation note (#2151)
  plan/2026-10-04-2151-shell-startup-slow.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-10-04-2151-shell-startup-slow (#2151)
  plan/2026-10-04-2151-shell-startup-slow.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(desktop): Omarchy shell responsive within seconds of login (#2151) (#2154)
  flake.lock
  hosts/common/nixos/omarchy-gmessages.nix
  hosts/common/nixos/omarchy-omamail.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  intent/2026-10-04-2151-shell-startup-slow.md
  overlays/quickshell-desktopentry-parent-watch.patch
  overlays/upstream-fixes.nix
  pkgs/default.nix
  pkgs/gmessages-omarchy/default.nix
  plan/2026-10-04-2151-shell-startup-slow.md
  spec/2026-10-04-2151-shell-startup-slow.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(desktop): review fixes for the shell startup change (#2151)
  hosts/common/nixos/omarchy-omamail.nix
  overlays/quickshell-desktopentry-parent-watch.patch
  pkgs/default.nix
  plan/2026-10-04-2151-shell-startup-slow.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(desktop): review fixes for the shell startup change (#2151) (#2155)
  hosts/common/nixos/omarchy-omamail.nix
  overlays/quickshell-desktopentry-parent-watch.patch
  pkgs/default.nix
  plan/2026-10-04-2151-shell-startup-slow.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft 2026-10-04-2156-games-ssd-failing (#2156)
  intent/2026-10-04-2156-games-ssd-failing.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): k3d size for 2026-10-04-2156-games-ssd-failing (#2156)
  intent/2026-10-04-2156-games-ssd-failing.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-04-2156-games-ssd-failing (#2156)
  intent/2026-10-04-2156-games-ssd-failing.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-10-04-2156-games-ssd-failing (#2156)
  spec/2026-10-04-2156-games-ssd-failing.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(p620): move the nix build dir off the failing /mnt/games disk
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(spec): add noatime to the /mnt/games mount (#2156)
  spec/2026-10-04-2156-games-ssd-failing.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-04-2156-games-ssd-failing (#2156)
  spec/2026-10-04-2156-games-ssd-failing.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-10-04-2156-games-ssd-failing (#2156)
  plan/2026-10-04-2156-games-ssd-failing.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-04-2156-games-ssd-failing (#2156)
  plan/2026-10-04-2156-games-ssd-failing.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(p620): keep builds, CI and k3d off the failing /mnt/games SSD (#2156)
  hosts/p620/configuration.nix
  hosts/p620/nixos/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): keep builds, CI and k3d off the failing /mnt/games SSD (#2156) (#2158)
  hosts/p620/configuration.nix
  hosts/p620/nixos/hardware-configuration.nix
  intent/2026-10-04-2156-games-ssd-failing.md
  plan/2026-10-04-2156-games-ssd-failing.md
  spec/2026-10-04-2156-games-ssd-failing.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft 2026-10-04-2159-new-ssd-store-migration (#2159)
  intent/2026-10-04-2159-new-ssd-store-migration.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-04-2159-new-ssd-store-migration (#2159)
  intent/2026-10-04-2159-new-ssd-store-migration.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

chore(flake): bump all — nixpkgs c59305ba → a7868a72
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
