Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

fix(p510): cheetah3 metadata check on pkgs-unstable sabnzbd
  hosts/p510/nixos/plex.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): cheetah3 metadata check on pkgs-unstable sabnzbd (#1151)
  hosts/p510/nixos/plex.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): pin ollama-cuda to 0.31.2 (0.32.1 CUDA build broken)
  flake.lock
  flake.nix
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): pin ollama-cuda to 0.31.2 (0.32.1 CUDA build broken) (#1152)
  flake.lock
  flake.nix
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.219
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.219 (#1153)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(nix): proactive GC via min-free/max-free (prevent full-disk deadlock)
  modules/nix/nix.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(nix): proactive GC via min-free/max-free (prevent full-disk deadlock) (#1154)
  modules/nix/nix.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1156)
  flake.lock
Due: none

feat(herdr): declarative config + disable self-updater polling (#1157)
  home/development/default.nix
  home/development/herdr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(herdr): declarative config + disable self-updater polling (#1157) (#1158)
  home/development/default.nix
  home/development/herdr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code): p510 deploy guard + drop dead npx statusline wrapper (#1159)
  Users/olafkfreund/p620_home.nix
  home/development/claude-powerline.nix
  home/profiles/developer/default.nix
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code): p510 deploy guard + drop dead npx statusline wrapper (#1159) (#1160)
  Users/olafkfreund/p620_home.nix
  home/development/claude-powerline.nix
  home/profiles/developer/default.nix
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code): surface Task-subagent count in herdr sidebar (#1161)
  home/development/herdr.nix
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code): surface Task-subagent count in herdr sidebar (#1161) (#1162)
  home/development/herdr.nix
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-code): reset subagent counter on SessionStart, not Stop (#1161)
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-code): reset subagent counter on SessionStart, not Stop (#1161) (#1163)
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): trace hook invocations for subagent counter (#1161)
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): trace hook invocations for subagent counter (#1161) (#1164)
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gc): start generation cleanup; rate-limit Plex journal (#1165)
  hosts/p510/nixos/plex.nix
  modules/storage/garbage-collection.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gc): start generation cleanup; rate-limit Plex journal (#1165) (#1166)
  hosts/p510/nixos/plex.nix
  modules/storage/garbage-collection.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(lazyvim): wire unused LSPs, fix razer AI, 3 vaults, herdr nav (#1167)
  Users/olafkfreund/razer_home.nix
  home/development/herdr.nix
  home/shell/lazyvim/lazyvim/lua/plugins/herdr-agents.lua
  home/shell/lazyvim/lazyvim/lua/plugins/herdr-splits.lua
  home/shell/lazyvim/lazyvim/lua/plugins/lsp-servers.lua
  home/shell/lazyvim/lazyvim/lua/plugins/obsidian.lua
  home/shell/lazyvim/lazyvim/lua/plugins/tmux.lua
Due: nixpkgs-fmt, statix, deadnix, stylua, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(lazyvim): wire unused LSPs, fix razer AI, 3 vaults, herdr nav (#1167) (#1168)
  Users/olafkfreund/razer_home.nix
  home/development/herdr.nix
  home/shell/lazyvim/lazyvim/lua/plugins/herdr-agents.lua
  home/shell/lazyvim/lazyvim/lua/plugins/herdr-splits.lua
  home/shell/lazyvim/lazyvim/lua/plugins/lsp-servers.lua
  home/shell/lazyvim/lazyvim/lua/plugins/obsidian.lua
  home/shell/lazyvim/lazyvim/lua/plugins/tmux.lua
Due: nixpkgs-fmt, statix, deadnix, stylua, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(lazyvim): disable codex in herdr-agents, it hard-errors otherwise (#1167)
  home/shell/lazyvim/lazyvim/lua/plugins/herdr-agents.lua
Due: stylua, trailing-whitespace, end-of-file, check-merge-conflict

fix(lazyvim): disable codex in herdr-agents, it hard-errors otherwise (#1167) (#1169)
  home/shell/lazyvim/lazyvim/lua/plugins/herdr-agents.lua
Due: stylua, trailing-whitespace, end-of-file, check-merge-conflict

feat(obsidian): package obsidian-cli + Claude Code vault skill (#1170)
  Users/olafkfreund/profile.nix
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/obsidian/SKILL.md
  pkgs/default.nix
  pkgs/obsidian-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(obsidian): package obsidian-cli + Claude Code vault skill (#1170) (#1171)
  Users/olafkfreund/profile.nix
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/obsidian/SKILL.md
  pkgs/default.nix
  pkgs/obsidian-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(obsidian-cli): add short `ob` alias (#1170)
  home/development/claude-code-skills/obsidian/SKILL.md
  pkgs/obsidian-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(obsidian-cli): add short `ob` alias (#1170) (#1172)
  home/development/claude-code-skills/obsidian/SKILL.md
  pkgs/obsidian-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.220 (#1155)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.220 (#1155) (#1173)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to 1.24012.9 (#1174)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to 1.24012.9 (#1174) (#1175)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(skill): rewrite /update-claude-code section B for local packaging (#1174)
  .claude/commands/update-claude-code.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(skill): rewrite /update-claude-code section B for local packaging (#1174) (#1176)
  .claude/commands/update-claude-code.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

secrets(factory): add CFACTORY_CREDENTIAL_KEY to factory-secrets
  secrets/factory-secret-factory-secrets.age
Due: none

feat(factory): declare and wire minio-kms secret (#1177)
  modules/containers/k3d.nix
  secrets.nix
  secrets/factory-secret-minio-kms.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat/1177 factory minio kms secret (#1178)
  modules/containers/k3d.nix
  secrets.nix
  secrets/factory-secret-factory-secrets.age
  secrets/factory-secret-minio-kms.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix: drop deprecated xorg set; pin herdr past broken upstream flake (#1179)
  flake.lock
  flake.nix
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check
