Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

feat(home-assistant): enable Starlink + Nest integrations on p510 (#818)
  hosts/p510/configuration.nix
  modules/services/home-assistant.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(n8n): expose at n8n.freundcloud.org.uk via Cloudflare Tunnel
  hosts/p510/configuration.nix
  modules/services/n8n.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(n8n): expose at n8n.freundcloud.org.uk via Cloudflare Tunnel (#819)
  hosts/p510/configuration.nix
  modules/services/n8n.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(secrets): add encrypted n8n API key, expose as N8N_API_KEY
  modules/secrets/api-keys.nix
  secrets.nix
  secrets/api-n8n.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(secrets): add encrypted n8n API key, expose as N8N_API_KEY (#820)
  modules/secrets/api-keys.nix
  secrets.nix
  secrets/api-n8n.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(mcp): add n8n MCP server (Claude Code) with agenix-encrypted Bearer token
  home/development/claude-code-mcp.nix
  modules/secrets/api-keys.nix
  secrets.nix
  secrets/api-n8n-mcp.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(mcp): add n8n MCP server (Claude Code) with agenix-encrypted Bearer token (#821)
  home/development/claude-code-mcp.nix
  modules/secrets/api-keys.nix
  secrets.nix
  secrets/api-n8n-mcp.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs 331800de → a799d3e3
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 331800de → a799d3e3 (#822)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#823)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#824)
  flake.lock
Due: none

feat(secrets): add Ollama cloud API key + wire to daemon (p620)
  hosts/p620/configuration.nix
  modules/secrets/api-keys.nix
  modules/services/ollama.nix
  secrets.nix
  secrets/api-ollama.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(tmux): rebind ccm dashboard to prefix+C-Space
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native binary to 2.1.169
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux): point mkTmuxPlugin at ccm.tmux (the upstream entrypoint)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(secrets): add Ollama cloud API key + wire to daemon (p620) (#827)
  hosts/p620/configuration.nix
  modules/secrets/api-keys.nix
  modules/services/ollama.nix
  secrets.nix
  secrets/api-ollama.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(tmux): rebind ccm dashboard to prefix+C-Space (#828)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux): point mkTmuxPlugin at ccm.tmux (the upstream entrypoint) (#830)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native binary to 2.1.169 (#829)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gnome): drain wl-copy with wl-paste --watch + declare Clipboard Indicator
  home/desktop/gnome/default.nix
  home/desktop/gnome/extensions.nix
  home/desktop/gnome/wl-clipboard-hide.nix
  home/desktop/gnome/wl-paste-watch.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gnome): drain wl-copy with wl-paste --watch + declare Clipboard Indicator (#831)
  home/desktop/gnome/default.nix
  home/desktop/gnome/extensions.nix
  home/desktop/gnome/wl-clipboard-hide.nix
  home/desktop/gnome/wl-paste-watch.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux,gnome): use OSC-52 instead of wl-copy for clipboard sync
  home/desktop/gnome/default.nix
  home/desktop/gnome/wl-clipboard-hide.nix
  home/desktop/gnome/wl-paste-watch.nix
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux,gnome): use OSC-52 instead of wl-copy for clipboard sync (#832)
  home/desktop/gnome/default.nix
  home/desktop/gnome/wl-clipboard-hide.nix
  home/desktop/gnome/wl-paste-watch.nix
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux): stop async gruvbox.tmux from clobbering window-status-format
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux): stop async gruvbox.tmux from clobbering window-status-format (#833)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux): drop ccm + gruvbox plugin loaders, bind ccm dashboard manually
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux): drop ccm + gruvbox plugin loaders, bind ccm dashboard manually (#834)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux,lazyvim): add resurrect+continuum+floax+which-key, AI window icons, gog PIM status
  home/shell/lazyvim/lazyvim/lua/plugins/claudecode.lua
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, stylua, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux): rich PIM palette via pim-popup helper, fix popup close, Claude ✻ icon
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code,tmux): notification hooks (toast+popup) + agy idle alerts
  home/shell/tmux/default.nix
  hosts/p620/configuration.nix
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-code): claude-notify popup dismisses on `q`
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

style(claude-code): notification popup in top-right corner, 60×10 cells
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code,tmux): brand icons on desktop toasts + razer rollout
  assets/icons/antigravity.svg
  assets/icons/claude.svg
  home/shell/tmux/default.nix
  hosts/razer/configuration.nix
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux,claude-code): PIM palette + Claude/Antigravity notifications + UX polish (#835)
  assets/icons/antigravity.svg
  assets/icons/claude.svg
  home/shell/lazyvim/lazyvim/lua/plugins/claudecode.lua
  home/shell/tmux/default.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, stylua, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): nixos-module scaffolder template + per-host catalog entries
  catalog-info.yaml
  catalog/templates/nixos-module/skeleton/modules/${{ values.category }}/${{ values.name }}.nix.njk
  catalog/templates/nixos-module/template.yaml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

feat(cloudflared): opt-in keepalive submodule (periodic GET to warm origins)
  modules/services/cloudflared.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
