Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration

just-validate:
  name: Validate justfile
  entry: just --list
  language: system
  pass_filenames: false
  description: Validate justfile syntax

Update Claude Code to version 1.0.71 and fix major lint issues
  home/development/claude-code/default.nix
  hosts/dex5550/nixos/power.nix
  hosts/p510/guests/k3sagent01/default.nix
  hosts/p620/configuration.nix
  hosts/samsung/nixos/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix

Complete comprehensive lint fix campaign across NixOS configuration
  .agent-os/product/roadmap.md
  hosts/dex5550/configuration.nix
  hosts/p510/nixos/microvm/k3s-agent-1.nix
  hosts/p510/nixos/microvm/k3s-agent-2.nix
  hosts/p510/nixos/microvm/k3s-master.nix
  hosts/razer/nixos/cpu.nix
  hosts/razer/nixos/laptop.nix
  hosts/razer/nixos/nvidia.nix
  modules/common/networking.nix
  modules/security/default.nix
  modules/security/ssh-hardening.nix
Due: nixpkgs-fmt, statix, deadnix

🔄 Complete NixOS package duplication optimization with 92% reduction
  flake.lock
  flake.nix
  modules/installer/live-system.nix
  modules/monitoring.nix
  modules/monitoring/ai-metrics-exporter.nix
  modules/monitoring/network-discovery.nix
  modules/monitoring/nzbget-exporter.nix
  modules/monitoring/performance-analytics.nix
  modules/monitoring/plex-exporter.nix
  modules/monitoring/traffic-analyzer.nix
  modules/packages/common-deps.nix
  modules/packages/default.nix
  modules/packages/dependency-sets.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

🚀 Implement modern flake architecture with enterprise-grade development experience
  apps/default.nix
  checks/default.nix
  flake.nix.backup
  lib/flake-helpers.nix
  shells/dev.nix
  shells/docs.nix
  shells/testing.nix
Due: nixpkgs-fmt, statix, deadnix

Complete Samsung laptop configuration with Intel graphics optimization
  Justfile
  README.md
  hosts/dex5550/variables.nix
  hosts/hp/configuration.nix
  hosts/hp/variables.nix
  hosts/p510/variables.nix
  hosts/p620/variables.nix
  hosts/razer/variables.nix
  hosts/samsung/configuration.nix
  hosts/samsung/nixos/memory.nix
  hosts/samsung/variables.nix
  modules/secrets/api-keys.nix
  shells/dev.nix
Due: nixpkgs-fmt, statix, deadnix

Configure passwordless sudo for Samsung deployment
  Justfile
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

Add Samsung host to secrets configuration and rekey all secrets
  secrets.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-langchain.age
  secrets/api-openai.age
  secrets/api-qwen.age
  secrets/docker-auth.age
  secrets/github-token.age
  secrets/gmail-oauth2-client-secret.age
  secrets/gmail-oauth2-refresh-token-primary.age
  secrets/gmail-oauth2-refresh-token-secondary.age
  secrets/nextcloud-admin-password.age
  secrets/postgres-password.age
  secrets/smtp-password.age
  secrets/ssh-host-ed25519-key.age
  secrets/tailscale-auth-key.age
  secrets/user-password-olafkfreund.age
  secrets/wifi-password.age
Due: nixpkgs-fmt, statix, deadnix

Update Claude Code to version 1.0.72
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

Fix NixOS linting issues
  flake.lock
  hosts/p510/configuration.nix
  hosts/p510/guests/k3sagent01/microvm.nix
  hosts/p510/nixos/mpd.nix
  hosts/p620/nixos-options.nix
  hosts/p620/nixos/power.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

Add Agenix identity paths to all hosts and fix linting issues
  CLAUDE.md
  hosts/dex5550/configuration.nix
  hosts/dex5550/nixos/envvar.nix
  hosts/p510/configuration.nix
  hosts/p510/guests/k3sagent02/default.nix
  hosts/p510/nixos/envvar.nix
  hosts/p510/nixos/hardware-configuration.nix
  hosts/p620/configuration.nix
  hosts/p620/microvm/flake.nix
  hosts/p620/nixos/load.nix
  hosts/p620/nixos/mpd.nix
  hosts/razer/configuration.nix
  hosts/razer/home-manager-options.nix
  hosts/razer/nixos/hardware-configuration.nix
  hosts/razer/nixos/screens.nix
  hosts/razer/themes/stylix.nix
  hosts/samsung/configuration.nix
  hosts/samsung/nixos/screens.nix
  modules/services/nixpkgs-monitor.nix
  vm/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

Fix Samsung Agenix decryption by adding RSA host key
  hosts/samsung/configuration.nix
  secrets.nix
Due: nixpkgs-fmt, statix, deadnix

Complete Samsung Agenix fix with user SSH key support
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

Fix critical NixOS anti-patterns: reduce mkForce usage and improve security
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  lib/flake-helpers.nix
  modules/common/networking.nix
  modules/default.nix
  modules/nix/nix.nix
Due: nixpkgs-fmt, statix, deadnix

Major NixOS architecture improvements: Complete critical fixes
  flake.nix
  flake.nix.backup
  lib/live-images.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

Fix n8n systemd service dependency ordering
  hosts/dex5550/nixos/n8n.nix
Due: nixpkgs-fmt, statix, deadnix

Fix package collision warnings by restructuring dependency sets
  modules/packages/common-deps.nix
  modules/packages/dependency-sets.nix
Due: nixpkgs-fmt, statix, deadnix

Phase 2: Implement host type templates to eliminate import duplication
  flake.nix
  hosts/dex5550/configuration.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  lib/hostTypes.nix
  modules/common/ai-defaults.nix
  modules/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

Refactor build scripts for improved readability and consistency
  Justfile
Due: none

Update Samsung SSH key in secrets.nix
  secrets.nix
Due: nixpkgs-fmt, statix, deadnix

CRITICAL: Fix agenix decryption failure across all hosts
  Users/common/features.nix
  Users/olafkfreund/p620_home.nix
  home/desktop/default.nix
  home/desktop/hyprland/default.nix
  home/desktop/hyprland/quickshell/components/bar.qml
  home/desktop/hyprland/quickshell/components/main.qml
  home/desktop/hyprland/quickshell/components/widgets/AudioIndicator.qml
  home/desktop/hyprland/quickshell/components/widgets/BatteryIndicator.qml
  home/desktop/hyprland/quickshell/components/widgets/Clock.qml
  home/desktop/hyprland/quickshell/components/widgets/NetworkIndicator.qml
  home/desktop/hyprland/quickshell/components/widgets/SystemTray.qml
  home/desktop/hyprland/quickshell/components/widgets/WorkspaceIndicator.qml
  home/desktop/hyprland/quickshell/default.nix
  home/desktop/hyprland/theme-system.nix
  home/desktop/quickshell.nix
  hosts/p620/configuration.nix
  modules/common/features.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-langchain.age
  secrets/api-openai.age
  secrets/api-qwen.age
  secrets/docker-auth.age
  secrets/github-token.age
  secrets/gmail-oauth2-client-secret.age
  secrets/gmail-oauth2-refresh-token-primary.age
  secrets/gmail-oauth2-refresh-token-secondary.age
  secrets/nextcloud-admin-password.age
  secrets/postgres-password.age
  secrets/smtp-password.age
  secrets/ssh-host-ed25519-key.age
  secrets/tailscale-auth-key.age
  secrets/user-password-olafkfreund.age
  secrets/wifi-password.age
Due: nixpkgs-fmt, statix, deadnix

Fix agenix SSH host key dependencies across all hosts
  hosts/dex5550/configuration.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  secrets.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-langchain.age
  secrets/api-openai.age
  secrets/api-qwen.age
  secrets/docker-auth.age
  secrets/github-token.age
  secrets/gmail-oauth2-client-secret.age
  secrets/gmail-oauth2-refresh-token-primary.age
  secrets/gmail-oauth2-refresh-token-secondary.age
  secrets/nextcloud-admin-password.age
  secrets/postgres-password.age
  secrets/smtp-password.age
  secrets/ssh-host-ed25519-key.age
  secrets/tailscale-auth-key.age
  secrets/user-password-olafkfreund.age
  secrets/wifi-password.age
Due: nixpkgs-fmt, statix, deadnix

Fix agenix secret management and clean up configuration
  home/desktop/hyprland/quickshell/default.nix
  hosts/p620/configuration.nix
  modules/secrets/api-keys.nix
  modules/security/secrets.nix
  secrets.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-langchain.age
  secrets/api-openai.age
  secrets/api-qwen.age
  secrets/docker-auth.age
  secrets/gmail-oauth2-client-secret.age
  secrets/gmail-oauth2-refresh-token-primary.age
  secrets/gmail-oauth2-refresh-token-secondary.age
  secrets/smtp-password.age
  secrets/ssh-host-ed25519-key.age
  secrets/tailscale-auth-key.age
  secrets/user-password-olafkfreund.age
Due: nixpkgs-fmt, statix, deadnix

Fix comprehensive agenix secret management issues
  home/desktop/hyprland/quickshell/default.nix
  hosts/common/shared-variables.nix
  hosts/p620/configuration.nix
  modules/secrets/api-keys.nix
  modules/services/system/default.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
  secrets/tailscale-auth-key.age
  secrets/user-password-olafkfreund.age
Due: nixpkgs-fmt, statix, deadnix

Fix agenix identity paths across all hosts for proper secret decryption
  hosts/dex5550/configuration.nix
  hosts/p510/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  secrets/api-github-token.age
Due: nixpkgs-fmt, statix, deadnix

Update GitHub token secret with end-of-file fix
  secrets/api-github-token.age
Due: none

Fix agenix SSH host key issues across all hosts
  hosts/dex5550/configuration.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/security/ssh-hardening.nix
Due: nixpkgs-fmt, statix, deadnix

Fix agenix secrets with updated SSH host keys
  secrets.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
Due: nixpkgs-fmt, statix, deadnix

Fix Samsung SSH key and agenix secrets
  Justfile
  secrets.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
Due: nixpkgs-fmt, statix, deadnix

Fix Samsung agenix with RSA key and line endings
  hosts/samsung/configuration.nix
  secrets.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
Due: nixpkgs-fmt, statix, deadnix

Fix Samsung deployment and libvirt SSH configuration issues
  modules/virt/virt.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
  secrets/corrupted-backup/api-anthropic.age
  secrets/corrupted-backup/api-gemini.age
  secrets/corrupted-backup/api-github-token.age
  secrets/corrupted-backup/api-openai.age
Due: nixpkgs-fmt, statix, deadnix

Fix Samsung agenix secrets and add .gitattributes protection
  .gitattributes
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
Due: none

Fix Neovim plugin configurations and enhance Waybar with AI assistant
  home/desktop/waybar/default.nix
  home/shell/lazyvim/lazyvim/lua/plugins/claude-code.lua
  home/shell/lazyvim/lazyvim/lua/plugins/example.lua
  home/shell/lazyvim/lazyvim/lua/plugins/nerdy.lua
Due: nixpkgs-fmt, statix, deadnix

Implement modern Hyprland features and comprehensive improvements
  docs/Hyprland_config.md
  flake.lock
  home/desktop/hyprland/config/binds.nix
  home/desktop/hyprland/config/settings.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

Implement fancy 2024 Hyprland animations with modern bezier curves
  docs/Hyprland_config.md
  home/desktop/hyprland/config/settings.nix
Due: nixpkgs-fmt, statix, deadnix

Fix duplicate animate_mouse_windowdragging attribute
  home/desktop/hyprland/config/settings.nix
Due: nixpkgs-fmt, statix, deadnix

Fix SwayNC transparency - force completely opaque windows
  home/desktop/hyprland/config/settings.nix
Due: nixpkgs-fmt, statix, deadnix

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  flake-check: any of: flake\.(nix|lock)$
  just-validate: any of: justfile$
