Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(flake): bump all (nixpkgs unchanged) (#1358)
  flake.lock
Due: none

chore(flake): bump all — nixpkgs e5bdc4a4 → ec2d622d
  flake.lock
Due: none

fix(services): enable thermald only on Intel CPUs (#1362)
  hosts/p620/nixos/power.nix
  modules/services/system/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(services): enable thermald only on Intel CPUs (#1362) (#1363)
  hosts/p620/nixos/power.nix
  modules/services/system/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs e5bdc4a4 → ec2d622d (#1364)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1365)
  flake.lock
Due: none

feat(desktop): add Hyprland 0.56 (Lua config) as a DMS session (#1366)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  home/desktop/hyprland/default.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/desktop/default.nix
  modules/desktop/dms-shell.nix
  modules/desktop/hyprland.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): add Hyprland 0.56 (Lua config) as a DMS session (#1366) (#1368)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  home/desktop/hyprland/default.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/desktop/default.nix
  modules/desktop/dms-shell.nix
  modules/desktop/hyprland.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): port the full niri bind set to the Hyprland session (#1367)
  home/desktop/hyprland/default.nix
  home/desktop/noctalia/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): port the full niri bind set to the Hyprland session (#1367) (#1369)
  home/desktop/hyprland/default.nix
  home/desktop/noctalia/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

refactor(home): split the noctalia module into one file per Wayland session
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  home/desktop/dank-calendar/default.nix
  home/desktop/noctalia/default.nix
  home/desktop/wayland/common.nix
  home/desktop/wayland/default.nix
  home/desktop/wayland/hyprland.nix
  home/desktop/wayland/labwc.nix
  home/desktop/wayland/mango.nix
  home/desktop/wayland/niri.nix
  home/desktop/wayland/shell.nix
  modules/desktop/dms-shell.nix
  modules/desktop/hyprland.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

refactor(home): split the noctalia module into one file per Wayland session (#1370)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  home/desktop/dank-calendar/default.nix
  home/desktop/noctalia/default.nix
  home/desktop/wayland/common.nix
  home/desktop/wayland/default.nix
  home/desktop/wayland/hyprland.nix
  home/desktop/wayland/labwc.nix
  home/desktop/wayland/mango.nix
  home/desktop/wayland/niri.nix
  home/desktop/wayland/shell.nix
  modules/desktop/dms-shell.nix
  modules/desktop/hyprland.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(home): install tuios on all three hosts
  home/development/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(home): install tuios on all three hosts (#1372)
  home/development/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(pkgs): add okena and seance terminal multiplexers
  Users/olafkfreund/profile.nix
  flake.lock
  flake.nix
  overlays/default.nix
  pkgs/default.nix
  pkgs/okena/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(pkgs): add okena and seance terminal multiplexers (#1373)
  Users/olafkfreund/profile.nix
  flake.lock
  flake.nix
  overlays/default.nix
  pkgs/default.nix
  pkgs/okena/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs ec2d622d → 0ae2bc14
  flake.lock
Due: none

chore(flake): bump all — nixpkgs ec2d622d → 0ae2bc14 (#1374)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1375)
  flake.lock
Due: none

fix(p510): stop thermald and the PAL healthcheck failing every deploy
  hosts/p510/nixos/cpu.nix
  modules/services/plex-auto-languages/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): stop thermald and the PAL healthcheck failing every deploy (#1377)
  hosts/p510/nixos/cpu.nix
  modules/services/plex-auto-languages/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1379)
  flake.lock
Due: none

chore(claude-code): update to 2.1.235 (#1361)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.235 (#1361) (#1381)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump CLI to 1.1.15
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump CLI to 1.1.15 (#1382)
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(scripts): key lock-bump branch name on lock content, not nixpkgs rev
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(scripts): key lock-bump branch name on lock content, not nixpkgs rev (#1383)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(flake): bump all (nixpkgs unchanged) (#1384)
  flake.lock
Due: none

fix(k3d): never restart a k3s server that is still opening its datastore (#1386)
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(scripts): tell nhs users what to run instead of just refusing
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
