Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

fix(ci): drop `nix flake check` — unblock check-configurations
  .github/workflows/ci.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(ci): drop `nix flake check` — unblock check-configurations (#503)
  .github/workflows/ci.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(gnome): install aurora-shell v49.2 extension with 10 modules enabled
  home/desktop/gnome/extensions.nix
  overlays/custom-packages.nix
  pkgs/aurora-shell/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(gnome): install aurora-shell v49.2 extension with 10 modules enabled (#505)
  home/desktop/gnome/extensions.nix
  overlays/custom-packages.nix
  pkgs/aurora-shell/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Revert "feat(gnome): install aurora-shell v49.2 extension with 10 modules enabled (#505)"
  home/desktop/gnome/extensions.nix
  overlays/custom-packages.nix
  pkgs/aurora-shell/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Revert "feat(gnome): install aurora-shell v49.2 extension with 10 modules enabled (#505)" (#506)
  home/desktop/gnome/extensions.nix
  overlays/custom-packages.nix
  pkgs/aurora-shell/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(stylix): switch base16 scheme to plain gruvbox-dark
  hosts/common/shared-variables.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(stylix): switch base16 scheme to plain gruvbox-dark (#507)
  hosts/common/shared-variables.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(splashboard): package terminal splash screen and wire into zsh on p620 + razer
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
  home/shell/default.nix
  home/shell/splashboard.nix
  overlays/custom-packages.nix
  overlays/default.nix
  pkgs/splashboard/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(splashboard): package terminal splash screen and wire into zsh on p620 + razer (#511)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
  home/shell/default.nix
  home/shell/splashboard.nix
  overlays/custom-packages.nix
  overlays/default.nix
  pkgs/splashboard/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.140 (#508)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.140 (#508) (#512)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to v0.2026.05.06.15.42.stable_05
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): bump to v0.2026.05.06.15.42.stable_05 (#513)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(gemini-cli): bump to v0.42.0
  home/development/gemini-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gemini-cli): bump to v0.42.0 (#514)
  home/development/gemini-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(splashboard): add gruvbox_dark theme and declarative dashboards
  home/shell/default.nix
  home/shell/splashboard.nix
  home/shell/splashboard/default.nix
  home/shell/splashboard/home.dashboard.toml
  home/shell/splashboard/project.dashboard.toml
Due: nixpkgs-fmt, statix, deadnix, taplo, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(splashboard): add gruvbox_dark theme and declarative dashboards (#515)
  home/shell/default.nix
  home/shell/splashboard.nix
  home/shell/splashboard/default.nix
  home/shell/splashboard/home.dashboard.toml
  home/shell/splashboard/project.dashboard.toml
Due: nixpkgs-fmt, statix, deadnix, taplo, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(splashboard): correct project dashboard widget errors + tune layout
  home/shell/splashboard/home.dashboard.toml
  home/shell/splashboard/project.dashboard.toml
Due: taplo, trailing-whitespace, end-of-file, check-merge-conflict

fix(splashboard): correct project dashboard widget errors + tune layout (#516)
  home/shell/splashboard/home.dashboard.toml
  home/shell/splashboard/project.dashboard.toml
Due: taplo, trailing-whitespace, end-of-file, check-merge-conflict

feat(splashboard): adopt home_feed + project_github upstream presets
  .splashboard/dashboard.toml
  home/shell/splashboard/home.dashboard.toml
Due: taplo, trailing-whitespace, end-of-file, check-merge-conflict

feat(splashboard): adopt home_feed + project_github upstream presets (#517)
  .splashboard/dashboard.toml
  home/shell/splashboard/home.dashboard.toml
Due: taplo, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump lock — emacs, home-manager, microvm, stylix, nur, parts, nixpkgs
  flake.lock
Due: none

chore(flake): bump lock — emacs, home-manager, microvm, stylix, nur, parts, nixpkgs (#519)
  flake.lock
Due: none

fix(ci): handle nix-openclaw-tools sub-flake's unlocked path:../.. input
  .github/workflows/ci.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(ci): handle nix-openclaw-tools sub-flake's unlocked path:../.. input (#520)
  .github/workflows/ci.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(claude-code): bump native binary 2.1.140 → 2.1.141 (#518)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native binary 2.1.140 → 2.1.141 (#518) (#521)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(splashboard): redesign project dashboards + dedup contributors
  .mailmap
  .splashboard/dashboard.toml
  _typos.toml
  home/shell/splashboard/home.dashboard.toml
  home/shell/splashboard/project.dashboard.toml
Due: taplo, trailing-whitespace, end-of-file, check-merge-conflict

fix(splashboard): redesign project dashboards + dedup contributors (#523)
  .mailmap
  .splashboard/dashboard.toml
  _typos.toml
  home/shell/splashboard/home.dashboard.toml
  home/shell/splashboard/project.dashboard.toml
Due: taplo, trailing-whitespace, end-of-file, check-merge-conflict

chore(claude-code): bump native binary 2.1.141 → 2.1.143 (#524)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native binary 2.1.141 → 2.1.143 (#524) (#526)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nix): add cache.garnix.io substituter to fix openclaw FOD (#527)
  modules/nix/nix.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nix): add cache.garnix.io substituter to fix openclaw FOD (#527) (#528)
  modules/nix/nix.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): suppress systemd-tpm2-setup, document MOK recovery
  .claude/settings.local.json
  flake.lock
  hosts/razer/nixos/secure-boot.nix
  hosts/razer/nixos/shim.nix
Due: nixpkgs-fmt, statix, deadnix, json-format, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): suppress systemd-tpm2-setup, document MOK recovery (#529)
  .claude/settings.local.json
  flake.lock
  hosts/razer/nixos/secure-boot.nix
  hosts/razer/nixos/shim.nix
Due: nixpkgs-fmt, statix, deadnix, json-format, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer/shim): export coreutils in install-bootloader-with-shim PATH (#530)
  hosts/razer/nixos/shim.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer/shim): export coreutils in install-bootloader-with-shim PATH (#530) (#531)
  hosts/razer/nixos/shim.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to v0.2026.05.13.09.15.stable_03
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): bump to v0.2026.05.13.09.15.stable_03 (#532)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict
