Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

fix(nixarchy): stock Omarchy menu with the NixOS snowflake on p620 and razer
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 2.9939.4
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 2.9939.4 (#2072)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

fix(nixarchy): stock Omarchy menu with the NixOS snowflake on p620 and razer (#2070)
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update (#2073)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2075)
  flake.lock
Due: none

feat(nixarchy): nixarchy-menu back on p620 and razer (#2074)
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  plan/2026-09-29-2074-nixarchy-menu-snowflake.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(spec): draft 2026-09-29-2074-nixarchy-menu-snowflake (#2074)
  spec/2026-09-29-2074-nixarchy-menu-snowflake.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-09-29-2074-nixarchy-menu-snowflake (#2074)
  plan/2026-09-29-2074-nixarchy-menu-snowflake.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-29-2074-nixarchy-menu-snowflake (#2074)
  intent/2026-09-29-2074-nixarchy-menu-snowflake.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-29-2074-nixarchy-menu-snowflake (#2074)
  plan/2026-09-29-2074-nixarchy-menu-snowflake.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft 2026-09-29-2074-nixarchy-menu-snowflake (#2074)
  intent/2026-09-29-2074-nixarchy-menu-snowflake.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-29-2074-nixarchy-menu-snowflake (#2074)
  spec/2026-09-29-2074-nixarchy-menu-snowflake.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump nixarchy to 09f2af0 (snowflake menu button) (#2074)
  flake.lock
Due: none

feat(nixarchy): nixarchy-menu back on p620 and razer, with the snowflake (#2074) (#2076)
  flake.lock
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  intent/2026-09-29-2074-nixarchy-menu-snowflake.md
  plan/2026-09-29-2074-nixarchy-menu-snowflake.md
  spec/2026-09-29-2074-nixarchy-menu-snowflake.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(ci): verify the antigravity wheel through user-python3
  .github/workflows/package-autoupdate.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(ci): verify the antigravity wheel through user-python3 (#2077)
  .github/workflows/package-autoupdate.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(antigravity): auto-update to 2.18.1-4945794252537856
  pkgs/antigravity-hub/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 2.18.1-4945794252537856 (#2078)
  pkgs/antigravity-hub/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft sonnet-coder-handoff (#2079)
  intent/2026-09-29-2079-sonnet-coder-handoff.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve sonnet-coder-handoff (#2079)
  intent/2026-09-29-2079-sonnet-coder-handoff.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft sonnet-coder-handoff (#2079)
  spec/2026-09-29-2079-sonnet-coder-handoff.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged) (#2080)
  flake.lock
Due: none

docs(spec): approve sonnet-coder-handoff (#2079)
  spec/2026-09-29-2079-sonnet-coder-handoff.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft sonnet-coder-handoff (#2079)
  plan/2026-09-29-2079-sonnet-coder-handoff.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): fix markdownlint line lengths (#2079)
  plan/2026-09-29-2079-sonnet-coder-handoff.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve sonnet-coder-handoff (#2079)
  plan/2026-09-29-2079-sonnet-coder-handoff.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(claude-code): Opus plans and reviews, a Sonnet coder implements (#2079)
  home/development/agent-rules.nix
  home/development/claude-code-skills/artifact-workflow/SKILL.md
  modules/programs/claude-code-coder-agent.md
  modules/programs/claude-code-managed-claude.md
  modules/programs/claude-code-managed.nix
  plan/2026-09-29-2079-sonnet-coder-handoff.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-code): coder guard judges each command's verb, with a test (#2079)
  home/development/agent-rules.nix
  modules/programs/claude-code-managed.nix
  modules/programs/claude-coder-guard.sh
  modules/programs/claude-coder-guard.test.sh
  plan/2026-09-29-2079-sonnet-coder-handoff.md
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

feat(claude-code): Opus plans and reviews, a Sonnet coder implements (#2079) (#2082)
  home/development/agent-rules.nix
  home/development/claude-code-skills/artifact-workflow/SKILL.md
  intent/2026-09-29-2079-sonnet-coder-handoff.md
  modules/programs/claude-code-coder-agent.md
  modules/programs/claude-code-managed-claude.md
  modules/programs/claude-code-managed.nix
  modules/programs/claude-coder-guard.sh
  modules/programs/claude-coder-guard.test.sh
  plan/2026-09-29-2079-sonnet-coder-handoff.md
  spec/2026-09-29-2079-sonnet-coder-handoff.md
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

docs(spec): approve codex-coder-write-access (#2081)
  spec/2026-09-29-2081-codex-coder-write-access.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft codex-coder-write-access (#2081)
  intent/2026-09-29-2081-codex-coder-write-access.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve codex-coder-write-access (#2081)
  intent/2026-09-29-2081-codex-coder-write-access.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft codex-coder-write-access (#2081)
  spec/2026-09-29-2081-codex-coder-write-access.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft codex-coder-write-access (#2081)
  plan/2026-09-29-2081-codex-coder-write-access.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve codex-coder-write-access (#2081)
  plan/2026-09-29-2081-codex-coder-write-access.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(codex): Codex may write code for approved plans, guarded (#2081)
  AGENTS.md
  home/development/agent-rules/codex-standards.md
  home/development/claude-code-skills/second-opinion/SKILL.md
  home/development/codex-cli.nix
  modules/programs/claude-coder-guard.sh
  plan/2026-09-29-2081-codex-coder-write-access.md
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
