Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration

just-validate:
  name: Validate justfile
  entry: just --list
  language: system
  pass_filenames: false
  description: Validate justfile syntax

chore: update Claude Code to version 2.0.64 (#64)
  flake.nix
  home/development/claude-code/default.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/services/default.nix
  modules/services/intune-portal.nix
  pkgs/intune-portal/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore: update Claude Code to version 2.0.64 (#64) (#65)
  flake.nix
  home/development/claude-code/default.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/services/default.nix
  modules/services/intune-portal.nix
  pkgs/intune-portal/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

enhancement(razer): upgrade kernel to 6.18 for NVIDIA compatibility (#66)
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

enhancement(p510): upgrade kernel to 6.18 for NVIDIA compatibility (#66)
  hosts/p510/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

chore(razer): disable Ollama for resource optimization (#67)
  hosts/razer/nixos-options.nix
Due: nixpkgs-fmt, statix, deadnix

feat(gnome): add Authenticator TOTP application to razer and p620 (#69)
  Obsidian/NixOS/Authenticator.md
  home/desktop/gnome/authenticator.nix
  home/desktop/gnome/default.nix
Due: nixpkgs-fmt, statix, deadnix

resolve: accept remote claude settings
  .claude/settings.local.json
Due: none

chore(mdatp): add .deb binary to .gitignore
  .gitignore
Due: none

fix(mdatp): configure allowUnfree and permittedInsecurePackages in flake
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(security): add Microsoft Defender for Endpoint (MDE) for NixOS
  flake.nix
  modules/services/default.nix
  modules/services/security/mdatp.nix
  pkgs/microsoft-defender-for-endpoint/README.md
  pkgs/microsoft-defender-for-endpoint/default.nix
  pkgs/microsoft-defender-for-endpoint/mdatp.deb.sha256
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(gnome): add Authenticator TOTP application to razer and p620 (#69) (#70)
  Obsidian/NixOS/Authenticator.md
  home/desktop/gnome/authenticator.nix
  home/desktop/gnome/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(razer): disable Ollama for resource optimization (#67) (#68)
  hosts/razer/nixos-options.nix
Due: nixpkgs-fmt, statix, deadnix

fix(mdatp): remove non-existent doc reference from module meta
  modules/services/security/mdatp.nix
Due: nixpkgs-fmt, statix, deadnix

chore(deps): update flake inputs
  flake.lock
Due: flake-check

fix(secrets): resolve agenix activation conflict
  modules/security/secrets.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.65 (#72)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.65 (#72) (#73)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(deps): update flake.lock
  flake.lock
Due: flake-check

feat(kernel): upgrade to Linux 6.18 for NVIDIA compatibility (#66)
  hosts/p510/nixos/boot.nix
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.67 (#74)
  flake.lock
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.0.67 (#74) (#75)
  flake.lock
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(citrix): add Citrix Workspace for client project (#76)
  docs/CITRIX-WORKSPACE-SETUP.md
  flake.lock
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/services/citrix-workspace.nix
  modules/services/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.0.68 (#77)
  home/development/claude-code/default.nix
  modules/services/citrix-workspace.nix
  modules/services/security/mdatp.nix
  pkgs/microsoft-defender-for-endpoint/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(mdatp): correct module structure after consolidation
  flake.lock
  modules/services/security/mdatp.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(citrix): temporarily disable Citrix requiring manual tarball
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat(citrix): add comprehensive Citrix Workspace integration with USB support
  flake.nix
  overlays/citrix-workspace.nix
  pkgs/citrix-workspace/.gitignore
  pkgs/citrix-workspace/default.nix
  pkgs/citrix-workspace/fetch-citrix.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check

feat(citrix): comprehensive enhancements based on official documentation
  modules/services/citrix-workspace.nix
  overlays/citrix-workspace.nix
  pkgs/citrix-workspace/README.md
  pkgs/citrix-workspace/fetch-citrix.sh
  pkgs/citrix-workspace/update-hashes.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt

feat(citrix): update to version 25.08.10.111 and enable on p620/razer
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  overlays/citrix-workspace.nix
  pkgs/citrix-workspace/default.nix
  pkgs/citrix-workspace/fetch-citrix.sh
  pkgs/citrix-workspace/update-hashes.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt

fix(citrix): resolve build errors and dependency issues
  modules/services/citrix-workspace.nix
  overlays/citrix-workspace.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.68 (#77) (#78)
  flake.lock
  flake.nix
  home/development/claude-code/default.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/services/citrix-workspace.nix
  modules/services/security/mdatp.nix
  overlays/citrix-workspace.nix
  pkgs/citrix-workspace/.gitignore
  pkgs/citrix-workspace/README.md
  pkgs/citrix-workspace/default.nix
  pkgs/citrix-workspace/fetch-citrix.sh
  pkgs/citrix-workspace/update-hashes.sh
  pkgs/microsoft-defender-for-endpoint/default.nix
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check

chore(claude-code): update to version 2.0.69 (#79)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

docs(citrix): update documentation with complete working implementation
  docs/CITRIX-WORKSPACE-SETUP.md
  overlays/citrix-workspace.nix
Due: nixpkgs-fmt, statix, deadnix

docs(citrix): add multi-host deployment instructions
  docs/CITRIX-WORKSPACE-SETUP.md
Due: none

fix(citrix): update deprecated GDM wayland option path
  modules/services/citrix-workspace.nix
Due: nixpkgs-fmt, statix, deadnix

feat(claude-desktop): integrate working Linux build from k3d3/claude-desktop-linux-flake
  flake.lock
  flake.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(razer): enable Claude Desktop with MCP server support
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat(ai): implement REST API-based Obsidian MCP integration (#81)
  docs/OBSIDIAN-MCP-REST-API.md
  home/development/claude-code-mcp-config.json
  home/development/claude-desktop/default.nix
  home/development/claude-desktop/mcp-config.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/ai/mcp-servers.nix
  pkgs/default.nix
  pkgs/obsidian-mcp-rest/default.nix
  secrets.nix
  secrets/obsidian-api-key.age
Due: nixpkgs-fmt, statix, deadnix

feat(ai): implement REST API-based Obsidian MCP integration (#81) (#82)
  docs/OBSIDIAN-MCP-REST-API.md
  home/development/claude-code-mcp-config.json
  home/development/claude-desktop/default.nix
  home/development/claude-desktop/mcp-config.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/ai/mcp-servers.nix
  pkgs/default.nix
  pkgs/obsidian-mcp-rest/default.nix
  secrets.nix
  secrets/obsidian-api-key.age
Due: nixpkgs-fmt, statix, deadnix

feat(ai): implement GitHub MCP server for Claude Desktop and Claude Code (#83)
  home/development/claude-code-mcp-config.json
  home/development/claude-desktop/mcp-config.nix
Due: nixpkgs-fmt, statix, deadnix

fix(ai): fix Claude Desktop MCP config JSON serialization (#83)
  home/development/claude-desktop/mcp-config.nix
Due: nixpkgs-fmt, statix, deadnix

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  flake-check: any of: flake\.(nix|lock)$
  just-validate: any of: justfile$
