Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

feat(stylix): enable GTK target fleet-wide (#478) (#479)
  Users/common/base-home.nix
  home/desktop/gnome/theme.nix
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native binary 2.1.126 → 2.1.128 (#480)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native binary 2.1.126 → 2.1.128 (#480) (#481)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-desktop): bump to v2.0.6+claude1.5354.0 (#482)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-desktop): bump to v2.0.6+claude1.5354.0 (#482) (#483)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(openclaw): wire OpenClaw AI assistant on P620 with Gemini provider
  Users/olafkfreund/p620_home.nix
  flake.lock
  flake.nix
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(openclaw): wire OpenClaw AI assistant on P620 with Gemini provider (#484)
  Users/olafkfreund/p620_home.nix
  flake.lock
  flake.nix
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(openclaw): bump default agent model to gemini-3.1-pro-preview
  Users/olafkfreund/p620_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(openclaw): bump default agent model to gemini-3.1-pro-preview (#485)
  Users/olafkfreund/p620_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(openclaw): add gemini-2.5-flash fallback for agent watchdog timeouts
  Users/olafkfreund/p620_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(openclaw): add gemini-2.5-flash fallback for agent watchdog timeouts (#486)
  Users/olafkfreund/p620_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(openclaw): enable gogcli, summarize, and qmd bundled plugins
  Users/olafkfreund/p620_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(openclaw): enable gogcli, summarize, and qmd bundled plugins (#487)
  Users/olafkfreund/p620_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native binary 2.1.128 → 2.1.138
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): update all inputs alongside claude-code bump
  flake.lock
Due: none

chore(claude-code): bump native binary 2.1.128 → 2.1.138 (#489)
  flake.lock
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to v0.2026.05.06.15.42.stable_03
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): bump to v0.2026.05.06.15.42.stable_03 (#490)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

feat(openclaw): autostart gateway at boot via linger + Install section
  Users/olafkfreund/p620_home.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(openclaw): autostart gateway at boot via linger + Install section (#491)
  Users/olafkfreund/p620_home.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gitignore): ignore .direnv cache + atomic-swap temp dirs
  .gitignore
Due: none

chore(gitignore): ignore .direnv cache + atomic-swap temp dirs (#492)
  .gitignore
Due: none

chore(update-deploy): default SCOPE from 'nixpkgs' to 'all'
  Justfile
  docs/UPDATE-DEPLOY.md
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(update-deploy): default SCOPE from 'nixpkgs' to 'all' (#493)
  Justfile
  docs/UPDATE-DEPLOY.md
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#494)
  flake.lock
Due: none

chore(devshell): slim default from ~12 GiB to ~1.5 GiB
  tools/dev.nix
  tools/docs.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(devshell): slim default from ~12 GiB to ~1.5 GiB (#495)
  tools/dev.nix
  tools/docs.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#496)
  flake.lock
Due: none

feat(claude-agents): add nix-anti-pattern-auditor
  .claude/agents/nix-anti-pattern-auditor.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(claude-agents): add nix-anti-pattern-auditor (#497)
  .claude/agents/nix-anti-pattern-auditor.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(gemini-cli): bump to v0.41.2 + add /update-gemini slash command
  .claude/commands/update-gemini.md
  home/development/gemini-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(gemini-cli): bump to v0.41.2 + add /update-gemini slash command (#498)
  .claude/commands/update-gemini.md
  home/development/gemini-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native binary 2.1.138 → 2.1.139
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native binary 2.1.138 → 2.1.139 (#500)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to v0.2026.05.06.15.42.stable_04
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): bump to v0.2026.05.06.15.42.stable_04 (#501)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

fix(workflows): unbreak claude-{code,desktop}-watch YAML + ci.yml nix evals
  .github/workflows/ci.yml
  .github/workflows/claude-code-watch.yml
  .github/workflows/claude-desktop-watch.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(workflows): unbreak claude-{code,desktop}-watch YAML + ci.yml nix evals (#502)
  .github/workflows/ci.yml
  .github/workflows/claude-code-watch.yml
  .github/workflows/claude-desktop-watch.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict
