Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

fix(gogcli): seed the mail watcher even when no mail matches
  home/shell/gogcli/omarchy-gmail-watch.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

feat(desktop): drop DMS and niri, move login to Omarchy's SDDM (#1541)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
  home/desktop/dank-calendar/default.nix
  home/desktop/wayland/default.nix
  home/desktop/wayland/niri.nix
  home/desktop/wayland/shell.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/nixarchy.nix
  modules/desktop/default.nix
  modules/desktop/dms-shell.nix
  modules/desktop/niri.nix
  modules/desktop/theme-owner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gogcli): tell shellcheck these are bash
  home/shell/gogcli/omarchy-cmd-meet.sh
  home/shell/gogcli/omarchy-cmd-note.sh
  home/shell/gogcli/omarchy-cmd-upload.sh
  home/shell/gogcli/omarchy-gmail-watch.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

gogcli quick capture, mail notifications, and a Meet keybinding (#1542)
  flake.lock
  home/shell/gogcli/default.nix
  home/shell/gogcli/omarchy-cmd-meet.sh
  home/shell/gogcli/omarchy-cmd-note.sh
  home/shell/gogcli/omarchy-cmd-upload.sh
  home/shell/gogcli/omarchy-gmail-watch.sh
  hosts/common/nixos/omarchy-gog.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

fix(sddm): run the greeter in Hyprland, not weston
  hosts/common/nixos/omarchy-sddm.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(omarchy-gog): require gog-binds via pcall, not bare require (#1543)
  hosts/common/nixos/omarchy-gog.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(omarchy-gog): require gog-binds via pcall, not bare require (#1543) (#1544)
  hosts/common/nixos/omarchy-gog.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Drop DMS and niri, move login to Omarchy's SDDM (#1545)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
  home/desktop/dank-calendar/default.nix
  home/desktop/wayland/default.nix
  home/desktop/wayland/niri.nix
  home/desktop/wayland/shell.nix
  hosts/common/nixos/omarchy-sddm.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/nixarchy.nix
  modules/desktop/default.nix
  modules/desktop/dms-shell.nix
  modules/desktop/niri.nix
  modules/desktop/theme-owner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(sddm): exec Hyprland directly, not the uwsm wrapper
  hosts/common/nixos/omarchy-sddm.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(sddm): exec Hyprland directly, not the uwsm wrapper (#1546)
  hosts/common/nixos/omarchy-sddm.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): greet with greetd + ReGreet instead of SDDM (#1541)
  hosts/common/nixos/omarchy-sddm.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(sddm): the greeter failure was a held VT, not weston
  hosts/common/nixos/omarchy-sddm.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(sddm): the greeter failure was a held VT, not weston (#1548)
  hosts/common/nixos/omarchy-sddm.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): greet with Omarchy's SDDM, default to the Omarchy session (#1541)
  hosts/p620/configuration.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(sddm): default to the Omarchy session, not GNOME (#1549)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(sddm): default to the Omarchy session, not GNOME (#1549) (#1550)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

fix(k3d): start the bootstrap from a timer, not multi-user.target (#1551)
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): start the bootstrap from a timer, not multi-user.target (#1551) (#1552)
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(nixarchy): enable dictation, drop t3-code
  nixarchy-apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(nixarchy): enable dictation, drop t3-code (#1553)
  nixarchy-apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs 9fbb54b3 → 83199d0d
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 9fbb54b3 → 83199d0d (#1554)
  flake.lock
Due: none

chore(citrix): note the requireFile tarball is gone
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(citrix): note the requireFile tarball is gone (#1555)
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): force Chrome ANGLE onto native GL to stop EGL_BAD_MATCH glitches
  hosts/razer/configuration.nix
  hosts/razer/nixos/override/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): force Chrome ANGLE onto native GL to stop EGL_BAD_MATCH glitches (#1556)
  hosts/razer/configuration.nix
  hosts/razer/nixos/override/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): put chrome --use-angle=gl where it actually applies
  Users/olafkfreund/razer_home.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/override/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): put chrome --use-angle=gl where it actually applies (#1557)
  Users/olafkfreund/razer_home.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/override/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): switch power management from TLP to power-profiles-daemon
  hosts/razer/nixos/cpu.nix
  hosts/razer/nixos/power.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): switch power management from TLP to power-profiles-daemon (#1558)
  hosts/razer/nixos/cpu.nix
  hosts/razer/nixos/power.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gnome): drop gnome-photos, removed from nixpkgs
  home/desktop/gnome/apps.nix
  modules/services/gnome/gnome-services.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs 83199d0d → d2f67949
  flake.lock
Due: none

fix(gnome): drop gnome-photos, removed from nixpkgs (#1559)
  flake.lock
  home/desktop/gnome/apps.nix
  modules/services/gnome/gnome-services.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(lanmouse): take the nixpkgs build, crates.io 403s the fetcher
  home/desktop/lanmouse/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(stylix): drop the gtksourceview target, it poisons the cache
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix: unbreak the build after the nixpkgs bump (crates.io 403, gtksourceview cache miss) (#1560)
  flake.lock
  home/desktop/lanmouse/default.nix
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1561)
  flake.lock
Due: none
