Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

feat(skills): declare local skills once, install for every agent (#1963)
  home/development/claude-code-skills/backstage-patterns/SKILL.md
  home/development/claude-code-skills/cosmic-ui-design-skill/AGENTS.md
  home/development/claude-code-skills/cosmic-ui-design-skill/PROJECT_STRUCTURE.md
  home/development/claude-code-skills/cosmic-ui-design-skill/QUICK_REFERENCE.md
  home/development/claude-code-skills/cosmic-ui-design-skill/README.md
  home/development/claude-code-skills/cosmic-ui-design-skill/SKILL.md
  home/development/claude-code-skills/cosmic-ui-design-skill/USAGE.md
  home/development/claude-code-skills/cosmic-ui-design-skill/agents.json
  home/development/claude-code-skills/cosmic-ui-design-skill/skill.json
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/dns/scripts/dns.sh
  home/development/claude-code-skills/fides/SKILL.md
  home/development/claude-code-skills/fides/reference/commands.md
  home/development/claude-code-skills/fides/reference/configuration.md
  home/development/claude-code-skills/fides/reference/mcp-and-management.md
  home/development/claude-code-skills/fides/reference/pipelines.md
  home/development/claude-code-skills/linkedin-post/SKILL.md
  home/development/claude-code-skills/nixos-standards/SKILL.md
  home/development/claude-code-skills/reddit-post/SKILL.md
  home/syncthing-stignore.nix
  intent/2026-09-22-tbd-local-skills-all-agents.md
  plan/2026-09-22-tbd-local-skills-all-agents.md
  spec/2026-09-22-tbd-local-skills-all-agents.md
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(theme): switch the Omarchy theme to osaka-jade
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(theme): switch the Omarchy theme to osaka-jade (#1964)
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1965)
  flake.lock
Due: none

feat(hyprflip): commit the Hyprflip wiring p620 already runs (#1968)
  flake.lock
  flake.nix
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): approve 2026-09-22-1967-hyprflip-hy3-containers (#1967)
  intent/2026-09-22-1967-hyprflip-hy3-containers.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft hyprflip hy3 containers on p620 (#1967)
  intent/2026-09-22-1967-hyprflip-hy3-containers.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft hyprflip hy3 containers on p620 (#1967)
  spec/2026-09-22-1967-hyprflip-hy3-containers.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-22-1967-hyprflip-hy3-containers (#1967)
  spec/2026-09-22-1967-hyprflip-hy3-containers.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft hyprflip hy3 containers on p620 (#1967)
  plan/2026-09-22-1967-hyprflip-hy3-containers.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-22-1967-hyprflip-hy3-containers (#1967)
  plan/2026-09-22-1967-hyprflip-hy3-containers.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(hyprflip): load the hy3 container provider on p620 (#1967)
  hosts/common/nixos/omarchy-hyprflip.nix
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(p620): add bubblewrap to the nixarchy apps (#1968)
  hosts/p620/nixarchy/apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft 2026-09-22-1971-plugin-browser-panel (#1971)
  intent/2026-09-22-1971-plugin-browser-panel.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-22-1971-plugin-browser-panel (#1971)
  intent/2026-09-22-1971-plugin-browser-panel.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-09-22-1971-plugin-browser-panel (#1971)
  spec/2026-09-22-1971-plugin-browser-panel.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-22-1971-plugin-browser-panel (#1971)
  spec/2026-09-22-1971-plugin-browser-panel.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-09-22-1971-plugin-browser-panel (#1971)
  plan/2026-09-22-1971-plugin-browser-panel.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-22-1971-plugin-browser-panel (#1971)
  plan/2026-09-22-1971-plugin-browser-panel.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(omarchy): Plugin Browser as Add Plugin and on Super+Alt+U (#1971)
  hosts/common/nixos/omarchy-plugin-browser.nix
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): wrap a long line for markdownlint, no content change (#1971)
  plan/2026-09-22-1971-plugin-browser-panel.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(omarchy): Plugin Browser on razer too (#1971)
  hosts/razer/nixos/nixarchy.nix
  plan/2026-09-22-1971-plugin-browser-panel.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(omarchy): Plugin Browser as Add Plugin and on Super+Alt+U (#1971) (#1974)
  hosts/common/nixos/omarchy-plugin-browser.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  intent/2026-09-22-1971-plugin-browser-panel.md
  plan/2026-09-22-1971-plugin-browser-panel.md
  spec/2026-09-22-1971-plugin-browser-panel.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(p620): add bubblewrap to the nixarchy apps (#1968) (#1970)
  hosts/p620/nixarchy/apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(hyprflip): load the hy3 container provider on p620 (#1967) (#1972)
  hosts/common/nixos/omarchy-hyprflip.nix
  hosts/p620/nixos/nixarchy.nix
  intent/2026-09-22-1967-hyprflip-hy3-containers.md
  plan/2026-09-22-1967-hyprflip-hy3-containers.md
  spec/2026-09-22-1967-hyprflip-hy3-containers.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(hyprflip): commit the Hyprflip wiring p620 already runs (#1968) (#1969)
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-hyprflip.nix
  hosts/p620/nixos/nixarchy.nix
  intent/2026-09-22-1967-hyprflip-hy3-containers.md
  plan/2026-09-22-1967-hyprflip-hy3-containers.md
  spec/2026-09-22-1967-hyprflip-hy3-containers.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): approve 2026-09-23-1973-omacards-declarative (#1973)
  intent/2026-09-23-1973-omacards-declarative.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft omacards declarative on p620 (#1973)
  plan/2026-09-23-1973-omacards-declarative.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft omacards declarative on p620 (#1973)
  spec/2026-09-23-1973-omacards-declarative.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-23-1973-omacards-declarative (#1973)
  spec/2026-09-23-1973-omacards-declarative.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft omacards declarative on p620 (#1973)
  intent/2026-09-23-1973-omacards-declarative.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-23-1973-omacards-declarative (#1973)
  plan/2026-09-23-1973-omacards-declarative.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump ai-mirror to 093a4e9
  flake.lock
Due: none

feat(hyprflip): declare OmaCards, its helper and shortcuts (#1973)
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-hyprflip.nix
  plan/2026-09-23-1973-omacards-declarative.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(hyprflip): declare OmaCards, its helper and shortcuts (#1973) (#1976)
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-hyprflip.nix
  intent/2026-09-23-1973-omacards-declarative.md
  plan/2026-09-23-1973-omacards-declarative.md
  spec/2026-09-23-1973-omacards-declarative.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixarchy to 3ed0dea for the Codex skill fix
  flake.lock
Due: none

fix(skills): stop installing nix-skills twice for Antigravity
  home/development/claude-code-skills/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump ai-mirror to 093a4e9 (#1975)
  flake.lock
Due: none
