Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

chore(flake): bump all (nixpkgs unchanged) (#2229)
  flake.lock
Due: none

docs(intent): draft 2026-10-09-2230-craftapps (#2230)
  intent/2026-10-09-2230-craftapps.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-09-2230-craftapps (#2230)
  intent/2026-10-09-2230-craftapps.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-10-09-2230-craftapps (#2230)
  spec/2026-10-09-2230-craftapps.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-09-2230-craftapps (#2230)
  spec/2026-10-09-2230-craftapps.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-10-09-2230-craftapps (#2230)
  plan/2026-10-09-2230-craftapps.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-09-2230-craftapps (#2230)
  plan/2026-10-09-2230-craftapps.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2231)
  flake.lock
Due: none

feat(desktop): install the ArtCraft Crafting Apps on p620 and razer (#2230)
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/desktop/craftapps.nix
  modules/desktop/default.nix
  plan/2026-10-09-2230-craftapps.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): install the ArtCraft Crafting Apps on p620 and razer (#2230) (#2232)
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  intent/2026-10-09-2230-craftapps.md
  modules/desktop/craftapps.nix
  modules/desktop/default.nix
  plan/2026-10-09-2230-craftapps.md
  spec/2026-10-09-2230-craftapps.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to 2.31226.0 (#2233)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to 2.31226.0 (#2233) (#2234)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.296 (#2235)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.296 (#2235) (#2236)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 2.31226.1
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 2.31226.1 (#2239)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.3.2-5813501495738368
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.3.2-5813501495738368 (#2240)
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

fix(spotifast): skip upstream's broken localization test
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(spotifast): skip upstream's broken localization test (#2242)
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft 2026-10-10-2243-nixos-tfm (#2243)
  intent/2026-10-10-2243-nixos-tfm.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): record decisions for 2026-10-10-2243-nixos-tfm (#2243)
  intent/2026-10-10-2243-nixos-tfm.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-10-2243-nixos-tfm (#2243)
  intent/2026-10-10-2243-nixos-tfm.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-10-10-2243-nixos-tfm (#2243)
  spec/2026-10-10-2243-nixos-tfm.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-10-2243-nixos-tfm (#2243)
  spec/2026-10-10-2243-nixos-tfm.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-10-10-2243-nixos-tfm (#2243)
  plan/2026-10-10-2243-nixos-tfm.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-10-2243-nixos-tfm (#2243)
  plan/2026-10-10-2243-nixos-tfm.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged) (#2244)
  flake.lock
Due: none
