Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

fix(tmux-palette): absolute bun path + extra M-p / M-Space bindings (#555)
  home/shell/tmux/default.nix
  pkgs/tmux-palette/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux-palette): set Gruvbox Dark as the active theme
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux-palette): set Gruvbox Dark as the active theme (#556)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code): add /team global slash command for agent-team dispatch
  home/development/claude-code-commands/default.nix
  home/development/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code): add /team global slash command for agent-team dispatch (#557)
  home/development/claude-code-commands/default.nix
  home/development/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux-palette): correct theme.json schema + use stylix colors directly
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux-palette): correct theme.json schema + use stylix colors directly (#558)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to v0.2026.05.18.05.32.stable_02
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

feat(antigravity-ide): rename + bump to 2.0.1 (full Electron rewrite)
  Users/olafkfreund/profile.nix
  pkgs/antigravity-2x/LICENSE.upstream
  pkgs/antigravity-2x/package.nix
  pkgs/antigravity-ide/package.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(antigravity-ide): rename + bump to 2.0.1 (full Electron rewrite) (#559)
  Users/olafkfreund/profile.nix
  pkgs/antigravity-2x/LICENSE.upstream
  pkgs/antigravity-2x/package.nix
  pkgs/antigravity-ide/package.nix
  pkgs/default.nix
  pkgs/warp-terminal/versions.json
Due: nixpkgs-fmt, statix, deadnix, json-format, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai): replace gemini-cli with Antigravity CLI (agy) — hard-cut
  .claude/commands/update-gemini.md
  home/development/gemini-cli/default.nix
  home/shell/tmux/default.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/ai/antigravity-cli.nix
  modules/ai/default.nix
  modules/ai/gemini-cli.nix
  modules/ai/providers/gemini.nix
  modules/ai/providers/unified-client.nix
  modules/common/features-impl.nix
  modules/common/features.nix
  overlays/custom-packages.nix
  pkgs/antigravity-cli/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai): replace gemini-cli with Antigravity CLI (agy) — hard-cut (#560)
  .claude/commands/update-gemini.md
  home/development/gemini-cli/default.nix
  home/shell/tmux/default.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/ai/antigravity-cli.nix
  modules/ai/default.nix
  modules/ai/gemini-cli.nix
  modules/ai/providers/gemini.nix
  modules/ai/providers/unified-client.nix
  modules/common/features-impl.nix
  modules/common/features.nix
  overlays/custom-packages.nix
  pkgs/antigravity-cli/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai): install Google Antigravity Python SDK from PyPI wheel
  Users/olafkfreund/profile.nix
  pkgs/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai): install Google Antigravity Python SDK from PyPI wheel (#561)
  Users/olafkfreund/profile.nix
  pkgs/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#563)
  flake.lock
Due: none

fix(p620): add systemd-resolved DNS fallback (#564)
  _typos.toml
  hosts/p620/configuration.nix
  hosts/p620/nixos/dns-fallback.nix
Due: nixpkgs-fmt, statix, deadnix, taplo, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): add systemd-resolved DNS fallback (#564) (#565)
  _typos.toml
  hosts/p620/configuration.nix
  hosts/p620/nixos/dns-fallback.nix
Due: nixpkgs-fmt, statix, deadnix, taplo, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native binary 2.1.145 → 2.1.146 (#562)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native binary 2.1.145 → 2.1.146 (#562) (#566)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(antigravity-ide): bump to 2.0.2-5949548972081152
  pkgs/antigravity-ide/package.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(antigravity-ide): bump to 2.0.2-5949548972081152 (#567)
  pkgs/antigravity-ide/package.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux): style display-popup chrome to match Stylix gruvbox (#569)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): enable headless GNOME Remote Desktop via feature flag
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer/p620): auto-start GNOME Remote Desktop headless listener
  modules/desktop/gnome-remote-desktop.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux): style display-popup chrome to match Stylix gruvbox (#569) (#570)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620): self-hosted skill-pool registry
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  modules/services/skill-pool.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gitignore): ignore .aifactory/ local agent state
  .gitignore
Due: none

chore(flake): bump all (nixpkgs unchanged) (#573)
  flake.lock
Due: none

fix(razer/p620): auto-start GNOME Remote Desktop headless listener (#568)
  hosts/p510/configuration.nix
  modules/desktop/gnome-remote-desktop.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gitignore): ignore .aifactory/ local agent state (#572)
  .gitignore
Due: none

feat(p620): self-hosted skill-pool registry (#571)
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  modules/services/skill-pool.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(p620,razer): remove cosmic-ext-connect and openclaw
  Users/olafkfreund/p620_home.nix
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/desktop/cosmic.nix
  modules/nix/nix.nix
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(p620,razer): remove cosmic-ext-connect and openclaw (#575)
  Users/olafkfreund/p620_home.nix
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/desktop/cosmic.nix
  modules/nix/nix.nix
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#578)
  flake.lock
Due: none

feat(p620): ollama-rocm coding-model server (Phase 1)
  docs/plans/2026-05-22-ollama-p620-litellm-design.md
  hosts/p620/configuration.nix
  modules/services/ollama.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620): litellm-router + tailscale-serve (Phase 2)
  hosts/p620/configuration.nix
  hosts/p620/nixos/tailscale-serve.nix
  modules/services/litellm-router.nix
  secrets.nix
  secrets/litellm-master-key.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620): ollama-rocm coding-model server (Phase 1) (#579)
  docs/plans/2026-05-22-ollama-p620-litellm-design.md
  hosts/p620/configuration.nix
  modules/services/ollama.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
