Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

feat(omarchy): workspace groups across displays, shared by p620 and razer (#1512)
  hosts/common/nixos/omarchy-workspaces.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(omarchy): workspace groups across displays, shared by p620 and razer (#1512) (#1513)
  hosts/common/nixos/omarchy-workspaces.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

nixarchy: fix every web app shortcut, and cliamp's keybinding
  flake.lock
Due: none

nixarchy: fix every web app shortcut, and cliamp's keybinding (#1514)
  flake.lock
Due: none

nixarchy: name the desktop user, and bump
  flake.lock
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(omarchy): key workspace blocks on monitor name, add rogue-window grab (#1517)
  hosts/common/nixos/omarchy-workspaces.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

nixarchy: name the desktop user, and bump (#1516)
  flake.lock
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1519)
  flake.lock
Due: none

chore(claude-code): auto-update to 2.1.251
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 1.40609.0
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1523)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1524)
  flake.lock
Due: none

fix(overlays): skip gtksourceview5 sandbox tests (#1525)
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(pkgs): remove unused newelle package (#1527)
  Users/olafkfreund/p620_home.nix
  home/desktop/gnome/apps.nix
  pkgs/default.nix
  pkgs/newelle/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(overlays): skip gtksourceview5 sandbox tests (#1525) (#1526)
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(pkgs): remove unused newelle package (#1527) (#1528)
  Users/olafkfreund/p620_home.nix
  home/desktop/gnome/apps.nix
  pkgs/default.nix
  pkgs/newelle/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(omarchy): key workspace blocks on monitor name, add rogue-window grab (#1517) (#1518)
  hosts/common/nixos/omarchy-workspaces.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(pkgs): remove 23 never-used packages from all hosts (#1529)
  Users/olafkfreund/profile.nix
  home/desktop/com.nix
  home/desktop/sound/default.nix
  home/development/shell.nix
  home/development/windsurf.nix
  modules/cloud/packages.nix
  modules/containers/docker.nix
  modules/development/go.nix
  modules/development/shell.nix
  modules/packages/sets.nix
  modules/services/gnome/gnome-services.nix
  modules/system-utils/utils.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

refactor(home): drop the windsurf editor module, keep its nix tooling (#1529)
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/p510_home.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/profile.nix
  Users/olafkfreund/razer_home.nix
  home/development/default.nix
  home/development/windsurf.nix
  home/profiles/developer/default.nix
  home/profiles/server-admin/default.nix
  modules/development/pre-commit.nix
  modules/pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

refactor(home): drop nix-tooling duplicates from three home modules (#1529)
  home/development/lsp-servers.nix
  home/development/nixd.nix
  home/development/vscode.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(pkgs): remove never-used packages, retire the windsurf module (#1530)
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/p510_home.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/profile.nix
  Users/olafkfreund/razer_home.nix
  home/desktop/com.nix
  home/desktop/sound/default.nix
  home/development/default.nix
  home/development/lsp-servers.nix
  home/development/nixd.nix
  home/development/shell.nix
  home/development/vscode.nix
  home/development/windsurf.nix
  home/profiles/developer/default.nix
  home/profiles/server-admin/default.nix
  modules/cloud/packages.nix
  modules/containers/docker.nix
  modules/development/go.nix
  modules/development/pre-commit.nix
  modules/development/shell.nix
  modules/packages/sets.nix
  modules/pkgs/default.nix
  modules/services/gnome/gnome-services.nix
  modules/system-utils/utils.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

perf(eval): make evaluation IFD-free, share one pkgs-unstable (#1531)
  flake.nix
  home/desktop/theme/qt.nix
  modules/development/claude-hooks.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

perf(eval): make evaluation IFD-free, share one pkgs-unstable (#1531) (#1532)
  flake.nix
  home/desktop/theme/qt.nix
  modules/development/claude-hooks.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(home): drop 70 home.packages entries the system already provides (#1533)
  Users/common/base-home.nix
  Users/olafkfreund/p510_home.nix
  home/desktop/theme/qt.nix
  home/desktop/wayland/shell.nix
  home/development/codex-cli.nix
  home/development/gitlab/default.nix
  home/development/lsp-servers.nix
  home/profiles/developer/default.nix
  home/profiles/server-admin/default.nix
  home/shell/clipse/default.nix
  home/shell/yazi/default.nix
  home/shell/zsh-ai-cmd.nix
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(home): tidy comments left behind by the dedupe (#1533)
  Users/common/base-home.nix
  Users/olafkfreund/p510_home.nix
  home/desktop/wayland/shell.nix
  home/development/gitlab/default.nix
  home/development/lsp-servers.nix
  home/profiles/developer/default.nix
  home/profiles/server-admin/default.nix
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(home): drop 70 home.packages entries the system already provides (#1534)
  Users/common/base-home.nix
  Users/olafkfreund/p510_home.nix
  home/desktop/theme/qt.nix
  home/desktop/wayland/shell.nix
  home/development/codex-cli.nix
  home/development/gitlab/default.nix
  home/development/lsp-servers.nix
  home/profiles/developer/default.nix
  home/profiles/server-admin/default.nix
  home/shell/clipse/default.nix
  home/shell/yazi/default.nix
  home/shell/zsh-ai-cmd.nix
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1535)
  flake.lock
Due: none

fix(home): stop exporting BROWSER so xdg-settings resolves properly (#1536)
  home/development/languages.nix
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home): stop exporting BROWSER so xdg-settings resolves properly (#1536) (#1537)
  home/development/languages.nix
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(xdg): let Omarchy own ~/.local/share/applications/mimeapps.list (#1538)
  home/desktop/com.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(xdg): let Omarchy own ~/.local/share/applications/mimeapps.list (#1538) (#1539)
  home/desktop/com.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

p620: add QtMultimedia for Omarchy shell plugins
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixarchy for the web-app browser fix (#1536)
  flake.lock
Due: none

feat(gogcli): quick capture to Google Tasks and Drive
  home/shell/gogcli/default.nix
  home/shell/gogcli/omarchy-cmd-note.sh
  home/shell/gogcli/omarchy-cmd-upload.sh
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(flake): bump nixarchy for the web-app browser fix (#1540)
  flake.lock
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(gogcli): new-mail notifications and a Meet keybinding
  flake.lock
  home/shell/gogcli/default.nix
  home/shell/gogcli/omarchy-cmd-meet.sh
  home/shell/gogcli/omarchy-gmail-watch.sh
  hosts/common/nixos/omarchy-gog.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check
