Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

chore(flake): bump all (nixpkgs unchanged) (#1258)
  flake.lock
Due: none

feat(p510): install smartmontools and enable smartd (#1259)
  hosts/p510/nixos/resilience.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): install smartmontools and enable smartd (#1259) (#1260)
  hosts/p510/nixos/resilience.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1261)
  flake.lock
Due: none

chore(claude-code): update to 2.1.224 (#1262)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.224 (#1262) (#1263)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump cli, hub and sdk to latest
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump cli, hub and sdk to latest (#1264)
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1265)
  flake.lock
Due: none

feat(editors): add Zed with Nix LSP, dev extensions and Claude agent (#1268)
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/p510_home.nix
  Users/olafkfreund/profile.nix
  home/development/default.nix
  home/development/zed-editor.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(editors): add Zed with Nix LSP, dev extensions and Claude agent (#1268) (#1269)
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/p510_home.nix
  Users/olafkfreund/profile.nix
  home/development/default.nix
  home/development/zed-editor.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1270)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1271)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1274)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1276)
  flake.lock
Due: none

chore(flake): bump all — nixpkgs b7c2ada9 → f13ff45a
  flake.lock
Due: none

chore(flake): bump all — nixpkgs b7c2ada9 → f13ff45a (#1278)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1280)
  flake.lock
Due: none

chore(claude-code): update to 2.1.226 (#1273)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.226 (#1273) (#1281)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump hub to 2.6.0
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to v0.2026.08.05.09.03.stable_01
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(antigravity): bump hub to 2.6.0 (#1282)
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to v0.2026.08.05.09.03.stable_01 (#1283)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged) (#1284)
  flake.lock
Due: none

feat(claude-code): add 1password CLI skill
  home/development/claude-code-skills/1password/SKILL.md
  home/development/claude-code-skills/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-code): correct 1password skill preflight and vault name
  home/development/claude-code-skills/1password/SKILL.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(claude-code): add 1password CLI skill (#1285)
  home/development/claude-code-skills/1password/SKILL.md
  home/development/claude-code-skills/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check
