Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

feat(agents): include global Claude standards in Codex instructions (#1861) (#1862)
  home/development/agent-rules.nix
  home/development/agent-rules/codex-standards.md
  intent/2026-09-16-1861-global-codex-instructions.md
  plan/2026-09-16-1861-global-codex-instructions.md
  spec/2026-09-16-1861-global-codex-instructions.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs ef34387d → efe6f071
  flake.lock
Due: none

chore(flake): bump all — nixpkgs ef34387d → efe6f071 (#1864)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1865)
  flake.lock
Due: none

fix(lazyvim): use the default dashboard, pin herdr-agents off a broken commit
  home/shell/lazyvim/default.nix
  home/shell/lazyvim/lazyvim/lua/plugins/alpha-nvim.lua
  home/shell/lazyvim/lazyvim/lua/plugins/herdr-agents.lua
Due: nixpkgs-fmt, statix, deadnix, stylua, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home): add openrazer Python library for omarazer plugin
  home/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home): correct openrazer python3 wrapper for omarazer plugin
  home/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(browsers): add Chrome performance optimizations for Razer Blade
  Users/olafkfreund/razer_home.nix
  flake.lock
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(browsers): put Chrome's ANGLE on Vulkan on razer
  Users/olafkfreund/razer_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(flake): restore lock reverted in 03687776a, unbreaking atuin
  flake.lock
Due: none

chore(claude-code): auto-update to 2.1.274
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.274 (#1870)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.4-6085322963025920
  pkgs/antigravity-cli/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.4-6085322963025920 (#1871)
  pkgs/antigravity-cli/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): nixarchy selection written per-host, imported from root (#1872)
  intent/2026-09-17-1872-nixarchy-apps-per-host-import.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-17-1872-nixarchy-apps-per-host-import (#1872)
  intent/2026-09-17-1872-nixarchy-apps-per-host-import.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec,plan): approve 2026-09-17-1872-nixarchy-apps-per-host-import (#1872)
  plan/2026-09-17-1872-nixarchy-apps-per-host-import.md
  spec/2026-09-17-1872-nixarchy-apps-per-host-import.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(nixarchy): import the selection from the file apply writes (#1872)
  hosts/p510/nixarchy-apps.nix
  hosts/p510/nixarchy/advanced.nix
  hosts/p510/nixarchy/apps.nix
  hosts/p510/nixarchy/services.nix
  hosts/p510/nixos/nixarchy.nix
  hosts/p620/nixarchy-apps.nix
  hosts/p620/nixarchy/advanced.nix
  hosts/p620/nixarchy/apps.nix
  hosts/p620/nixarchy/services.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixarchy-apps.nix
  hosts/razer/nixarchy/advanced.nix
  hosts/razer/nixarchy/apps.nix
  hosts/razer/nixarchy/services.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(pre-commit): stop rewriting the files nixarchy-apply owns (#1872)
  .pre-commit-config.yaml
  hosts/p510/nixarchy/advanced.nix
  hosts/p510/nixarchy/apps.nix
  hosts/p510/nixarchy/services.nix
  hosts/p620/nixarchy/advanced.nix
  hosts/p620/nixarchy/apps.nix
  hosts/p620/nixarchy/services.nix
  hosts/razer/nixarchy/advanced.nix
  hosts/razer/nixarchy/apps.nix
  hosts/razer/nixarchy/services.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): label the fenced block for markdownlint (#1872)
  intent/2026-09-17-1872-nixarchy-apps-per-host-import.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

ci(lint): skip the files nixarchy-apply owns in the formatting check (#1872)
  .github/workflows/ci.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(flake): drop the gnome-quick-web-apps input, its repo is gone
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(mcp): drop playwright-mcp, its webkit fails auto-patchelf (#1875)
  home/development/claude-code-mcp.nix
  home/development/claude-desktop/mcp-config.nix
  modules/ai/mcp-servers.nix
  modules/packages/sets.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs efe6f071 → b1b87598
  flake.lock
Due: none

chore(flake): bump all — nixpkgs efe6f071 → b1b87598 (#1877)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1878)
  flake.lock
Due: none

razer: name nixi's agents, so the Claude adapter is pinned
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home): give the user's python3 openrazer, drop the wrapper
  Users/olafkfreund/profile.nix
  home/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(nixarchy): install the nixarchy packages plugin on p620 and razer
  flake.lock
  flake.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

nixi: sparkles icon, and pin Claude's ACP adapter on p620
  flake.lock
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(nixarchy): install the nixarchy packages plugin on razer
  flake.lock
  flake.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

flake: nixarchy 900a80d -> b1e0ac2, bringing nixi 569adea -> 6d7a61b
  flake.lock
Due: none

docs(razer): name the GPU this machine actually has
  hosts/razer/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

flake: bump ai-mirror 9e07e70 -> 2b25c54
  flake.lock
Due: none

chore(claude-code): auto-update to 2.1.276
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.276 (#1882)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 2.2553.0
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 2.2553.0 (#1883)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
