Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        language: system
        files: '\.nix$'
        description: Format Nix files using nixpkgs-fmt
      - id: statix
        name: Lint Nix files
        entry: statix check
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Lint Nix files for common issues
      - id: deadnix
        name: Check for dead Nix code
        entry: deadnix --fail
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Check for dead/unused Nix code
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        files: '\.sh$'
        args: [-e, SC1091, -e, SC2034, -e, SC2086]
        description: Lint shell scripts with shellcheck
      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        language: system
        files: '\.sh$'
        args: [-w, -i, "2", -bn, -ci]
        description: Format shell scripts with shfmt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        description: Remove trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-yaml
        description: Validate YAML files
      - id: check-json
        description: Validate JSON files
      - id: check-toml
        description: Validate TOML files
      - id: mixed-line-ending
        description: Check for mixed line endings
      - id: check-executables-have-shebangs
        description: Ensure executables have shebangs
      - id: check-shebang-scripts-are-executable
        description: Ensure shebang scripts are executable
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        args: [--fix, --config, .markdownlint.json]
        description: Lint and fix Markdown files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Format files with Prettier
        types_or: [json, yaml, markdown]
        description: Format JSON, YAML, and Markdown files
  - repo: local
    hooks:
      - id: flake-check
        name: Check Nix flake
        entry: nix flake check --no-build
        language: system
        files: 'flake\.(nix|lock)$'
        pass_filenames: false
        description: Validate Nix flake configuration
      - id: just-validate
        name: Validate justfile
        entry: just --list
        language: system
        files: "justfile$"
        pass_filenames: false
        description: Validate justfile syntax

fix(citrix): update deprecated enchant2 to enchant_2
  docs/CITRIX-WORKSPACE-SETUP.md
  overlays/citrix-workspace.nix
Due: nixpkgs-fmt, statix, deadnix

chore(intune): disable Microsoft Intune Company Portal
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.11
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(flake): update flake inputs
  flake.lock
Due: flake-check

fix(p620): disable Stylix GTK theming to prevent COSMIC conflicts
  Users/olafkfreund/p620_home.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.12
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(cosmic-connect): prepare integration (temporarily disabled)
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(cosmic-connect): enable integration for p620, razer, and samsung
  flake.lock
Due: flake-check

fix: temporarily disable cosmic-connect due to Rust compilation errors
  flake.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(p620): enable cosmic-connect with API compatibility fixes
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(samsung): enable cosmic-connect
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

chore(flake): update cosmic-connect to commit 237715d
  flake.lock
Due: flake-check

feat(laptops): enable system76-power on Samsung and Razer (#165)
  hosts/razer/nixos/power.nix
  hosts/samsung/nixos/power.nix
Due: nixpkgs-fmt, statix, deadnix

fix(razer): temporarily disable firewall for connectivity troubleshooting
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

chore(flake): update flake.lock after system76-power builds
  flake.lock
Due: flake-check

feat(networking): add explicit SSH firewall config and disable nftables on Samsung/Razer
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat(p620): disable firewall for secure network
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat(ai): update gemini-cli to v0.24.0
  flake.nix
  home/development/gemini-cli/default.nix
  modules/ai/gemini-cli.nix
  modules/common/features-impl.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

flake.lock: Update
  flake.lock
Due: flake-check

fix(pkgs/aurynk): replace launcher script with python entry point
  pkgs/aurynk/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(pkgs/aurynk): fix makeWrapperArgs syntax
  pkgs/aurynk/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(pkgs): add aurynk package
  flake.nix
  pkgs/aurynk/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(hosts): add aurynk to p620 and razer
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
Due: nixpkgs-fmt, statix, deadnix

fix(pkgs/aurynk): fix resource loading and tray helper interpreter
  pkgs/aurynk/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(gemini-cli): upgrade from 0.24.0 to 0.24.4
  flake.nix
  home/development/gemini-cli/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(security): remove fail2ban from all hosts
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/nixos/packages/host-specific/server-packages.nix
  modules/security/firewall.nix
  modules/security/ssh-hardening.nix
  scripts/deployment-validation.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt

feat(pkgs): add quick-webapps 2.0.1
  flake.nix
  pkgs/default.nix
  pkgs/quick-webapps/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore: sync configuration and update tracking
  .claude/agents/documentation-sync.md
  .claude/commands/nix-module.md
  .claude/commands/nix-security.md
  .claude/commands/update-claude-code.md
  .claude/skills/github.md
  .envrc
  .gemini/agents/documentation-sync.md
  .gemini/commands/nix-module.md
  .gemini/commands/nix-security.md
  .gemini/commands/update-claude-code.md
  .gemini/skills/github.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  CLAUDE.md
  UPDATE-TRACKING-SUMMARY.md
  docs/CLAUDE-CODE-OPTIMIZATION.md
  docs/Nixos/COMMANDS-INDEX.md
  docs/Nixos/Command-System-Overview.md
  docs/Nixos/Quick-Reference.md
  docs/Nixos/README.md
  docs/Nixos/Update-Checker-Guide.md
  docs/UPDATE-WORKFLOW.md
  flake.lock
  hosts/common/nixos/hosts.nix
  hosts/common/shared-variables.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  pkgs/aurynk/default.nix
  pkgs/microsoft-defender-for-endpoint/README.md
  scripts/find-new-packages.sh
  scripts/preview-updates.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check

chore(gemini-cli): upgrade from 0.24.4 to 0.24.5
  flake.lock
  flake.nix
  home/development/gemini-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

refactor(config): remove vicinae file manager
  Users/common/features.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
  home/desktop/default.nix
  home/desktop/vicinae/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

docs: resolve remaining markdown linting issues in skills
  .gemini/skills/agenix/SKILL.md
  .gemini/skills/cargo2nix/SKILL.md
  .gemini/skills/cosmic-de/SKILL.md
  .gemini/skills/dankms/SKILL.md
  .gemini/skills/devenv/SKILL.md
  .gemini/skills/gemini-commands/SKILL.md
  .gemini/skills/gemini-hooks/SKILL.md
  .gemini/skills/github/SKILL.md
  .gemini/skills/gnome/SKILL.md
  .gemini/skills/home-manager/SKILL.md
  .gemini/skills/hyprland/SKILL.md
  .gemini/skills/mangowc/SKILL.md
  .gemini/skills/media/SKILL.md
  .gemini/skills/niri/SKILL.md
  .gemini/skills/nixcore/SKILL.md
  .gemini/skills/nixos-ops/SKILL.md
  .gemini/skills/node2nix/SKILL.md
  .gemini/skills/stylix/SKILL.md
  .gemini/skills/uv2nix/SKILL.md
Due: none

refactor(nvim): migrate completion to blink.cmp and update avante config
  flake.lock
  home/shell/lazyvim/lazyvim/init.lua
  home/shell/lazyvim/lazyvim/lua/config/lualine.lua
  home/shell/lazyvim/lazyvim/lua/plugins/avante.lua
  home/shell/lazyvim/lazyvim/lua/plugins/blink.lua
  home/shell/lazyvim/lazyvim/lua/plugins/cmp.lua
  home/shell/lazyvim/lazyvim/lua/plugins/copilot.lua
  home/shell/lazyvim/lazyvim/lua/plugins/lualine.lua
Due: flake-check

feat(p510): refactor media server folder structure to Trash Guides standard
  hosts/p510/nixos/plex.nix
Due: nixpkgs-fmt, statix, deadnix

feat(p510): add automated Recyclarr synchronization for Trash Guides
  hosts/p510/configuration.nix
  hosts/p510/nixos/recyclarr.nix
Due: nixpkgs-fmt, statix, deadnix

feat(p510): add Home Assistant with Tailscale and Nabu Casa integration
  hosts/p510/README.md
  hosts/p510/configuration.nix
  hosts/p510/nixos/tailscale-serve.nix
  modules/services/default.nix
  modules/services/home-assistant.nix
Due: nixpkgs-fmt, statix, deadnix

fix(p510): resolve port 8123 conflict and fix greetd flake check
  flake.lock
  hosts/p510/nixos/tailscale-serve.nix
  modules/services/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(greetd): use mkDefault for gnome-session command
  modules/services/greetd/greetd.nix
Due: nixpkgs-fmt, statix, deadnix

fix(greetd): disable by default to avoid conflicts with COSMIC greeter
  modules/services/greetd/greetd.nix
Due: nixpkgs-fmt, statix, deadnix
