Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

feat(commands): add /check-updates flake + package freshness audit (#856)
  .claude/commands/check-updates.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

fix(ops): drop stale nix-serve check from p620 health check
  scripts/health-checks/p620.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(ops): drop stale nix-serve check from p620 health check (#858)
  scripts/health-checks/p620.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(flake): bump all (nixpkgs unchanged) (#859)
  flake.lock
Due: none

chore(warp-terminal): bump to v0.2026.06.03.09.49.stable_03
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): bump to v0.2026.06.03.09.49.stable_03 (#860)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

fix(tmux): render calendar event time in Europe/London, not raw offset
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux): render calendar event time in Europe/London, not raw offset (#861)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux): calendar in host-local tz + drop finished events
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux): calendar in host-local tz + drop finished events (#862)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-code): stop notification spam — defer to tmux-ccm
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-code): stop notification spam — defer to tmux-ccm (#863)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(spice): gate spice-vdagentd behind opt-in guestAgent (stops razer spam)
  modules/virt/spice.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(spice): gate spice-vdagentd behind opt-in guestAgent (stops razer spam) (#864)
  modules/virt/spice.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(p620): remove unused skill-pool service
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  modules/services/skill-pool.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(p620): remove unused skill-pool service (#865)
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  modules/services/skill-pool.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update native CLI to 2.1.173 (#854)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update native CLI to 2.1.173 (#854) (#866)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(vscode): add factory.cfactoryUrl and make settings.json mutable
  home/development/claude-code-lsp.nix
  home/development/vscode.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai-tooling): add shared AGENTS.md + managed permissions allowlist
  AGENTS.md
  docs/AI-TOOLING-CUSTOMIZATION-PLAN.md
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai-tooling): shared AGENTS.md + managed permissions allowlist (Phase 1) (#868)
  AGENTS.md
  docs/AI-TOOLING-CUSTOMIZATION-PLAN.md
  home/development/claude-code-lsp.nix
  home/development/vscode.nix
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai-tooling): declarative Antigravity rules + additive MCP sync (Phase 2)
  home/development/antigravity-config.nix
  home/development/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai-tooling): declarative Antigravity rules + additive MCP sync (Phase 2) (#869)
  home/development/antigravity-config.nix
  home/development/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai-tooling): output styles + auto nixpkgs-fmt hook (Phase 3)
  home/development/claude-code-output-styles.nix
  home/development/default.nix
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai-tooling): output styles + auto nixpkgs-fmt hook (Phase 3) (#870)
  home/development/claude-code-output-styles.nix
  home/development/default.nix
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai-tooling): secure Antigravity github PAT via agenix + declarative agent curation
  home/development/antigravity-config.nix
  home/development/claude-code-agents.nix
  home/development/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(ai-tooling): github-mcp wrappers — use GITHUB_PERSONAL_ACCESS_TOKEN + stdio
  home/development/antigravity-config.nix
  home/development/claude-code-mcp.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ai-tooling): secure Antigravity GitHub PAT via agenix + declarative agent curation (#871)
  home/development/antigravity-config.nix
  home/development/claude-code-agents.nix
  home/development/claude-code-mcp.nix
  home/development/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

perf(zsh): drop oh-my-zsh + zplug, fix compinit cache, add enhancements
  docs/ZSH-IMPROVEMENT-PLAN.md
  home/shell/zsh-enhancements.nix
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

perf(zsh): drop oh-my-zsh + zplug, fix compinit cache, add enhancements (#872)
  docs/ZSH-IMPROVEMENT-PLAN.md
  home/shell/zsh-enhancements.nix
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gnome): keep gruvbox gtk/shell/icons + bibata cursor (stop Stylix clobbering)
  home/desktop/gnome/theme.nix
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gnome): keep gruvbox gtk/shell/icons + bibata cursor (stop Stylix clobbering) (#873)
  home/desktop/gnome/theme.nix
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(zsh): default command/result boxes OFF
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(zsh): default command/result boxes OFF (#874)
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux): nerd-font glyphs for Claude/Antigravity in the AI-tools palette
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux): nerd-font glyphs for Claude/Antigravity in the AI-tools palette (#875)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(nvim): local-Ollama coding stack + lang extras; drop codeium
  docs/NVIM-IMPROVEMENT-PLAN.md
  home/shell/lazyvim/lazyvim/lazyvim.json
  home/shell/lazyvim/lazyvim/lua/plugins/antigravity.lua
  home/shell/lazyvim/lazyvim/lua/plugins/blink.lua
  home/shell/lazyvim/lazyvim/lua/plugins/codecompanion.lua
  home/shell/lazyvim/lazyvim/lua/plugins/mason.lua
  home/shell/lazyvim/lazyvim/lua/plugins/minuet.lua
  home/shell/lazyvim/lazyvim/lua/plugins/oil.lua
Due: stylua, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(nvim): local-Ollama coding stack + lang extras; drop codeium (#876)
  docs/NVIM-IMPROVEMENT-PLAN.md
  home/shell/lazyvim/lazyvim/lazyvim.json
  home/shell/lazyvim/lazyvim/lua/plugins/antigravity.lua
  home/shell/lazyvim/lazyvim/lua/plugins/blink.lua
  home/shell/lazyvim/lazyvim/lua/plugins/codecompanion.lua
  home/shell/lazyvim/lazyvim/lua/plugins/mason.lua
  home/shell/lazyvim/lazyvim/lua/plugins/minuet.lua
  home/shell/lazyvim/lazyvim/lua/plugins/oil.lua
Due: stylua, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict
