Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

docs(spec): revise k3d node resolv.conf, recreate keeps state (#1497)
  spec/2026-09-23-1497-k3d-node-resolv-conf.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-23-1497-k3d-node-resolv-conf revision 2 (#1497)
  spec/2026-09-23-1497-k3d-node-resolv-conf.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): revise k3d node resolv.conf, recreate keeps state (#1497)
  plan/2026-09-23-1497-k3d-node-resolv-conf.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-23-1497-k3d-node-resolv-conf revision 2 (#1497)
  plan/2026-09-23-1497-k3d-node-resolv-conf.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(k3d): snapshot PVs and restore them pre-bound on cluster create (#1497)
  modules/containers/k3d.nix
  plan/2026-09-23-1497-k3d-node-resolv-conf.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): snapshot PVs and restore them pre-bound on cluster create (#1497) (#2005)
  modules/containers/k3d.nix
  plan/2026-09-23-1497-k3d-node-resolv-conf.md
  spec/2026-09-23-1497-k3d-node-resolv-conf.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): make cluster create work with the node resolver mount (#1497)
  modules/containers/k3d.nix
  plan/2026-09-23-1497-k3d-node-resolv-conf.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): make cluster create work with the node resolver mount (#1497) (#2006)
  modules/containers/k3d.nix
  plan/2026-09-23-1497-k3d-node-resolv-conf.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft k3d demo creds into agenix (#2007)
  intent/2026-09-24-2007-k3d-demo-creds-agenix.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-24-2007-k3d-demo-creds-agenix (#2007)
  intent/2026-09-24-2007-k3d-demo-creds-agenix.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft k3d demo creds into agenix (#2007)
  spec/2026-09-24-2007-k3d-demo-creds-agenix.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-24-2007-k3d-demo-creds-agenix (#2007)
  spec/2026-09-24-2007-k3d-demo-creds-agenix.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft k3d demo creds into agenix (#2007)
  plan/2026-09-24-2007-k3d-demo-creds-agenix.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-24-2007-k3d-demo-creds-agenix (#2007)
  plan/2026-09-24-2007-k3d-demo-creds-agenix.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(k3d): seed azure/gcp demo creds from agenix (#2007)
  modules/containers/k3d.nix
  secrets.nix
  secrets/factory-secret-azure-demo-creds.age
  secrets/factory-secret-gcp-demo-creds.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(k3d): seed azure/gcp demo creds from agenix (#2007) (#2008)
  intent/2026-09-24-2007-k3d-demo-creds-agenix.md
  modules/containers/k3d.nix
  plan/2026-09-24-2007-k3d-demo-creds-agenix.md
  secrets.nix
  secrets/factory-secret-azure-demo-creds.age
  secrets/factory-secret-gcp-demo-creds.age
  spec/2026-09-24-2007-k3d-demo-creds-agenix.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.281
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.281 (#2009)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

chore(deps): update flake inputs - daily automatic update (#2010)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2011)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2012)
  flake.lock
Due: none

chore(flake): bump nixarchy (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump nixarchy (nixpkgs unchanged) (#2014)
  flake.lock
Due: none

fix(theme-owner): absolute ghostty theme include
  modules/desktop/theme-owner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): approve 2026-09-23-2003-hyprland-from-hyprflip (#2003)
  intent/2026-09-23-2003-hyprland-from-hyprflip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-23-2003-hyprland-from-hyprflip (#2003)
  spec/2026-09-23-2003-hyprland-from-hyprflip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft p620 Hyprland from hyprflip's verified lock (#2003)
  intent/2026-09-23-2003-hyprland-from-hyprflip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft p620/razer Hyprland from hyprflip's verified lock (#2003)
  spec/2026-09-23-2003-hyprland-from-hyprflip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft p620/razer Hyprland from hyprflip's verified lock (#2003)
  plan/2026-09-23-2003-hyprland-from-hyprflip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-23-2003-hyprland-from-hyprflip (#2003)
  plan/2026-09-23-2003-hyprland-from-hyprflip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(hyprland): p620 and razer run hyprflip's nightly-verified Hyprland (#2003)
  flake.lock
  flake.nix
  hosts/common/nixos/hyprland-from-hyprflip.nix
  hosts/common/nixos/omarchy-sole-hyprland.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixarchy (nixpkgs unchanged) (#2017)
  flake.lock
Due: none

docs(intent): draft 2026-09-24-2019-nixarchy-menu-razer-p620 (#2019)
  intent/2026-09-24-2019-nixarchy-menu-razer-p620.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-24-2019-nixarchy-menu-razer-p620 (#2019)
  intent/2026-09-24-2019-nixarchy-menu-razer-p620.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-09-24-2019-nixarchy-menu-razer-p620 (#2019)
  spec/2026-09-24-2019-nixarchy-menu-razer-p620.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-24-2019-nixarchy-menu-razer-p620 (#2019)
  spec/2026-09-24-2019-nixarchy-menu-razer-p620.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
