Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

chore(flake): bump all (nixpkgs unchanged) (#1483)
  flake.lock
Due: none

razer: add the Omarchy desktop as an extra session
  flake.lock
  flake.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.250
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): auto-update to unknown
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(antigravity): auto-update to 1.1.22-5711547746615296
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

razer: add the Omarchy desktop as an extra session (#1484)
  flake.lock
  flake.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(sqlite-backup): read *arr databases and tolerate the dying blobs.db (#1490)
  hosts/p510/configuration.nix
  modules/services/sqlite-backup.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(sqlite-backup): read *arr databases and tolerate the dying blobs.db (#1490) (#1490)
  hosts/p510/configuration.nix
  modules/services/sqlite-backup.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(niri): pin eDP-1 to scale 1.0 on razer (stop DMS reverting to 1.5)
  home/desktop/wayland/niri.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(niri): pin eDP-1 to scale 1.0 on razer (stop DMS reverting to 1.5) (#1491)
  home/desktop/wayland/niri.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs 56c02bc0 → 9fbb54b3
  flake.lock
Due: none

fix(ci): make the flake-update workflow evaluate instead of build (#1494)
  .github/workflows/package-autoupdate.yml
  .github/workflows/update-flake.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix/update flake eval not build (#1494)
  .github/workflows/package-autoupdate.yml
  .github/workflows/update-flake.yml
  flake.lock
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(deps): update flake inputs - daily automatic update
  flake.lock.old
Due: none

fix(ci): stop the flake-update workflow committing its own scratch file
  .github/workflows/update-flake.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(ci): stop the flake-update workflow committing its own scratch file (#1496)
  .github/workflows/update-flake.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1499)
  flake.lock
Due: none

p620: add the Omarchy desktop as an extra session
  hosts/p620/configuration.nix
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

p620: add the Omarchy desktop as an extra session (#1500)
  hosts/p620/configuration.nix
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): session-scoped theme ownership on p620
  hosts/p620/configuration.nix
  modules/desktop/default.nix
  modules/desktop/dms-shell.nix
  modules/desktop/theme-owner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): enable theme ownership on razer too
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): session-scoped theme ownership on p620 (#1501)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/desktop/default.nix
  modules/desktop/dms-shell.nix
  modules/desktop/theme-owner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nixarchy): actually apply razer's app selection (#dictation, t3-code)
  hosts/razer/nixos/nixarchy.nix
  nixarchy-apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nixarchy): actually apply razer's app selection (#dictation, t3-code) (#1504)
  hosts/razer/nixos/nixarchy.nix
  nixarchy-apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(theme-owner): stop OMARCHY_PATH deciding who owns the colours
  modules/desktop/theme-owner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(theme-owner): stop OMARCHY_PATH deciding who owns the colours (#1506)
  modules/desktop/theme-owner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nhs): never leave the checkout stranded on the lock-bump branch
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

p620: import the app selection, and bump nixarchy
  flake.lock
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nhs): never leave the checkout stranded on the lock-bump branch (#1507)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

p620: import the app selection, and bump nixarchy (#1508)
  flake.lock
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): disable litellm-router until upstream boots under current fastapi
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): disable litellm-router until upstream boots under current fastapi (#1509)
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(omarchy): put the Omarchy session on the UK layout (#1510)
  hosts/common/nixos/omarchy-input.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(omarchy): put the Omarchy session on the UK layout (#1510) (#1511)
  hosts/common/nixos/omarchy-input.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check
