Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

feat(p510): run Nixarchy for real, with Sunshine for remote (#1584)
  hosts/p510/configuration.nix
  hosts/p510/nixos/nixarchy.nix
  hosts/p510/themes/stylix.nix
  modules/desktop/default.nix
  modules/desktop/sunshine.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): self-hosted GitHub runner for nixarchy CI (#1582)
  hosts/p510/configuration.nix
  hosts/p510/nixos/github-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): run Nixarchy for real, with Sunshine for remote (#1584) (#1585)
  hosts/p510/configuration.nix
  hosts/p510/nixos/nixarchy.nix
  hosts/p510/themes/stylix.nix
  modules/desktop/default.nix
  modules/desktop/sunshine.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nhs): fall back to boot when only nvidia units fail
  scripts/test-nvidia-fallback-guard.sh
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(nhs): fall back to boot when only nvidia units fail (#1586)
  scripts/test-nvidia-fallback-guard.sh
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(p510): re-register the runner over a stale entry of the same name
  hosts/p510/nixos/github-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): re-register the runner over a stale entry of the same name (#1587)
  hosts/p510/nixos/github-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1589)
  flake.lock
Due: none

fix(p510): trust the LAN origin, or the Sunshine web UI cannot be used
  hosts/p510/configuration.nix
  modules/desktop/sunshine.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): wake the display when a Sunshine client connects
  hosts/p510/configuration.nix
  modules/desktop/sunshine.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): make the Sunshine web UI usable, and wake the display on connect (#1590)
  hosts/p510/configuration.nix
  modules/desktop/sunshine.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1591)
  flake.lock
Due: none

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

docs: bring README, docs/ and the published site up to date (#1595)
  .github/workflows/docs.yml
  .markdownlint.json
  AGENTS.md
  CLAUDE.md
  README.md
  docs/NIXOS-ANTI-PATTERNS.md
  docs/Nixos/COMMANDS-INDEX.md
  docs/Nixos/Quick-Reference.md
  docs/README.md
  docs/applications/sunshine.md
  docs/architecture/desktop.md
  docs/architecture/template-system.md
  docs/architecture/theming.md
  docs/getting-started/overview.md
  docs/guides/HOST_SETUP.md
  docs/guides/deployment-guide.md
  docs/hosts/index.md
  docs/hosts/p510.md
  docs/hosts/p620.md
  docs/index.md
  mkdocs-full.yml
  mkdocs.yml
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, json-format, markdownlint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs: bring README, docs/ and the published site up to date (#1595) (#1596)
  .github/workflows/docs.yml
  .markdownlint.json
  AGENTS.md
  CLAUDE.md
  README.md
  docs/NIXOS-ANTI-PATTERNS.md
  docs/Nixos/COMMANDS-INDEX.md
  docs/Nixos/Quick-Reference.md
  docs/README.md
  docs/applications/sunshine.md
  docs/architecture/desktop.md
  docs/architecture/template-system.md
  docs/architecture/theming.md
  docs/getting-started/overview.md
  docs/guides/HOST_SETUP.md
  docs/guides/deployment-guide.md
  docs/hosts/index.md
  docs/hosts/p510.md
  docs/hosts/p620.md
  docs/index.md
  mkdocs-full.yml
  mkdocs.yml
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, json-format, markdownlint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

p510 takes two CI jobs at once
  hosts/p510/nixos/github-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

p510 takes two CI jobs at once (#1597)
  hosts/p510/nixos/github-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1598)
  flake.lock
Due: none

docs: remove documentation describing systems that do not exist (#1599)
  docs/AI-TOOLING-CUSTOMIZATION-PLAN.md
  docs/NIXOS-ANTI-PATTERNS.md
  docs/NVIM-IMPROVEMENT-PLAN.md
  docs/Nixos/Command-System-Overview.md
  docs/Nixos/README.md
  docs/PATTERNS.md
  docs/README.md
  docs/ZSH-IMPROVEMENT-PLAN.md
  docs/applications/CITRIX-WORKSPACE-SETUP.md
  docs/applications/GITLAB-RUNNER-SETUP.md
  docs/applications/flaresolverr-deployment.md
  docs/applications/meet.md
  docs/architecture/feature-flags.md
  docs/architecture/secrets.md
  docs/architecture/template-system.md
  docs/backstage.md
  docs/getting-started/repository-layout.md
  docs/guides/CACHE-STRATEGY.md
  docs/guides/CACHIX-ANALYSIS.md
  docs/guides/GEMINI_CLI_FEATURE.md
  docs/guides/GITHUB-WORKFLOW.md
  docs/guides/HOST_SETUP.md
  docs/guides/PACKAGE-SYSTEM-USAGE.md
  docs/guides/deployment-guide.md
  docs/plans/2026-05-22-ollama-p620-litellm-design.md
  docs/plans/2026-05-26-plex-llm-recommendations-design.md
  docs/plans/2026-05-26-plex-llm-recommendations-runtime.md
  docs/plans/2026-08-20-k3d-p510-to-p620-migration.md
  docs/tooling/claude-code-update-2.0.54.md
  mkdocs-full.yml
  mkdocs.yml
Due: yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs: remove documentation describing systems that do not exist (#1599) (#1600)
  docs/AI-TOOLING-CUSTOMIZATION-PLAN.md
  docs/NIXOS-ANTI-PATTERNS.md
  docs/NVIM-IMPROVEMENT-PLAN.md
  docs/Nixos/Command-System-Overview.md
  docs/Nixos/README.md
  docs/PATTERNS.md
  docs/README.md
  docs/ZSH-IMPROVEMENT-PLAN.md
  docs/applications/CITRIX-WORKSPACE-SETUP.md
  docs/applications/GITLAB-RUNNER-SETUP.md
  docs/applications/flaresolverr-deployment.md
  docs/applications/meet.md
  docs/architecture/feature-flags.md
  docs/architecture/secrets.md
  docs/architecture/template-system.md
  docs/backstage.md
  docs/getting-started/repository-layout.md
  docs/guides/CACHE-STRATEGY.md
  docs/guides/CACHIX-ANALYSIS.md
  docs/guides/GEMINI_CLI_FEATURE.md
  docs/guides/GITHUB-WORKFLOW.md
  docs/guides/HOST_SETUP.md
  docs/guides/PACKAGE-SYSTEM-USAGE.md
  docs/guides/deployment-guide.md
  docs/plans/2026-05-22-ollama-p620-litellm-design.md
  docs/plans/2026-05-26-plex-llm-recommendations-design.md
  docs/plans/2026-05-26-plex-llm-recommendations-runtime.md
  docs/plans/2026-08-20-k3d-p510-to-p620-migration.md
  docs/tooling/claude-code-update-2.0.54.md
  mkdocs-full.yml
  mkdocs.yml
Due: yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(meet): pull-able summarization model, Hyprland keybind (#1601)
  CLAUDE.md
  docs/applications/meet.md
  docs/applications/screensharing_cosmic.md
  docs/tooling/CLAUDE-CODE-OPTIMIZATION.md
  docs/tooling/Github-spec-kit.md
  hosts/common/nixos/omarchy-meet-binds.nix
  hosts/p510/nixos/nixarchy.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  modules/services/meeting-transcribe.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(meet): pull-able summarization model, Hyprland keybind (#1601) (#1602)
  CLAUDE.md
  docs/applications/meet.md
  docs/applications/screensharing_cosmic.md
  docs/tooling/CLAUDE-CODE-OPTIMIZATION.md
  docs/tooling/Github-spec-kit.md
  hosts/common/nixos/omarchy-meet-binds.nix
  hosts/p510/nixos/nixarchy.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  modules/services/meeting-transcribe.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Answer the ZFS question none of these machines are asking
  hosts/common/nixos/zfs-import.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): add pbpctrl for the Pixel Buds Omarchy bar plugin (#1604)
  hosts/razer/configuration.nix
  modules/services/bluetooth/bluetooth.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): add pbpctrl for the Pixel Buds Omarchy bar plugin (#1604) (#1605)
  hosts/common/nixos/zfs-import.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/services/bluetooth/bluetooth.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1606)
  flake.lock
Due: none

fix(meet): size the summarization model to the GPU (#1608)
  docs/applications/meet.md
  modules/services/meeting-transcribe.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(meet): size the summarization model to the GPU (#1608) (#1609)
  docs/applications/meet.md
  modules/services/meeting-transcribe.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1610)
  flake.lock
Due: none

fix(meet): restore diarization and never lose a recording (#1611)
  docs/applications/meet.md
  hosts/p620/configuration.nix
  modules/services/meeting-transcribe.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(meet): restore diarization and never lose a recording (#1611) (#1612)
  docs/applications/meet.md
  hosts/p620/configuration.nix
  modules/services/meeting-transcribe.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
