Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(flake): bump all (nixpkgs unchanged) (#1286)
  flake.lock
Due: none

chore(flake): bump all — nixpkgs f13ff45a → 279b4a82
  flake.lock
Due: none

chore(flake): bump all — nixpkgs f13ff45a → 279b4a82 (#1288)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1289)
  flake.lock
Due: none

fix(k3d): survive docker restarts and never create over a live cluster (#1291)
  modules/containers/docker.nix
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): survive docker restarts and never create over a live cluster (#1291) (#1292)
  modules/containers/docker.nix
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(theme): Alien HUD look for niri, DMS and the terminals
  assets/themes/alien-hud.yaml
  assets/wallpapers/alien-plate-01.png
  assets/wallpapers/alien-plate-03.png
  home/desktop/noctalia/default.nix
  home/desktop/terminals/default.nix
  home/desktop/terminals/ghostty/default.nix
  hosts/common/shared-variables.nix
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(justfile): drop the dead .lan domain from every deploy recipe
  Justfile
Due: none

feat(splashboard): Alien HUD theme, no solid background
  .splashboard/dashboard.toml
  home/shell/splashboard/default.nix
  home/shell/splashboard/project.dashboard.toml
Due: nixpkgs-fmt, statix, deadnix, taplo, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(cloud): add ssm-session-manager-plugin to the AWS package set
  modules/cloud/packages.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(terminals): fade the plate to near-invisible, add it to wezterm
  assets/logos/motion-tracker.gif
  home/desktop/terminals/default.nix
  home/desktop/terminals/ghostty/default.nix
  home/desktop/terminals/wezterm/default.nix
  home/shell/lazyvim/lazyvim/lua/plugins/hud-ui.lua
Due: nixpkgs-fmt, statix, deadnix, stylua, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(splashboard): drop the news feeds from the home dashboard
  home/shell/splashboard/default.nix
  home/shell/splashboard/home.dashboard.toml
Due: nixpkgs-fmt, statix, deadnix, taplo, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux): Alien HUD chrome for panes, menus and copy mode
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(herdr): Alien HUD palette and styled sidebar rows
  home/development/herdr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(lazyvim): Alien HUD theme, placard start screen, HUD chrome
  home/shell/lazyvim/default.nix
  home/shell/lazyvim/lazyvim/lua/config/lazy.lua
  home/shell/lazyvim/lazyvim/lua/config/options.lua
  home/shell/lazyvim/lazyvim/lua/plugins/alpha-nvim.lua
  home/shell/lazyvim/lazyvim/lua/plugins/colorscheme.lua
  home/shell/lazyvim/lazyvim/lua/plugins/lualine.lua
Due: nixpkgs-fmt, statix, deadnix, stylua, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(fastfetch): motion-tracker logo and Alien HUD readout panel
  home/shell/fastfetch/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(fastfetch): render the tracker with sextants, add an animated `tracker`
  assets/logos/motion-tracker.gif
  home/shell/fastfetch/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(fastfetch): animate the logo in kitty via kitty-icat
  home/desktop/neofetch/default.nix
  home/desktop/terminals/default.nix
  home/shell/fastfetch/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(theme): Alien HUD look across the desktop toolchain (#1295)
  .splashboard/dashboard.toml
  Justfile
  assets/logos/motion-tracker.gif
  assets/themes/alien-hud.yaml
  assets/wallpapers/alien-plate-01.png
  assets/wallpapers/alien-plate-03.png
  home/desktop/neofetch/default.nix
  home/desktop/noctalia/default.nix
  home/desktop/terminals/default.nix
  home/desktop/terminals/ghostty/default.nix
  home/desktop/terminals/wezterm/default.nix
  home/development/herdr.nix
  home/shell/fastfetch/default.nix
  home/shell/lazyvim/default.nix
  home/shell/lazyvim/lazyvim/lua/config/lazy.lua
  home/shell/lazyvim/lazyvim/lua/config/options.lua
  home/shell/lazyvim/lazyvim/lua/plugins/alpha-nvim.lua
  home/shell/lazyvim/lazyvim/lua/plugins/colorscheme.lua
  home/shell/lazyvim/lazyvim/lua/plugins/hud-ui.lua
  home/shell/lazyvim/lazyvim/lua/plugins/lualine.lua
  home/shell/splashboard/default.nix
  home/shell/splashboard/home.dashboard.toml
  home/shell/splashboard/project.dashboard.toml
  home/shell/tmux/default.nix
  hosts/common/shared-variables.nix
  modules/cloud/packages.nix
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, stylua, taplo, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(theme): put the last gruvbox holdouts on the Stylix scheme
  home/browsers/firefox.nix
  home/desktop/flameshot/default.nix
  home/desktop/gnome/default.nix
  home/desktop/gnome/theme.nix
  home/desktop/neofetch/default.nix
  home/desktop/noctalia/default.nix
  home/desktop/terminals/wave/default.nix
  home/desktop/terminals/wezterm/default.nix
  home/development/claude-powerline.nix
  home/shell/bash.nix
  home/shell/clipse/config.json
  home/shell/clipse/default.nix
  home/shell/clipse/gruvbox.json
  home/shell/lf/default.nix
  home/shell/yazi/default.nix
  home/shell/zellij/default_layout.nix
  home/shell/zsh.nix
  pkgs/waveterm/default.nix
Due: nixpkgs-fmt, statix, deadnix, json-format, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(noctalia): add mpvpaper; fix markdownlint debt in touched docs
  .claude/skills/gnome.md
  .claude/skills/home-manager.md
  .claude/skills/stylix.md
  docs/tooling/Claude-Powerline.md
  home/README.md
  home/desktop/noctalia/default.nix
  home/desktop/terminals/README.md
  home/shell/bat/README.md
  home/shell/tmux/README.md
  home/shell/zellij/README.md
  home/shell/zsh/README.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs 279b4a82 → 2fcb964d
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 279b4a82 → 2fcb964d (#1297)
  flake.lock
Due: none

fix(p510): a failed GPU spec generator must not stop docker
  hosts/p510/nixos/resilience.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(boot): bound ESP usage by peak, not steady state, and guard deploys
  Justfile
  hosts/p510/nixos/boot.nix
  hosts/p620/nixos/boot.nix
  hosts/razer/nixos/boot.nix
  scripts/check-boot-space.sh
  scripts/update-commit-deploy.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

fix(p510): a failed GPU spec generator must not stop docker (#1299)
  hosts/p510/nixos/resilience.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(boot): bound ESP usage by peak, not steady state, and guard deploys (#1300)
  Justfile
  hosts/p510/nixos/boot.nix
  hosts/p620/nixos/boot.nix
  hosts/razer/nixos/boot.nix
  scripts/check-boot-space.sh
  scripts/update-commit-deploy.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1301)
  flake.lock
Due: none

fix(razer): give the Intel iGPU a VA-API driver, add smartd + cache prune
  hosts/razer/nixos/laptop.nix
  hosts/razer/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): give the Intel iGPU a VA-API driver, add smartd + cache prune (#1303)
  hosts/razer/nixos/laptop.nix
  hosts/razer/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1304)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1305)
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
