Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(flake): refresh lock — nixos-hardware/nur/sops-nix/stylix/spicetify (#346)
  flake.lock
Due: none

chore(flake): refresh lock — nixos-hardware/nur/sops-nix/stylix/spicetify (#346) (#347)
  flake.lock
Due: none

chore(claude-code): update to 2.1.118 (#348)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.118 (#348) (#349)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-desktop): bump to v2.0.2+claude1.3883.0, drop overlay patches
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-desktop): bump to v2.0.2+claude1.3883.0, drop overlay patches (#351)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-desktop): strip CRLF from cowork-plugin-shim.sh
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-desktop): strip CRLF from cowork-plugin-shim.sh (#353)
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.119 (#)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.119 (#) (#354)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-desktop): bump to v2.0.5+claude1.4758.0 + drop CRLF overlay (#)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-desktop): bump to v2.0.5+claude1.4758.0 + drop CRLF overlay (#) (#356)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620/amdgpu): drop amdgpu.dcfeaturemask=1 (#357)
  hosts/p620/nixos/amd.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620/amdgpu): drop amdgpu.dcfeaturemask=1 (#357) (#358)
  hosts/p620/nixos/amd.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gitignore): ignore Claude Code ScheduleWakeup lockfile
  .gitignore
Due: none

chore(gitignore): ignore Claude Code ScheduleWakeup lockfile (#359)
  .gitignore
Due: none

chore(office): consolidate suite to libreoffice-fresh (#360)
  modules/office/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(office): consolidate suite to libreoffice-fresh (#360) (#361)
  modules/office/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixpkgs — nixpkgs b12141ef → 0726a0ec
  flake.lock
Due: none

chore(flake): bump nixpkgs — nixpkgs b12141ef → 0726a0ec (#362)
  flake.lock
Due: none

fix(scripts): use PR flow in update-commit-deploy.sh (#363)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(scripts): use PR flow in update-commit-deploy.sh (#363) (#364)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(flake): bump nixpkgs (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump nixpkgs (nixpkgs unchanged) (#365)
  flake.lock
Due: none

feat(nvim): adopt official Claude Code extra; retire avante/gp/claude-code.nvim (#366)
  home/shell/lazyvim/lazyvim/AI-CHEATSHEET.md
  home/shell/lazyvim/lazyvim/lua/config/autocmds.lua
  home/shell/lazyvim/lazyvim/lua/config/keymaps.lua
  home/shell/lazyvim/lazyvim/lua/config/lazy.lua
  home/shell/lazyvim/lazyvim/lua/plugins/avante.lua
  home/shell/lazyvim/lazyvim/lua/plugins/claude-code.lua
  home/shell/lazyvim/lazyvim/lua/plugins/gp.lua
  home/shell/lazyvim/lazyvim/lua/plugins/obsidian.lua
  home/shell/lazyvim/lazyvim/lua/plugins/sops.lua
Due: stylua, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(nvim): adopt official Claude Code extra; retire avante/gp/claude-code.nvim (#366) (#367)
  home/shell/lazyvim/lazyvim/AI-CHEATSHEET.md
  home/shell/lazyvim/lazyvim/lua/config/autocmds.lua
  home/shell/lazyvim/lazyvim/lua/config/keymaps.lua
  home/shell/lazyvim/lazyvim/lua/config/lazy.lua
  home/shell/lazyvim/lazyvim/lua/plugins/avante.lua
  home/shell/lazyvim/lazyvim/lua/plugins/claude-code.lua
  home/shell/lazyvim/lazyvim/lua/plugins/gp.lua
  home/shell/lazyvim/lazyvim/lua/plugins/obsidian.lua
  home/shell/lazyvim/lazyvim/lua/plugins/sops.lua
Due: stylua, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(claude-code): bump claude-code-native 2.1.119 → 2.1.121 (#368)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump claude-code-native 2.1.119 → 2.1.121 (#368) (#369)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620,razer): disable obsidian — unblock electron-39 lock bump (#371)
  flake.lock
  home/development/productivity.nix
  home/profiles/developer/default.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos-options.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos-options.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620,razer): disable obsidian — unblock electron-39 lock bump (#371) (#372)
  flake.lock
  home/development/productivity.nix
  home/profiles/developer/default.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos-options.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos-options.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(update-commit-deploy): add --no-deploy flag for split build/deploy
  .markdownlint.json
  Justfile
  docs/UPDATE-DEPLOY.md
  home/shell/zsh.nix
  scripts/update-commit-deploy.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

fix(p620): enable features.development.precommit so markdownlint lands on PATH
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat: --no-deploy flag for split build/deploy + fix markdownlint on p620 (#373)
  .markdownlint.json
  Justfile
  docs/UPDATE-DEPLOY.md
  home/shell/zsh.nix
  hosts/p620/configuration.nix
  scripts/update-commit-deploy.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

fix(razer): disable obsidian in user home — PR #371 missed this override
  Users/olafkfreund/razer_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): disable obsidian in user home — PR #371 missed this override (#374)
  Users/olafkfreund/razer_home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(razer): keep 10 systemd-boot generations instead of 5
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(razer): keep 10 systemd-boot generations instead of 5 (#375)
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(scripts): fall back to nh os boot when switch inhibitor trips
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(scripts): fall back to nh os boot when switch inhibitor trips (#377)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(razer): switch to linuxPackages_latest (7.0.1) to dodge 6.18.24 + nvidia boot regression
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
