Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

fix(logging): cap coredump storage on every host (#2044)
  hosts/p510/nixos/resilience.nix
  hosts/p620/configuration.nix
  modules/core.nix
  modules/system/logging.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): approve 2026-09-26-2044-coredump-cap-all-hosts (#2044)
  intent/2026-09-26-2044-coredump-cap-all-hosts.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): record merge-then-razer order for 2026-09-26-2044-coredump-cap-all-hosts (#2044)
  plan/2026-09-26-2044-coredump-cap-all-hosts.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(logging): cap coredump storage on every host (#2044) (#2053)
  hosts/p510/nixos/resilience.nix
  hosts/p620/configuration.nix
  intent/2026-09-26-2044-coredump-cap-all-hosts.md
  modules/core.nix
  modules/system/logging.nix
  plan/2026-09-26-2044-coredump-cap-all-hosts.md
  spec/2026-09-26-2044-coredump-cap-all-hosts.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): draft 2026-09-27-2052-deploy-branch-guard (#2052)
  plan/2026-09-27-2052-deploy-branch-guard.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-27-2052-deploy-branch-guard (#2052)
  spec/2026-09-27-2052-deploy-branch-guard.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-27-2052-deploy-branch-guard (#2052)
  plan/2026-09-27-2052-deploy-branch-guard.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-09-27-2052-deploy-branch-guard (#2052)
  spec/2026-09-27-2052-deploy-branch-guard.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-27-2052-deploy-branch-guard (#2052)
  intent/2026-09-27-2052-deploy-branch-guard.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft 2026-09-27-2052-deploy-branch-guard (#2052)
  intent/2026-09-27-2052-deploy-branch-guard.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(deploy): refuse branch deploys and branch checkouts in the shared checkout (#2052)
  AGENTS.md
  Justfile
  modules/programs/claude-code-managed.nix
  plan/2026-09-27-2052-deploy-branch-guard.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(deploy): refuse branch deploys and branch checkouts in the shared checkout (#2052) (#2056)
  AGENTS.md
  Justfile
  intent/2026-09-27-2052-deploy-branch-guard.md
  modules/programs/claude-code-managed.nix
  plan/2026-09-27-2052-deploy-branch-guard.md
  spec/2026-09-27-2052-deploy-branch-guard.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(starship): drop git_metrics.style, which starship does not have
  home/shell/starship/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(starship): drop git_metrics.style, which starship does not have (#2057)
  home/shell/starship/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(theme): switch the Nixarchy theme to gruvbox
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(theme): switch the Nixarchy theme to gruvbox (#2058)
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2059)
  flake.lock
Due: none

chore(flake): bump nixarchy to 864eeb0 (starship palette + plugin-enable fixes)
  flake.lock
Due: none

chore(flake): bump nixarchy to 864eeb0 (starship palette + plugin-enable fixes) (#2061)
  flake.lock
Due: none

docs(intent): draft 2026-09-28-2062-claude-prompting-alignment (#2062)
  intent/2026-09-28-2062-claude-prompting-alignment.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-28-2062-claude-prompting-alignment (#2062)
  intent/2026-09-28-2062-claude-prompting-alignment.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-09-28-2062-claude-prompting-alignment (#2062)
  spec/2026-09-28-2062-claude-prompting-alignment.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-28-2062-claude-prompting-alignment (#2062)
  spec/2026-09-28-2062-claude-prompting-alignment.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): amend 2026-09-28-2062 with decision 5, one PARR for all agents (#2062)
  spec/2026-09-28-2062-claude-prompting-alignment.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): fix double blank line (#2062)
  spec/2026-09-28-2062-claude-prompting-alignment.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): amend 2026-09-28-2062, ponytail ultra for every agent (#2062)
  spec/2026-09-28-2062-claude-prompting-alignment.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-09-28-2062-claude-prompting-alignment (#2062)
  plan/2026-09-28-2062-claude-prompting-alignment.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-28-2062-claude-prompting-alignment (#2062)
  plan/2026-09-28-2062-claude-prompting-alignment.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(agents): one calm PARR for every agent, ponytail ultra, subagent caps (#2062)
  home/development/agent-rules.nix
  home/development/agent-rules/codex-standards.md
  home/development/agent-rules/global.md
  modules/programs/claude-code-managed-claude.md
  modules/programs/claude-code-managed.nix
  modules/programs/parr-protocol.txt
  plan/2026-09-28-2062-claude-prompting-alignment.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(agents): one calm PARR for every agent, ponytail ultra, subagent caps (#2062) (#2063)
  home/development/agent-rules.nix
  home/development/agent-rules/codex-standards.md
  home/development/agent-rules/global.md
  intent/2026-09-28-2062-claude-prompting-alignment.md
  modules/programs/claude-code-managed-claude.md
  modules/programs/claude-code-managed.nix
  modules/programs/parr-protocol.txt
  plan/2026-09-28-2062-claude-prompting-alignment.md
  spec/2026-09-28-2062-claude-prompting-alignment.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixarchy to 2ca7776 (foot colors-dark fix)
  flake.lock
Due: none

chore(flake): bump nixarchy to 2ca7776 (foot colors-dark fix) (#2064)
  flake.lock
Due: none

chore(omatheme): persist merged runtime pin
  flake.lock
Due: none

chore(ai): bump claude-code 2.1.284, agy 1.2.12, codex 0.158.0
  overlays/upstream-fixes.nix
  pkgs/antigravity-cli/default.nix
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(ai): bump claude-code 2.1.284, agy 1.2.12, codex 0.158.0 (#2068)
  overlays/upstream-fixes.nix
  pkgs/antigravity-cli/default.nix
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(omatheme): consume v0.1.0 through nixarchy
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
