Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        language: system
        files: '\.nix$'
        description: Format Nix files using nixpkgs-fmt
      - id: statix
        name: Lint Nix files
        entry: statix check
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Lint Nix files for common issues
      - id: deadnix
        name: Check for dead Nix code
        entry: deadnix --fail
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Check for dead/unused Nix code
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        files: '\.sh$'
        args: [-e, SC1091, -e, SC2034, -e, SC2086]
        description: Lint shell scripts with shellcheck
      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        language: system
        files: '\.sh$'
        args: [-w, -i, "2", -bn, -ci]
        description: Format shell scripts with shfmt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        description: Remove trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-yaml
        description: Validate YAML files
      - id: check-json
        description: Validate JSON files
      - id: check-toml
        description: Validate TOML files
      - id: mixed-line-ending
        description: Check for mixed line endings
      - id: check-executables-have-shebangs
        description: Ensure executables have shebangs
      - id: check-shebang-scripts-are-executable
        description: Ensure shebang scripts are executable
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        args: [--fix, --config, .markdownlint.json]
        description: Lint and fix Markdown files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Format files with Prettier
        types_or: [json, yaml, markdown]
        description: Format JSON, YAML, and Markdown files
  - repo: local
    hooks:
      - id: flake-check
        name: Check Nix flake
        entry: nix flake check --no-build
        language: system
        files: 'flake\.(nix|lock)$'
        pass_filenames: false
        description: Validate Nix flake configuration
      - id: just-validate
        name: Validate justfile
        entry: just --list
        language: system
        files: "justfile$"
        pass_filenames: false
        description: Validate justfile syntax

fix(p510): correct wayvnc password configuration
  hosts/p510/configuration.nix
  modules/desktop/cosmic-remote-desktop.nix
Due: nixpkgs-fmt, statix, deadnix

chore: update flake.lock and Claude settings
  .claude/settings.local.json
  flake.lock
Due: flake-check

feat(desktop): add terminal app desktop entries for k9s, Claude Code, and Neovim (#16 #17)
  home/desktop/default.nix
  home/desktop/terminal-apps-desktop-entries.nix
  hosts/p620/home-manager-options.nix
  hosts/razer/home-manager-options.nix
  hosts/samsung/home-manager-options.nix
Due: nixpkgs-fmt, statix, deadnix

feat(desktop): add terminal app desktop entries for k9s, Claude Code, and Neovim (#16 #17) (#18)
  home/desktop/default.nix
  home/desktop/terminal-apps-desktop-entries.nix
  hosts/p620/home-manager-options.nix
  hosts/razer/home-manager-options.nix
  hosts/samsung/home-manager-options.nix
Due: nixpkgs-fmt, statix, deadnix

fix(desktop): enable terminal app desktop entries on all hosts
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/p620_home_profile.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  home/desktop/terminal-apps-desktop-entries.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.37 (#19)
  home/development/claude-code/default.nix
  home/development/claude-code/package.json
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.37 (#19) (#20)
  home/development/claude-code/default.nix
  home/development/claude-code/package.json
Due: nixpkgs-fmt, statix, deadnix

fix(neovim): remove incompatible LazyVim plugins (#21)
  home/shell/lazyvim/lazyvim/lua/plugins/manix.lua
Due: none

fix(neovim): remove incompatible LazyVim plugins (#21) (#22)
  home/shell/lazyvim/lazyvim/lua/plugins/manix.lua
Due: none

chore: update Claude settings and flake lock
  .claude/settings.local.json
  flake.lock
Due: flake-check

chore(claude-code): update to version 2.0.44 (#34)
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

chore: update configurations and dependencies
  .claude/settings.local.json
  flake.lock
  flake.nix
  home/desktop/gnome/apps.nix
  home/desktop/gnome/extensions.nix
  home/desktop/obs/default.nix
  home/desktop/proton/default.nix
  home/development/claude-code/default.nix.backup
  hosts/p620/configuration.nix
  modules/ai/chatgpt.nix
  modules/ai/default.nix
  modules/ai/providers/openai.nix
  modules/ai/providers/unified-client.nix
  modules/desktop/cloud-sync/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(razer): override gnome-shell to remove failing dark mode patch
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix(razer): disable winboat due to npm dependency error
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat(ci-cd): add GitLab Runner service with 3 runners on P620
  .claude/settings.local.json
  docs/GITLAB-RUNNER-SETUP.md
  flake.lock
  hosts/p620/configuration.nix
  modules/services/default.nix
  modules/services/gitlab-runner.nix
  scripts/setup-gitlab-runner.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check

fix: resolve pre-commit hook warnings and syntax errors
  Users/olafkfreund/samsung_home.nix
  home/desktop/gnome/keybindings.nix
  home/development/claude-monitor/module.nix
  home/media/mpv/default.nix
  home/profiles/server-admin/default.nix
  home/shell/yazi/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(music): disable castero due to Python 3.13.9 segfault
  home/media/music.nix
Due: nixpkgs-fmt, statix, deadnix

feat(development): add Google Antigravity IDE package (#36)
  home/development/antigravity/README.md
  home/development/antigravity/default.nix
  home/development/antigravity/package.nix
Due: nixpkgs-fmt, statix, deadnix

feat(antigravity): enable Google Antigravity IDE on P620 and Razer
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  home/development/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(music): re-enable castero package - Python 3.13 compatibility restored
  home/media/music.nix
Due: nixpkgs-fmt, statix, deadnix

fix(packages): re-enable upscaler, droidcam-obs, and gsconnect - nixpkgs compatibility restored
  home/desktop/gnome/apps.nix
  home/desktop/gnome/extensions.nix
  home/desktop/obs/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(antigravity): merge NIXOS_OZONE_WL into sessionVariables mkMerge
  home/development/antigravity/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(antigravity): use runtime secret paths instead of config.age
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
Due: nixpkgs-fmt, statix, deadnix

fix(antigravity): use mkDefault for API key environment variables
  home/development/antigravity/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix: add placeholder sway module to prevent import errors
  .claude/settings.local.json
  home/desktop/sway/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(workaround): add deployment script for Nix 2.31.2 regression (#37)
  scripts/deploy-workaround.sh
Due: shellcheck, shfmt

fix: update flake.lock to resolve Nix 2.31.2 regression (#37)
  flake.lock
Due: flake-check

fix: disable antigravity temporarily due to deployment issues
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
Due: nixpkgs-fmt, statix, deadnix

refactor(antigravity): implement hybrid buildFHSEnv approach with critical flags
  home/development/antigravity/package.nix
Due: nixpkgs-fmt, statix, deadnix

feat(antigravity): re-enable on P620 with hybrid buildFHSEnv implementation
  Users/olafkfreund/p620_home.nix
Due: nixpkgs-fmt, statix, deadnix

fix: disable antigravity again - prepare for fresh approach
  .claude/settings.local.json
  flake.lock
  home/development/antigravity/package.nix.backup
Due: flake-check

chore: completely remove antigravity package and all references
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  home/development/antigravity/README.md
  home/development/antigravity/default.nix
  home/development/antigravity/package.nix
  home/development/antigravity/package.nix.backup
  home/development/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(p620): add Google Antigravity AI coding assistant
  Users/olafkfreund/p620_home.nix
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(kosli-cli): add nixos package for kosli-dev CLI v2.11.31 (#39)
  flake.nix
  pkgs/kosli-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(p620): deploy kosli-cli to p620 workstation
  Users/olafkfreund/p620_home.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore: update flake.lock and local settings
  .claude/settings.local.json
  flake.lock
Due: flake-check

chore(claude-code): upgrade to version 2.0.50 (#41)
  .claude/settings.local.json
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(kosli-cli): upgrade to version 2.11.32
  .claude/settings.local.json
  pkgs/kosli-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix
