Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

feat(p620): litellm-router + tailscale-serve (Phase 2)
  hosts/p620/configuration.nix
  hosts/p620/nixos/tailscale-serve.nix
  modules/services/litellm-router.nix
  secrets.nix
  secrets/litellm-master-key.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

refactor(litellm): resolve copilot review findings using systemd credentials and tailscale reset
  hosts/p620/nixos/tailscale-serve.nix
  modules/services/litellm-router.nix
  secrets.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620): litellm-router + tailscale-serve (Phase 2 of 3, replaces #580) (#582)
  hosts/p620/configuration.nix
  hosts/p620/nixos/tailscale-serve.nix
  modules/services/litellm-router.nix
  secrets.nix
  secrets/litellm-master-key.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620,razer): claude-router CLI + apiKeyHelper (Phase 3)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/programs/claude-router-cli.nix
  modules/programs/default.nix
  secrets.nix
  secrets/api-router-p620.age
  secrets/api-router-razer.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620,razer): claude-router CLI + apiKeyHelper (Phase 3) (#581)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/programs/claude-router-cli.nix
  modules/programs/default.nix
  secrets.nix
  secrets/api-router-p620.age
  secrets/api-router-razer.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(ci): disable automatic event-driven triggers for Claude workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(ci): disable automatic event-driven triggers for Claude workflows (#583)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(gnome): package 6 GNOME Shell extensions previously installed manually
  overlays/custom-packages.nix
  pkgs/gnome-ext-accent-directories/default.nix
  pkgs/gnome-ext-allow-locked-remote-desktop/default.nix
  pkgs/gnome-ext-claude-code-usage/default.nix
  pkgs/gnome-ext-otp-keys/default.nix
  pkgs/gnome-ext-rudra/default.nix
  pkgs/gnome-ext-spotify-controller/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(programs): strip trailing newlines from decrypted keys in claude-router-key
  modules/programs/claude-router-cli.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(programs): strip trailing newlines from decrypted keys in claude-router-key (#584)
  modules/programs/claude-router-cli.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(programs): resolve claude-router-key settings detection in child processes
  modules/programs/claude-router-cli.nix
  modules/services/litellm-router.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620/litellm): transition to lightweight local models and fix Claude Code thinking parameters
  hosts/p620/configuration.nix
  modules/services/litellm-router.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-router): default to subscription mode and move apiKeyHelper locally
  .antigravitycli/50b0e394-76a1-4fd0-8241-954b1b37bc73.json
  .claude/commands/crew.md
  .claude/commands/gemini-review.md
  .gemini/commands/claude-review.toml
  .gemini/commands/crew.toml
  home/shell/tmux/default.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  modules/programs/claude-router-cli.nix
  modules/services/litellm-router.nix
  scratch/test_demo.nix
  scripts/run_crew.py
  scripts/test_crew.py
Due: nixpkgs-fmt, statix, deadnix, taplo, json-format, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-router): pre-merge cleanup for PR #593
  .antigravitycli/50b0e394-76a1-4fd0-8241-954b1b37bc73.json
  .gitignore
  modules/services/litellm-router.nix
  scratch/test_demo.nix
Due: nixpkgs-fmt, statix, deadnix, json-format, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-router): default to subscription mode and move apiKeyHelper locally (#593)
  .claude/commands/crew.md
  .claude/commands/gemini-review.md
  .gemini/commands/claude-review.toml
  .gemini/commands/crew.toml
  .gitignore
  home/shell/tmux/default.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  modules/programs/claude-router-cli.nix
  modules/services/litellm-router.nix
  scripts/run_crew.py
  scripts/test_crew.py
Due: nixpkgs-fmt, statix, deadnix, taplo, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(pre-commit): split into pre-commit (fast) + pre-push (slow) stages
  .pre-commit-config.yaml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

chore(typos): ignore older Nix-base32 SHA256 hash format
  .typos.toml
Due: taplo, trailing-whitespace, end-of-file, check-merge-conflict

fix(pre-commit): typos hook must pass --config explicitly
  .pre-commit-config.yaml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

chore(pre-commit): split fast/slow stages — 700x speedup, fix silent typos misconfig (#594)
  .pre-commit-config.yaml
  .typos.toml
Due: taplo, yamllint, trailing-whitespace, end-of-file, check-merge-conflict

fix(modules): remove options removed by flake.lock bump
  flake.lock
  modules/services/bluetooth/bluetooth.nix
  modules/services/citrix-workspace.nix
  modules/virt/waydroid.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(hosts): disable COSMIC desktop, switch all hosts to GDM/GNOME only
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(hosts): move desktop.displayManager.backend out of features = {} scope
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix: post-flake-bump build (deprecations + COSMIC off, GNOME-only on all hosts) (#595)
  flake.lock
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/services/bluetooth/bluetooth.nix
  modules/services/citrix-workspace.nix
  modules/virt/waydroid.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(pkgs): add rmux — Rust tmux-compatible multiplexer with typed SDK
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  pkgs/default.nix
  pkgs/rmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(pkgs): add rmux — Rust tmux-compatible multiplexer with typed SDK (#596)
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  pkgs/default.nix
  pkgs/rmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(p510): drop redundant gnome-remote-desktop enable + stale comment
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(p510): drop redundant gnome-remote-desktop enable + stale comment (#597)
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gnome-ext-rudra): patch metadata.json to declare GNOME 50 support
  pkgs/gnome-ext-rudra/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gnome-ext-rudra): patch metadata.json to declare GNOME 50 support (#598)
  pkgs/gnome-ext-rudra/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(gnome): add Forge — i3/sway-style tiling for GNOME Shell (GNOME 50 ready)
  home/desktop/gnome/extensions.nix
  pkgs/default.nix
  pkgs/gnome-ext-forge/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(pkgs/gnome-ext-forge): expose via overlay, not pkgs/default.nix
  overlays/custom-packages.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(gnome): add Forge tiling extension (master pin for GNOME 50) (#599)
  home/desktop/gnome/extensions.nix
  overlays/custom-packages.nix
  pkgs/default.nix
  pkgs/gnome-ext-forge/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(home/shell/rmux): declarative rmux config + shell alias
  home/shell/default.nix
  home/shell/rmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(home/shell/rmux): declarative rmux config + shell alias (#600)
  home/shell/default.nix
  home/shell/rmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home/shell/rmux): switch from mkEnableOption to plain mkOption
  home/shell/rmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home/shell/rmux): break the self-referencing source-file in reload key
  home/shell/rmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home/shell/rmux): mkEnableOption default=true silently failed; use mkOption (#601)
  home/shell/rmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to v0.2026.05.20.09.21.stable_03
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict
