Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

fix(git): set GIT_OPTIONAL_LOCKS=0 to stop index.lock races (#622)
  hosts/common/nixos/envvar.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(ci): authenticate nix github: fetches to avoid API 403 rate-limit
  .github/workflows/ci.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(ci): authenticate nix github: fetches to avoid API 403 rate-limit (#623)
  .github/workflows/ci.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump claude-desktop to v2.0.14+claude1.8555.2 (#624)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(gogcli): Google Workspace CLI + splashboard agenda widgets (#627)
  Users/olafkfreund/p510_home.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  home/shell/default.nix
  home/shell/gogcli/default.nix
  home/shell/splashboard/home.dashboard.toml
  modules/secrets/api-keys.nix
  overlays/custom-packages.nix
  pkgs/gogcli/default.nix
  secrets.nix
Due: nixpkgs-fmt, statix, deadnix, taplo, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump claude-desktop to v2.0.14+claude1.8555.2 (#624) (#626)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(gogcli): Google Workspace CLI + splashboard agenda widgets (#627) (#628)
  Users/olafkfreund/p510_home.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  home/shell/default.nix
  home/shell/gogcli/default.nix
  home/shell/splashboard/home.dashboard.toml
  modules/secrets/api-keys.nix
  overlays/custom-packages.nix
  pkgs/gogcli/default.nix
  secrets.nix
Due: nixpkgs-fmt, statix, deadnix, taplo, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gogcli): scope events to --today, clean up collector jq
  home/shell/gogcli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gogcli): scope events to --today, clean up collector jq (#629)
  home/shell/gogcli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(gogcli): colour events per calendar, pull all visible calendars
  home/shell/gogcli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(gogcli): colour events per calendar, pull all visible calendars (#630)
  home/shell/gogcli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-skills): add global /gog skill for Google Workspace
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/gog/SKILL.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-skills): add global /gog skill for Google Workspace (#631)
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/gog/SKILL.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-skills): bring /gog skill to skill-forge parity
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/gog/SKILL.md
  home/development/claude-code-skills/gog/evals.json
Due: nixpkgs-fmt, statix, deadnix, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-skills): bring /gog skill to skill-forge parity (#632)
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/gog/SKILL.md
  home/development/claude-code-skills/gog/evals.json
Due: nixpkgs-fmt, statix, deadnix, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update CLI to 2.1.152 (#633)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore: bump claude-desktop + antigravity tooling
  flake.lock
  flake.nix
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-ide/package.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update CLI to 2.1.152 (#633) (#634)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore: bump claude-desktop + antigravity tooling (#635)
  flake.lock
  flake.nix
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-ide/package.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): add Plex and *arr-suite MCP servers to media stack
  home/development/claude-code-mcp.nix
  hosts/p510/configuration.nix
  hosts/p510/nixos/plex.nix
  hosts/p510/nixos/tailscale-serve.nix
  modules/services/arr-suite-mcp.nix
  modules/services/plex-mcp.nix
  pkgs/arr-suite-mcp/default.nix
  pkgs/default.nix
  pkgs/plex-mcp-server/default.nix
  secrets.nix
  secrets/arr-suite-mcp-env.age
  secrets/plex-token.age
  secrets/sabnzbd-secrets.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#637)
  flake.lock
Due: none

chore: claude-desktop/antigravity bumps + p510 media MCP servers (#636)
  home/development/claude-code-mcp.nix
  hosts/p510/configuration.nix
  hosts/p510/nixos/plex.nix
  hosts/p510/nixos/tailscale-serve.nix
  modules/services/arr-suite-mcp.nix
  modules/services/plex-mcp.nix
  pkgs/arr-suite-mcp/default.nix
  pkgs/default.nix
  pkgs/plex-mcp-server/default.nix
  secrets.nix
  secrets/arr-suite-mcp-env.age
  secrets/plex-token.age
  secrets/sabnzbd-secrets.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): add AudioBookBay search → Transmission web app
  hosts/p510/configuration.nix
  hosts/p510/nixos/plex.nix
  hosts/p510/nixos/tailscale-serve.nix
  modules/services/audiobookbay-automated.nix
  pkgs/audiobookbay-automated/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): audiobook import pipeline + m4b-tool + qwen2.5
  hosts/p510/configuration.nix
  modules/services/audiobook-import.nix
  modules/services/audiobook-import.py
  pkgs/default.nix
  pkgs/m4b-tool/default.nix
Due: nixpkgs-fmt, statix, deadnix, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): add audiobook-mcp NL acquisition server
  home/development/claude-code-mcp.nix
  hosts/p510/configuration.nix
  modules/services/audiobook-mcp.nix
  pkgs/audiobook-mcp/audiobook_mcp.py
  pkgs/audiobook-mcp/default.nix
  pkgs/default.nix
  secrets.nix
  secrets/audiobook-mcp-env.age
Due: nixpkgs-fmt, statix, deadnix, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(p510): how to use the audiobook automation stack
  modules/services/audiobook-automation.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(p510): specify language on audiobook doc code fence (MD040)
  modules/services/audiobook-automation.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(p510): drop unused finalAttrs in audiobookbay-automated (deadnix)
  pkgs/audiobookbay-automated/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): restrict audiobook-mcp search_usenet to usenet-only
  pkgs/audiobook-mcp/audiobook_mcp.py
Due: ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict

feat(p510): wire Audiobookshelf API token into audiobook-mcp
  modules/services/audiobook-mcp.nix
  secrets/audiobook-mcp-env.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): audiobook automation — ABB/NZBGeek acquisition + LLM import + MCP (#638)
  home/development/claude-code-mcp.nix
  hosts/p510/configuration.nix
  hosts/p510/nixos/plex.nix
  hosts/p510/nixos/tailscale-serve.nix
  modules/services/audiobook-automation.md
  modules/services/audiobook-import.nix
  modules/services/audiobook-import.py
  modules/services/audiobook-mcp.nix
  modules/services/audiobookbay-automated.nix
  pkgs/audiobook-mcp/audiobook_mcp.py
  pkgs/audiobook-mcp/default.nix
  pkgs/audiobookbay-automated/default.nix
  pkgs/default.nix
  pkgs/m4b-tool/default.nix
  secrets.nix
  secrets/audiobook-mcp-env.age
Due: nixpkgs-fmt, statix, deadnix, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): audiobook-mcp discovery tools (bestsellers, genre/language, ABB lang)
  modules/services/audiobook-automation.md
  modules/services/audiobook-mcp.nix
  pkgs/audiobook-mcp/audiobook_mcp.py
Due: nixpkgs-fmt, statix, deadnix, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): audiobook-mcp discovery tools (bestsellers, genre/language, ABB lang) (#639)
  modules/services/audiobook-automation.md
  modules/services/audiobook-mcp.nix
  pkgs/audiobook-mcp/audiobook_mcp.py
Due: nixpkgs-fmt, statix, deadnix, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): import audiobooks from SABnzbd (Usenet path)
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): import audiobooks from SABnzbd (Usenet path) (#640)
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(secrets): add Synechron GitHub API token (all hosts)
  modules/secrets/api-keys.nix
  secrets.nix
  secrets/synechron-github-api.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs: add MkDocs Material site with Nix build and Pages deploy
  .github/workflows/docs.yml
  .gitignore
  .markdownlint.json
  Justfile
  docs/Nixos/README.md
  docs/architecture/feature-flags.md
  docs/architecture/hardware-profiles.md
  docs/architecture/home-manager.md
  docs/architecture/index.md
  docs/architecture/overlays.md
  docs/architecture/philosophy.md
  docs/architecture/secrets.md
  docs/architecture/template-system.md
  docs/architecture/theming.md
  docs/getting-started/index.md
  docs/getting-started/overview.md
  docs/getting-started/quick-start.md
  docs/getting-started/repository-layout.md
  docs/guides/GITHUB-WORKFLOW.md
  docs/guides/HOST_SETUP.md
  docs/hosts/index.md
  docs/hosts/p510.md
  docs/hosts/p620.md
  docs/hosts/razer.md
  docs/index.md
  docs_gen/gen_reference.py
  docs_gen/site.nix
  flake.nix
  mkdocs.yml
  tools/docs.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
