Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

fix(home): one python3 in the user profile (#1908)
  Users/olafkfreund/profile.nix
  flake.lock
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home): one python3 in the user profile (#1908) (#1909)
  Users/olafkfreund/profile.nix
  flake.lock
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1910)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1911)
  flake.lock
Due: none

feat(p620): turn on devenv, which brings the Dev environments panel
  flake.lock
  hosts/p620/nixarchy/services.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620): turn on devenv, which brings the Dev environments panel (#1912)
  flake.lock
  hosts/p620/nixarchy/services.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(fonts): install nerd-fonts.symbols-only so icon glyphs resolve (#1913)
  home/desktop/terminals/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): give quickshell QtMultimedia, plus SpokenShelf deps (#1915)
  Users/olafkfreund/profile.nix
  overlays/upstream-fixes.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(desktop): give quickshell the WebP decoder too (#1915)
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(fonts): install nerd-fonts.symbols-only so icon glyphs resolve (#1913) (#1914)
  home/desktop/terminals/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): quickshell QtMultimedia + WebP, plus SpokenShelf deps (#1915) (#1917)
  Users/olafkfreund/profile.nix
  overlays/upstream-fixes.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nixarchy): drop duplicate omarchy-voice HM import (#1918)
  flake.lock
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

flake: ai-mirror 2631208, nixarchy-voice 10c8a40
  flake.lock
Due: none

fix(nixarchy): drop duplicate omarchy-voice HM import (#1918) (#1919)
  flake.lock
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

chore(deps): update flake inputs - daily automatic update (#1904)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1922)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1923)
  flake.lock
Due: none

flake: make nixarchy's nixarchy-voice follow ours
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixarchy-microvm to c498b3b
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 20b1ddd1 → 44a91898
  flake.lock
Due: none

docs(intent): retire dead ask-gemini, surface Ollama Cloud (#1928)
  intent/2026-09-21-1928-ollama-cloud-ask-gemini.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-21-1928-ollama-cloud-ask-gemini (#1928)
  intent/2026-09-21-1928-ollama-cloud-ask-gemini.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): retire dead ask-gemini, surface Ollama Cloud (#1928)
  spec/2026-09-21-1928-ollama-cloud-ask-gemini.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-21-1928-ollama-cloud-ask-gemini (#1928)
  spec/2026-09-21-1928-ollama-cloud-ask-gemini.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): retire dead ask-gemini, surface Ollama Cloud (#1928)
  plan/2026-09-21-1928-ollama-cloud-ask-gemini.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-21-1928-ollama-cloud-ask-gemini (#1928)
  plan/2026-09-21-1928-ollama-cloud-ask-gemini.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(claude): hide dead ask-gemini, surface Ollama Cloud models (#1928)
  home/development/claude-code-mcp.nix
  home/development/claude-code-skills/ask-ollama-cloud/SKILL.md
  home/development/claude-code-skills/default.nix
  modules/programs/claude-code-managed.nix
  plan/2026-09-21-1928-ollama-cloud-ask-gemini.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(spec): add fence language for MD040 (#1928)
  spec/2026-09-21-1928-ollama-cloud-ask-gemini.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): use Codex, Ollama and agy for review and coding (#1931)
  intent/2026-09-21-1931-delegate-review-coding.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): record decisions on open questions (#1931)
  intent/2026-09-21-1931-delegate-review-coding.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-21-1931-delegate-review-coding (#1931)
  intent/2026-09-21-1931-delegate-review-coding.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): use Codex, Ollama and agy for review and coding (#1931)
  spec/2026-09-21-1931-delegate-review-coding.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
