Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(nhs): default SCOPE=all, splice nixpkgs from GitHub, docs in sync
  docs/UPDATE-DEPLOY.md
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(ops): per-host health-check scripts
  scripts/health-checks/p510.sh
  scripts/health-checks/p620.sh
  scripts/health-checks/razer.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

feat(p510): expose Ollama on 0.0.0.0:11434 + enable cloudflared keepalive
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): nixos-module scaffolder template + per-host catalog entries
  catalog-info.yaml
  catalog/templates/nixos-module/skeleton/modules/${{ values.category }}/${{ values.name }}.nix.njk
  catalog/templates/nixos-module/template.yaml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

feat(cloudflared): opt-in keepalive submodule (periodic GET to warm origins)
  modules/services/cloudflared.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(claude-code): bump native binary to 2.1.170
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-code): shim wl-paste to stop GNOME dock popup from clipboard polling
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): add ntfy-sh self-hosted push notification server
  hosts/p510/configuration.nix
  modules/services/ntfy.nix
  secrets.nix
  secrets/ntfy-env.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): add ntfy-sh self-hosted push notification server (#840)
  hosts/p510/configuration.nix
  modules/services/ntfy.nix
  secrets.nix
  secrets/ntfy-env.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to 0.2026.06.03.09.49.stable_02
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): bump to 0.2026.06.03.09.49.stable_02 (#841)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

feat(waveterm): custom-tracked derivation, bump to v0.14.5
  .claude/commands/update-waveterm.md
  overlays/custom-packages.nix
  pkgs/waveterm/default.nix
  pkgs/waveterm/versions.json
  scripts/update-waveterm.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

feat(waveterm): custom-tracked derivation, bump to v0.14.5 (#842)
  .claude/commands/update-waveterm.md
  overlays/custom-packages.nix
  pkgs/waveterm/default.nix
  pkgs/waveterm/versions.json
  scripts/update-waveterm.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

fix(waveterm): inject libsecret via makeWrapper for Electron safeStorage
  pkgs/waveterm/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(waveterm): inject libsecret via makeWrapper for Electron safeStorage (#843)
  pkgs/waveterm/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(waveterm): add Gruvbox Dark terminal theme
  home/desktop/terminals/wave/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(waveterm): add Gruvbox Dark terminal theme (#844)
  home/desktop/terminals/wave/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(waveterm): patch brand green accent to Gruvbox bg4
  pkgs/waveterm/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(waveterm): patch brand green accent to Gruvbox bg4 (#845)
  pkgs/waveterm/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux/pim-popup): Gruvbox colors + LESS=-F fix for all PIM popups
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux/pim-popup): Gruvbox colors + LESS=-F fix for all PIM popups (#846)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#847)
  flake.lock
Due: none

fix(tmux/pim-popup): handle timezone offsets in calendar dateTime strings
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux/pim-popup): handle timezone offsets in calendar dateTime strings (#848)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux/pim-popup): top-align + center popup output, shrink boxes
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(tmux/pim-popup): top-align + center popup output, shrink boxes (#849)
  home/shell/tmux/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(commands): add /check-updates flake + package freshness audit
  .claude/commands/check-updates.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(tmux): flash window indicator when Claude/agy need attention
  home/shell/tmux/default.nix
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux): flash window indicator when Claude/agy need attention (#851)
  home/shell/tmux/default.nix
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux/which-key): add full menu — built-ins + our plugin/custom binds
  home/shell/tmux/default.nix
  home/shell/tmux/which-key-base.yaml
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(tmux/which-key): add full menu — built-ins + our plugin/custom binds (#852)
  home/shell/tmux/default.nix
  home/shell/tmux/which-key-base.yaml
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-code): restore image paste via xclip + timeout-guarded wl-paste
  .agent-os/product/tech-stack.md
  flake.lock
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-code): restore image paste via xclip + timeout-guarded wl-paste (#855)
  .agent-os/product/tech-stack.md
  flake.lock
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
