Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(flake): bump all (nixpkgs unchanged) (#1431)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1432)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1433)
  flake.lock
Due: none

fix(p620): stop mixing dotted and block `modules` — CI could not evaluate
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): stop mixing dotted and block `modules` — CI could not evaluate (#1434)
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

style(k3d): nixpkgs-fmt modules/containers/k3d.nix
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

style(k3d): nixpkgs-fmt modules/containers/k3d.nix (#1435)
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(checks): make `just validate` check formatting, like CI does
  checks/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(checks): make `just validate` check formatting, like CI does (#1436)
  checks/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(ci): align CI's Nix with local — install-nix-action v27/v30 -> v31.11.1
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/nixos-issue-audit.yml
  .github/workflows/update-flake.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(ci): align CI's Nix with local — install-nix-action v27/v30 -> v31.11.1 (#1437)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/nixos-issue-audit.yml
  .github/workflows/update-flake.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged) (#1438)
  flake.lock
Due: none

chore(claude-code): bump native CLI 2.1.239 -> 2.1.241 (#1427)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native CLI 2.1.239 -> 2.1.241 (#1427) (#1439)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump cli 1.1.19, sdk 0.1.14
  pkgs/antigravity-cli/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump cli 1.1.19, sdk 0.1.14 (#1440)
  pkgs/antigravity-cli/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1441)
  flake.lock
Due: none

fix(razer): stop external-monitor flicker with nvidia-drm.fbdev=1
  hosts/razer/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): stop external-monitor flicker with nvidia-drm.fbdev=1 (#1442)
  hosts/razer/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(obs): unbreak source-switcher against OBS 32 + flake bump
  flake.lock
  home/desktop/obs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(obs): unbreak source-switcher against OBS 32 + flake bump (#1443)
  flake.lock
  home/desktop/obs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(obs): downgrade deprecated-declarations for all plugins on OBS 32
  flake.lock
  home/desktop/obs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(obs): downgrade deprecated-declarations for all plugins on OBS 32 (#1444)
  flake.lock
  home/desktop/obs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(polkit): drop redundant polkit-gnome agent (niri-flake provides one)
  hosts/razer/nixos/greetd.nix
  modules/services/default.nix
  modules/services/systemd/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(polkit): drop redundant polkit-gnome agent (niri-flake provides one) (#1445)
  hosts/razer/nixos/greetd.nix
  modules/services/default.nix
  modules/services/systemd/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(docker): restart dockerd when daemon.json changes (#1412)
  modules/containers/docker.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(docker): restart dockerd when daemon.json changes (#1412) (#1446)
  modules/containers/docker.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(logging): drop dead code from the noise-reduction module
  hosts/p620/configuration.nix
  modules/system/logging.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(logging): drop dead code from the noise-reduction module (#1447)
  hosts/p620/configuration.nix
  modules/system/logging.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(logging): cap coredump storage at 1G
  modules/system/logging.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(logging): cap coredump storage at 1G (#1448)
  modules/system/logging.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gnome): give each GNOME app a single owning layer
  home/desktop/gnome/default.nix
  home/media/music.nix
  modules/services/gnome/gnome-services.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gnome): give each GNOME app a single owning layer (#1449)
  home/desktop/gnome/default.nix
  home/media/music.nix
  modules/services/gnome/gnome-services.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): drop power-limit line for the removed second GPU
  hosts/p510/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): drop power-limit line for the removed second GPU (#1450)
  hosts/p510/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
