Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(warp-terminal): auto-update to 0.2026.09.16.08.27.stable_02
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): auto-update to 0.2026.09.16.08.27.stable_02 (#1884)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(antigravity): auto-update to 1.2.5-4931130160447488
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.5-4931130160447488 (#1885)
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

fix(razer): name only claude in nixi's agents, upstream names the rest
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1888)
  flake.lock
Due: none

chore(git): ignore the humanize plugin's .humanize/ scratch
  .gitignore
Due: none

chore(flake): refresh the daily input update on top of main
  flake.lock
Due: none

fix(overlays): skip nodejs-slim_26's sandbox-failing test (#1891)
  flake.lock
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft 2026-09-18-1894-nixarchy-distrobox-plugin (#1894)
  intent/2026-09-18-1894-nixarchy-distrobox-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-18-1894-nixarchy-distrobox-plugin (#1894)
  intent/2026-09-18-1894-nixarchy-distrobox-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-09-18-1894-nixarchy-distrobox-plugin (#1894)
  spec/2026-09-18-1894-nixarchy-distrobox-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-18-1894-nixarchy-distrobox-plugin (#1894)
  spec/2026-09-18-1894-nixarchy-distrobox-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-09-18-1894-nixarchy-distrobox-plugin (#1894)
  plan/2026-09-18-1894-nixarchy-distrobox-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-18-1894-nixarchy-distrobox-plugin (#1894)
  plan/2026-09-18-1894-nixarchy-distrobox-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat: install nixarchy-distrobox plugin on p620 and razer (#1894)
  flake.lock
  flake.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  plan/2026-09-18-1894-nixarchy-distrobox-plugin.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): record rollout of 2026-09-18-1894 (#1894)
  plan/2026-09-18-1894-nixarchy-distrobox-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft 2026-09-18-1896-nixarchy-microvm-plugin (#1896)
  intent/2026-09-18-1896-nixarchy-microvm-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-18-1896-nixarchy-microvm-plugin (#1896)
  intent/2026-09-18-1896-nixarchy-microvm-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-09-18-1896-nixarchy-microvm-plugin (#1896)
  spec/2026-09-18-1896-nixarchy-microvm-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(desktop): drop rofi leftovers and the rename warning they caused
  home/default.nix
  home/shell/bash.nix
  overlays/cmake-compat.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(spec): approve 2026-09-18-1896-nixarchy-microvm-plugin (#1896)
  spec/2026-09-18-1896-nixarchy-microvm-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-09-18-1896-nixarchy-microvm-plugin (#1896)
  plan/2026-09-18-1896-nixarchy-microvm-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-18-1896-nixarchy-microvm-plugin (#1896)
  plan/2026-09-18-1896-nixarchy-microvm-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat: install nixarchy-microvm plugin and SUPER+ALT+V bind on p620 and razer (#1896)
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-microvm.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  plan/2026-09-18-1896-nixarchy-microvm-plugin.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): record rollout of 2026-09-18-1896 (#1896)
  plan/2026-09-18-1896-nixarchy-microvm-plugin.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump nixarchy-distrobox (#4, #5, #7, #8)
  flake.lock
Due: none

chore(claude-code): auto-update to 2.1.278
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.278 (#1902)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 2.2553.1
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 2.2553.1 (#1903)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1905)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1906)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1907)
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
