Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#954)
  flake.lock
Due: none

factory(secrets): durably store the 9 out-of-band k8s secrets in agenix
  modules/containers/k3d.nix
  secrets.nix
  secrets/factory-secret-cfactory-api-keys.age
  secrets/factory-secret-factory-db-aifactory.age
  secrets/factory-secret-factory-db-pfactory.age
  secrets/factory-secret-factory-db-tfactory.age
  secrets/factory-secret-factory-secrets.age
  secrets/factory-secret-minio-creds.age
  secrets/factory-secret-oauth2-proxy-cfactory.age
  secrets/factory-secret-oauth2-proxy-observe.age
  secrets/factory-secret-oauth2-proxy-odin.age
  secrets/factory-secret-observe-root.age
  secrets/factory-secret-otel-otlp-auth.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

factory(secrets): correct oauth2-proxy client secrets to keycloak originals + add odin-ssh-key
  modules/containers/k3d.nix
  secrets.nix
  secrets/factory-secret-oauth2-proxy-cfactory.age
  secrets/factory-secret-oauth2-proxy-observe.age
  secrets/factory-secret-odin-ssh-key.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

factory(secrets): capture AIFACTORY_TRUSTED_PLAN_KEY_PFACTORY into agenix
  secrets/factory-secret-factory-secrets.age
Due: none

feat(p510): expose Ollama on 0.0.0.0 for AIFactory portal access via Tailscale
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

factory: durable agenix secrets + p510 Ollama 0.0.0.0 (#955)
  hosts/p510/configuration.nix
  modules/containers/k3d.nix
  secrets.nix
  secrets/factory-secret-cfactory-api-keys.age
  secrets/factory-secret-factory-db-aifactory.age
  secrets/factory-secret-factory-db-pfactory.age
  secrets/factory-secret-factory-db-tfactory.age
  secrets/factory-secret-factory-secrets.age
  secrets/factory-secret-minio-creds.age
  secrets/factory-secret-oauth2-proxy-cfactory.age
  secrets/factory-secret-oauth2-proxy-observe.age
  secrets/factory-secret-oauth2-proxy-odin.age
  secrets/factory-secret-observe-root.age
  secrets/factory-secret-odin-ssh-key.age
  secrets/factory-secret-otel-otlp-auth.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#956)
  flake.lock
Due: none

feat(k3d): bulletproof reboot recovery + Keycloak realm backups
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(k3d): bulletproof reboot recovery + Keycloak realm backups (#957)
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): keycloak backup must use host path, not in-node PV path
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): keycloak backup must use host path, not in-node PV path (#958)
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(k3d): add disaster-recovery & resilience runbook for p510
  docs/applications/k3d-cluster.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(k3d): add disaster-recovery & resilience runbook for p510 (#959)
  docs/applications/k3d-cluster.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(k3d): add daily skillai-db backup timer (#960)
  docs/applications/k3d-cluster.md
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(k3d): add daily skillai-db backup timer (#960) (#961)
  docs/applications/k3d-cluster.md
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(pkgs): bump antigravity-cli 1.0.12 and antigravity-ide 2.1.1
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-ide/package.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(pkgs): bump antigravity-cli 1.0.12 and antigravity-ide 2.1.1 (#962)
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-ide/package.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#963)
  flake.lock
Due: none

chore(claude-code): update native binary 2.1.191 → 2.1.193
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update native binary 2.1.191 → 2.1.193 (#965)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): bump to v2.0.22+claude1.15200.0
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): bump to v2.0.22+claude1.15200.0 (#966)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#968)
  flake.lock
Due: none

chore(claude-code): update native binary 2.1.193 → 2.1.195 (#969)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gnome): temporarily disable logseq (electron build hangs)
  home/desktop/gnome/apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#972)
  flake.lock
  home/desktop/gnome/apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update native binary 2.1.193 → 2.1.195 (#969) (#970)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump CLI 1.0.13 and SDK 0.1.5
  pkgs/antigravity-cli/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump CLI 1.0.13 and SDK 0.1.5 (#973)
  pkgs/antigravity-cli/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(commands): add /update-antigravity to bump all antigravity packages
  .claude/commands/update-antigravity.md
  scripts/update-antigravity.sh
Due: shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

feat(commands): add /update-antigravity to bump all antigravity packages (#974)
  .claude/commands/update-antigravity.md
  scripts/update-antigravity.sh
Due: shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

feat(antigravity): package antigravity-hub (desktop launcher)
  .claude/commands/update-antigravity.md
  Users/olafkfreund/profile.nix
  pkgs/antigravity-hub/default.nix
  pkgs/default.nix
  scripts/update-antigravity.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(warp-terminal): bump to v0.2026.06.24.09.19.stable_02
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

feat(antigravity): package antigravity-hub (desktop launcher) (#975)
  .claude/commands/update-antigravity.md
  Users/olafkfreund/profile.nix
  pkgs/antigravity-hub/default.nix
  pkgs/default.nix
  scripts/update-antigravity.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(warp-terminal): bump to v0.2026.06.24.09.19.stable_02 (#976)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict
