Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

docs(spec): draft remove-zellij (#1949)
  spec/2026-09-22-1949-remove-zellij.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve remove-zellij (#1949)
  spec/2026-09-22-1949-remove-zellij.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft remove-zellij (#1949)
  plan/2026-09-22-1949-remove-zellij.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve remove-zellij (#1949)
  plan/2026-09-22-1949-remove-zellij.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(shell): remove zellij and zjstatus (#1949)
  .agent-os/product/mission.md
  .agent-os/product/roadmap.md
  .agent-os/product/tech-stack.md
  .claude/settings.local.json
  .gemini/settings.local.json
  .typos.toml
  README.md
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/p510_home.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/profile.nix
  Users/olafkfreund/razer_home.nix
  docs/architecture/theming.md
  flake.lock
  flake.nix
  home/desktop/terminals/default.nix
  home/profiles/developer/default.nix
  home/profiles/server-admin/default.nix
  home/shell/README.md
  home/shell/default.nix
  home/shell/zellij/README.md
  home/shell/zellij/default.nix
  home/shell/zellij/default_layout.nix
  home/shell/zellij/zjstatus.nix
  hosts/p620/home-manager-options.nix
  hosts/razer/home-manager-options.nix
  modules/nixos/packages/host-specific/laptop-packages.nix
  overlays/default.nix
  plan/2026-09-22-1949-remove-zellij.md
Due: nixpkgs-fmt, statix, deadnix, taplo, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(shell): remove zellij and zjstatus (#1949) (#1951)
  .agent-os/product/mission.md
  .agent-os/product/roadmap.md
  .agent-os/product/tech-stack.md
  .claude/settings.local.json
  .gemini/settings.local.json
  .typos.toml
  README.md
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/p510_home.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/profile.nix
  Users/olafkfreund/razer_home.nix
  docs/architecture/theming.md
  flake.lock
  flake.nix
  home/desktop/terminals/default.nix
  home/profiles/developer/default.nix
  home/profiles/server-admin/default.nix
  home/shell/README.md
  home/shell/default.nix
  home/shell/zellij/README.md
  home/shell/zellij/default.nix
  home/shell/zellij/default_layout.nix
  home/shell/zellij/zjstatus.nix
  hosts/p620/home-manager-options.nix
  hosts/razer/home-manager-options.nix
  intent/2026-09-22-1949-remove-zellij.md
  modules/nixos/packages/host-specific/laptop-packages.nix
  overlays/default.nix
  plan/2026-09-22-1949-remove-zellij.md
  spec/2026-09-22-1949-remove-zellij.md
Due: nixpkgs-fmt, statix, deadnix, taplo, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1952)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1953)
  flake.lock
Due: none

docs(intent): draft razer-two-boot-entries (#1954)
  intent/2026-09-22-1954-razer-two-boot-entries.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve razer-two-boot-entries (#1954)
  intent/2026-09-22-1954-razer-two-boot-entries.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft razer-two-boot-entries (#1954)
  spec/2026-09-22-1954-razer-two-boot-entries.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve razer-two-boot-entries (#1954)
  spec/2026-09-22-1954-razer-two-boot-entries.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft razer-two-boot-entries (#1954)
  plan/2026-09-22-1954-razer-two-boot-entries.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve razer-two-boot-entries (#1954)
  plan/2026-09-22-1954-razer-two-boot-entries.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(razer): keep two boot entries, drop unused Turing firmware (#1954)
  hosts/razer/nixos/boot.nix
  hosts/razer/nixos/nvidia.nix
  scripts/check-boot-space.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

feat(razer): keep two boot entries, drop unused Turing firmware (#1954) (#1955)
  hosts/razer/nixos/boot.nix
  hosts/razer/nixos/nvidia.nix
  intent/2026-09-22-1954-razer-two-boot-entries.md
  plan/2026-09-22-1954-razer-two-boot-entries.md
  scripts/check-boot-space.sh
  spec/2026-09-22-1954-razer-two-boot-entries.md
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(claude-code): 2.1.278 -> 2.1.280 (#1956)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): 2.1.278 -> 2.1.280 (#1956) (#1957)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft nix-skills (#1958)
  intent/2026-09-22-1958-nix-skills.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve nix-skills (#1958)
  intent/2026-09-22-1958-nix-skills.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft nix-skills (#1958)
  spec/2026-09-22-1958-nix-skills.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve nix-skills (#1958)
  spec/2026-09-22-1958-nix-skills.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft nix-skills (#1958)
  plan/2026-09-22-1958-nix-skills.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve nix-skills (#1958)
  plan/2026-09-22-1958-nix-skills.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(skills): install nix-skills for Claude, Codex and Antigravity (#1958)
  flake.lock
  flake.nix
  home/development/claude-code-skills/default.nix
  home/syncthing-stignore.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(skills): install nix-skills for Claude, Codex and Antigravity (#1958) (#1959)
  flake.lock
  flake.nix
  home/development/claude-code-skills/default.nix
  home/syncthing-stignore.nix
  intent/2026-09-22-1958-nix-skills.md
  plan/2026-09-22-1958-nix-skills.md
  spec/2026-09-22-1958-nix-skills.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(syncthing): stop syncing host-local skill links
  home/syncthing-stignore.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(syncthing): stop syncing host-local skill links (#1960)
  home/syncthing-stignore.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(syncthing): write .stignore as real files so Syncthing reloads them
  home/syncthing-stignore.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(syncthing): write .stignore as real files so Syncthing reloads them (#1962)
  home/syncthing-stignore.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft local-skills-all-agents
  intent/2026-09-22-tbd-local-skills-all-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-22-tbd-local-skills-all-agents
  intent/2026-09-22-tbd-local-skills-all-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft local-skills-all-agents
  spec/2026-09-22-tbd-local-skills-all-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-22-tbd-local-skills-all-agents
  spec/2026-09-22-tbd-local-skills-all-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft local-skills-all-agents
  plan/2026-09-22-tbd-local-skills-all-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-22-tbd-local-skills-all-agents
  plan/2026-09-22-tbd-local-skills-all-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(skills): declare local skills once, install for every agent (#TBD)
  home/development/claude-code-skills/backstage-patterns/SKILL.md
  home/development/claude-code-skills/cosmic-ui-design-skill/AGENTS.md
  home/development/claude-code-skills/cosmic-ui-design-skill/PROJECT_STRUCTURE.md
  home/development/claude-code-skills/cosmic-ui-design-skill/QUICK_REFERENCE.md
  home/development/claude-code-skills/cosmic-ui-design-skill/README.md
  home/development/claude-code-skills/cosmic-ui-design-skill/SKILL.md
  home/development/claude-code-skills/cosmic-ui-design-skill/USAGE.md
  home/development/claude-code-skills/cosmic-ui-design-skill/agents.json
  home/development/claude-code-skills/cosmic-ui-design-skill/skill.json
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/dns/scripts/dns.sh
  home/development/claude-code-skills/fides/SKILL.md
  home/development/claude-code-skills/fides/reference/commands.md
  home/development/claude-code-skills/fides/reference/configuration.md
  home/development/claude-code-skills/fides/reference/mcp-and-management.md
  home/development/claude-code-skills/fides/reference/pipelines.md
  home/development/claude-code-skills/linkedin-post/SKILL.md
  home/development/claude-code-skills/nixos-standards/SKILL.md
  home/development/claude-code-skills/reddit-post/SKILL.md
  home/syncthing-stignore.nix
  plan/2026-09-22-tbd-local-skills-all-agents.md
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

style(skills): clear markdownlint errors in the imported skill docs
  home/development/claude-code-skills/backstage-patterns/SKILL.md
  home/development/claude-code-skills/cosmic-ui-design-skill/AGENTS.md
  home/development/claude-code-skills/cosmic-ui-design-skill/PROJECT_STRUCTURE.md
  home/development/claude-code-skills/cosmic-ui-design-skill/QUICK_REFERENCE.md
  home/development/claude-code-skills/cosmic-ui-design-skill/README.md
  home/development/claude-code-skills/cosmic-ui-design-skill/SKILL.md
  home/development/claude-code-skills/cosmic-ui-design-skill/USAGE.md
  home/development/claude-code-skills/fides/SKILL.md
  home/development/claude-code-skills/fides/reference/commands.md
  home/development/claude-code-skills/fides/reference/configuration.md
  home/development/claude-code-skills/fides/reference/mcp-and-management.md
  home/development/claude-code-skills/fides/reference/pipelines.md
  home/development/claude-code-skills/linkedin-post/SKILL.md
  home/development/claude-code-skills/nixos-standards/SKILL.md
  home/development/claude-code-skills/reddit-post/SKILL.md
  intent/2026-09-22-tbd-local-skills-all-agents.md
  plan/2026-09-22-tbd-local-skills-all-agents.md
  spec/2026-09-22-tbd-local-skills-all-agents.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict
