Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration

just-validate:
  name: Validate justfile
  entry: just --list
  language: system
  pass_filenames: false
  description: Validate justfile syntax

fix(ai): add stdio subcommand to github-mcp-server (#83)
  home/development/claude-desktop/mcp-config.nix
Due: nixpkgs-fmt, statix, deadnix

fix(secrets): populate all agenix API secrets with actual keys (#84)
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
  secrets/obsidian-api-key.age
  secrets/tailscale-auth-key.age
Due: none

fix(mcp): use wrapper script for GitHub MCP server authentication (#83)
  home/development/claude-desktop/mcp-config.nix
Due: nixpkgs-fmt, statix, deadnix

chore(flake): update flake inputs
  flake.lock
Due: flake-check

feat(development): add Claude Powerline statusline integration (#86)
  docs/Claude-Powerline.md
  home/development/claude-powerline.nix
  home/development/default.nix
  home/profiles/developer/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(development): add Claude Powerline statusline integration (#86) (#87)
  docs/Claude-Powerline.md
  home/development/claude-powerline.nix
  home/development/default.nix
  home/profiles/developer/default.nix
Due: nixpkgs-fmt, statix, deadnix

refactor(claude-powerline): remove budget monitoring for MAX subscription
  home/development/claude-powerline.nix
  home/profiles/developer/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(claude-powerline): correct config path to ~/.config/claude-code/
  home/development/claude-powerline.nix
Due: nixpkgs-fmt, statix, deadnix

fix(claude-powerline): use correct ~/.claude/settings.json path
  home/development/claude-powerline.nix
Due: nixpkgs-fmt, statix, deadnix

feat(claude-powerline): add wrapper script via Home Manager
  home/development/claude-powerline.nix
Due: nixpkgs-fmt, statix, deadnix

feat(skills): add comprehensive GitHub and git skill
  .claude/commands/nix-help.md
  .claude/skills/github.md
Due: none

feat(skills): add comprehensive NixOS core skill for best practices
  .claude/commands/nix-help.md
  .claude/skills/nixcore.md
Due: none

feat(commands): add /nix-manix-search for NixOS option and package discovery
  .claude/commands/nix-help.md
  .claude/commands/nix-manix-search.md
Due: none

feat(packages): install nix-doc and wayfarer on P620 and Razer
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.70 (#88)
  flake.lock
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.0.70 (#88) (#89)
  flake.lock
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude): add nix-doc tags file
  .claude/skills/tags
Due: none

feat(skills): add comprehensive Tailscale VPN skill
  .claude/skills/tailscale.md
Due: none

fix(ai): disable Ollama on Razer and Samsung laptops
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix(razer): resolve Stylix GNOME theme conflicts and font issues
  flake.lock
  hosts/razer/themes/stylix.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude): add new skills and update dependencies
  .claude/skills/dankms.md
  .claude/skills/hyprland.md
  .claude/skills/mangowc.md
  .claude/skills/niri.md
  flake.lock
Due: flake-check

docs(comprehensive): add media skill and rewrite README with complete integration
  .claude/skills/media.md
  README.md
Due: none

feat(agent): add security-patrol agent for proactive security monitoring
  .claude/agents/security-patrol.md
Due: none

docs: update documentation with security-patrol agent
  .claude/CLAUDE.md
  README.md
Due: none

feat(agent): add deployment-coordinator for intelligent multi-host orchestration
  .claude/agents/deployment-coordinator.md
Due: none

docs: update documentation with deployment-coordinator agent
  .claude/CLAUDE.md
  README.md
Due: none

feat(agent): add performance-analyzer for build and evaluation profiling
  .claude/agents/performance-analyzer.md
Due: none

feat(agent): add module-refactor for intelligent code quality and refactoring
  .claude/agents/module-refactor.md
Due: none

feat(agent): add package-resolver for automatic conflict resolution
  .claude/agents/package-resolver.md
Due: none

docs: update documentation with all 5 new agents (P0 and P1)
  .claude/CLAUDE.md
  README.md
Due: none

feat(agent): add config-drift-detective for declarative state enforcement
  .claude/agents/config-drift-detective.md
Due: none

feat(agent): add test-generator for automatic test suite creation
  .claude/agents/test-generator.md
Due: none

feat(agent): add documentation-sync for automated documentation generation
  .claude/agents/documentation-sync.md
Due: none

docs: update documentation with all 8 new agents (complete)
  .claude/CLAUDE.md
  README.md
Due: none

chore(claude-code): update to version 2.0.71 (#91)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.71 (#91) (#92)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.0.72 (#93)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(mcp): add BrowserMCP server for p620 and razer (#96)
  docs/MCP-SERVERS.md
  flake.lock
  home/development/claude-code-mcp-config.json
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos/usb-power-fix.nix
  hosts/razer/configuration.nix
  modules/ai/mcp-servers.nix
  pkgs/browser-mcp/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.0.72 (#93) (#94)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  flake-check: any of: flake\.(nix|lock)$
  just-validate: any of: justfile$
