Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

feat(razer): enable GNOME desktop alongside COSMIC (#312)
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): expose all display-manager sessions in the system closure
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): expose all display-manager sessions in the system closure (#313)
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(citrix-workspace): disable on p620 and razer
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(citrix-workspace): disable on p620 and razer (#314)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.112
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.112 (#315)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude): add /check-nixos-issues slash command
  .claude/commands/check-nixos-issues.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(claude): add /check-nixos-issues slash command (#316)
  .claude/commands/check-nixos-issues.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump nixpkgs lock 2026-04-09 → 2026-04-14
  flake.lock
Due: none

chore(flake): bump nixpkgs lock 2026-04-09 → 2026-04-14 (#317)
  flake.lock
Due: none

fix(claude-desktop): repack asar so Linux pty.node loads (#318)
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-desktop): repack asar so Linux pty.node loads (#318) (#319)
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(/check-nixos-issues): cross-check nixpkgs before 🔴 actionable (#320)
  .claude/commands/check-nixos-issues.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(/check-nixos-issues): cross-check nixpkgs before 🔴 actionable (#320) (#321)
  .claude/commands/check-nixos-issues.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(claude-code): migrate to native binary + add release watcher (#322)
  .claude/commands/update-claude-code.md
  .github/workflows/claude-code-watch.yml
  home/default.nix
  pkgs/claude-code-native/default.nix
  scripts/update-claude-code-native.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, yamllint, markdownlint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

feat(claude-code): migrate to native binary + add release watcher (#322) (#323)
  .claude/commands/update-claude-code.md
  .github/workflows/claude-code-watch.yml
  home/default.nix
  pkgs/claude-code-native/default.nix
  scripts/update-claude-code-native.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, yamllint, markdownlint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

feat(claude-desktop): bump to latest main + patch Nix build + add watcher (#324)
  .claude/commands/update-claude-code.md
  .github/workflows/claude-desktop-watch.yml
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-desktop): bump to latest main + patch Nix build + add watcher (#324) (#325)
  .claude/commands/update-claude-code.md
  .github/workflows/claude-desktop-watch.yml
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore: flush dirty tree — flake input bumps + p620 ts.net pin + syncthing IDs (#326)
  flake.lock
  hosts/p620/configuration.nix
  modules/services/syncthing.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore: flush dirty tree — flake input bumps + p620 ts.net pin + syncthing IDs (#326) (#327)
  flake.lock
  hosts/p620/configuration.nix
  modules/services/syncthing.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixpkgs 4bd9165 → b12141e, home-manager + nur (#328)
  flake.lock
Due: none

chore(flake): bump nixpkgs 4bd9165 → b12141e, home-manager + nur (#328) (#329)
  flake.lock
Due: none

feat(just): add update-commit-deploy recipe (local + remote, via nh) (#330)
  Justfile
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

feat(just): add update-commit-deploy recipe (local + remote, via nh) (#330) (#331)
  Justfile
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

feat(update-commit-deploy): deploy stale host even when lock unchanged (#332)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

feat(update-commit-deploy): deploy stale host even when lock unchanged (#332) (#333)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(virt): encrypt libvirt secret with systemd-creds host key
  modules/virt/virt.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): disable tailscale subnet routes to fix LAN routing
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore: rescue useful commits from PR #304 (razer tailscale + virt creds) (#335)
  hosts/razer/configuration.nix
  modules/virt/virt.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(nhs): rebind to update-commit-deploy + docs + fix sudo prompt (#336)
  CLAUDE.md
  docs/UPDATE-DEPLOY.md
  home/shell/zsh.nix
  scripts/update-commit-deploy.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

feat(nhs): rebind to update-commit-deploy + docs + fix sudo prompt (#336) (#337)
  CLAUDE.md
  docs/UPDATE-DEPLOY.md
  home/shell/zsh.nix
  scripts/update-commit-deploy.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(update-commit-deploy): document local-build policy (#338)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(update-commit-deploy): document local-build policy (#338) (#339)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

docs(readme): document new nhs / update-commit-deploy flow (#340)
  README.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(readme): document new nhs / update-commit-deploy flow (#340) (#341)
  README.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(update-commit-deploy): use nh os build for test-build step
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(update-commit-deploy): use nh os build for test-build step (#343)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(nvim): pin blink.cmp to 1.x for prebuilt Rust matcher binary (#344)
  home/shell/lazyvim/lazyvim/lua/plugins/blink.lua
Due: stylua, trailing-whitespace, end-of-file, check-merge-conflict

fix(nvim): pin blink.cmp to 1.x for prebuilt Rust matcher binary (#344) (#345)
  home/shell/lazyvim/lazyvim/lua/plugins/blink.lua
Due: stylua, trailing-whitespace, end-of-file, check-merge-conflict
