Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration

just-validate:
  name: Validate justfile
  entry: just --list
  language: system
  pass_filenames: false
  description: Validate justfile syntax

feature: add Karere WhatsApp client to desktop hosts (#135)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feature: add Karere WhatsApp client to desktop hosts (#135) (#136)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat(mcp): implement WhatsApp MCP integration for AI-assisted messaging (#137)
  docs/WHATSAPP-MCP.md
  home/development/claude-code-mcp-config.json
  home/development/claude-desktop/mcp-config.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/ai/mcp-servers.nix
  modules/services/default.nix
  modules/services/whatsapp-bridge.nix
  pkgs/default.nix
  pkgs/whatsapp-mcp/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(mcp): implement WhatsApp MCP integration for AI-assisted messaging (#137) (#138)
  docs/WHATSAPP-MCP.md
  home/development/claude-code-mcp-config.json
  home/development/claude-desktop/mcp-config.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/ai/mcp-servers.nix
  modules/services/default.nix
  modules/services/whatsapp-bridge.nix
  pkgs/default.nix
  pkgs/whatsapp-mcp/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(mcp): add Nix-based Claude Code MCP configuration and Atlassian to all hosts
  home/development/claude-code-lsp.nix
  home/development/claude-code-mcp-config.json.backup
  home/development/claude-code-mcp.nix
  home/development/default.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat(cosmic): add COSMIC package updater applet
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/desktop.nix
  modules/desktop/cosmic-applet-package-updater.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(cosmic): add COSMIC music player applet with Crane-based build
  flake.lock
  flake.nix
  modules/desktop/cosmic.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#140)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

refactor: remove unused zed-editor from configuration
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/p510_home.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  flake.lock
  home/development/default.nix
  home/development/zed.nix
  home/profiles/desktop-user/default.nix
  home/profiles/developer/default.nix
  home/profiles/laptop-user/default.nix
  home/profiles/server-admin/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(cosmic): add cosmic-applet-spotify integration
  flake.lock
  flake.nix
  modules/desktop/cosmic.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.1.3 (#141)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.3 (#141) (#142)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.4 (#143)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.4 (#143) (#144)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.5 (#147)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.5 (#147) (#148)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

enhancement(cosmic): add Forecast weather app to COSMIC desktop (#149)
  modules/desktop/cosmic.nix
Due: nixpkgs-fmt, statix, deadnix

enhancement(cosmic): add Forecast weather app to COSMIC desktop (#149) (#150)
  modules/desktop/cosmic.nix
Due: nixpkgs-fmt, statix, deadnix

chore: modernize Nix patterns and fix MCP environment handling
  flake.lock
  flake.nix
  home/development/claude-desktop/mcp-config.nix
  home/development/vscode.nix
  lib/flake-helpers.nix
  modules/desktop/cosmic-applet-package-updater.nix
  modules/services/rescreenshot-mcp.nix
  pkgs/whatsapp-mcp/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.1.6 (#151)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix: resolve deployment, zoxide, and home-manager issues
  Justfile
  flake.lock
  home/shell/zoxide/default.nix
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: resolve deployment, zoxide, and home-manager issues (#153)
  Justfile
  flake.lock
  home/shell/zoxide/default.nix
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.1.6 (#151) (#152)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(laptops): add kosli-cli to Razer and Samsung, update to v2.11.37
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  pkgs/kosli-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(cache): implement multi-tier binary cache system and deployment optimization
  Justfile
  docs/CACHE-STRATEGY.md
  docs/CACHIX-ANALYSIS.md
  flake.lock
  home/desktop/gnome/apps.nix
  modules/default.nix
  modules/nix/nix.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(gnome): add Valent phone connectivity to GNOME apps
  flake.lock
  home/desktop/gnome/apps.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(p510): resolve Tailscale network breakage and enable subnet routing
  flake.lock
  hosts/p510/configuration.nix
  hosts/p510/nixos/network.nix
  hosts/p510/nixos/plex.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.1.7 (#155)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.7 (#155) (#156)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(p510): resolve Tailscale network breakage and enable subnet routing
  flake.lock
  hosts/p510/nixos/plex.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

docs: simplify README.md - remove emojis, consolidate sections, add command reference table
  README.md
Due: none

docs(claude): clarify relevant built-in agents for NixOS development
  .claude/CLAUDE.md
Due: none

fix(cosmic): resolve MPRIS music player applet discovery issue (#160)
  flake.lock
  pkgs/cosmic-applets/music-player/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(virtualization): add Waydroid Android emulation support to P620 (#161)
  docs/WAYDROID-SETUP.md
  hosts/p620/configuration.nix
  modules/virt/waydroid.nix
  modules/virtualization.nix
Due: nixpkgs-fmt, statix, deadnix

feat(virtualization): add Waydroid Android emulation support to P620 and Razer (#161)
  flake.lock
  hosts/p510/nixos/tailscale-serve.nix
  hosts/razer/configuration.nix
  modules/virt/waydroid.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(virtualization): add Waydroid Android emulation support to P620 and Razer (#161) (#162)
  docs/WAYDROID-SETUP.md
  flake.lock
  hosts/p510/nixos/tailscale-serve.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/virt/waydroid.nix
  modules/virtualization.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.1.9 (#163)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.9 (#163) (#164)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  flake-check: any of: flake\.(nix|lock)$
  just-validate: any of: justfile$
