Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(flake): bump nixpkgs (waydroid 1.6.3) + p620 audible-sync (#705)
  flake.lock
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/boot.nix
  modules/desktop/stylix-theme.nix
  modules/services/audible-sync.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.160
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.160 (#707)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(zoxide): silence the periodic doctor-warning nag
  home/shell/zoxide/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(zoxide): silence the periodic doctor-warning nag (#708)
  home/shell/zoxide/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer,p620): add gnome-quick-web-apps
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer,p620): add gnome-quick-web-apps (#709)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump gnome-quick-web-apps to 0.1.5
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.5 (#710)
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.6
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.6 (#711)
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.7
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.7 (#712)
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.8
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.8 (#713)
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.10
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.10 (#714)
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.11
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.11 (#715)
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.17
  flake.lock
Due: none

chore(flake): bump gnome-quick-web-apps to 0.1.17 (#717)
  flake.lock
Due: none

feat: dns skill + godaddy secrets + pear-desktop on music hosts
  home/development/claude-code-commands/default.nix
  home/development/claude-code-commands/dns.md
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/dns/SKILL.md
  home/development/claude-code-skills/dns/scripts/dns.sh
  home/media/music.nix
  secrets.nix
  secrets/api-godaddy.age
  secrets/godaddy-account.age
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

feat: dns skill + godaddy secrets + pear-desktop on music hosts (#718)
  home/development/claude-code-commands/default.nix
  home/development/claude-code-commands/dns.md
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/dns/SKILL.md
  home/development/claude-code-skills/dns/scripts/dns.sh
  home/media/music.nix
  secrets.nix
  secrets/api-godaddy.age
  secrets/godaddy-account.age
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#719)
  flake.lock
Due: none

chore(claude-code): update to 2.1.161
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.161 (#720)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620,razer): full GStreamer plugin set; razer: NOPASSWD for clean `just razer`
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620,razer): full GStreamer plugin set; razer: NOPASSWD for clean `just razer` (#721)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gstreamer): include gstreamer.out to ship coreelements plugins
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gstreamer): include gstreamer.out to ship coreelements plugins (#722)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(bazarr): run as olafkfreund:users to match sonarr/radarr
  modules/services/bazarr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(bazarr): run as olafkfreund:users to match sonarr/radarr (#723)
  modules/services/bazarr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.162 (#724)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.162 (#724) (#726)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home): drop preemptive gtk.gtk4.theme = null
  Users/common/base-home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home): drop preemptive gtk.gtk4.theme = null (#727)
  Users/common/base-home.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#728)
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
