Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

feat(nixarchy): sole Hyprland session, Omarchy-driven Stylix, p510 session
  home/desktop/wayland/default.nix
  home/desktop/wayland/hyprland.nix
  hosts/common/nixos/omarchy-sole-hyprland.nix
  hosts/common/nixos/omarchy-stylix-theme.nix
  hosts/p510/configuration.nix
  hosts/p510/nixos/nixarchy.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/nixarchy.nix
  modules/desktop/default.nix
  modules/desktop/hyprland.nix
  modules/desktop/stylix-theme.nix
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(nixarchy): sole Hyprland session, Omarchy-driven Stylix, p510 session (#1562)
  home/desktop/wayland/default.nix
  home/desktop/wayland/hyprland.nix
  hosts/common/nixos/omarchy-sole-hyprland.nix
  hosts/common/nixos/omarchy-stylix-theme.nix
  hosts/p510/configuration.nix
  hosts/p510/nixos/nixarchy.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/nixarchy.nix
  modules/desktop/default.nix
  modules/desktop/hyprland.nix
  modules/desktop/stylix-theme.nix
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(claude): correct the desktop section after #1562
  CLAUDE.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1564)
  CLAUDE.md
  flake.lock
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore: drop dead DMS references left after #1562
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  modules/desktop/theme-owner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore: drop dead DMS references left after #1562 (#1565)
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  modules/desktop/theme-owner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nixarchy): put Hyprland back on PATH, login was broken
  hosts/common/nixos/omarchy-sole-hyprland.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nixarchy): put Hyprland back on PATH, login was broken (#1566)
  hosts/common/nixos/omarchy-sole-hyprland.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1567)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1568)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1569)
  flake.lock
Due: none

feat(nixarchy): boot to Omarchy's Plymouth splash, not stylix's
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(nixarchy): boot to Omarchy's Plymouth splash, not stylix's (#1570)
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(fastfetch): use Omarchy's own config, drop the Alien HUD
  home/shell/fastfetch/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): configurationLimit 2 -> 1, the ESP was never comfortable
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(fastfetch): use Omarchy's own config, drop the Alien HUD (#1571)
  home/shell/fastfetch/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): configurationLimit 2 -> 1, the ESP was never comfortable (#1572)
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1573)
  flake.lock
Due: none

feat(desktop): add proton-vpn-cli for the OmaProton VPN widget
  Users/olafkfreund/profile.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): add proton-vpn-cli for the OmaProton VPN widget (#1574)
  Users/olafkfreund/profile.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(nixarchy): rewrap the theme-file comment
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(nixarchy): rewrap the theme-file comment (#1575)
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs d2f67949 → 34ab9907
  flake.lock
Due: none

chore(flake): bump all — nixpkgs d2f67949 → 34ab9907 (#1576)
  flake.lock
Due: none

chore(skills): drop skills for removed compositors (#1541)
  .claude/skills/dankms.md
  .claude/skills/mangowc.md
  .claude/skills/niri.md
  .gemini/skills/dankms/SKILL.md
  .gemini/skills/mangowc/SKILL.md
  .gemini/skills/niri/SKILL.md
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1578)
  flake.lock
Due: none

chore(skills): drop skills for removed compositors (#1541) (#1579)
  .claude/skills/dankms.md
  .claude/skills/mangowc.md
  .claude/skills/niri.md
  .gemini/skills/dankms/SKILL.md
  .gemini/skills/mangowc/SKILL.md
  .gemini/skills/niri/SKILL.md
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.252 (#1577)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.252 (#1577) (#1580)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1581)
  flake.lock
Due: none

feat(p510): self-hosted GitHub runner for nixarchy CI
  hosts/p510/configuration.nix
  hosts/p510/nixos/github-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): build in /home, not on the SMR pool
  hosts/p510/nixos/github-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check
