Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        language: system
        files: '\.nix$'
        description: Format Nix files using nixpkgs-fmt
      - id: statix
        name: Lint Nix files
        entry: statix check
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Lint Nix files for common issues
      - id: deadnix
        name: Check for dead Nix code
        entry: deadnix --fail
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Check for dead/unused Nix code
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        files: '\.sh$'
        args: [-e, SC1091, -e, SC2034, -e, SC2086]
        description: Lint shell scripts with shellcheck
      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        language: system
        files: '\.sh$'
        args: [-w, -i, "2", -bn, -ci]
        description: Format shell scripts with shfmt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        description: Remove trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-yaml
        description: Validate YAML files
      - id: check-json
        description: Validate JSON files
      - id: check-toml
        description: Validate TOML files
      - id: mixed-line-ending
        description: Check for mixed line endings
      - id: check-executables-have-shebangs
        description: Ensure executables have shebangs
      - id: check-shebang-scripts-are-executable
        description: Ensure shebang scripts are executable
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        args: [--fix, --config, .markdownlint.json]
        description: Lint and fix Markdown files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Format files with Prettier
        types_or: [json, yaml, markdown]
        description: Format JSON, YAML, and Markdown files
  - repo: local
    hooks:
      - id: flake-check
        name: Check Nix flake
        entry: nix flake check --no-build
        language: system
        files: 'flake\.(nix|lock)$'
        pass_filenames: false
        description: Validate Nix flake configuration
      - id: just-validate
        name: Validate justfile
        entry: just --list
        language: system
        files: "justfile$"
        pass_filenames: false
        description: Validate justfile syntax

chore: upgrade claude-code to version 2.0.25
  .claude/settings.local.json
  flake.lock
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix, flake-check

docs: verify P510 DNS configuration is working correctly
  flake.lock
  modules/scrcpy/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore: upgrade claude-code to version 2.0.27
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

chore: update flake dependencies and Claude settings
  .claude/settings.local.json
  flake.lock
Due: flake-check

fix: update deprecated package references for NixOS 25.11
  home/desktop/theme/qt.nix
  home/shell/markdown/default.nix
  hosts/dex5550/nixos/n8n.nix
Due: nixpkgs-fmt, statix, deadnix

fix: update additional deprecated package references for NixOS 25.11
  .claude/settings.local.json
  flake.lock
  home/desktop/com.nix
  home/desktop/gnome/apps.nix
  home/desktop/gnome/theme.nix
  home/desktop/proton/default.nix
  home/profiles/desktop-user/default.nix
  home/shell/lf/default.nix
  hosts/p510/nixos/microvm/nixvm.nix
  modules/fonts/fonts.nix
  modules/office/default.nix
  modules/virt/virt.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: update onlyoffice-desktopeditors, cosmic-tasks, and mpc deprecations
  modules/desktop/cosmic.nix
  modules/development/java.nix
  modules/office/default.nix
  modules/system-utils/system_util.nix
Due: nixpkgs-fmt, statix, deadnix

fix: update qflipper and sumneko-lua-language-server deprecations
  modules/development/lua.nix
  modules/system-utils/system_util.nix
Due: nixpkgs-fmt, statix, deadnix

fix: update glxinfo to mesa-demos
  hosts/p620/nixos/amd.nix
  hosts/razer/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix

fix: update VAAPI drivers and n8n environment variables
  hosts/dex5550/nixos/intel.nix
  hosts/dex5550/nixos/n8n.nix
  hosts/p510/nixos/nvidia.nix
  hosts/razer/nixos/nvidia.nix
  hosts/samsung/nixos/intel.nix
Due: nixpkgs-fmt, statix, deadnix

chore: upgrade claude-code to version 2.0.29
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix: update Claude Desktop hash for version 0.13.11
  pkgs/claude-desktop/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix: allow broken packages on Samsung to bypass CUDA dependency issue
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat: enable Secure Boot on Razer laptop with lanzaboote
  hosts/razer/configuration.nix
  hosts/razer/nixos/secure-boot.nix
Due: nixpkgs-fmt, statix, deadnix

flake.lock: Update
  flake.lock
Due: flake-check

fix: restore working flake.lock from P620 to resolve Rust build issues
  flake.lock
Due: flake-check

fix: temporarily disable Secure Boot on Razer due to lanzaboote v0.4.1 Rust build issues
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

chore: upgrade claude-code to version 2.0.31
  home/development/claude-code/default.nix
  home/games/steam.nix
Due: nixpkgs-fmt, statix, deadnix

feat(p620): implement critical/high/medium hardware optimizations
  hosts/p620/nixos/amd.nix
  hosts/p620/nixos/cpu.nix
  hosts/p620/nixos/hardware-configuration.nix
  hosts/p620/nixos/memory.nix
Due: nixpkgs-fmt, statix, deadnix

docs: add comprehensive BIOS NUMA configuration guide for P620
  docs/P620-BIOS-NUMA-Configuration.md
Due: none

feat: add winboat module for Windows app integration
  flake.lock
  home/development/claude-code/default.nix.backup
  home/development/claude-code/package-lock.json
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  hosts/templates/laptop.nix
  hosts/templates/workstation.nix
  modules/default.nix
  modules/windows/winboat.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(p620): switch from GDM to COSMIC Greeter
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix(p620): enable greetd for COSMIC Greeter to work
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

chore: update infrastructure configuration across all hosts
  .claude/settings.local.json
  flake.lock
  home/browsers/chrome.nix
  hosts/dex5550/configuration.nix
  hosts/hp/configuration.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos/cpu.nix
  hosts/p620/nixos/memory.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/common/features-impl.nix
  modules/common/features.nix
  modules/common/sway.nix
  modules/services/sunshine/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore: upgrade claude-code to version 2.0.32
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
  home/development/claude-code/package.json
Due: nixpkgs-fmt, statix, deadnix

docs: comprehensive Nix patterns and anti-patterns documentation
  docs/NIXOS-ANTI-PATTERNS.md
  docs/PATTERNS.md
Due: none

docs: add PATTERNS.md and NIXOS-ANTI-PATTERNS.md references to CLAUDE.md
  CLAUDE.md
Due: none

feat: add comprehensive /review command for in-depth code reviews
  .claude/commands/review.md
  .claude/settings.local.json
  CLAUDE.md
  flake.lock
Due: flake-check

feat(workflow): implement GitHub-based issue-driven development workflow
  .claude/commands/check_tasks.md
  .claude/commands/new_task.md
  .claude/settings.local.json
  CLAUDE.md
  docs/GITHUB-WORKFLOW.md
Due: none

chore(deps): update claude-code to version 2.0.34 (#3)
  flake.lock
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

docs(CLAUDE.md): improve markdown formatting for readability
  CLAUDE.md
Due: none

fix(dependencies): remove aichat and lutris due to slow pyrate-limiter build (#7)
  .claude/settings.local.json
  flake.lock
  home/games/steam.nix
  modules/ai/chatgpt.nix
  modules/ai/default.nix
  modules/ai/providers/anthropic.nix
  modules/ai/providers/gemini.nix
  modules/ai/providers/ollama.nix
  modules/ai/providers/openai.nix
  modules/consolidated/desktop.nix
  modules/programs/steam.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

docs: add comprehensive NixVirt research and analysis (#8)
  .claude/settings.local.json
  docs/research/NixVirt_Analysis_Index.md
  docs/research/NixVirt_Comprehensive_Analysis.md
  docs/research/NixVirt_Executive_Summary.md
  flake.lock
Due: flake-check

chore: remove abandoned gfn-electron package (#10)
  home/games/steam.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix: temporarily disable Spicetify due to upstream syntax error (#13)
  flake.lock
  home/media/spice_themes.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: re-enable direct Spotify package while Spicetify disabled (#13)
  home/media/music.nix
Due: nixpkgs-fmt, statix, deadnix

feat: update Claude-code to version 2.0.36 (#12)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(desktop): enable COSMIC Greeter on razer, p510, and samsung
  hosts/p510/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat(p510): add COSMIC remote desktop support (#15)
  hosts/p510/configuration.nix
  modules/desktop/cosmic-remote-desktop.nix
  modules/desktop/default.nix
Due: nixpkgs-fmt, statix, deadnix
