Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

feat(codex): Codex may write code for approved plans, guarded (#2081) (#2083)
  AGENTS.md
  home/development/agent-rules/codex-standards.md
  home/development/claude-code-skills/second-opinion/SKILL.md
  home/development/codex-cli.nix
  intent/2026-09-29-2081-codex-coder-write-access.md
  modules/programs/claude-coder-guard.sh
  plan/2026-09-29-2081-codex-coder-write-access.md
  spec/2026-09-29-2081-codex-coder-write-access.md
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

fix(codex): enforce the coder guard as a managed hook (#2081)
  home/development/codex-cli.nix
  modules/programs/claude-code-managed.nix
  plan/2026-09-29-2081-codex-coder-write-access.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.285 (#2084)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(codex): enforce the coder guard as a managed hook (#2081) (#2085)
  home/development/codex-cli.nix
  modules/programs/claude-code-managed.nix
  plan/2026-09-29-2081-codex-coder-write-access.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.285 (#2084) (#2086)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft agy-coder-write-access (#2087)
  intent/2026-09-29-2087-agy-coder-write-access.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve agy-coder-write-access (#2087)
  intent/2026-09-29-2087-agy-coder-write-access.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft agy-coder-write-access (#2087)
  spec/2026-09-29-2087-agy-coder-write-access.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve agy-coder-write-access (#2087)
  spec/2026-09-29-2087-agy-coder-write-access.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft agy-coder-write-access (#2087)
  plan/2026-09-29-2087-agy-coder-write-access.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve agy-coder-write-access (#2087)
  plan/2026-09-29-2087-agy-coder-write-access.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(antigravity): agy may write code for approved plans, guarded (#2087)
  AGENTS.md
  home/development/agent-rules.nix
  home/development/agent-rules/agy-standards.md
  home/development/antigravity-config.nix
  home/development/claude-code-skills/second-opinion/SKILL.md
  modules/programs/agy-guard-adapter.sh
  modules/programs/agy-guard-adapter.test.sh
  modules/programs/claude-code-managed.nix
  plan/2026-09-29-2087-agy-coder-write-access.md
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

feat(antigravity): agy may write code for approved plans, guarded (#2087) (#2088)
  AGENTS.md
  home/development/agent-rules.nix
  home/development/agent-rules/agy-standards.md
  home/development/antigravity-config.nix
  home/development/claude-code-skills/second-opinion/SKILL.md
  intent/2026-09-29-2087-agy-coder-write-access.md
  modules/programs/agy-guard-adapter.sh
  modules/programs/agy-guard-adapter.test.sh
  modules/programs/claude-code-managed.nix
  plan/2026-09-29-2087-agy-coder-write-access.md
  spec/2026-09-29-2087-agy-coder-write-access.md
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(warp-terminal): auto-update to 0.2026.09.23.14.34.stable_01
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): auto-update to 0.2026.09.23.14.34.stable_01 (#2090)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(antigravity): auto-update to 1.2.13-6662628811079680
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.13-6662628811079680 (#2091)
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2093)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2094)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2095)
  flake.lock
Due: none

chore(codex): bump overlay to 0.159.2
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(codex): bump overlay to 0.159.2 (#2096)
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(ai-tools): bump claude-code 2.1.286, antigravity-cli 1.2.14
  pkgs/antigravity-cli/default.nix
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.286
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.286 (#2100)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gogcli): auto-update to 0.43.0
  pkgs/gogcli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gogcli): auto-update to 0.43.0 (#2101)
  pkgs/gogcli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.14-4571742832820224
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.14-4571742832820224 (#2102)
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(spell): drop aspellDicts removed from nixpkgs
  modules/spell/default.nix
  modules/spell/spell.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(spell): drop aspellDicts removed from nixpkgs (#2103)
  modules/spell/default.nix
  modules/spell/spell.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(virt): drop kvmtool, fails to build with GCC 16
  modules/virt/virt.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(virt): drop kvmtool, fails to build with GCC 16 (#2104)
  modules/virt/virt.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all
  flake.lock
Due: none

chore(flake): bump all (#2105)
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
