Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(ci): drop secret-scan exclusions for removed installer paths (#2205)
  .github/workflows/ci.yml
  plan/2026-10-08-2205-remove-live-iso.md
Due: yamllint, markdownlint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): keep step numbering intact around step 8a (#2205)
  plan/2026-10-08-2205-remove-live-iso.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(claude-code): p510 deploy guard catches the bare host recipe (#2215)
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(installer): remove unused live ISO path and nixos-generators (#2205) (#2213)
  .claude/commands/nix-help.md
  .claude/commands/nix-live.md
  .gemini/commands/nix-live.toml
  .gemini/state/topology.json
  .github/workflows/ci.yml
  Justfile
  README.md
  flake.nix
  intent/2026-10-08-2205-remove-live-iso.md
  lib/live-images.nix
  modules/development/nix.nix
  modules/installer/default.nix
  modules/installer/installer-tools.nix
  modules/installer/live-system.nix
  plan/2026-10-08-2205-remove-live-iso.md
  scripts/install-helpers/install-wizard.sh
  scripts/install-helpers/mount-filesystems.sh
  scripts/install-helpers/parse-hardware-config.py
  scripts/install-helpers/partition-disk.sh
  spec/2026-10-08-2205-remove-live-iso.md
  tools/default.nix
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

fix(claude-code): p510 deploy guard catches the bare host recipe (#2215) (#2216)
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): draft remove dev-utils flake app (#2214)
  plan/2026-10-08-2214-remove-dev-utils.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-08-2214-remove-dev-utils (#2214)
  plan/2026-10-08-2214-remove-dev-utils.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft remove dev-utils flake app (#2214)
  spec/2026-10-08-2214-remove-dev-utils.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-08-2214-remove-dev-utils (#2214)
  spec/2026-10-08-2214-remove-dev-utils.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-08-2214-remove-dev-utils (#2214)
  intent/2026-10-08-2214-remove-dev-utils.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft remove dev-utils flake app (#2214)
  intent/2026-10-08-2214-remove-dev-utils.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): remove the never-built dev-utils app (#2214)
  flake.nix
  tools/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): remove the never-built dev-utils app (#2214) (#2217)
  flake.nix
  intent/2026-10-08-2214-remove-dev-utils.md
  plan/2026-10-08-2214-remove-dev-utils.md
  spec/2026-10-08-2214-remove-dev-utils.md
  tools/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft ship claude-code mods from the repo (#2218)
  intent/2026-10-08-2218-claude-code-mods.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-08-2218-claude-code-mods (#2218)
  intent/2026-10-08-2218-claude-code-mods.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): revise fleet-guard to visibility (#2218)
  intent/2026-10-08-2218-claude-code-mods.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft ship claude-code mods from the repo (#2218)
  spec/2026-10-08-2218-claude-code-mods.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-08-2218-claude-code-mods (#2218)
  spec/2026-10-08-2218-claude-code-mods.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft ship claude-code mods from the repo (#2218)
  plan/2026-10-08-2218-claude-code-mods.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-08-2218-claude-code-mods (#2218)
  plan/2026-10-08-2218-claude-code-mods.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(claude-code): ship fleet-guard and nix-flavour mods (#2218)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/programs/claude-code-mods.nix
  modules/programs/default.nix
  overlays/custom-packages.nix
  pkgs/claude-code-mods/.claude-plugin/marketplace.json
  pkgs/claude-code-mods/default.nix
  pkgs/claude-code-mods/fleet-guard/.claude-plugin/plugin.json
  pkgs/claude-code-mods/fleet-guard/hooks/bus.test.ts
  pkgs/claude-code-mods/fleet-guard/hooks/bus.ts
  pkgs/claude-code-mods/fleet-guard/hooks/classify.test.ts
  pkgs/claude-code-mods/fleet-guard/hooks/classify.ts
  pkgs/claude-code-mods/fleet-guard/hooks/hooks.json
  pkgs/claude-code-mods/fleet-guard/hooks/register.tsx
  pkgs/claude-code-mods/fleet-guard/types/index.d.ts
  pkgs/claude-code-mods/nix-flavour/.claude-plugin/plugin.json
  pkgs/claude-code-mods/nix-flavour/hooks/hooks.json
  pkgs/claude-code-mods/nix-flavour/hooks/register.ts
  pkgs/claude-code-mods/nix-flavour/hooks/status.test.ts
  pkgs/claude-code-mods/nix-flavour/hooks/status.ts
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, json-format, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(claude-code): fleet-guard reads #agents without a cursor (#2218)
  modules/programs/claude-code-managed.nix
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  pkgs/agent-bus-mcp/default.nix
  pkgs/agent-bus-mcp/test_agent_bus_mcp.py
  pkgs/claude-code-mods/fleet-guard/hooks/bus.test.ts
  pkgs/claude-code-mods/fleet-guard/hooks/bus.ts
  pkgs/claude-code-mods/fleet-guard/hooks/classify.test.ts
  pkgs/claude-code-mods/fleet-guard/hooks/classify.ts
  pkgs/claude-code-mods/fleet-guard/hooks/register.tsx
  plan/2026-10-08-2218-claude-code-mods.md
  spec/2026-10-08-2218-claude-code-mods.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): p510 changes only through agent-bus-mcp after step 6a (#2218)
  plan/2026-10-08-2218-claude-code-mods.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(claude-code): ship fleet-guard and nix-flavour mods (#2218) (#2219)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  intent/2026-10-08-2218-claude-code-mods.md
  modules/programs/claude-code-managed.nix
  modules/programs/claude-code-mods.nix
  modules/programs/default.nix
  overlays/custom-packages.nix
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  pkgs/agent-bus-mcp/default.nix
  pkgs/agent-bus-mcp/test_agent_bus_mcp.py
  pkgs/claude-code-mods/.claude-plugin/marketplace.json
  pkgs/claude-code-mods/default.nix
  pkgs/claude-code-mods/fleet-guard/.claude-plugin/plugin.json
  pkgs/claude-code-mods/fleet-guard/hooks/bus.test.ts
  pkgs/claude-code-mods/fleet-guard/hooks/bus.ts
  pkgs/claude-code-mods/fleet-guard/hooks/classify.test.ts
  pkgs/claude-code-mods/fleet-guard/hooks/classify.ts
  pkgs/claude-code-mods/fleet-guard/hooks/hooks.json
  pkgs/claude-code-mods/fleet-guard/hooks/register.tsx
  pkgs/claude-code-mods/fleet-guard/types/index.d.ts
  pkgs/claude-code-mods/nix-flavour/.claude-plugin/plugin.json
  pkgs/claude-code-mods/nix-flavour/hooks/hooks.json
  pkgs/claude-code-mods/nix-flavour/hooks/register.ts
  pkgs/claude-code-mods/nix-flavour/hooks/status.test.ts
  pkgs/claude-code-mods/nix-flavour/hooks/status.ts
  pkgs/default.nix
  plan/2026-10-08-2218-claude-code-mods.md
  spec/2026-10-08-2218-claude-code-mods.md
Due: nixpkgs-fmt, statix, deadnix, json-format, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.294 (#2212)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.294 (#2212) (#2220)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2221)
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 151fa4e8 → e7439b6b
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 151fa4e8 → e7439b6b (#2223)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2224)
  flake.lock
Due: none

chore(claude-code): auto-update to 2.1.295
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.295 (#2226)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): auto-update to 0.2026.10.07.08.29.stable_00
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): auto-update to 0.2026.10.07.08.29.stable_00 (#2227)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(antigravity): auto-update to 2.21.1-5614635819335680
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 2.21.1-5614635819335680 (#2228)
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
