Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

feat(home): newsboat + reddit-tui + headlines on razer + p620
  Users/olafkfreund/profile.nix
  home/media/reddit.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(home): newsboat + reddit-tui + headlines on razer + p620 (#685)
  Users/olafkfreund/profile.nix
  home/media/reddit.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump 26 inputs forward + guard nixpkgs from regressing
  flake.lock
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(flake): bump 26 inputs forward + guard nixpkgs from regressing (#686)
  flake.lock
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(flake): align nixpkgs original.ref with flake.nix + force --refresh
  flake.lock
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(flake): align nixpkgs original.ref with flake.nix + force --refresh (#687)
  flake.lock
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#688)
  flake.lock
Due: none

fix(nhs): force-splice nixpkgs from github ground truth
  flake.lock
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(nhs): force-splice nixpkgs from github ground truth (#689)
  flake.lock
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(flake): bump all (nixpkgs unchanged) (#690)
  flake.lock
Due: none

feat(voice-input): hold-to-talk dictation into focused window
  Users/olafkfreund/profile.nix
  home/applications/voice-input.nix
  hosts/p620/configuration.nix
  modules/services/whisper-server.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(voice-input): hold-to-talk dictation into focused window (#691)
  Users/olafkfreund/profile.nix
  home/applications/voice-input.nix
  hosts/p620/configuration.nix
  modules/services/whisper-server.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(whisper-server): TasksMax 64 -> 256 (pthread_create EAGAIN crash)
  modules/services/whisper-server.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(whisper-server): TasksMax 64 -> 256 (pthread_create EAGAIN crash) (#692)
  modules/services/whisper-server.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(voice-input): selectable backends — local / openai / groq
  home/applications/voice-input.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(voice-input): selectable backends — local / openai / groq (#693)
  home/applications/voice-input.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(voice-input): wire Groq backend with api-groq agenix secret
  Users/olafkfreund/profile.nix
  modules/secrets/api-keys.nix
  secrets.nix
  secrets/api-groq.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(voice-input): wire Groq backend with api-groq agenix secret (#694)
  Users/olafkfreund/profile.nix
  modules/secrets/api-keys.nix
  secrets.nix
  secrets/api-groq.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(voice-input): switch wtype -> ydotool (GNOME Wayland) + fix keybind list
  home/applications/voice-input.nix
  home/desktop/gnome/keybindings.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(voice-input): switch wtype -> ydotool (GNOME Wayland) + fix keybind list (#695)
  home/applications/voice-input.nix
  home/desktop/gnome/keybindings.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(voice-input): set YDOTOOL_SOCKET + add user to ydotool group
  home/applications/voice-input.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(voice-input): set YDOTOOL_SOCKET + add user to ydotool group (#696)
  home/applications/voice-input.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(ydotool): add ydotool to existing users.users extraGroups block
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(ydotool): add ydotool to existing users.users extraGroups block (#697)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(lib,modules): restore missing inherit-list entries after with-lib cleanup
  lib/flake-helpers.nix
  modules/SYSTEMD_SERVICE_TEMPLATE.nix
  modules/services/flaresolverr/default.nix
  modules/system/performance.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(meeting-transcribe): one-button meeting recording with whisperX + Ollama summary
  home/desktop/gnome/keybindings.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/services/meeting-transcribe.nix
  secrets.nix
  secrets/api-huggingface.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(meeting-transcribe): one-button meeting recording with whisperX + Ollama summary (#699)
  home/desktop/gnome/keybindings.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  lib/flake-helpers.nix
  modules/SYSTEMD_SERVICE_TEMPLATE.nix
  modules/services/flaresolverr/default.nix
  modules/services/meeting-transcribe.nix
  modules/system/performance.nix
  secrets.nix
  secrets/api-huggingface.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(meet): add application page for meeting-transcribe
  docs/applications/meet.md
  mkdocs.yml
Due: yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(meet): add application page for meeting-transcribe (#700)
  docs/applications/meet.md
  mkdocs.yml
Due: yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(docker): move data-root to /mnt/data/docker
  modules/containers/docker.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(docker): move data-root to /mnt/data/docker (#702)
  modules/containers/docker.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#703)
  flake.lock
Due: none

feat(razer): add gscratch GNOME scratchpad extension
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): work around NVIDIA Optimus headless GDM-greeter bug
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

razer: add gscratch + work around Optimus headless GDM-greeter bug (#704)
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixpkgs to nixos-unstable HEAD (waydroid 1.6.3)
  flake.lock
  hosts/razer/configuration.nix
  hosts/razer/nixos/boot.nix
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620): audible-sync — download + decrypt Audible library to .m4b
  hosts/p620/configuration.nix
  modules/services/audible-sync.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check
