Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(nixarchy): switch theme to gruvbox (#1807)
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1808)
  flake.lock
Due: none

fix(p620): size the GC floor for a VM host and prune old VM images (#1809)
  hosts/p620/configuration.nix
  modules/nix/nix.nix
  modules/services/nixarchy-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): size the GC floor for a VM host and prune old VM images (#1809) (#1810)
  hosts/p620/configuration.nix
  modules/nix/nix.nix
  modules/services/nixarchy-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(sysctl): resolve collisions with nixarchy's mkDefault sysctls (#1811)
  flake.lock
  modules/common/networking.nix
  modules/storage/performance-optimization.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(sysctl): resolve collisions with nixarchy's mkDefault sysctls (#1811) (#1812)
  flake.lock
  modules/common/networking.nix
  modules/storage/performance-optimization.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1813)
  flake.lock
Due: none

chore(claude-code): auto-update to 2.1.272
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.272 (#1816)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

docs(workflow): intent, spec and plan for the artifact workflow (#1818)
  intent/2026-09-15-1818-artifact-workflow.md
  plan/2026-09-15-1818-artifact-workflow.md
  spec/2026-09-15-1818-artifact-workflow.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(claude): managed intent -> spec -> plan workflow on all hosts (#1818)
  home/development/claude-code-skills/artifact-workflow/SKILL.md
  home/development/claude-code-skills/default.nix
  modules/programs/claude-code-managed-claude.md
  modules/programs/claude-code-managed.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude): managed intent -> spec -> plan workflow on all hosts (#1818) (#1819)
  home/development/claude-code-skills/artifact-workflow/SKILL.md
  home/development/claude-code-skills/default.nix
  intent/2026-09-15-1818-artifact-workflow.md
  modules/programs/claude-code-managed-claude.md
  modules/programs/claude-code-managed.nix
  plan/2026-09-15-1818-artifact-workflow.md
  spec/2026-09-15-1818-artifact-workflow.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft p620 GPU PCIe reset intent (#1820)
  intent/2026-09-15-1820-p620-gpu-pcie-reset.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): record answers on p620 GPU PCIe reset (#1820)
  intent/2026-09-15-1820-p620-gpu-pcie-reset.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(herdr): bind hintr and pretty-which cheatsheets (#1822)
  home/development/herdr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): disable PCIe ASPM to stop GPU link hard-resets (#1820)
  hosts/p620/nixos/amd.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): disable PCIe ASPM to stop GPU link hard-resets (#1820) (#1824)
  hosts/p620/nixos/amd.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(herdr): bind hintr and pretty-which cheatsheets (#1822) (#1823)
  home/development/herdr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gc): drop du from the nix-gc postStop report
  modules/storage/garbage-collection.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(gc): drop du from the nix-gc postStop report (#1825)
  modules/storage/garbage-collection.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1826)
  flake.lock
Due: none

feat(nixi): run the nixi 0.10 overlay card on p620 and razer (#1827)
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(nixi): bump nixi to dd87a3c for the plugin-directory migration (#1827)
  flake.lock
Due: none

feat(nixi): run the nixi 0.10 overlay card on p620 and razer (#1827) (#1828)
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): draft 2026-09-15-1829-spotifast (#1829)
  plan/2026-09-15-1829-spotifast.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft 2026-09-15-1829-spotifast (#1829)
  intent/2026-09-15-1829-spotifast.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-15-1829-spotifast (#1829)
  intent/2026-09-15-1829-spotifast.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-15-1829-spotifast (#1829)
  plan/2026-09-15-1829-spotifast.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-09-15-1829-spotifast (#1829)
  spec/2026-09-15-1829-spotifast.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-15-1829-spotifast (#1829)
  spec/2026-09-15-1829-spotifast.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(apps): add Spotifast to p620 and razer (#1829)
  Users/olafkfreund/profile.nix
  flake.lock
  flake.nix
  overlays/default.nix
  plan/2026-09-15-1829-spotifast.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft Claude multi-model delegation (#1831)
  intent/2026-09-15-1831-claude-multi-model-delegation.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft agents-md-parity (#1832)
  intent/2026-09-15-1832-agents-md-parity.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): revise 1831 scope to official CLIs (#1831)
  intent/2026-09-15-1831-claude-multi-model-delegation.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): resolve 1831 open questions (#1831)
  intent/2026-09-15-1831-claude-multi-model-delegation.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-15-1831-claude-multi-model-delegation (#1831)
  intent/2026-09-15-1831-claude-multi-model-delegation.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
