Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(antigravity): auto-update to 2.19.1-6046815158665216
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 2.19.1-6046815158665216 (#2126)
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): drop duplicate 32-bit mesa from extraPackages32 (#2128)
  hosts/p620/nixos/amd.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): drop duplicate 32-bit mesa from extraPackages32 (#2128) (#2129)
  hosts/p620/nixos/amd.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): drop duplicate 64-bit mesa from extraPackages (#2128)
  hosts/p620/nixos/amd.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): drop duplicate 64-bit mesa from extraPackages (#2128) (#2130)
  hosts/p620/nixos/amd.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2131)
  flake.lock
Due: none

docs(intent): draft remove-kooha-obs (#2133)
  intent/2026-10-02-2133-remove-kooha-obs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve remove-kooha-obs (#2133)
  intent/2026-10-02-2133-remove-kooha-obs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft remove-kooha-obs (#2133)
  spec/2026-10-02-2133-remove-kooha-obs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve remove-kooha-obs (#2133)
  spec/2026-10-02-2133-remove-kooha-obs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft remove-kooha-obs (#2133)
  plan/2026-10-02-2133-remove-kooha-obs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve remove-kooha-obs (#2133)
  plan/2026-10-02-2133-remove-kooha-obs.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(omareel): package omareel 0.1.0 (#2133)
  pkgs/default.nix
  pkgs/omareel/default.nix
  plan/2026-10-02-2133-remove-kooha-obs.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(desktop): replace Kooha with Omareel (#2133)
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/profile.nix
  home/desktop/default.nix
  home/desktop/kooha/default.nix
  home/desktop/omareel/default.nix
  home/profiles/developer/default.nix
  home/profiles/server-admin/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(desktop): remove OBS Studio (#2133)
  home/desktop/obs/default.nix
  hosts/p620/home-manager-options.nix
  hosts/razer/home-manager-options.nix
  modules/nixos/packages/categories/desktop.nix
  modules/packages/sets.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(desktop): remove v4l2loopback and droidcam (#2133)
  hosts/p620/nixos-options.nix
  hosts/p620/nixos/boot.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/boot.nix
  modules/webcam/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(desktop): drop OBS and kdenlive mentions (#2133)
  docs/applications/screensharing_cosmic.md
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(desktop): exclude OBS and kdenlive from nixarchy preinstalls (#2133)
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  pkgs/default.nix
  pkgs/obsidian-cli/default.nix
  pkgs/omareel/default.nix
  plan/2026-10-02-2133-remove-kooha-obs.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.288
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.288 (#2135)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.15-5434575321694208
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.15-5434575321694208 (#2136)
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

chore(desktop): replace Kooha and OBS with Omareel (#2133) (#2134)
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/profile.nix
  docs/applications/screensharing_cosmic.md
  home/desktop/default.nix
  home/desktop/kooha/default.nix
  home/desktop/obs/default.nix
  home/desktop/omareel/default.nix
  home/profiles/developer/default.nix
  home/profiles/server-admin/default.nix
  hosts/p620/home-manager-options.nix
  hosts/p620/nixos-options.nix
  hosts/p620/nixos/boot.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/configuration.nix
  hosts/razer/home-manager-options.nix
  hosts/razer/nixos/boot.nix
  hosts/razer/nixos/nixarchy.nix
  intent/2026-10-02-2133-remove-kooha-obs.md
  modules/nixos/packages/categories/desktop.nix
  modules/packages/sets.nix
  modules/webcam/default.nix
  overlays/upstream-fixes.nix
  pkgs/default.nix
  pkgs/obsidian-cli/default.nix
  pkgs/omareel/default.nix
  plan/2026-10-02-2133-remove-kooha-obs.md
  spec/2026-10-02-2133-remove-kooha-obs.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update (#2127)
  flake.lock
Due: none

fix(omareel): default to the gpu-screen-recorder backend (#2133)
  pkgs/omareel/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(omareel): default to the gpu-screen-recorder backend (#2133) (#2137)
  pkgs/omareel/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(omarchy): stop workspace-groups hanging the keybindings menu (#2138)
  hosts/common/nixos/omarchy-workspaces.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(omarchy): stop workspace-groups hanging the keybindings menu (#2138) (#2139)
  hosts/common/nixos/omarchy-workspaces.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixarchy for the keybindings menu fix (#2138)
  flake.lock
Due: none

chore(flake): bump nixarchy for the keybindings menu fix (#2138) (#2140)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2142)
  flake.lock
Due: none

chore(claude-code): auto-update to 2.1.289
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.289 (#2143)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.16-5594158052802560
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.16-5594158052802560 (#2144)
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
