Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration

just-validate:
  name: Validate justfile
  entry: just --list
  language: system
  pass_filenames: false
  description: Validate justfile syntax

refactor: Format code and comment out libreoffice packages
  modules/common/plasma-packages.nix
  modules/consolidated/desktop.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Remove libvdpau-va-gl to resolve CMake compatibility errors
  .claude/NIX_ANTIPATTERNS.md
  .claude/settings.local.json
  docs/ARCHITECTURE_HIERARCHY.md
  docs/CLEANUP_CHECKLIST.md
  docs/DEAD_CODE_ANALYSIS.md
  docs/DEDUPLICATION_REPORT.md
  docs/RESEARCH_NIX_BOOK.md
  docs/RESEARCH_USMCAMP_DOTFILES.md
  docs/REVIEW_SUMMARY.md
  flake.lock
  hosts/dex5550/nixos/intel.nix
  hosts/p510/configuration.nix
  hosts/p510/nixos/nvidia.nix
  hosts/samsung/nixos/intel.nix
  lib/hostTemplate.nix
  scripts/cleanup-dead-code.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check

fix(p510): Temporarily disable qwen-code due to npm registry errors
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

refactor: Clean up deprecated user home files and unused modules
  .claude/NIX_ANTIPATTERNS.md
  Users/htpcuser/dex5550_home.nix
  Users/serveruser/p510_home.nix
  Users/workuser/p620_home.nix
  home/browsers/floorp.nix
  home/desktop/file-associations.nix
  home/desktop/git-sync/default.nix
  home/development/ai-productivity.nix
  home/media/rnoise.nix
  home/profiles-compat.nix
  home/shell/ai-task-integration.nix
Due: nixpkgs-fmt, statix, deadnix

feat(samsung): Enable Cosmic desktop environment alongside GNOME
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix(claude-desktop): Update hash for Claude Desktop 0.13.11 installer
  flake.lock
  pkgs/claude-desktop/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

refactor(hyprland): Remove flake input and use nixpkgs Hyprland
  flake.lock
  flake.nix
  home/desktop/hyprland/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(p620): Resolve Cosmic DE issues and USB mouse disconnections
  .claude/settings.local.json
  hosts/p620/configuration.nix
  hosts/p620/nixos/usb-power-fix.nix
  modules/desktop/cosmic.nix
Due: nixpkgs-fmt, statix, deadnix

cleanup: Remove critical Hyprland remnant files
  Users/olafkfreund/hp_home.nix
  flake.lock
  home/desktop/quickshell.nix
  home/desktop/sway/hypr_override.nix
  home/desktop/swaync/default.nix.backup
Due: nixpkgs-fmt, statix, deadnix, flake-check

cleanup: Remove unused files and archive K3s MicroVM guests (Phases 2-5)
  archive/k3s-guests/hp-guests/k3sserver.nix
  archive/k3s-guests/p510-guests/k3sagent01/default.nix
  archive/k3s-guests/p510-guests/k3sagent01/microvm.nix
  archive/k3s-guests/p510-guests/k3sagent02/default.nix
  archive/k3s-guests/p510-guests/k3sagent02/microvm.nix
  archive/k3s-guests/p510-guests/k3sserver/default.nix
  archive/k3s-guests/p510-guests/k3sserver/microvm.nix
  flake.lock
  home/desktop/default-servers.nix
  home/desktop/mail/default.nix
  home/desktop/terminals/default.nix.backup
  home/development/claude-code/backup/default.nix.backup
  home/waypipe/README.md
  home/waypipe/default.nix
  hosts/p620/variables.nix.backup
  hosts/samsung/variables.nix.backup
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: Remove Hyprland gamemode script and fix hardcoded paths
  home/desktop/scripts.nix
  home/desktop/waybar/default.nix
Due: nixpkgs-fmt, statix, deadnix

refactor: Eliminate mkIf true anti-patterns and clean commented code
  Users/olafkfreund/dex5550_home.nix
  home/desktop/default.nix
  home/desktop/gnome/theme.nix
  modules/consolidated/desktop.nix
Due: nixpkgs-fmt, statix, deadnix

refactor(justfile): Remove obsolete and broken recipes
  Justfile
Due: none

refactor(ai): Remove non-functional alerting-system.nix module (1104 lines)
  modules/ai/alerting-system.nix
  modules/ai/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat: Update AI CLI tools to latest versions
  home/development/claude-code/default.nix
  pkgs/gemini-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat: Update openai-codex (codex-cli) to version 0.46.0
  home/development/codex-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore: Update Claude Code settings and add code quality analysis
  .claude/settings.local.json
  docs/CODE_QUALITY_ANALYSIS.md
Due: none

revert: Revert claude-code to 2.0.9 due to build failures
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

revert: Revert gemini-cli to 0.7.0 due to build timeout
  pkgs/gemini-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat: Update claude-code to 2.0.13 with HTTP/1.1 fix
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore: Update flake.lock and Claude Code settings
  .claude/settings.local.json
  flake.lock
Due: flake-check

chore: Update flake.lock dependencies
  flake.lock
Due: flake-check

chore: Update claude-code to 2.0.14
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

chore: Update flake.lock and various configuration improvements
  .claude/settings.local.json
  flake.lock
  home/browsers/chrome.nix
  hosts/common/hardware-profiles/amd-gpu.nix
  hosts/p620/nixos/amd.nix
  modules/services/gnome/gnome-services.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore: Enable COSMIC desktop on Razer and update dependencies
  flake.lock
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(razer): Enable ZSA keyboard support
  hosts/razer/configuration.nix
  hosts/razer/nixos/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix

chore: Update flake dependencies and fix terraform provider names
  flake.lock
  modules/cloud/terraform.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(p510): Disable systemd-networkd to use NetworkManager exclusively
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix(p510): Enable systemd-resolved for DNS resolution with NetworkManager
  flake.lock
  hosts/p510/nixos/network.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore: update claude-desktop hash and claude-code to 2.0.22
  .claude/settings.local.json
  flake.lock
  home/development/claude-code/default.nix
  pkgs/claude-desktop/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: resolve flake.lock merge conflict on razer
  flake.lock
Due: flake-check

chore: update claude-code to version 2.0.24
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

chore: update dependencies and claude-code settings
  .claude/settings.local.json
  flake.lock
Due: flake-check

chore: update Claude settings with additional bash approvals
  .claude/settings.local.json
Due: none

chore: update nixpkgs and NUR revisions in flake.lock
  flake.lock
Due: flake-check

chore: update flake.lock dependencies
  flake.lock
Due: flake-check

fix: disable alpaca package due to broken mercantile dependency
  modules/services/gnome/gnome-services.nix
Due: nixpkgs-fmt, statix, deadnix

fix: resolve build failures and Home Manager deprecations
  Users/olafkfreund/private.nix
  flake.lock
  home/desktop/gnome/apps.nix
  home/development/gitlab/default.nix
  home/development/languages.nix
  home/shell/bat/default.nix
  modules/common/plasma-packages.nix
  modules/services/gnome/gnome-services.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  flake-check: any of: flake\.(nix|lock)$
  just-validate: any of: justfile$
