Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

chore(claude-code): update to 2.1.292 (#2192)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.292 (#2192) (#2194)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft omarchy-pixelbuds install (#2195)
  intent/2026-10-06-2195-omarchy-pixelbuds.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): scope omarchy-pixelbuds to the nixarchy-pixelbuds fork (#2195)
  intent/2026-10-06-2195-omarchy-pixelbuds.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-06-2195-omarchy-pixelbuds (#2195)
  intent/2026-10-06-2195-omarchy-pixelbuds.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft omarchy-pixelbuds install (#2195)
  spec/2026-10-06-2195-omarchy-pixelbuds.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(typos): allow ANC (Active Noise Cancellation) (#2195)
  _typos.toml
Due: taplo, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-06-2195-omarchy-pixelbuds (#2195)
  spec/2026-10-06-2195-omarchy-pixelbuds.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft omarchy-pixelbuds install (#2195)
  plan/2026-10-06-2195-omarchy-pixelbuds.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-06-2195-omarchy-pixelbuds (#2195)
  plan/2026-10-06-2195-omarchy-pixelbuds.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(claude-desktop): auto-update to 2.26454.0
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 2.26454.0 (#2198)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.3.0-6233328509124608
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.3.0-6233328509124608 (#2199)
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): record step 1 deviation, Panel.qml IpcHandler target (#2195)
  plan/2026-10-06-2195-omarchy-pixelbuds.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(desktop): install nixarchy-pixelbuds plugin on p620 and razer (#2195)
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-pixelbuds.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs 494ce7fd → 151fa4e8
  flake.lock
Due: none

docs(plan): record review deviations, Panel.qml PATH fix (#2195)
  plan/2026-10-06-2195-omarchy-pixelbuds.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all — nixpkgs 494ce7fd → 151fa4e8 (#2200)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2201)
  flake.lock
Due: none

chore(flake): bump nixarchy-pixelbuds to the OSD PATH fix (#2195)
  flake.lock
Due: none

feat(desktop): Pixel Buds plugin on p620 and razer (#2195) (#2202)
  _typos.toml
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-pixelbuds.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  intent/2026-10-06-2195-omarchy-pixelbuds.md
  plan/2026-10-06-2195-omarchy-pixelbuds.md
  spec/2026-10-06-2195-omarchy-pixelbuds.md
Due: nixpkgs-fmt, statix, deadnix, taplo, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#2203)
  flake.lock
Due: none

chore(codex): bump override to 0.160.1
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(codex): bump override to 0.160.1 (#2204)
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.293
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.293 (#2209)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 2.26454.2
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 2.26454.2 (#2210)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.3.1-4582356770750464
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.3.1-4582356770750464 (#2211)
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft remove live installer ISO path (#2205)
  intent/2026-10-08-2205-remove-live-iso.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-08-2205-remove-live-iso (#2205)
  intent/2026-10-08-2205-remove-live-iso.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft remove live installer ISO path (#2205)
  spec/2026-10-08-2205-remove-live-iso.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-08-2205-remove-live-iso (#2205)
  spec/2026-10-08-2205-remove-live-iso.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft remove live installer ISO path (#2205)
  plan/2026-10-08-2205-remove-live-iso.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-08-2205-remove-live-iso (#2205)
  plan/2026-10-08-2205-remove-live-iso.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(installer): remove unused live ISO path and nixos-generators (#2205)
  .claude/commands/nix-help.md
  .claude/commands/nix-live.md
  .gemini/commands/nix-live.toml
  .gemini/state/topology.json
  Justfile
  README.md
  flake.nix
  lib/live-images.nix
  modules/development/nix.nix
  modules/installer/default.nix
  modules/installer/installer-tools.nix
  modules/installer/live-system.nix
  plan/2026-10-08-2205-remove-live-iso.md
  scripts/install-helpers/install-wizard.sh
  scripts/install-helpers/mount-filesystems.sh
  scripts/install-helpers/parse-hardware-config.py
  scripts/install-helpers/partition-disk.sh
  tools/default.nix
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, taplo, json-format, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check
