Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(p510): remove the k3d cluster — migrated to p620 (#1407)
  .typos.toml
Due: taplo, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1408)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1409)
  flake.lock
Due: none

chore(desktop): remove Noctalia, labwc and mango — unused
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
  home/desktop/wayland/common.nix
  home/desktop/wayland/default.nix
  home/desktop/wayland/hyprland.nix
  home/desktop/wayland/labwc.nix
  home/desktop/wayland/mango.nix
  home/desktop/wayland/niri.nix
  home/desktop/wayland/shell.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/desktop/default.nix
  modules/desktop/dms-shell.nix
  modules/desktop/labwc.nix
  modules/desktop/mangowm.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(desktop): remove Noctalia, labwc and mango — unused (#1410)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
  home/desktop/wayland/common.nix
  home/desktop/wayland/default.nix
  home/desktop/wayland/hyprland.nix
  home/desktop/wayland/labwc.nix
  home/desktop/wayland/mango.nix
  home/desktop/wayland/niri.nix
  home/desktop/wayland/shell.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/desktop/default.nix
  modules/desktop/dms-shell.nix
  modules/desktop/labwc.nix
  modules/desktop/mangowm.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): clean up boot noise and codify Secure Boot enrolment
  home/desktop/gnome/apps.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/boot.nix
  hosts/razer/nixos/secure-boot.nix
  hosts/razer/nixos/shim.nix
  modules/services/geforcenow/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): stop the container log flood and the udev sysfs errors
  hosts/p620/nixos/usb-power-fix.nix
  modules/containers/docker.nix
  modules/services/rescreenshot-mcp.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): clean up boot noise and codify Secure Boot enrolment (#1411)
  home/desktop/gnome/apps.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos/boot.nix
  hosts/razer/nixos/secure-boot.nix
  hosts/razer/nixos/shim.nix
  modules/services/geforcenow/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): stop the container log flood and the udev sysfs errors (#1412)
  hosts/p620/nixos/usb-power-fix.nix
  modules/containers/docker.nix
  modules/services/rescreenshot-mcp.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1413)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1414)
  flake.lock
Due: none

fix(logging): stop forcing Docker's log driver back to journald
  modules/system/logging.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(containers): stop podman filing container output as host errors
  modules/services/backstage.nix
  modules/services/kometa/default.nix
  modules/services/plex-auto-languages/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(logging): stop forcing Docker's log driver back to journald (#1415)
  modules/system/logging.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(containers): stop podman filing container output as host errors (#1416)
  modules/services/backstage.nix
  modules/services/kometa/default.nix
  modules/services/plex-auto-languages/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): back up the media-stack databases off the failing disk
  hosts/p510/configuration.nix
  modules/services/sqlite-backup.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): disable ollama, serve models from p620 instead
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  secrets/media-bot-env.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.239 (#1420)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.239 (#1420) (#1421)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump cli 1.1.17, hub 2.9.1, sdk 0.1.13
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to v0.2026.08.19.08.15.stable_01
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): bump to v0.2026.08.19.08.15.stable_01 (#1423)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(antigravity): bump cli 1.1.17, hub 2.9.1, sdk 0.1.13 (#1422)
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): back up the media-stack databases off the failing disk (#1417)
  hosts/p510/configuration.nix
  modules/services/sqlite-backup.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): disable ollama, serve models from p620 instead (#1418)
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  secrets/media-bot-env.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1424)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1425)
  flake.lock
Due: none

fix(security): drop security.unprivilegedUsernsClone, removed upstream
  modules/security/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(security): drop security.unprivilegedUsernsClone, removed upstream (#1428)
  modules/security/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1429)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1430)
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
