Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

feat(update): always show installed/upgraded/removed pkg diff
  Justfile
  home/shell/zsh.nix
  scripts/system-diff.sh
  scripts/update-commit-deploy.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

feat(update): always show installed/upgraded/removed pkg diff (#999)
  Justfile
  home/shell/zsh.nix
  scripts/system-diff.sh
  scripts/update-commit-deploy.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1000)
  flake.lock
Due: none

fix(update): use nh's native package+version diff (local), nvd (remote)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(update): use nh's native package+version diff (local), nvd (remote) (#1001)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(flake): bump all (nixpkgs unchanged) (#1002)
  flake.lock
Due: none

fix(noctalia): mkForce custom_palette; bump flake.lock
  flake.lock
  home/desktop/noctalia/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(noctalia): mkForce custom_palette; bump flake.lock (#1005)
  flake.lock
  home/desktop/noctalia/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update native binary to 2.1.201 (#1004)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update native binary to 2.1.201 (#1004) (#1006)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to v0.2026.07.01.09.21.stable_01
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged) (#1007)
  flake.lock
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(home): silence fzf + windsurf eval deprecation warnings
  home/development/windsurf.nix
  home/shell/fzf/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(home): silence fzf + windsurf eval deprecation warnings (#1008)
  home/development/windsurf.nix
  home/shell/fzf/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to 1.18286.0 (#1009)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to 1.18286.0 (#1009) (#1010)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(ci): point claude-desktop watcher at official apt index (#1011)
  .github/workflows/claude-desktop-watch.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(ci): point claude-desktop watcher at official apt index (#1011) (#1012)
  .github/workflows/claude-desktop-watch.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(glab-tui): repin to v0.4.0 after upstream tag reset (+ flake bump)
  flake.lock
  pkgs/glab-tui/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(glab-tui): repin to v0.4.0 after upstream tag reset (+ flake bump) (#1013)
  flake.lock
  pkgs/glab-tui/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1014)
  flake.lock
Due: none

chore(claude-code): update native binary to 2.1.202 (#1015)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update native binary to 2.1.202 (#1015) (#1016)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump CLI to 1.0.16 (agy)
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump CLI to 1.0.16 (agy) (#1017)
  pkgs/antigravity-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1018)
  flake.lock
Due: none

fix(ollama): rename models -> modelsDir (upstream option rename)
  modules/services/ollama.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(ollama): rename models -> modelsDir (upstream option rename) (#1019)
  modules/services/ollama.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1020)
  flake.lock
Due: none

feat(razer): DankMaterialShell as a selectable niri session (#1021)
  home/desktop/noctalia/default.nix
  hosts/razer/configuration.nix
  modules/desktop/default.nix
  modules/desktop/dms-shell.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): DankMaterialShell as a selectable niri session (#1021) (#1022)
  home/desktop/noctalia/default.nix
  hosts/razer/configuration.nix
  modules/desktop/default.nix
  modules/desktop/dms-shell.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(dms): labwc+mango DMS sessions; niri uses managed dms.service (#1021)
  home/desktop/noctalia/default.nix
  modules/desktop/dms-shell.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(dms): labwc+mango DMS sessions; niri uses managed dms.service (#1021) (#1024)
  home/desktop/noctalia/default.nix
  modules/desktop/dms-shell.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(razer): switch login greeter to DMS greeter (dms-greeter)
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
