Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(flake): bump all (nixpkgs unchanged) (#1667)
  flake.lock
Due: none

fix(desktop): stop razer forcing GNOME portals into the Hyprland session (#1668)
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(desktop): stop razer forcing GNOME portals into the Hyprland session (#1668) (#1669)
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): add whisper-cpp to p620 and razer for nixi voice input (#1670)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): add whisper-cpp to p620 and razer for nixi voice input (#1670) (#1671)
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(agent-bus): wake an agent when a bus message names it (#1672)
  home/development/claude-code-skills/agent-bus/SKILL.md
  modules/programs/claude-code-managed.nix
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  pkgs/agent-bus-mcp/test_agent_bus_mcp.py
Due: nixpkgs-fmt, statix, deadnix, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(agent-bus): wake an agent when a bus message names it (#1672) (#1673)
  home/development/claude-code-skills/agent-bus/SKILL.md
  modules/programs/claude-code-managed.nix
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  pkgs/agent-bus-mcp/test_agent_bus_mcp.py
Due: nixpkgs-fmt, statix, deadnix, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

p510: set nix.settings.build-dir, because TMPDIR stopped deciding it (#1643)
  hosts/p510/nixos/github-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ci): run nixarchy CI runners on p620 too, building on /mnt/games (#1674)
  hosts/p510/configuration.nix
  hosts/p510/nixos/github-runner.nix
  hosts/p620/configuration.nix
  modules/services/nixarchy-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ci): run nixarchy CI runners on p620 too, building on /mnt/games (#1674) (#1675)
  hosts/p510/configuration.nix
  hosts/p510/nixos/github-runner.nix
  hosts/p620/configuration.nix
  modules/services/nixarchy-runner.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.260
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): auto-update to 0.2026.09.02.08.27.stable_01
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(antigravity): auto-update to 1.1.25-6680093607723008
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1681)
  flake.lock
Due: none

feat(agent-bus): a guest room for outside agents, fenced off from #agents (#1676)
  home/development/claude-code-skills/agent-bus/SKILL.md
  scripts/agent-bus-guest.sh
Due: shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

feat(agent-bus): a guest room for outside agents, fenced off from #agents (#1676) (#1683)
  home/development/claude-code-skills/agent-bus/SKILL.md
  scripts/agent-bus-guest.sh
Due: shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(flake): bump all (nixpkgs unchanged) (#1684)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1685)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1686)
  flake.lock
Due: none

feat(agent-bus): a public room, and a fence that makes it safe (#1687)
  home/development/claude-code-mcp.nix
  home/development/claude-code-skills/agent-bus/SKILL.md
  modules/programs/claude-code-managed.nix
  modules/secrets/api-keys.nix
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  scripts/agent-bus-public-room.sh
  secrets.nix
  secrets/agent-bus-matrix-token.age
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

docs(agent-bus): a redaction list the skill can actually apply every time (#1687)
  home/development/claude-code-skills/agent-bus/SKILL.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(agent-bus): a public room, and a fence that makes it safe (#1687) (#1688)
  home/development/claude-code-mcp.nix
  home/development/claude-code-skills/agent-bus/SKILL.md
  modules/programs/claude-code-managed.nix
  modules/secrets/api-keys.nix
  pkgs/agent-bus-mcp/agent_bus_mcp.py
  scripts/agent-bus-public-room.sh
  secrets.nix
  secrets/agent-bus-matrix-token.age
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, markdownlint, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

docs(claude-md): correct the runner bullet, which was wrong three ways
  CLAUDE.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(claude-code): give the p510 guard a door, and a check that it opens (#1691)
  Justfile
  modules/programs/claude-code-managed.nix
  scripts/test-p510-deploy-guard.py
Due: nixpkgs-fmt, statix, deadnix, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(claude-md): correct the runner bullet, which was wrong three ways (#1690)
  CLAUDE.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(claude-code): give the p510 guard a door, and a check that it opens (#1691) (#1691)
  Justfile
  modules/programs/claude-code-managed.nix
  scripts/test-p510-deploy-guard.py
Due: nixpkgs-fmt, statix, deadnix, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.261
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 1.46388.2
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.1.26-5550154686791680
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(logging): move journald config off the removed extraConfig option
  modules/system/logging.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(logging): move journald config off the removed extraConfig option (#1696)
  modules/system/logging.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump inputs, unbreaking eval on the ffmpeg_7 removal
  flake.lock
Due: none

chore(flake): bump inputs, unbreaking eval on the ffmpeg_7 removal (#1697)
  flake.lock
Due: none

fix(flake): pin zen-browser at the root so an update stops reverting it
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(flake): pin zen-browser at the root so an update stops reverting it (#1698)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
