Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

feat(gogcli): bump 0.19.0 -> 0.40.0 and add it to the nightly autoupdate (#1783)
  .github/workflows/package-autoupdate.yml
  home/shell/gogcli/default.nix
  pkgs/gogcli/default.nix
  scripts/update-gogcli.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

feat(skills): carry the gog skill to codex and gemini, add the empty-inbox trap (#1785)
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/gog/SKILL.md
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(skills): add a notebooklm playbook, for all three agents (#1785)
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/notebooklm/SKILL.md
  home/development/claude-code-skills/notebooklm/evals.json
Due: nixpkgs-fmt, statix, deadnix, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.270
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.2.2-6061403484848128
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

feat(ai): replace notebooklm-go with packaged notebooklm-mcp-cli (#1781) (#1782)
  Users/olafkfreund/profile.nix
  home/development/antigravity-config.nix
  home/development/claude-code-mcp.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  modules/ai/mcp-servers.nix
  nixarchy-theme.nix
  pkgs/default.nix
  pkgs/notebooklm-go/default.nix
  pkgs/notebooklm-mcp-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(gogcli): bump 0.19.0 -> 0.40.0 and add it to the nightly autoupdate (#1783) (#1784)
  .github/workflows/package-autoupdate.yml
  home/shell/gogcli/default.nix
  pkgs/gogcli/default.nix
  scripts/update-gogcli.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

feat(skills): carry the gog skill to codex and gemini, add the empty-inbox trap (#1785)
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/gog/SKILL.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(skills): gog + notebooklm playbooks for Claude Code, Codex and Gemini (#1785) (#1786)
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/gog/SKILL.md
  home/development/claude-code-skills/notebooklm/SKILL.md
  home/development/claude-code-skills/notebooklm/evals.json
Due: nixpkgs-fmt, statix, deadnix, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(ci): auto-close package-update tracking issues when they are done (#1789)
  .github/workflows/claude-code-watch.yml
  .github/workflows/claude-desktop-watch.yml
  scripts/reconcile-update-issues.sh
Due: shellcheck, shfmt, yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(flake): bump all — nixpkgs 8ce4ef6c → eaad0894
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 8ce4ef6c → eaad0894 (#1791)
  .github/workflows/claude-code-watch.yml
  .github/workflows/claude-desktop-watch.yml
  flake.lock
  scripts/reconcile-update-issues.sh
Due: shellcheck, shfmt, yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

feat(omarchy): Sideyard agent desktop control on p620 and razer
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-sideyard.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1792)
  flake.lock
Due: none

feat(omarchy): Sideyard agent desktop control on p620 and razer (#1793)
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-sideyard.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

p620: let Oma drive the desktop through Sideyard, and run ssh
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

p620: let Oma drive the desktop through Sideyard, and run ssh (#1794)
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): track ai-mirror master for the sideyard input
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(omarchy): tint Chrome with the Omarchy theme accent on p620 and razer
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(nlm): merge upstream's skill into ours, and ship bash completion
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/notebooklm/SKILL.md
  pkgs/notebooklm-mcp-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): track ai-mirror master for the sideyard input (#1795)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(omarchy): tint Chrome with the Omarchy theme accent on p620 and razer (#1796)
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(nlm): merge upstream's skill into ours, and ship bash completion (#1797)
  home/development/claude-code-skills/default.nix
  home/development/claude-code-skills/notebooklm/SKILL.md
  pkgs/notebooklm-mcp-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(syncthing): stop syncing home-manager-owned skills between hosts
  home/syncthing-stignore.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(omarchy): rename Sideyard to ai-mirror on p620 and razer
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-ai-mirror.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(omarchy): rename Sideyard to ai-mirror on p620 and razer (#1798)
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-ai-mirror.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(omarchy): Google Messages bar plugin on p620 and razer
  hosts/common/nixos/omarchy-gmessages.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  pkgs/default.nix
  pkgs/gmessages-omarchy/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(syncthing): stop syncing home-manager-owned skills between hosts (#1799)
  home/syncthing-stignore.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(omarchy): Google Messages bar plugin on p620 and razer (#1800)
  hosts/common/nixos/omarchy-gmessages.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  pkgs/default.nix
  pkgs/gmessages-omarchy/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(omarchy): OmaDroid Android mirroring plugin on p620 and razer
  hosts/common/nixos/omarchy-omadroid.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  pkgs/default.nix
  pkgs/omadroid/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(omarchy): OmaDroid Android mirroring plugin on p620 and razer (#1801)
  hosts/common/nixos/omarchy-omadroid.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  pkgs/default.nix
  pkgs/omadroid/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 1.52386.6
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(ci): open bot PRs with a PAT so ci.yml runs unattended
  .github/workflows/package-autoupdate.yml
  .github/workflows/update-flake.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(ci): open bot PRs with a PAT so ci.yml runs unattended (#1806)
  .github/workflows/package-autoupdate.yml
  .github/workflows/update-flake.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(nixarchy): switch theme to gruvbox
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check
