Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        language: system
        files: '\.nix$'
        description: Format Nix files using nixpkgs-fmt
      - id: statix
        name: Lint Nix files
        entry: statix check
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Lint Nix files for common issues
      - id: deadnix
        name: Check for dead Nix code
        entry: deadnix --fail
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Check for dead/unused Nix code
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        files: '\.sh$'
        args: [-e, SC1091, -e, SC2034, -e, SC2086]
        description: Lint shell scripts with shellcheck
      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        language: system
        files: '\.sh$'
        args: [-w, -i, "2", -bn, -ci]
        description: Format shell scripts with shfmt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        description: Remove trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-yaml
        description: Validate YAML files
      - id: check-json
        description: Validate JSON files
      - id: check-toml
        description: Validate TOML files
      - id: mixed-line-ending
        description: Check for mixed line endings
      - id: check-executables-have-shebangs
        description: Ensure executables have shebangs
      - id: check-shebang-scripts-are-executable
        description: Ensure shebang scripts are executable
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        args: [--fix, --config, .markdownlint.json]
        description: Lint and fix Markdown files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Format files with Prettier
        types_or: [json, yaml, markdown]
        description: Format JSON, YAML, and Markdown files
  - repo: local
    hooks:
      - id: flake-check
        name: Check Nix flake
        entry: nix flake check --no-build
        language: system
        files: 'flake\.(nix|lock)$'
        pass_filenames: false
        description: Validate Nix flake configuration
      - id: just-validate
        name: Validate justfile
        entry: just --list
        language: system
        files: "justfile$"
        pass_filenames: false
        description: Validate justfile syntax

fix: correct hostTypes import path and update flake inputs
  flake.lock
Due: flake-check

feat: create comprehensive NixOS restructuring plan
  RESTRUCTURING-PLAN.md
  secrets.nix.backup
Due: none

docs: add quick reference guide for restructuring project
  QUICK-REFERENCE.md
Due: none

feat: design comprehensive package management system
  PACKAGE-MANAGEMENT-DESIGN.md
Due: none

fix: remove unused lib parameter from core packages module
  BUILD-TEST-RESULTS.md
  EXAMPLE-P510-SERVER-CONVERSION.md
  PACKAGE-SYSTEM-USAGE.md
  lib/hostTypes-enhanced.nix
  modules/nixos/packages/categories/admin.nix
  modules/nixos/packages/categories/desktop.nix
  modules/nixos/packages/categories/development.nix
  modules/nixos/packages/categories/media.nix
  modules/nixos/packages/categories/virtualization.nix
  modules/nixos/packages/conditional.nix
  modules/nixos/packages/core.nix
  modules/nixos/packages/default.nix
  modules/nixos/packages/host-specific/laptop-packages.nix
  modules/nixos/packages/host-specific/server-packages.nix
  modules/nixos/packages/host-specific/workstation-packages.nix
Due: nixpkgs-fmt, statix, deadnix

feat: implement comprehensive three-tier package management system
  BUILD-TEST-RESULTS.md
  EXAMPLE-P510-SERVER-CONVERSION.md
  PACKAGE-SYSTEM-USAGE.md
  modules/nix/flake-settings.nix
  modules/nixos/packages/categories/development.nix
  modules/nixos/packages/categories/media.nix
  modules/nixos/packages/categories/virtualization.nix
  modules/nixos/packages/conditional.nix
  modules/security/sops.nix
  optimization/cache-optimization.nix
Due: nixpkgs-fmt, statix, deadnix

fix: apply pre-commit formatting and linting fixes
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/p620_home_profile.nix
  home/desktop/hyprland/quickshell/components/bar.qml
  home/desktop/hyprland/quickshell/components/main.qml
  home/desktop/hyprland/quickshell/components/widgets/AudioIndicator.qml
  home/desktop/hyprland/quickshell/components/widgets/BatteryIndicator.qml
  home/desktop/hyprland/quickshell/components/widgets/Clock.qml
  home/desktop/hyprland/quickshell/components/widgets/NetworkIndicator.qml
  home/desktop/hyprland/quickshell/components/widgets/SystemTray.qml
  home/desktop/hyprland/quickshell/components/widgets/WorkspaceIndicator.qml
  home/desktop/hyprland/quickshell/default.nix
  home/desktop/mail/default.nix
  home/development/claude-code/default.nix
  home/development/claude-code/default.nix.backup
  home/development/claude-code/package-lock.json
  modules/SYSTEMD_SERVICE_TEMPLATE.nix
  modules/TEMPLATE.nix
  scripts/performance-test.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt

feat: final upgrade claude-code to 1.0.102 on main branch
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix: update package-lock.json for claude-code 1.0.102
  home/development/claude-code/package-lock.json
Due: none

fix(p510): resolve YQ package conflict by using yq-go consistently
  Users/olafkfreund/p510_home.nix
Due: nixpkgs-fmt, statix, deadnix

fix: resolve YQ package conflicts across entire codebase
  Users/olafkfreund/p510_home.nix
  home/profiles/developer/default.nix
  home/profiles/server-admin/default.nix
  modules/consolidated/development.nix
  modules/installer/installer-tools.nix
Due: nixpkgs-fmt, statix, deadnix

fix(samsung): add missing Tailscale authKeyFile to prevent activation hang
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat: upgrade claude-code to v1.0.103
  flake.lock
  home/development/claude-code/default.nix
  home/development/claude-code/default.nix.backup
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat: upgrade claude-code to v1.0.105
  home/development/claude-code/default.nix
  home/development/claude-code/default.nix.backup
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

feat: upgrade claude-code to v1.0.107
  home/development/claude-code/default.nix
  home/development/claude-code/default.nix.backup
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

feat: upgrade claude-code to v1.0.108
  home/development/claude-code/default.nix
  home/development/claude-code/default.nix.backup
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

chore: update flake.lock
  flake.lock
Due: flake-check

feat: add comprehensive GNOME desktop environment configuration
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  flake.lock
  home/browsers/firefox.nix
  home/desktop/default.nix
  home/desktop/gnome/README.md
  home/desktop/gnome/apps.nix
  home/desktop/gnome/default.nix
  home/desktop/gnome/extensions.nix
  home/desktop/gnome/keybindings.nix
  home/desktop/gnome/theme.nix
  home/profiles/desktop-user/default.nix
  home/profiles/laptop-user/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: resolve Firefox configuration conflict and finalize GNOME setup
  Users/olafkfreund/p620_home.nix
  home/browsers/firefox.nix
  home/desktop/gnome/README.md
  home/desktop/gnome/apps.nix
  home/desktop/gnome/default.nix
  home/desktop/gnome/extensions.nix
  home/desktop/gnome/keybindings.nix
  home/desktop/gnome/theme.nix
Due: nixpkgs-fmt, statix, deadnix

fix(firefox): resolve build error and add GNOME configuration to laptop hosts
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  home/browsers/firefox.nix
  home/desktop/gnome/README.md
  home/desktop/gnome/theme.nix
Due: nixpkgs-fmt, statix, deadnix

style: format code and update documentation
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  home/desktop/gnome/README.md
Due: nixpkgs-fmt, statix, deadnix

feat: enable GNOME desktop environment on laptop hosts
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
Due: nixpkgs-fmt, statix, deadnix

fix: resolve GNOME configuration build conflicts
  home/desktop/gnome/apps.nix
  home/desktop/gnome/default.nix
  home/desktop/gnome/extensions.nix
  home/desktop/gnome/theme.nix
  hosts/p510/nixos/screens.nix
  hosts/samsung/nixos/laptop.nix
Due: nixpkgs-fmt, statix, deadnix

fix(samsung,desktop): resolve GNOME configuration issues
  Users/olafkfreund/samsung_home.nix
  home/desktop/theme/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(razer): correct GNOME extension name from battery-threshold to battery-health-charging
  Users/olafkfreund/razer_home.nix
Due: nixpkgs-fmt, statix, deadnix

fix(razer): resolve boot partition disk space issue and system configuration
  hosts/samsung/nixos/greetd.nix
Due: nixpkgs-fmt, statix, deadnix

style: apply automatic formatting fixes from pre-commit hooks
  home/desktop/gnome/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(gnome): complete GNOME configuration with Chrome default and conflict resolution
  home/desktop/dunst/default.nix
  home/desktop/gnome/default.nix
  home/desktop/swaync/default.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

Fix Razer boot partition space issue with initrd optimizations
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

SUCCESS: Resolve Razer boot partition space issue
  hosts/razer/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix

Fix libsoup-2.74.3 security vulnerability blocking builds
  home/desktop/ags/default.nix
  home/desktop/gnome/default.nix
  home/desktop/walker/default.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

Update configuration files after security fixes
  home/desktop/ags/default.nix
  home/desktop/gnome/default.nix
  home/desktop/walker/default.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

refactor: remove AGS completely from NixOS configuration
  Users/common/imports.nix
  flake.lock
  flake.nix
  home/desktop/ags/default.nix
  home/desktop/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat: enable Walker launcher with security fixes for razer and samsung
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat: update claude-code to version 1.0.109
  flake.lock
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

Switch P620 to NetworkManager for GNOME desktop integration
  home/desktop/gnome/apps.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

Enable GNOME Remote Desktop on razer, samsung, and p620
  home/desktop/gnome/apps.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

Enable GNOME Remote Desktop on razer, samsung, and p620
  home/desktop/gnome/apps.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/ai/load-testing.nix
Due: nixpkgs-fmt, statix, deadnix

Update and format GNOME desktop configuration files
  home/desktop/gnome/apps.nix
  home/desktop/gnome/extensions.nix
  home/desktop/gnome/keybindings.nix
Due: nixpkgs-fmt, statix, deadnix
