Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        language: system
        files: '\.nix$'
        description: Format Nix files using nixpkgs-fmt
      - id: statix
        name: Lint Nix files
        entry: statix check
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Lint Nix files for common issues
      - id: deadnix
        name: Check for dead Nix code
        entry: deadnix --fail
        language: system
        files: '\.nix$'
        pass_filenames: false
        description: Check for dead/unused Nix code
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        files: '\.sh$'
        args: [-e, SC1091, -e, SC2034, -e, SC2086]
        description: Lint shell scripts with shellcheck
      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        language: system
        files: '\.sh$'
        args: [-w, -i, "2", -bn, -ci]
        description: Format shell scripts with shfmt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        description: Remove trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-yaml
        description: Validate YAML files
      - id: check-json
        description: Validate JSON files
      - id: check-toml
        description: Validate TOML files
      - id: mixed-line-ending
        description: Check for mixed line endings
      - id: check-executables-have-shebangs
        description: Ensure executables have shebangs
      - id: check-shebang-scripts-are-executable
        description: Ensure shebang scripts are executable
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        args: [--fix, --config, .markdownlint.json]
        description: Lint and fix Markdown files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Format files with Prettier
        types_or: [json, yaml, markdown]
        description: Format JSON, YAML, and Markdown files
  - repo: local
    hooks:
      - id: flake-check
        name: Check Nix flake
        entry: nix flake check --no-build
        language: system
        files: 'flake\.(nix|lock)$'
        pass_filenames: false
        description: Validate Nix flake configuration
      - id: just-validate
        name: Validate justfile
        entry: just --list
        language: system
        files: "justfile$"
        pass_filenames: false
        description: Validate justfile syntax

fix(vicinae): resolve conflicting option definitions with mkForce
  home/desktop/vicinae/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(theme): add global dark mode enforcement for Chrome and GTK apps
  Users/olafkfreund/p620_home.nix
  home/desktop/theme/dark-mode.nix
  home/desktop/theme/default.nix
  home/profiles/desktop-user/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(packages): temporarily disable vesktop due to build failure
  home/desktop/com.nix
Due: nixpkgs-fmt, statix, deadnix

fix(claude-code): restore statusLine configuration in settings.json
  home/development/claude-code-lsp.nix
Due: nixpkgs-fmt, statix, deadnix

chore: configuration updates and dependency maintenance
  flake.lock
  flake.nix
  home/desktop/gnome/theme.nix
  home/desktop/theme/qt.nix
  home/development/claude-desktop/mcp-config.nix
  home/development/gemini-cli/default.nix
  home/development/lsp-servers.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos/cpu.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/ai/gemini-cli.nix
  modules/ai/mcp-servers.nix
  modules/ai/providers/gemini.nix
  modules/common/features-impl.nix
  modules/desktop/cosmic.nix
  modules/development/cargo.nix
  modules/packages/sets.nix
  modules/system-utils/utils.nix
  pkgs/default.nix
  pkgs/gemini-cli/README.md
  pkgs/gemini-cli/default.nix
  pkgs/gemini-cli/get-hashes.sh
  pkgs/kosli-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check

fix(p510,p620): DNS configuration and debug logging fixes
  Justfile.backup-phase4-20251215
  Users/common/features-impl.nix
  Users/olafkfreund/p620_home.nix
  flake.lock
  home/desktop/default.nix
  home/desktop/gnome/theme.nix
  home/desktop/terminals/default.nix
  home/desktop/terminals/ghostty/default.nix
  home/desktop/vicinae/default.nix
  home/development/languages.nix
  home/profiles/developer/default.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/desktop/cosmic.nix
  modules/packages/sets.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(nodejs): standardize all packages to nodejs_24
  flake.lock
  home/development/claude-powerline.nix
  home/development/codex-cli/default.nix
  home/development/codex-cli/module.nix
  pkgs/browser-mcp/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(mcp): add Atlassian MCP integration for Jira and Confluence (#120)
  docs/ATLASSIAN-MCP.md
  docs/MCP-SERVERS.md
  flake.lock
  flake.nix
  home/development/claude-code-mcp-config.json
  home/development/claude-desktop/mcp-config.nix
  hosts/p510/configuration.nix
  hosts/p510/nixos/nvidia.nix
  hosts/p510/nixos/tailscale-serve.nix
  hosts/p620/configuration.nix
  modules/ai/mcp-servers.nix
  pkgs/atlassian-mcp/default.nix
  pkgs/default.nix
  secrets.nix
  secrets/api-confluence-pat.placeholder
  secrets/api-confluence-token.age
  secrets/api-confluence-token.placeholder
  secrets/api-jira-pat.placeholder
  secrets/api-jira-token.age
  secrets/api-jira-token.placeholder
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(mcp): add Atlassian MCP integration for Jira and Confluence (#120) (#121)
  docs/ATLASSIAN-MCP.md
  docs/MCP-SERVERS.md
  flake.lock
  flake.nix
  home/development/claude-code-mcp-config.json
  home/development/claude-desktop/mcp-config.nix
  hosts/p510/configuration.nix
  hosts/p510/nixos/nvidia.nix
  hosts/p510/nixos/tailscale-serve.nix
  hosts/p620/configuration.nix
  modules/ai/mcp-servers.nix
  pkgs/atlassian-mcp/default.nix
  pkgs/default.nix
  secrets.nix
  secrets/api-confluence-pat.placeholder
  secrets/api-confluence-token.age
  secrets/api-confluence-token.placeholder
  secrets/api-jira-pat.placeholder
  secrets/api-jira-token.age
  secrets/api-jira-token.placeholder
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(mcp): add sequential-thinking server and fix broken obsidian config
  flake.lock
  home/development/claude-code-mcp-config.json
  home/development/claude-desktop/mcp-config.nix
  hosts/p510/nixos/tailscale-serve.nix
  modules/ai/mcp-servers.nix
  pkgs/atlassian-mcp/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(claude-code): update to version 2.1.1 (#122)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.1 (#122) (#123)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(mcp): enable mcp-nixos v2.1.0 and fix Atlassian MCP integration
  flake.lock
  flake.nix
  modules/ai/mcp-servers.nix
  modules/packages/sets.nix
  secrets/api-confluence-token.age
  secrets/api-jira-token.age
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(vesktop): re-enable vesktop package after upstream build fix (#119)
  home/desktop/com.nix
Due: nixpkgs-fmt, statix, deadnix

feat(p510): add AudioBookshelf and Overseerr, remove Jackett
  hosts/p510/nixos/plex.nix
  hosts/p510/nixos/tailscale-serve.nix
Due: nixpkgs-fmt, statix, deadnix

fix(p510): configure Overseerr and AudioBookshelf to bind on all interfaces
  hosts/p510/nixos/plex.nix
Due: nixpkgs-fmt, statix, deadnix

fix(p510): simplify Overseerr and AudioBookshelf configuration
  hosts/common/hardware-profiles/intel-integrated.nix
  hosts/p510/nixos/plex.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix(p510): add service ordering to prevent Tailscale port conflicts
  hosts/p510/nixos/plex.nix
Due: nixpkgs-fmt, statix, deadnix

feat(mcp): add rescreenshot-mcp server for Claude Desktop
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/services/default.nix
  modules/services/rescreenshot-mcp.nix
  pkgs/rescreenshot-mcp/Cargo.lock
  pkgs/rescreenshot-mcp/README.md
  pkgs/rescreenshot-mcp/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(packages): add COSMIC applets and RustDesk to all hosts
  flake.lock
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(deps): replace deprecated nixfmt-rfc-style with nixfmt
  Users/olafkfreund/p620_home.nix
  home/development/lsp-servers.nix
  modules/packages/sets.nix
Due: nixpkgs-fmt, statix, deadnix

fix(p510): allow local subnet access to Transmission web UI
  hosts/p510/nixos/plex.nix
Due: nixpkgs-fmt, statix, deadnix

feat(p510): add gnome-remote-desktop package for RDP access
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix(p510): add gnome-remote-desktop to system packages for RDP schema access
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

chore(network): remove obsolete 192.168.1.222 nameserver from Razer and Samsung
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix(razer): explicitly disable system gnome-remote-desktop service
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat(p510): re-enable FlareSolverr with Python 3.13 compatibility (#125)
  docs/flaresolverr-deployment.md
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

feat(p510): re-enable FlareSolverr with Python 3.13 compatibility (#125) (#126)
  docs/flaresolverr-deployment.md
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

wip(cosmic): add music player applet derivation - BLOCKED by upstream Cargo.lock (#128)
  pkgs/cosmic-applets/music-player/Cargo.lock
  pkgs/cosmic-applets/music-player/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(cosmic): add Tailscale VPN management applet (#127)
  modules/desktop/cosmic.nix
  pkgs/cosmic-applets/tailscale/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(cosmic): add Tailscale VPN management applet (#127) (#130)
  modules/desktop/cosmic.nix
  pkgs/cosmic-applets/tailscale/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(cosmic): add next-meeting calendar applet (#124)
  modules/desktop/cosmic.nix
  pkgs/cosmic-applets/next-meeting/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(cosmic): add next-meeting calendar applet (#124) (#131)
  modules/desktop/cosmic.nix
  pkgs/cosmic-applets/next-meeting/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(cosmic): add COSMIC music player applet (disabled due to upstream issue)
  modules/desktop/cosmic.nix
  pkgs/cosmic-applets/music-player/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(cosmic): add COSMIC music player applet (disabled due to upstream issue) (#132)
  modules/desktop/cosmic.nix
  pkgs/cosmic-applets/music-player/default.nix
  pkgs/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.2 (#133)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.2 (#133) (#134)
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(rescreenshot-mcp): remove duplicate xdg-desktop-portal service definition
  flake.lock
  modules/services/rescreenshot-mcp.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(claude-code): implement Claude Code 2.1.1/2.1.2 updates
  .claude/CLAUDE-CODE-2.1.2-UPDATES.md
  .claude/agents/config-drift-detective.md
  .claude/agents/deployment-coordinator.md
  .claude/agents/module-refactor.md
  .claude/agents/package-resolver.md
  .claude/agents/performance-analyzer.md
  .claude/agents/security-patrol.md
  .claude/agents/test-generator.md
  .claude/hooks/session-start.sh
  .claude/settings.local.json
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt

fix(cosmic): improve Tailscale operator privileges and desktop integration
  modules/desktop/cosmic.nix
  pkgs/cosmic-applets/tailscale/default.nix
Due: nixpkgs-fmt, statix, deadnix
