Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(flake): bump all (nixpkgs unchanged) (#729)
  flake.lock
Due: none

feat(inotify): raise watch/instance/queue limits to 2097152 fleet-wide
  hosts/common/nixos/inotify-limits.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(inotify): raise watch/instance/queue limits to 2097152 fleet-wide (#730)
  hosts/common/nixos/inotify-limits.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): add Backstage developer portal module (disabled)
  docs/backstage.md
  hosts/p510/configuration.nix
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): add p510-scoped agenix secrets (#733)
  secrets.nix
  secrets/backstage-github-oauth-client-id.age
  secrets/backstage-github-oauth-client-secret.age
  secrets/backstage-github-token.age
  secrets/backstage-postgres-password.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(backstage): rename Freundcloud → olafkfreund + pin real image SHA
  docs/backstage.md
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): seed catalog with User + System + Component entities
  catalog-info.yaml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

chore(backstage): bump image digest to 49f4e8e (catalog discovery wired)
  docs/backstage.md
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): enable Backstage portal + Tailscale Serve route (#735)
  hosts/p510/configuration.nix
  hosts/p510/nixos/tailscale-serve.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): add Backstage portal module (disabled by default) (#737)
  catalog-info.yaml
  docs/backstage.md
  hosts/p510/configuration.nix
  hosts/p510/nixos/tailscale-serve.nix
  modules/services/backstage.nix
  secrets.nix
  secrets/backstage-github-oauth-client-id.age
  secrets/backstage-github-oauth-client-secret.age
  secrets/backstage-github-token.age
  secrets/backstage-postgres-password.age
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(backstage): durability fixes + image bump (auth + resolvers)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(backstage): bump image to f435ce6 + seed catalog admin group
  catalog-info.yaml
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): wire GitLab token through env-setup (#731)
  modules/services/backstage.nix
  secrets.nix
  secrets/backstage-gitlab-token.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(backstage): bump image to 138323d (sign-in page + GitHub button)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(backstage): bump image to 334ad65 (drop gitlab plugin)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): TechDocs storage volume + bump image (mkdocs in image)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(backstage): chown postgres data dir to UID 70 (alpine postgres)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(backstage): bump image to 8639af2 (CSP img-src fix)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(backstage): add Group:olafkfreund alias for owner resolution
  catalog-info.yaml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

chore(backstage): bump image to 2f205d1 (custom HomePage)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(backstage): bump image to e2110e1 (catalog-graph sidebar deep-link)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(backstage): seed catalog Groups so owner refs resolve
  catalog-info.yaml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

fix(backstage): seed catalog Groups so owner refs resolve (#742)
  catalog-info.yaml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

chore(backstage): sync remaining feature-branch fixes to main
  catalog-info.yaml
  modules/services/backstage.nix
  secrets.nix
  secrets/backstage-gitlab-token.age
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(backstage): sync remaining feature-branch fixes to main (#743)
  catalog-info.yaml
  modules/services/backstage.nix
  secrets.nix
  secrets/backstage-gitlab-token.age
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(backstage): bump image to 8ad50a3 (drop scaffolder examples)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(backstage): bump image to 8ad50a3 (drop scaffolder examples) (#744)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): MCP Actions + image bump to a5af10f
  modules/services/backstage.nix
  secrets.nix
  secrets/backstage-mcp-token.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): MCP Actions + image bump to a5af10f (#745)
  modules/services/backstage.nix
  secrets.nix
  secrets/backstage-mcp-token.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(backstage): bump to correct MCP image (4402fdd, was wrong a5af10f)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(backstage): bump to correct MCP image (4402fdd, was wrong a5af10f) (#746)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): rust-service template image bump
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): rust-service template image bump (#747)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): bump image to e52253e (4 templates + 4 widgets)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): bump image to e52253e (4 templates + 4 widgets) (#748)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): bump image to c91e7f5 (6 cloud templates + UX fixes)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(backstage): bump image to c91e7f5 (6 cloud templates + UX fixes) (#749)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(backstage): bump to a574f01 (drop broken visits widgets)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(backstage): bump to a574f01 (drop broken visits widgets) (#750)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(backstage): bump to 187ecb9 (RecentActivity follow-up fetch)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
