Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1203)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.lock
  flake.nix
  home/development/workflow.nix
  modules/containers/docker.nix
  modules/desktop/stylix-theme.nix
  modules/packages/sets.nix
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(scripts): abort if flake.lock changes between build and commit
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(scripts): abort if flake.lock changes between build and commit (#1204)
  scripts/update-commit-deploy.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(flake): bump all (nixpkgs unchanged) (#1205)
  flake.lock
Due: none

chore(docs): trim always-loaded CLAUDE.md context by ~75%
  .claude/CLAUDE.md
  CLAUDE.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(docs): remove Samsung as an operational host
  .agent-os/product/roadmap.md
  .claude/CLAUDE-CODE-2.1.2-UPDATES.md
  .claude/agents/deployment-coordinator.md
  .claude/agents/documentation-sync.md
  .claude/agents/performance-analyzer.md
  .claude/agents/security-patrol.md
  .claude/agents/test-generator.md
  .claude/commands/nix-deploy.md
  .claude/commands/nix-info.md
  .claude/commands/nix-live.md
  .claude/commands/nix-network.md
  .claude/commands/nix-secrets.md
  .claude/commands/nix-security.md
  .claude/commands/nix-test.md
  .claude/hooks/session-start.sh
  .claude/skills/tailscale.md
  .gemini/CLAUDE-CODE-2.1.2-UPDATES.md
  .gemini/GEMINI.md
  .gemini/agents/deployment-coordinator.md
  .gemini/agents/documentation-sync.md
  .gemini/agents/performance-analyzer.md
  .gemini/agents/security-patrol.md
  .gemini/agents/test-generator.md
  .gemini/commands/nix-network.toml
  .gemini/hooks/session-start.sh
  .gemini/settings.local.json
  .gemini/skills/nixos-ops/SKILL.md
  .gemini/skills/tailscale/SKILL.md
  .gemini/state/topology.json
  README.md
  docs/MCP-GUIDE.md
  docs/applications/GITLAB-RUNNER-SETUP.md
  docs/guides/CACHE-STRATEGY.md
  docs/guides/CACHIX-ANALYSIS.md
  docs/guides/PACKAGE-SYSTEM-USAGE.md
  docs/tooling/Claude-Powerline.md
  docs/tooling/claude-code-update-2.0.54.md
Due: shellcheck, shfmt, taplo, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

style(docs): apply markdownlint auto-fixes
  .gemini/agents/performance-analyzer.md
  CLAUDE.md
  docs/MCP-GUIDE.md
  docs/applications/GITLAB-RUNNER-SETUP.md
  docs/guides/CACHE-STRATEGY.md
  docs/guides/PACKAGE-SYSTEM-USAGE.md
  docs/tooling/Claude-Powerline.md
  docs/tooling/claude-code-update-2.0.54.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore: remove Samsung host and trim always-loaded CLAUDE.md context (#1206)
  .agent-os/product/roadmap.md
  .claude/CLAUDE-CODE-2.1.2-UPDATES.md
  .claude/CLAUDE.md
  .claude/agents/deployment-coordinator.md
  .claude/agents/documentation-sync.md
  .claude/agents/performance-analyzer.md
  .claude/agents/security-patrol.md
  .claude/agents/test-generator.md
  .claude/commands/nix-deploy.md
  .claude/commands/nix-info.md
  .claude/commands/nix-live.md
  .claude/commands/nix-network.md
  .claude/commands/nix-secrets.md
  .claude/commands/nix-security.md
  .claude/commands/nix-test.md
  .claude/hooks/session-start.sh
  .claude/skills/tailscale.md
  .gemini/CLAUDE-CODE-2.1.2-UPDATES.md
  .gemini/GEMINI.md
  .gemini/agents/deployment-coordinator.md
  .gemini/agents/documentation-sync.md
  .gemini/agents/performance-analyzer.md
  .gemini/agents/security-patrol.md
  .gemini/agents/test-generator.md
  .gemini/commands/nix-network.toml
  .gemini/hooks/session-start.sh
  .gemini/settings.local.json
  .gemini/skills/nixos-ops/SKILL.md
  .gemini/skills/tailscale/SKILL.md
  .gemini/state/topology.json
  CLAUDE.md
  README.md
  docs/MCP-GUIDE.md
  docs/applications/GITLAB-RUNNER-SETUP.md
  docs/guides/CACHE-STRATEGY.md
  docs/guides/CACHIX-ANALYSIS.md
  docs/guides/PACKAGE-SYSTEM-USAGE.md
  docs/tooling/Claude-Powerline.md
  docs/tooling/claude-code-update-2.0.54.md
Due: shellcheck, shfmt, taplo, json-format, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(docs): cut always-loaded context 11.4k -> 2.3k tokens, fix stale architecture claims
  .claude/CLAUDE.md
  CLAUDE.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(docs): cut always-loaded context 11.4k -> 2.3k tokens, fix stale architecture claims (#1207)
  .claude/CLAUDE.md
  CLAUDE.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(commands): delete fabricated example output from /nix-* specs
  .claude/commands/nix-clean.md
  .claude/commands/nix-deploy.md
  .claude/commands/nix-info.md
  .claude/commands/nix-live.md
  .claude/commands/nix-microvm.md
  .claude/commands/nix-network.md
  .claude/commands/nix-optimize.md
  .claude/commands/nix-precommit.md
  .claude/commands/nix-security.md
  .claude/commands/nix-test.md
  .claude/commands/nix-validate.md
  .claude/commands/nix-workflow-security.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(commands): delete fabricated example output from /nix-* specs (#1208)
  .claude/commands/nix-clean.md
  .claude/commands/nix-deploy.md
  .claude/commands/nix-info.md
  .claude/commands/nix-live.md
  .claude/commands/nix-microvm.md
  .claude/commands/nix-network.md
  .claude/commands/nix-optimize.md
  .claude/commands/nix-precommit.md
  .claude/commands/nix-security.md
  .claude/commands/nix-test.md
  .claude/commands/nix-validate.md
  .claude/commands/nix-workflow-security.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged) (#1209)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1210)
  flake.lock
Due: none

fix(desktop): replace themes removed with gtk-engine-murrine (#1211)
  home/desktop/gnome/default.nix
  home/desktop/gnome/theme.nix
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(desktop): replace themes removed with gtk-engine-murrine (#1211) (#1212)
  home/desktop/gnome/default.nix
  home/desktop/gnome/theme.nix
  modules/desktop/stylix-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs 0954f7ee → 1559d3da
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 0954f7ee → 1559d3da (#1213)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1214)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1215)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1216)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1217)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1218)
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 148bab9c → 64380905
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 148bab9c → 64380905 (#1219)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1220)
  flake.lock
Due: none

fix(p620): point /mnt/media NFS at p510's LAN IP (#1224)
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): point /mnt/media NFS at p510's LAN IP (#1224) (#1225)
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(terminals): drop deprecated foot [colors] section (#1226)
  home/desktop/terminals/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check
