Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

docs(plan): draft 2026-09-24-2019-nixarchy-menu-razer-p620 (#2019)
  plan/2026-09-24-2019-nixarchy-menu-razer-p620.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-24-2019-nixarchy-menu-razer-p620 (#2019)
  plan/2026-09-24-2019-nixarchy-menu-razer-p620.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(nixarchy): nixarchy-menu as the menu on razer and p620 (#2019)
  flake.lock
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixarchy (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump nixarchy (nixpkgs unchanged) (#2020)
  flake.lock
Due: none

docs(plan): record steps 1-3 for 2026-09-24-2019-nixarchy-menu-razer-p620 (#2019)
  plan/2026-09-24-2019-nixarchy-menu-razer-p620.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs: markdownlint fixes for 2026-09-24-2019-nixarchy-menu-razer-p620 (#2019)
  intent/2026-09-24-2019-nixarchy-menu-razer-p620.md
  plan/2026-09-24-2019-nixarchy-menu-razer-p620.md
  spec/2026-09-24-2019-nixarchy-menu-razer-p620.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(p620): regenerated nixarchy-apps header lists flatsnap.nix
  hosts/p620/nixarchy-apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(p620): regenerated nixarchy-apps header lists flatsnap.nix (#2022)
  hosts/p620/nixarchy-apps.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.282 (#2018)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.282 (#2018) (#2023)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): record rollout results for 2026-09-24-2019-nixarchy-menu-razer-p620 (#2019)
  plan/2026-09-24-2019-nixarchy-menu-razer-p620.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): record rollout results for 2026-09-24-2019-nixarchy-menu-razer-p620 (#2019) (#2024)
  plan/2026-09-24-2019-nixarchy-menu-razer-p620.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2025)
  flake.lock
Due: none

chore(voice): turn on trace_timings on p620 and razer
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(voice): turn on trace_timings on p620 and razer (#2026)
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(voice): drop the ssh deny rule by name on p620, keep the rest
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(voice): drop the ssh deny rule by name on p620, keep the rest (#2028)
  hosts/p620/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft Omarchy runtime theme engine
  intent/2026-09-25-tbd-omarchy-theme-engine.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged) (#2030)
  flake.lock
Due: none

chore(flake): bump nixarchy-voice to cbf68f9
  flake.lock
Due: none

chore(flake): bump nixarchy-voice to cbf68f9 (#2032)
  flake.lock
Due: none

chore(flake): bump nixarchy-voice to 6879b0b
  flake.lock
Due: none

chore(flake): bump nixarchy-voice to 6879b0b (#2034)
  flake.lock
Due: none

chore(flake): bump nixarchy-voice to v2.1.0
  flake.lock
Due: none

chore(flake): bump nixarchy-voice to v2.1.0 (#2035)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2036)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2037)
  flake.lock
Due: none

chore(claude-code): auto-update to 2.1.283
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): auto-update to 2.1.283 (#2039)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gogcli): auto-update to 0.42.0
  pkgs/gogcli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(gogcli): auto-update to 0.42.0 (#2040)
  pkgs/gogcli/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(deps): update flake inputs - daily automatic update
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 4975466d → e94cb152
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 4975466d → e94cb152 (#2041)
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
