Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

chore(antigravity): bump cli/ide/hub/sdk to latest
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
  pkgs/antigravity-ide/package.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump cli/ide/hub/sdk to latest (#1333)
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
  pkgs/antigravity-ide/package.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): bump to v0.2026.08.12.21.54.stable_00
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): bump to v0.2026.08.12.21.54.stable_00 (#1334)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1336)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1337)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1338)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1339)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1340)
  flake.lock
Due: none

chore(claude-code): update to 2.1.233 (#1335)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.233 (#1335) (#1341)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): un-pin herdr, noctalia and ollama-cuda
  flake.lock
  flake.nix
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): un-pin herdr, noctalia and ollama-cuda (#1342)
  flake.lock
  flake.nix
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): disable unattended autoUpgrade, add stale-session cleanup
  Justfile
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): disable unattended autoUpgrade, add stale-session cleanup (#1343)
  Justfile
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixpkgs, drop stale FFmpeg 8 overrides
  flake.lock
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixpkgs, drop stale FFmpeg 8 overrides (#1344)
  flake.lock
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1345)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1346)
  flake.lock
Due: none

feat(home): writable npm/npx global prefix
  home/development/default.nix
  home/development/npm-prefix.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(home): writable npm/npx global prefix (#1347)
  home/development/default.nix
  home/development/npm-prefix.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1348)
  flake.lock
Due: none

fix(scripts): escalate ESP cleanup to one generation when two will not fit
  scripts/check-boot-space.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(scripts): escalate ESP cleanup to one generation when two will not fit (#1350)
  flake.lock
  scripts/check-boot-space.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(overlays): drop the nixpkgs-master dms-shell graft
  flake.lock
  flake.nix
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(overlays): drop the nixpkgs-master dms-shell graft (#1351)
  flake.lock
  flake.nix
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1356)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1357)
  flake.lock
Due: none
