Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

fix(obs): tolerate discarded-qualifiers in plugins under GCC 16
  home/desktop/obs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(obs): tolerate discarded-qualifiers in plugins under GCC 16 (#2106)
  home/desktop/obs/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(python): skip torchcodec mp3 CLI-comparison test
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(python): skip torchcodec mp3 CLI-comparison test (#2107)
  overlays/upstream-fixes.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2109)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2110)
  flake.lock
Due: none

docs(intent): draft whisper-server on Vulkan (#2111)
  intent/2026-10-01-2111-whisper-vulkan.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-01-2111-whisper-vulkan (#2111)
  intent/2026-10-01-2111-whisper-vulkan.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft whisper-server on Vulkan (#2111)
  spec/2026-10-01-2111-whisper-vulkan.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-01-2111-whisper-vulkan (#2111)
  spec/2026-10-01-2111-whisper-vulkan.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft whisper-server on Vulkan (#2111)
  plan/2026-10-01-2111-whisper-vulkan.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-01-2111-whisper-vulkan (#2111)
  plan/2026-10-01-2111-whisper-vulkan.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(whisper-server): optional Vulkan GPU path, on for p620 (#2111)
  hosts/p620/configuration.nix
  modules/services/whisper-server.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): record step 3 results and razer check deviation (#2111)
  plan/2026-10-01-2111-whisper-vulkan.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(razer): run omarchy-voice whisper on the RTX 3080 (#2113)
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(whisper-server): run on the GPU via Vulkan on p620 (#2111) (#2114)
  hosts/p620/configuration.nix
  intent/2026-10-01-2111-whisper-vulkan.md
  modules/services/whisper-server.nix
  plan/2026-10-01-2111-whisper-vulkan.md
  spec/2026-10-01-2111-whisper-vulkan.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(razer): run omarchy-voice whisper on the RTX 3080 (#2113) (#2115)
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(theme): switch the Nixarchy theme to grimshaw
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(theme): switch the Nixarchy theme to grimshaw (#2117)
  nixarchy-theme.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all — nixpkgs b4fd65b1 → c59305ba
  flake.lock
Due: none

chore(flake): bump all — nixpkgs b4fd65b1 → c59305ba (#2118)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#2119)
  flake.lock
Due: none

fix(sops): point the admin recipient at a key that exists (#2120)
  .sops.yaml
  secrets/hosts/p510/rdp.yaml
  secrets/hosts/p620/rdp.yaml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

fix(sops): point the admin recipient at a key that exists (#2120) (#2121)
  .sops.yaml
  secrets/hosts/p510/rdp.yaml
  secrets/hosts/p620/rdp.yaml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft chrome profile launchers (#2122)
  intent/2026-10-01-2122-chrome-profile-launchers.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-01-2122-chrome-profile-launchers (#2122)
  intent/2026-10-01-2122-chrome-profile-launchers.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft chrome profile launchers (#2122)
  spec/2026-10-01-2122-chrome-profile-launchers.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-01-2122-chrome-profile-launchers (#2122)
  spec/2026-10-01-2122-chrome-profile-launchers.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft chrome profile launchers (#2122)
  plan/2026-10-01-2122-chrome-profile-launchers.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-01-2122-chrome-profile-launchers (#2122)
  plan/2026-10-01-2122-chrome-profile-launchers.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(chrome): launcher entry per Chrome profile on p620 and razer (#2122)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  home/desktop/chrome-profiles.nix
  home/desktop/default.nix
  plan/2026-10-01-2122-chrome-profile-launchers.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(chrome): launcher entry per Chrome profile on p620 and razer (#2122) (#2123)
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  home/desktop/chrome-profiles.nix
  home/desktop/default.nix
  intent/2026-10-01-2122-chrome-profile-launchers.md
  plan/2026-10-01-2122-chrome-profile-launchers.md
  spec/2026-10-01-2122-chrome-profile-launchers.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.287 (#2116)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.287 (#2116) (#2124)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(warp-terminal): auto-update to 0.2026.09.30.08.29.stable_01
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): auto-update to 0.2026.09.30.08.29.stable_01 (#2125)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
