Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

feat(audit): nightly NixOS upstream issue audit workflow (#774)
  .github/workflows/nixos-issue-audit.yml
  scripts/nixos-issue-audit.sh
Due: shellcheck, shfmt, yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(audit): set GH_TOKEN at job scope so the audit script can call gh
  .github/workflows/nixos-issue-audit.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(audit): set GH_TOKEN at job scope so the audit script can call gh (#775)
  .github/workflows/nixos-issue-audit.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(backstage): bump image to obsidian-bridge build (sha-efbf61f)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(backstage): bump image to obsidian-bridge build (sha-efbf61f) (#776)
  modules/services/backstage.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ollama): add gemma4:12b to p620 + p510 on-demand models
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ollama): add gemma4:12b to p620 + p510 on-demand models (#781)
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Revert "feat(ollama): add gemma4:12b to p620 + p510 on-demand models (#781)"
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Revert "feat(ollama): add gemma4:12b to p620 + p510 on-demand models (#781)" (#782)
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(catalog): add /tree/main/ to source-location so dir:. techdocs-ref resolves
  catalog-info.yaml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

fix(catalog): add /tree/main/ to source-location so dir:. techdocs-ref resolves (#783)
  catalog-info.yaml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#785)
  flake.lock
Due: none

chore(claude-code): bump native binary to 2.1.167 (#779)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): bump native binary to 2.1.167 (#779) (#786)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): bump to v2.0.18+claude1.11187.4 (#780)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): bump to v2.0.18+claude1.11187.4 (#780) (#787)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(k3d): k3d cluster + ArgoCD + Tailscale sidecar on p510
  hosts/p510/configuration.nix
  modules/containers/k3d.nix
  secrets.nix
  secrets/tailscale-k8s-operator-oauth.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(k3d): TechDocs + Backstage catalog for the k3d cluster
  CLAUDE.md
  catalog-info.yaml
  docs/applications/k3d-cluster.md
  docs/architecture/k3d-architecture.md
  docs/guides/factory-gitops.md
  mkdocs.yml
Due: yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(docs): satisfy markdownlint on the new k3d docs
  CLAUDE.md
  docs/applications/k3d-cluster.md
  docs/architecture/k3d-architecture.md
  docs/guides/factory-gitops.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

revert(docs): drop CLAUDE.md status block from this PR
  CLAUDE.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(k3d): k3d cluster + ArgoCD + Tailscale sidecar on p510 (#788)
  catalog-info.yaml
  docs/applications/k3d-cluster.md
  docs/architecture/k3d-architecture.md
  docs/guides/factory-gitops.md
  hosts/p510/configuration.nix
  mkdocs.yml
  modules/containers/k3d.nix
  secrets.nix
  secrets/tailscale-k8s-operator-oauth.age
Due: nixpkgs-fmt, statix, deadnix, yamllint, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(docker): move data-root to /mnt/img_pool/docker on p510
  modules/containers/docker.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(docker): move data-root to /mnt/img_pool/docker on p510 (#789)
  modules/containers/docker.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): add git to bootstrap script's runtime inputs
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(docs): correct Tailscale sidecar image pin
  docs/guides/factory-gitops.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(k3d): add git to bootstrap script's runtime inputs (#790)
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(docs): correct Tailscale sidecar image pin (#791)
  docs/guides/factory-gitops.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(p510): rebind kube API + move Ollama + enable Claude
  hosts/p510/configuration.nix
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): rebind kube API + move Ollama + enable Claude (#792)
  hosts/p510/configuration.nix
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): bind API to p510's tailnet IP, not 0.0.0.0
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): bind API to p510's tailnet IP, not 0.0.0.0 (#793)
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): pin modern k3s image to fix Postgres SIGBUS on cluster
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(docs): split mkdocs config so Backstage TechDocs can build
  docs_gen/site.nix
  mkdocs-full.yml
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(docs): split mkdocs config so Backstage TechDocs can build (#795)
  docs_gen/site.nix
  mkdocs-full.yml
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): pin modern k3s image to fix Postgres SIGBUS on cluster (#794)
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): add n8n runtime for LLM media recommendations (v1 foundation)
  docs/plans/2026-05-26-plex-llm-recommendations-design.md
  docs/plans/2026-05-26-plex-llm-recommendations-runtime.md
  hosts/p510/configuration.nix
  modules/services/n8n.nix
  secrets.nix
  secrets/n8n-encryption-key.age
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): add n8n runtime for LLM media recommendations (v1 foundation) (#625)
  docs/plans/2026-05-26-plex-llm-recommendations-design.md
  docs/plans/2026-05-26-plex-llm-recommendations-runtime.md
  hosts/p510/configuration.nix
  modules/services/n8n.nix
  secrets.nix
  secrets/n8n-encryption-key.age
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): cloudflared module for public ingress (CGNAT-safe)
  hosts/p510/configuration.nix
  modules/services/cloudflared.nix
  secrets.nix
  secrets/cloudflared-cert.age
  secrets/cloudflared-credentials.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p510): cloudflared module for public ingress (CGNAT-safe) (#796)
  hosts/p510/configuration.nix
  modules/services/cloudflared.nix
  secrets.nix
  secrets/cloudflared-cert.age
  secrets/cloudflared-credentials.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check
