Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration

just-validate:
  name: Validate justfile
  entry: just --list
  language: system
  pass_filenames: false
  description: Validate justfile syntax

fix(greetd): add missing lib argument to fix syntax error
  modules/services/greetd/greetd.nix
Due: nixpkgs-fmt, statix, deadnix

chore: update flake.lock
  flake.lock
Due: flake-check

fix(nix): correct binary cache hostname to p620.lan
  flake.nix
  modules/nix/nix.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(gemini-cli): update to version 0.25.0
  home/development/gemini-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat(home): enable antigravity-nixpkg on samsung and razer hosts
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
Due: nixpkgs-fmt, statix, deadnix

feat(dev): add yamllint to shell development tools
  modules/development/shell.nix
Due: nixpkgs-fmt, statix, deadnix

feat: update gemini agents, deployment scripts, and system configurations
  .gemini/GEMINI.md
  .gemini/agents/config-drift-detective.md
  .gemini/agents/deployment-coordinator.md
  .gemini/agents/documentation-sync.md
  .gemini/agents/issue-checker.md
  .gemini/agents/local-logs.md
  .gemini/agents/module-refactor.md
  .gemini/agents/nix-check.md
  .gemini/agents/package-resolver.md
  .gemini/agents/performance-analyzer.md
  .gemini/agents/security-patrol.md
  .gemini/agents/test-agent.md
  .gemini/agents/test-generator.md
  .gemini/agents/update.md
  .gemini/commands/sane.toml
  .gemini/commands/verify.toml
  .gemini/state/issues.json
  .gemini/state/topology.json
  Justfile
  checks/default.nix
  docs/CACHE-STRATEGY.md
  flake.lock
  flake.nix
  home/desktop/gnome/theme.nix
  home/shell/zsh.nix
  modules/networking/default.nix
  modules/nix/nix.nix
  modules/nixos/default.nix
  modules/scripts/default.nix
  modules/secrets/default.nix
  modules/shell/default.nix
  modules/storage/default.nix
  modules/tools/default.nix
  modules/windows/default.nix
  pkgs/add-skill/default.nix
  pkgs/default.nix
  scripts/analyze-modules.sh
  scripts/gemini-adapter.sh
  scripts/generate-topology.sh
  scripts/issue-checker.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check

fix(home-assistant): add missing python-otbr-api dependency
  modules/services/home-assistant.nix
Due: nixpkgs-fmt, statix, deadnix

fix(home-assistant): explicitly define components and add missing dependencies
  modules/services/home-assistant.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.15
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

chore(gemini): add PARR reasoning protocol and update sane command
  .gemini/GEMINI.md
  .gemini/commands/sane.toml
  flake.lock
Due: flake-check

feat(hooks): add Claude Code hooks with Nix-packaged formatters
  .claude/hooks/format-file.sh
  .claude/hooks/lint-file.sh
  .claude/settings.json
  .pre-commit-config.yaml
  .typos.toml
  .yamllint
  modules/development/pre-commit.nix
  stylua.toml
  taplo.toml
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt

chore(claude-code): update to version 2.1.17
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(theming): resolve stylix/COSMIC conflicts and re-enable theming
  CLAUDE.md
  Users/common/base-home.nix
  Users/common/imports.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  flake.nix
  home/desktop/gnome/theme.nix
  home/desktop/terminals/wezterm/default.nix
  home/desktop/theme/qt.nix
  home/media/spice_themes.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(gemini-cli): update to version 0.25.1
  flake.nix
  home/development/gemini-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(claude-code): add PARR protocol enforcement via hooks
  .claude/CLAUDE.md
  .claude/commands/parr.md
  flake.lock
  home/development/claude-code-lsp.nix
  home/shell/gh/default.nix
  hosts/p620/configuration.nix
  modules/ai/chatgpt.nix
  modules/ai/default.nix
  modules/containers/docker.nix
  modules/development/claude-hooks.nix
  modules/development/github.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat(syncthing): add module for ~/.claude and ~/.gemini sync
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/services/default.nix
  modules/services/syncthing.nix
Due: nixpkgs-fmt, statix, deadnix

chore(syncthing): add P620 device ID and fix linting
  modules/services/syncthing.nix
Due: nixpkgs-fmt, statix, deadnix

chore(claude-code): update to version 2.1.19
  home/development/claude-code/default.nix
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

chore(flake): update flake inputs
  flake.lock
Due: flake-check

fix(python): disable mdformat due to markdown-it-py version conflict (#172)
  flake.lock
  home/development/lsp-servers.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(gnome): disable upscaler due to pysdl2 sandbox test failure (#173)
  home/desktop/gnome/apps.nix
Due: nixpkgs-fmt, statix, deadnix

chore(editors): remove unused Emacs configuration (#174)
  .agent-os/product/tech-stack.md
  home/development/README.md
  home/development/default.nix
  home/development/emacs.nix
  modules/nixos/packages/categories/development.nix
Due: nixpkgs-fmt, statix, deadnix

chore(development): remove unused Ansible configuration (#175)
  home/development/languages.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos-options.nix
  hosts/razer/configuration.nix
  hosts/razer/nixos-options.nix
  hosts/samsung/configuration.nix
  hosts/samsung/nixos-options.nix
  modules/cloud/azure.nix
  modules/common/README.md
  modules/common/features-impl.nix
  modules/common/features.nix
  modules/development/README.md
  modules/development/ansible.nix
  modules/development/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore(desktop): remove all Sway window manager packages and configuration (#176)
  home/desktop/README.md
  home/desktop/scripts.nix
  home/desktop/sway/default.nix
  home/profiles/desktop-user/default.nix
  home/profiles/developer/default.nix
  home/profiles/laptop-user/default.nix
  hosts/razer/home-manager-options.nix
  hosts/samsung/home-manager-options.nix
  modules/pkgs/default.nix
  modules/security/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(pkgs): remove failing quick-webapps package (#177)
  flake.nix
  modules/desktop/cosmic.nix
  pkgs/default.nix
  pkgs/quick-webapps/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(desktop): remove Hyprland, Rofi, and Waybar packages and configurations (#178)
  home/desktop/README.md
  home/desktop/scripts.nix
  hosts/p510/nixos/greetd.nix
  hosts/templates/server.nix
  modules/services/citrix-workspace.nix
  pkgs/default.nix
  pkgs/rofi-blocks/default.nix
  pkgs/rofi-blocks/meson-install-dir.patch
Due: nixpkgs-fmt, statix, deadnix

chore(desktop): remove Walker launcher package and configuration references (#179)
  Users/common/imports.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  flake.nix
  home/desktop/README.md
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(config): remove unused Proxmox binary cache (#180)
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(music): remove alternative Spotify clients (#181)
  home/media/music.nix
Due: nixpkgs-fmt, statix, deadnix

fix(home-manager): use timestamped backup directories
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(nix): remove nix-serve binary cache configuration
  flake.nix
  hosts/p620/configuration.nix
  modules/nix/nix.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(razer): enable firewall with SSH access for inbound connectivity
  flake.lock
  hosts/razer/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

chore(gemini-cli): update to version 0.25.2
  home/development/gemini-cli/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(nix): remove unused config parameter
  modules/nix/nix.nix
Due: nixpkgs-fmt, statix, deadnix

ci: enable CI pipeline and add daily flake updates
  .github/workflows/ci.yml
  .github/workflows/update-flake.yml
Due: none

fix(p620): resolve duplicate 'ai' attribute definition
  flake.lock
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix(ci): improve validate command to use full flake check
  Justfile
Due: none

refactor(p620): remove gitlab-runner completely
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  flake-check: any of: flake\.(nix|lock)$
  just-validate: any of: justfile$
