Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration

just-validate:
  name: Validate justfile
  entry: just --list
  language: system
  pass_filenames: false
  description: Validate justfile syntax

Configure Walker with Gruvbox Material theme and Gemini AI integration
  home/desktop/hyprland/config/binds.nix
  home/desktop/hyprland/config/settings.nix
  home/desktop/walker/default.nix
  home/media/music.nix
Due: nixpkgs-fmt, statix, deadnix

Revert rofi keybinding change - keep SUPER+Space as rofi
  home/desktop/hyprland/config/binds.nix
Due: nixpkgs-fmt, statix, deadnix

Fix Walker configuration duplicate commands module
  home/desktop/walker/default.nix
Due: nixpkgs-fmt, statix, deadnix

Fix Walker fullscreen mode - force centered windowed mode
  home/desktop/hyprland/config/settings.nix
  home/desktop/walker/default.nix
Due: nixpkgs-fmt, statix, deadnix

Fix Walker transparency issues - force completely opaque appearance
  home/desktop/hyprland/config/settings.nix
  home/desktop/walker/default.nix
Due: nixpkgs-fmt, statix, deadnix

Enhance shell experience with eza icons and Starship visual separator
  home/shell/starship/default.nix
  home/shell/zsh.nix
Due: nixpkgs-fmt, statix, deadnix

Update Claude Code to version 1.0.77 and add custom CPU monitoring
  flake.lock
  home/desktop/hyprland/config/settings.nix
  home/desktop/walker/default.nix
  home/desktop/waybar/default.nix
  home/development/claude-code/default.nix
  home/shell/lazyvim/lazyvim/lua/plugins/claude-code.lua
  home/shell/lazyvim/lazyvim/lua/plugins/gp.lua
  home/shell/zsh.nix
  hosts/p620/configuration.nix
  modules/core.nix
  modules/scripts/cpu-advanced.nix
  modules/security/secrets.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
  secrets/github-token.age
  secrets/nextcloud-admin-password.age
  secrets/postgres-password.age
  secrets/tailscale-auth-key.age
Due: nixpkgs-fmt, statix, deadnix, flake-check

Remove problematic custom CPU module and revert to standard Waybar CPU
  home/desktop/hyprland/config/settings.nix
  home/desktop/waybar/default.nix
  home/shell/lazyvim/lazyvim/lua/plugins/gp.lua
  hosts/p620/configuration.nix
  modules/core.nix
  modules/scripts/cpu-advanced.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
  secrets/tailscale-auth-key.age
Due: nixpkgs-fmt, statix, deadnix

Implement OpenAI Codex CLI integration
  flake.nix
  home/development/codex-cli.nix
  home/development/codex-cli/default.nix
  home/development/codex-cli/module.nix
  home/development/default.nix
  secrets.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
  secrets/github-token.age
  secrets/nextcloud-admin-password.age
  secrets/postgres-password.age
  secrets/tailscale-auth-key.age
  secrets/user-password-olafkfreund.age
  secrets/wifi-password.age
Due: nixpkgs-fmt, statix, deadnix, flake-check

Add Hyprland Stack3D plugin configuration module
  modules/desktop/hyprland/hyprland-stack3d.nix
Due: nixpkgs-fmt, statix, deadnix

Add Hyprland Stack3D plugin flake input and module integration
  flake.lock
  flake.nix
  home/desktop/waybar/default.nix
  modules/desktop.nix
  modules/desktop/hyprland/hyprland-stack3d.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

Temporarily disable walker due to broken commit
  Users/common/features-impl.nix
  Users/common/imports.nix
  Users/olafkfreund/dex5550_home.nix
  Users/olafkfreund/p510_home.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  home/desktop/default.nix
Due: nixpkgs-fmt, statix, deadnix

Fix stack3d plugin loading by enabling hyprfocus
  home/desktop/hyprland/config/plugins.nix
  home/desktop/hyprland/default.nix
  modules/desktop.nix
  modules/desktop/hyprland/hyprland-stack3d.nix
Due: nixpkgs-fmt, statix, deadnix

Debug: Always include plugins.nix to test plugin configuration
  home/desktop/hyprland/default.nix
Due: nixpkgs-fmt, statix, deadnix

Disable stack3d plugin configuration
  home/desktop/hyprland/config/plugins.nix
Due: nixpkgs-fmt, statix, deadnix

TEMP: Disable API keys due to age decryption failures
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

Fix age decryption by recreating all API secrets
  hosts/p620/configuration.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
  secrets/tailscale-auth-key.age
Due: nixpkgs-fmt, statix, deadnix

Update GitHub token with notifications scope
  secrets/api-github-token.age
Due: none

Update Claude Code to version 1.0.80
  home/development/claude-code/default.nix
Due: nixpkgs-fmt, statix, deadnix

Add Claude Desktop launcher entry
  home/development/claude-desktop/default.nix
  home/development/default.nix
Due: nixpkgs-fmt, statix, deadnix

Fix Claude Desktop desktop entry validation
  home/development/claude-desktop/default.nix
Due: nixpkgs-fmt, statix, deadnix

Fix system-wide sudo PATH ordering issue across all hosts
  CLAUDE.md
  flake.lock
  flake.nix
  home/desktop/hyprland/config/plugins.nix
  home/desktop/hyprland/default.nix
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
  home/shell/zsh.nix
  hosts/common/nixos/envvar.nix
  hosts/dex5550/configuration.nix
  modules/system-utils/system_util.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

Remove python3.13-spacy and related overlay configuration
  modules/development/python.nix
  modules/overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix

Improve sudo PATH fix with systemd configuration
  hosts/common/nixos/envvar.nix
Due: nixpkgs-fmt, statix, deadnix

Final sudo wrapper solution
  hosts/common/nixos/envvar.nix
Due: nixpkgs-fmt, statix, deadnix

Update Claude Code to version 1.0.83
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

Fix critical NixOS anti-patterns identified by statix
  home/development/claude-desktop/default.nix
  home/development/codex-cli.nix
  lib/flake-helpers.nix
  templates/hosts/workstation/nixos/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix

Update P620 monitor configuration for dual 1440p@120Hz setup
  hosts/p620/variables.nix
Due: nixpkgs-fmt, statix, deadnix

Comprehensive NixOS anti-patterns documentation and infrastructure updates
  .gitattributes
  ARCHITECTURE_ANALYSIS_REPORT.md
  CLAUDE.md
  docs/NIXOS-ANTI-PATTERNS.md
  docs/researched-antipatterns.md
  flake.lock
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
  secrets/tailscale-auth-key.age
Due: flake-check

Fix LazyVim configuration issues and reduce magic auto-discovery
  docs/NIXOS-ANTI-PATTERNS.md
  docs/researched-antipatterns.md
  flake.lock
  home/shell/lazyvim/lazyvim/lua/plugins/claude-code.lua
  home/shell/lazyvim/lazyvim/lua/plugins/gp.lua
  hosts/p620/configuration.nix
  hosts/p620/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

Fix critical statix warnings and deadnix issues
  home/shell/lazyvim/lazyvim/lua/plugins/claude-code.lua
  hosts/common/nixos/hosts.nix
  hosts/common/nixos/i18n.nix
  hosts/dex5550/nixos/hardware-configuration.nix
  hosts/dex5550/variables.nix
  hosts/hp/variables.nix
  hosts/p510/variables.nix
  hosts/p620/configuration.nix
  hosts/p620/nixos/boot.nix
  hosts/p620/variables.nix
  hosts/razer/variables.nix
  hosts/samsung/variables.nix
  lib/live-images.nix
  modules/default.nix
  secrets.nix
  templates/modules/development-tool.nix
Due: nixpkgs-fmt, statix, deadnix

EMERGENCY: Recreate all corrupted agenix secrets
  Users/olafkfreund/razer_home.nix
  flake.lock
  home/desktop/hyprland/config/monitors.nix
  home/desktop/hyprland/config/rules.nix
  home/desktop/hyprland/config/workspace.nix
  home/desktop/hyprland/default.nix
  home/desktop/terminals/default.nix
  hosts/dex5550/configuration.nix
  hosts/dex5550/nixos/envvar.nix
  hosts/dex5550/nixos/i18n.nix
  hosts/hp/configuration.nix
  hosts/hp/nixos/envvar.nix
  hosts/hp/nixos/i18n.nix
  hosts/hp/themes/stylix.nix
  hosts/p510/configuration.nix
  hosts/p510/themes/stylix.nix
  hosts/p620/configuration.nix
  hosts/p620/themes/stylix.nix
  hosts/razer/configuration.nix
  hosts/razer/themes/stylix.nix
  hosts/samsung/configuration.nix
  hosts/samsung/themes/stylix.nix
  modules/monitoring/gpu-exporter.nix
  modules/secrets/api-keys.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
  secrets/corrupted-20250817-184054/api-anthropic.age
  secrets/corrupted-20250817-184054/api-gemini.age
  secrets/corrupted-20250817-184054/api-github-token.age
  secrets/corrupted-20250817-184054/api-openai.age
  secrets/corrupted-20250817-184054/tailscale-auth-key.age
  secrets/corrupted-20250817-184054/wifi-password.age
  secrets/tailscale-auth-key.age
  secrets/user-password-olafkfreund.age
  secrets/wifi-password.age
Due: nixpkgs-fmt, statix, deadnix, flake-check

Fix critical statix warnings and code quality improvements
  flake.lock
  home/development/languages.nix
  home/shell/claude-integration.nix
  hosts/p510/nixos/power.nix
  hosts/p620/configuration.nix
  secrets.nix
  secrets.nix.backup
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
  secrets/tailscale-auth-key.age
  secrets/user-password-olafkfreund.age
  secrets/wifi-password.age
  templates/hosts/workstation/nixos/boot.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

🎥 Enable yt-x terminal YouTube browser on P620
  flake.lock
  flake.nix
  hosts/p620/configuration.nix
  modules/programs/default.nix
  modules/programs/yt-x/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

⬆️ Update Claude Code to version 1.0.84
  flake.lock
  flake.nix
  home/development/claude-code/default.nix
  home/media/mpv/default.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

🎨 Apply nixpkgs-fmt formatting to host variables files
  hosts/dex5550/variables.nix
  hosts/hp/variables.nix
  hosts/p510/variables.nix
  hosts/p620/variables.nix
  hosts/razer/variables.nix
  hosts/samsung/variables.nix
Due: nixpkgs-fmt, statix, deadnix

🔐 Fix agenix secrets for all hosts (Razer, P510, DEX5550, Samsung)
  secrets.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
  secrets/tailscale-auth-key.age
  secrets/user-password-olafkfreund.age
  secrets/wifi-password.age
Due: nixpkgs-fmt, statix, deadnix

🔐 Fix P620 agenix decryption issues permanently
  secrets.nix
  secrets/api-anthropic.age
  secrets/api-gemini.age
  secrets/api-github-token.age
  secrets/api-openai.age
  secrets/tailscale-auth-key.age
  secrets/user-password-olafkfreund.age
  secrets/wifi-password.age
Due: nixpkgs-fmt, statix, deadnix

⬆️ Update Claude Code to version 1.0.85
  home/development/claude-code/default.nix
  home/development/claude-code/package.json
Due: nixpkgs-fmt, statix, deadnix

Update rofi and system utilities configuration
  flake.lock
  home/desktop/rofi/default.nix
  modules/system-utils/system_util.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  flake-check: any of: flake\.(nix|lock)$
  just-validate: any of: justfile$
