Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

fix/nhs branch guard actionable (#1389)
  modules/containers/k3d.nix
  scripts/update-commit-deploy.sh
Due: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check

chore(flake): bump all — nixpkgs 0ae2bc14 → ffb3c9b7
  flake.lock
Due: none

chore(flake): bump all — nixpkgs 0ae2bc14 → ffb3c9b7 (#1390)
  flake.lock
Due: none

feat(ollama): make qwen3.8:27b the default model
  home/development/claude-code-commands/default.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  modules/services/litellm-router.nix
  modules/services/ollama.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(ollama): make qwen3.8:27b the default model (#1391)
  home/development/claude-code-commands/default.nix
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
  modules/services/litellm-router.nix
  modules/services/ollama.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1392)
  flake.lock
Due: none

chore(claude-code): update to 2.1.237 (#1388)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.237 (#1388) (#1393)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plans): p510 crash post-mortem + k3d migration to p620
  docs/plans/2026-08-20-k3d-p510-to-p620-migration.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plans): update k3d migration plan after removing p620 demo clusters
  docs/plans/2026-08-20-k3d-p510-to-p620-migration.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(p510): drop qwen3.8:27b — the PSU cannot power both GPUs
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plans): third p510 crash, build cache reclaimed, storageDir -> /mnt/games
  docs/plans/2026-08-20-k3d-p510-to-p620-migration.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(p510): cap GPU board power to fit the 490W PSU
  hosts/p510/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): drop qwen3.8:27b — the PSU cannot power both GPUs (#1395)
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): cap GPU board power to fit the 490W PSU (#1396)
  hosts/p510/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1397)
  flake.lock
Due: none

docs(plans): phase 1 pre-flight — live data is 9.3GB in a different directory
  docs/plans/2026-08-20-k3d-p510-to-p620-migration.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plans): fides is in scope and ArgoCD-managed; databases need dumps
  docs/plans/2026-08-20-k3d-p510-to-p620-migration.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(k3d): boot seed clobbered the cluster-rotated Claude credential
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(k3d): pull the out-of-band cluster Secrets into agenix
  modules/containers/k3d.nix
  secrets.nix
  secrets/factory-secret-odin-api-keys.age
  secrets/k3d-secret-fides-reporter-token.age
  secrets/k3d-secret-fides-secrets.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): back up the LIVE keycloak H2, not whatever sits at storageDir
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(k3d): pull the out-of-band cluster Secrets into agenix (#1399)
  modules/containers/k3d.nix
  secrets.nix
  secrets/factory-secret-odin-api-keys.age
  secrets/k3d-secret-fides-reporter-token.age
  secrets/k3d-secret-fides-secrets.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): capture CFACTORY_READ_KEY into the factory-secrets agenix slot
  secrets/factory-secret-factory-secrets.age
Due: none

fix(k3d): capture CFACTORY_READ_KEY into the factory-secrets agenix slot (#1401)
  secrets/factory-secret-factory-secrets.age
Due: none

fix(k3d): back up the LIVE keycloak H2, not whatever sits at storageDir (#1400)
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(k3d): remove rolehunter
  modules/containers/k3d.nix
  secrets.nix
  secrets/factory-secret-rolehunter-app.age
  secrets/factory-secret-rolehunter-db.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(k3d): remove rolehunter (#1402)
  modules/containers/k3d.nix
  secrets.nix
  secrets/factory-secret-rolehunter-app.age
  secrets/factory-secret-rolehunter-db.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(overlays): give litellm the `expression` module its proxy needs
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(overlays): give litellm the `expression` module its proxy needs (#1403)
  overlays/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(audit): route nixpkgs issue links through redirect.github.com
  .claude/commands/check-nixos-issues.md
  scripts/nixos-issue-audit.sh
Due: shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

docs(plans): record the migration outcome and what the plan missed
  docs/plans/2026-08-20-k3d-p510-to-p620-migration.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plans): p510 crash post-mortem + k3d migration to p620 (#1394)
  docs/plans/2026-08-20-k3d-p510-to-p620-migration.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(secrets): rotate the Ollama key and store the Factory GitOps PAT
  secrets.nix
  secrets/api-ollama.age
  secrets/factory-gitops-pat.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(secrets): rotate the Ollama key and store the Factory GitOps PAT (#1406)
  secrets.nix
  secrets/api-ollama.age
  secrets/factory-gitops-pat.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(audit): route nixpkgs issue links through redirect.github.com (#1404)
  .claude/commands/check-nixos-issues.md
  scripts/nixos-issue-audit.sh
Due: shellcheck, shfmt, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

chore(p510): remove the k3d cluster — migrated to p620
  .typos.toml
Due: taplo, trailing-whitespace, end-of-file, check-merge-conflict
