Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration

just-validate:
  name: Validate justfile
  entry: just --list
  language: system
  pass_filenames: false
  description: Validate justfile syntax

Complete GNOME Remote Desktop configuration with dconf settings and XRDP
  home/desktop/gnome/apps.nix
  hosts/p620/configuration.nix
  hosts/razer/configuration.nix
  hosts/samsung/configuration.nix
  modules/desktop/default.nix
  modules/desktop/gnome-remote-desktop.nix
Due: nixpkgs-fmt, statix, deadnix

Fix dconf settings conflict for GNOME Remote Desktop power management
  home/desktop/gnome/apps.nix
Due: nixpkgs-fmt, statix, deadnix

fix: resolve systemd targets conflict in GNOME Remote Desktop
  modules/desktop/gnome-remote-desktop.nix
Due: nixpkgs-fmt, statix, deadnix

remove: ulauncher from GNOME configuration
  home/desktop/gnome/default.nix
Due: nixpkgs-fmt, statix, deadnix

upgrade: Claude Code to version 1.0.110
  home/desktop/terminals/alacritty/default.nix
  home/desktop/terminals/kitty/default.nix
  home/development/claude-code/default.nix
  home/development/claude-code/default.nix.backup
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

format: auto-format terminal configuration files
  home/desktop/terminals/alacritty/default.nix
  home/desktop/terminals/kitty/default.nix
Due: nixpkgs-fmt, statix, deadnix

update: flake.lock dependencies
  flake.lock
Due: flake-check

fix: remove Discord from server hosts (P510, DEX5550)
  flake.lock
  home/desktop/gnome/apps.nix
  hosts/templates/server.nix
  modules/programs-server.nix
  modules/system-utils/system_util.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

upgrade: Claude Code to version 1.0.112
  flake.lock
  home/development/claude-code/default.nix
  modules/cloud/terraform.nix
  modules/packages/sets.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: Tailscale build error by disabling tests in sandbox
  modules/networking/tailscale.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Tailscale module scripts using overridden package
  modules/networking/tailscale.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Replace rofi-wayland with rofi package
  flake.lock
  home/desktop/dunst/default.nix
  home/desktop/rofi/default.nix
  hosts/p510/configuration.nix
  modules/packages/sets.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: Use router DNS (192.168.1.254) for P510
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Completely disable desktop framework for P510
  Users/olafkfreund/p510_home.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Multiple configuration fixes and updates
  home/desktop/hyprland/config/plugins.nix
  home/desktop/hyprland/default.nix
  home/development/claude-code/default.nix
  home/development/claude-code/default.nix.backup
  home/development/claude-code/package-lock.json
  home/profiles/default.nix
  hosts/dex5550/configuration.nix
  hosts/p510/configuration.nix
  hosts/p510/nixos/boot.nix
  modules/ai/load-testing.nix
  modules/consolidated/desktop.nix
Due: nixpkgs-fmt, statix, deadnix

feat: Add network configuration for P510 dual-port Intel network card
  flake.lock
  home/desktop/gnome/apps.nix
  hosts/p510/configuration.nix
  hosts/p510/nixos/network.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat: update Claude Code to version 1.0.115
  flake.lock
  home/development/claude-code/default.nix
  home/development/claude-code/default.nix.backup
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: Remove duplicate user-theme extension configuration
  flake.lock
  home/desktop/gnome/default.nix
  home/desktop/gnome/extensions.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

feat: Add comprehensive GitLab development module
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  Users/olafkfreund/samsung_home.nix
  home/development/default.nix
  home/development/gitlab/default.nix
Due: nixpkgs-fmt, statix, deadnix

style: Format GNOME desktop configuration files
  home/desktop/gnome/default.nix
  home/desktop/gnome/extensions.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Replace deprecated programs.zsh.initExtra with initContent
  home/development/ai-productivity.nix
  home/development/gitlab/default.nix
  home/shell/ai-task-integration.nix
Due: nixpkgs-fmt, statix, deadnix

feat: Update codex-cli to version 0.36.0
  home/desktop/gnome/default.nix
  home/development/codex-cli/default.nix
  home/development/codex-cli/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

feat: Enable NVIDIA GPU and CUDA support for P510 headless operation
  home/desktop/gnome/apps.nix
  home/desktop/gnome/extensions.nix
  home/desktop/gnome/keybindings.nix
  home/development/gitlab/default.nix
  hosts/p510/configuration.nix
  hosts/p510/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix

feat: Enable GNOME desktop environment on P510 for easier NVIDIA setup
  hosts/p510/configuration.nix
  hosts/p510/nixos/nvidia.nix
  hosts/p510/nixos/power.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Resolve Tailscale autoconnect service failure on P510
  home/development/codex-cli/module.nix
  home/development/gitlab/default.nix
  home/profiles-compat.nix
  home/profiles/default.nix
  home/profiles/desktop-user/default.nix
  home/profiles/developer/default.nix
  home/profiles/laptop-user/default.nix
  hosts/hp/nixos/boot.nix
  hosts/p510/configuration.nix
  hosts/p620/nixos/load.nix
  hosts/razer/nixos/secure-boot.nix
Due: nixpkgs-fmt, statix, deadnix

feat: Update Claude Code to version 1.0.117
  home/development/claude-code/default.nix
  home/development/claude-code/package-lock.json
Due: nixpkgs-fmt, statix, deadnix

fix: Update deprecated GNOME configuration options for P510
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Standardize all GNOME hosts to use GDM display manager
  hosts/p510/configuration.nix
  hosts/p620/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Enhance P510 NVIDIA kernel module configuration
  flake.lock
  hosts/p510/configuration.nix
  hosts/p510/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: Resolve xrdp service conflict on Samsung host
  modules/desktop/gnome-remote-desktop.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Completely disable xrdp services to prevent startup failures
  modules/desktop/gnome-remote-desktop.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Disable tailscale-autoconnect service on Samsung to prevent activation failures
  hosts/samsung/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Update P510 NVIDIA configuration with NixOS best practices
  flake.lock
  hosts/p510/configuration.nix
  hosts/p510/nixos/dns.nix
  hosts/p510/nixos/network.nix
  hosts/p510/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix, flake-check

fix: Switch P510 to proprietary NVIDIA drivers for kernel compatibility
  hosts/p510/configuration.nix
  hosts/p510/nixos/nvidia.nix
  modules/consolidated/development.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Add explicit NVIDIA kernel module loading for P510
  hosts/p510/nixos/nvidia.nix
  modules/consolidated/development.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Restore proper GNOME/GDM configuration for P510
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Properly configure NVIDIA drivers for P510 with latest stable kernel
  hosts/p510/configuration.nix
  hosts/p510/nixos/boot.nix
  hosts/p510/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix

feat: Complete NVIDIA driver installation on P510 with latest stable kernel
  hosts/p510/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix

fix: Resolve NVIDIA driver compatibility issues on P510
  hosts/p510/nixos/boot.nix
  hosts/p510/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix

fix(p510): Switch to open-source NVIDIA drivers with beta package
  hosts/p510/nixos/boot.nix
  hosts/p510/nixos/nvidia.nix
Due: nixpkgs-fmt, statix, deadnix

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  flake-check: any of: flake\.(nix|lock)$
  just-validate: any of: justfile$
