Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

chore(flake): bump all (nixpkgs unchanged) (#642)
  flake.lock
Due: none

feat(desktop): add Aerion email client
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.nix
  home/desktop/aerion/default.nix
  home/desktop/default.nix
  overlays/custom-packages.nix
  pkgs/aerion/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(desktop): add Aerion email client (#646)
  Users/common/features-impl.nix
  Users/common/features.nix
  Users/olafkfreund/p620_home.nix
  Users/olafkfreund/razer_home.nix
  flake.nix
  home/desktop/aerion/default.nix
  home/desktop/default.nix
  overlays/custom-packages.nix
  pkgs/aerion/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.153 (#644)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.153 (#644) (#647)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to v2.0.16+claude1.9255.2 (#645)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to v2.0.16+claude1.9255.2 (#645) (#648)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(home): manage syncthing .stignore declaratively
  home/default.nix
  home/syncthing-stignore.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(home): manage syncthing .stignore declaratively (#649)
  home/default.nix
  home/syncthing-stignore.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(syncthing): remove imperative .stignore writer
  modules/services/syncthing.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(syncthing): remove imperative .stignore writer (#650)
  modules/services/syncthing.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home): reach p510 with declarative .stignore
  Users/common/imports.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home): reach p510 with declarative .stignore (#651)
  Users/common/imports.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#652)
  flake.lock
Due: none

chore(claude-code): update to 2.1.154
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.154 (#653)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(update-claude-code): fix claude-code host list + dedup headings
  .claude/commands/update-claude-code.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(update-claude-code): fix claude-code host list + dedup headings (#654)
  .claude/commands/update-claude-code.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged) (#656)
  flake.lock
Due: none

chore(claude-code): update to 2.1.156
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.156 (#657)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(docs): port skill_pool terminal theme to MkDocs Material
  docs/javascripts/cursor.js
  docs/stylesheets/terminal.css
  mkdocs.yml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

feat(docs): port skill_pool terminal theme to MkDocs Material (#658)
  docs/javascripts/cursor.js
  docs/stylesheets/terminal.css
  mkdocs.yml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

feat(docs): wire custom domain nixos.freundcloud.com
  docs/CNAME
  mkdocs.yml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

feat(docs): wire custom domain nixos.freundcloud.com (#659)
  docs/CNAME
  mkdocs.yml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): bump to v0.2026.05.27.15.44.stable_01
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

chore(warp-terminal): bump to v0.2026.05.27.15.44.stable_01 (#660)
  pkgs/warp-terminal/versions.json
Due: json-format, trailing-whitespace, end-of-file, check-merge-conflict

fix(arr-suite-mcp): patch upstream client bugs for Prowlarr & Overseerr
  pkgs/arr-suite-mcp/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.158 (#662)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(home): silence HM/Stylix release-check and pkgs.system deprecations
  Users/common/base-home.nix
  home/media/music.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(claude-code-commands): add /blog slash command
  home/development/claude-code-commands/blog.md
  home/development/claude-code-commands/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

style(claude-code-commands): apply markdownlint auto-fix to /blog
  home/development/claude-code-commands/blog.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat: claude-code 2.1.158, MCP bug fixes, HM warning cleanups, /blog command (#663)
  Users/common/base-home.nix
  home/development/claude-code-commands/blog.md
  home/development/claude-code-commands/default.nix
  home/media/music.nix
  pkgs/arr-suite-mcp/default.nix
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): bump cli to 1.0.3 and python pkg to 0.1.1
  pkgs/antigravity-cli/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump nixpkgs to nixos-unstable HEAD (64c08a7c)
  flake.lock
Due: none

chore: lockfile bumps — nixpkgs to unstable HEAD, antigravity to 1.0.3 (#664)
  flake.lock
  pkgs/antigravity-cli/default.nix
  pkgs/google-antigravity-py/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(media-bot): add household Telegram bot service (Phase 1 part 1)
  hosts/p510/configuration.nix
  modules/services/media-bot.nix
  pkgs/default.nix
  pkgs/media-bot/default.nix
  pkgs/media-bot/pyproject.toml
  pkgs/media-bot/src/media_bot/__init__.py
  pkgs/media-bot/src/media_bot/arr_client.py
  pkgs/media-bot/src/media_bot/audit.py
  pkgs/media-bot/src/media_bot/auth.py
  pkgs/media-bot/src/media_bot/buttons.py
  pkgs/media-bot/src/media_bot/main.py
  pkgs/media-bot/src/media_bot/menu.py
  pkgs/media-bot/src/media_bot/nl.py
  pkgs/media-bot/src/media_bot/tools.py
  pkgs/media-bot/src/media_bot/webhooks.py
Due: nixpkgs-fmt, statix, deadnix, taplo, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(media-bot): enable on p510 + audiobook-import notify hook (Phase 1 part 2)
  hosts/p510/configuration.nix
  modules/services/audiobook-import.py
  secrets.nix
  secrets/media-bot-env.age
  secrets/media-bot-users.age
Due: nixpkgs-fmt, statix, deadnix, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
