Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

fix(flake): drop our nix-snapd import now that nixarchy brings it (#1989)
  flake.lock
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

refactor(omarchy): drop our Plugin Browser wiring now that nixarchy ships it (#1989)
  hosts/common/nixos/omarchy-plugin-browser.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(flake): nixarchy bump — drop duplicate nix-snapd and Plugin Browser wiring (#1989) (#1991)
  flake.lock
  flake.nix
  hosts/common/nixos/omarchy-plugin-browser.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1992)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1993)
  flake.lock
Due: none

docs(intent): Super+Alt+U opens the Plugin Browser again on p620 and razer (#1995)
  intent/2026-09-23-1995-plugin-browser-key.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-23-1995-plugin-browser-key (#1995)
  intent/2026-09-23-1995-plugin-browser-key.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): Super+Alt+U opens the Plugin Browser again (#1995)
  spec/2026-09-23-1995-plugin-browser-key.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-23-1995-plugin-browser-key (#1995)
  spec/2026-09-23-1995-plugin-browser-key.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): Super+Alt+U opens the Plugin Browser again (#1995)
  plan/2026-09-23-1995-plugin-browser-key.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): Decisions as a heading, for markdownlint MD036 (#1995)
  plan/2026-09-23-1995-plugin-browser-key.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-23-1995-plugin-browser-key (#1995)
  plan/2026-09-23-1995-plugin-browser-key.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(plugin-browser): restore Super+Alt+U on p620 and razer (#1995)
  hosts/common/nixos/omarchy-plugin-browser.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(plugin-browser): restore Super+Alt+U on p620 and razer (#1995) (#1996)
  hosts/common/nixos/omarchy-plugin-browser.nix
  hosts/p620/nixos/nixarchy.nix
  hosts/razer/nixos/nixarchy.nix
  intent/2026-09-23-1995-plugin-browser-key.md
  plan/2026-09-23-1995-plugin-browser-key.md
  spec/2026-09-23-1995-plugin-browser-key.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1997)
  flake.lock
Due: none

chore(claude-desktop): update to 2.7032.0 (#1994)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft streamdeck session units (#1978)
  intent/2026-09-23-1978-streamdeck-session-units.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged) (#1998)
  flake.lock
Due: none

docs(intent): draft k3d node resolv.conf (#1497)
  intent/2026-09-23-1497-k3d-node-resolv-conf.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(agents): state the delegation policy for all agents (#1929)
  AGENTS.md
  home/development/claude-code-skills/second-opinion/SKILL.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-23-1978-streamdeck-session-units (#1978)
  intent/2026-09-23-1978-streamdeck-session-units.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-09-23-1497-k3d-node-resolv-conf (#1497)
  intent/2026-09-23-1497-k3d-node-resolv-conf.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft streamdeck session units (#1978)
  spec/2026-09-23-1978-streamdeck-session-units.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft k3d node resolv.conf (#1497)
  spec/2026-09-23-1497-k3d-node-resolv-conf.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-23-1978-streamdeck-session-units (#1978)
  spec/2026-09-23-1978-streamdeck-session-units.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-09-23-1497-k3d-node-resolv-conf (#1497)
  spec/2026-09-23-1497-k3d-node-resolv-conf.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft streamdeck-session-units (#1978)
  plan/2026-09-23-1978-streamdeck-session-units.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft k3d-node-resolv-conf (#1497)
  plan/2026-09-23-1497-k3d-node-resolv-conf.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-23-1978-streamdeck-session-units (#1978)
  plan/2026-09-23-1978-streamdeck-session-units.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-09-23-1497-k3d-node-resolv-conf (#1497)
  plan/2026-09-23-1497-k3d-node-resolv-conf.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(omgato): package omgato; bind Stream Deck units to the session (#1978)
  Users/olafkfreund/p620_home.nix
  hosts/p620/configuration.nix
  pkgs/default.nix
  pkgs/omgato/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): pin the node's own resolv.conf for image pulls (#1497)
  modules/containers/k3d.nix
  plan/2026-09-23-1497-k3d-node-resolv-conf.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to 2.7032.0 (#1994) (#1999)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(agents): state the delegation policy for all agents (#1929) (#2000)
  AGENTS.md
  home/development/claude-code-skills/second-opinion/SKILL.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(omgato): package omgato; bind Stream Deck units to the session (#1978) (#2001)
  Users/olafkfreund/p620_home.nix
  hosts/p620/configuration.nix
  intent/2026-09-23-1978-streamdeck-session-units.md
  pkgs/default.nix
  pkgs/omgato/default.nix
  plan/2026-09-23-1978-streamdeck-session-units.md
  spec/2026-09-23-1978-streamdeck-session-units.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): pin the node's own resolv.conf for image pulls (#1497) (#2002)
  intent/2026-09-23-1497-k3d-node-resolv-conf.md
  modules/containers/k3d.nix
  plan/2026-09-23-1497-k3d-node-resolv-conf.md
  spec/2026-09-23-1497-k3d-node-resolv-conf.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
