Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$

chore(flake): bump all (nixpkgs unchanged) (#1451)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1454)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1455)
  flake.lock
Due: none

chore(flake): bump all (nixpkgs unchanged) (#1456)
  flake.lock
Due: none

fix(nix): clear two deprecation warnings
  modules/email/neomutt/default.nix
  modules/office/default.nix
  pkgs/okena/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(claude): correct stale desktop and binary-cache notes
  CLAUDE.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): drop substituters with no consumer
  CLAUDE.md
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(wayland): bind media transport, mic mute, clipboard and niri workspace moves
  home/desktop/wayland/hyprland.nix
  home/desktop/wayland/niri.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): correct PR reference to #1457
  flake.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix: clear deprecation warnings, correct stale docs, add missing Wayland keybinds (#1457)
  CLAUDE.md
  flake.nix
  home/desktop/wayland/hyprland.nix
  home/desktop/wayland/niri.nix
  modules/email/neomutt/default.nix
  modules/office/default.nix
  pkgs/okena/default.nix
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1459)
  flake.lock
Due: none

chore(claude-code): update to 2.1.246 (#1453)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-code): update to 2.1.246 (#1453) (#1460)
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to 1.37937.0 (#1458)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): update to 1.37937.0 (#1458) (#1461)
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1463)
  flake.lock
Due: none

fix(p510): normalise /mnt/img_pool ownership so sqlite-backup can run (#1464)
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p510): normalise /mnt/img_pool ownership so sqlite-backup can run (#1464) (#1465)
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flake): bump all (nixpkgs unchanged) (#1466)
  flake.lock
Due: none

feat(ci): nightly auto-update for claude-code, claude-desktop, warp, antigravity (#1467)
  .github/workflows/package-autoupdate.yml
  scripts/update-claude-code-native.sh
  scripts/update-claude-desktop.sh
Due: shellcheck, shfmt, yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

feat(ci): nightly auto-update for claude-code, claude-desktop, warp, antigravity (#1467) (#1469)
  .github/workflows/package-autoupdate.yml
  scripts/update-claude-code-native.sh
  scripts/update-claude-desktop.sh
Due: shellcheck, shfmt, yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs

fix(ci): replace dead magic-nix-cache with our own Cachix, clear Node 20 warnings (#1470)
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-watch.yml
  .github/workflows/claude-desktop-watch.yml
  .github/workflows/claude.yml
  .github/workflows/docs.yml
  .github/workflows/nixos-issue-audit.yml
  .github/workflows/package-autoupdate.yml
  .github/workflows/update-flake.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(ci): replace dead magic-nix-cache with our own Cachix, clear Node 20 warnings (#1470) (#1471)
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-watch.yml
  .github/workflows/claude-desktop-watch.yml
  .github/workflows/claude.yml
  .github/workflows/docs.yml
  .github/workflows/nixos-issue-audit.yml
  .github/workflows/package-autoupdate.yml
  .github/workflows/update-flake.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(claude-desktop): auto-update to 1.37937.1
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(antigravity): auto-update to 1.1.21-6424454201475072
  pkgs/antigravity-cli/default.nix
  pkgs/antigravity-hub/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(ci): verify antigravity through customPkgs, not the flake input (#1468)
  .github/workflows/package-autoupdate.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(ci): verify antigravity through customPkgs, not the flake input (#1468) (#1474)
  .github/workflows/package-autoupdate.yml
Due: yamllint, actionlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(readme): showcase the nightly package-autoupdate system (#1475)
  README.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(readme): showcase the nightly package-autoupdate system (#1475) (#1476)
  README.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

chore(flake): bump all (nixpkgs unchanged) (#1477)
  flake.lock
Due: none

chore(claude-code): auto-update to 2.1.247
  pkgs/claude-code-native/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(claude-desktop): auto-update to 1.37937.3
  pkgs/claude-desktop-beta/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check
