Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

style(media-bot): drop unused asyncio + Optional imports from nl.py
  pkgs/media-bot/src/media_bot/nl.py
Due: ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict

feat(media-bot): household Telegram bot — menu + Ollama NL + webhooks (Phase 1) (#665)
  hosts/p510/configuration.nix
  modules/services/audiobook-import.py
  modules/services/media-bot.nix
  pkgs/default.nix
  pkgs/media-bot/default.nix
  pkgs/media-bot/pyproject.toml
  pkgs/media-bot/src/media_bot/__init__.py
  pkgs/media-bot/src/media_bot/arr_client.py
  pkgs/media-bot/src/media_bot/audit.py
  pkgs/media-bot/src/media_bot/auth.py
  pkgs/media-bot/src/media_bot/buttons.py
  pkgs/media-bot/src/media_bot/main.py
  pkgs/media-bot/src/media_bot/menu.py
  pkgs/media-bot/src/media_bot/nl.py
  pkgs/media-bot/src/media_bot/tools.py
  pkgs/media-bot/src/media_bot/webhooks.py
  secrets.nix
  secrets/media-bot-env.age
  secrets/media-bot-users.age
Due: nixpkgs-fmt, statix, deadnix, taplo, ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(media-bot): use LoadCredential for users-file (DynamicUser permission)
  modules/services/media-bot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(media-bot): use LoadCredential for users-file (DynamicUser permission) (#666)
  modules/services/media-bot.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(media-bot): use eventType "Download" for Sonarr/Radarr import webhooks
  pkgs/media-bot/src/media_bot/webhooks.py
Due: ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict

fix(media-bot): use eventType "Download" for Sonarr/Radarr import webhooks (#667)
  pkgs/media-bot/src/media_bot/webhooks.py
Due: ruff-format, ruff-check, trailing-whitespace, end-of-file, check-merge-conflict

feat(bazarr): add subtitle automation for Sonarr/Radarr/Lidarr on p510
  hosts/p510/configuration.nix
  modules/services/bazarr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(bazarr): add subtitle automation for Sonarr/Radarr/Lidarr on p510 (#668)
  hosts/p510/configuration.nix
  modules/services/bazarr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(kometa): add Plex Meta Manager in dry-run mode (Library QoL Phase 1a)
  hosts/p510/configuration.nix
  modules/services/kometa/config.yml
  modules/services/kometa/default.nix
  secrets.nix
  secrets/kometa-env.age
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(kometa): add Plex Meta Manager in dry-run mode (Library QoL Phase 1a) (#669)
  hosts/p510/configuration.nix
  modules/services/kometa/config.yml
  modules/services/kometa/default.nix
  secrets.nix
  secrets/kometa-env.age
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(kometa): drop in real TMDB API key, replacing placeholder
  secrets/kometa-env.age
Due: none

fix(kometa): drop in real TMDB API key, replacing placeholder (#670)
  secrets/kometa-env.age
Due: none

fix(kometa): set KOMETA_READ_ONLY_CONFIG=true (config.yml is ro from nix store)
  modules/services/kometa/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(kometa): set KOMETA_READ_ONLY_CONFIG=true (config.yml is ro from nix store) (#671)
  modules/services/kometa/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(kometa): render config.yml from template via envsubst (substitution actually works now)
  modules/services/kometa/config.yml
  modules/services/kometa/default.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(kometa): render config.yml from template via envsubst (substitution actually works now) (#672)
  modules/services/kometa/config.yml
  modules/services/kometa/default.nix
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(kometa): drop fictional agenix.service dependency from render unit
  modules/services/kometa/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(kometa): drop fictional agenix.service dependency from render unit (#673)
  modules/services/kometa/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(kometa): library is 'Films' on our Plex, not 'Movies' (en_GB)
  modules/services/kometa/config.yml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

fix(kometa): library is 'Films' on our Plex, not 'Movies' (en_GB) (#674)
  modules/services/kometa/config.yml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

feat(plex-auto-languages): per-show audio/sub track memorization (Library QoL #3)
  hosts/p510/configuration.nix
  modules/services/plex-auto-languages/config.yaml
  modules/services/plex-auto-languages/default.nix
  secrets.nix
  secrets/plex-auto-languages-env.age
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(plex-auto-languages): per-show audio/sub track memorization (Library QoL #3) (#675)
  hosts/p510/configuration.nix
  modules/services/plex-auto-languages/config.yaml
  modules/services/plex-auto-languages/default.nix
  secrets.nix
  secrets/plex-auto-languages-env.age
Due: nixpkgs-fmt, statix, deadnix, yamllint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nzbget): move ControlPassword from plaintext settings to agenix include
  hosts/p510/nixos/plex.nix
  secrets.nix
  secrets/nzbget-password.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(nzbget): move ControlPassword from plaintext settings to agenix include (#676)
  hosts/p510/nixos/plex.nix
  secrets.nix
  secrets/nzbget-password.age
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(recyclarr): API keys from agenix EnvironmentFile, not config.xml grep
  hosts/p510/nixos/recyclarr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(recyclarr): API keys from agenix EnvironmentFile, not config.xml grep (#677)
  hosts/p510/nixos/recyclarr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flaresolverr): replace stale "testing fix" comment
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(flaresolverr): replace stale "testing fix" comment (#678)
  hosts/p510/configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(recyclarr): switch to current TRaSH bundle template names
  hosts/p510/nixos/recyclarr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(recyclarr): switch to current TRaSH bundle template names (#679)
  hosts/p510/nixos/recyclarr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(recyclarr): inline template contents — bundle templates aren't include-able
  hosts/p510/nixos/recyclarr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(recyclarr): inline template contents — bundle templates aren't include-able (#680)
  hosts/p510/nixos/recyclarr.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(kometa): flip dry_run to false (Phase 1b — first live run)
  modules/services/kometa/config.yml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

feat(kometa): flip dry_run to false (Phase 1b — first live run) (#681)
  modules/services/kometa/config.yml
Due: yamllint, trailing-whitespace, end-of-file, check-merge-conflict

chore(containers): pin Kometa + PAL container images to digests
  modules/services/kometa/default.nix
  modules/services/plex-auto-languages/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(containers): pin Kometa + PAL container images to digests (#682)
  modules/services/kometa/default.nix
  modules/services/plex-auto-languages/default.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(copilot-cli): bump 0.0.333 -> 1.0.56 (GA milestone)
  home/development/copilot-cli/default.nix
  home/development/copilot-cli/package-lock.json
  home/development/copilot-cli/package.json
Due: nixpkgs-fmt, statix, deadnix, json-format, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(copilot-cli): bump 0.0.333 -> 1.0.56 (GA milestone) (#683)
  home/development/copilot-cli/default.nix
  home/development/copilot-cli/package-lock.json
  home/development/copilot-cli/package.json
Due: nixpkgs-fmt, statix, deadnix, json-format, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(codex-cli): drop vendored npm wrapper, use nixpkgs#codex (0.133.0)
  home/development/codex-cli.nix
  home/development/codex-cli/default.nix
  home/development/codex-cli/module.nix
  home/development/codex-cli/package-lock.json
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(codex-cli): drop vendored npm wrapper, use nixpkgs#codex (0.133.0) (#684)
  home/development/codex-cli.nix
  home/development/codex-cli/default.nix
  home/development/codex-cli/module.nix
  home/development/codex-cli/package-lock.json
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
