Repository olafkfreund/nixos_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, statix, deadnix, shellcheck, shfmt, stylua, taplo, yamllint, json-format, markdownlint, ruff-format, ruff-check, actionlint, trailing-whitespace, end-of-file, check-merge-conflict, check-executables-have-shebangs, flake-check, just-validate

nixpkgs-fmt:
  name: Format Nix files
  entry: nixpkgs-fmt
  language: system
  description: Format Nix files using nixpkgs-fmt

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false
  description: Lint Nix files for common issues

deadnix:
  name: Check for dead Nix code
  entry: deadnix --fail
  language: system
  pass_filenames: false
  description: Check for dead/unused Nix code

shellcheck:
  name: Lint shell scripts
  entry: shellcheck
  language: system
  args:
  - -e
  - SC1091
  - -e
  - SC2034
  - -e
  - SC2086
  description: Lint shell scripts with shellcheck

shfmt:
  name: Format shell scripts
  entry: shfmt
  language: system
  args:
  - -w
  - -i
  - '2'
  - -bn
  - -ci
  description: Format shell scripts with shfmt

stylua:
  name: Format Lua files
  entry: stylua
  language: system
  description: Format Lua files with stylua

taplo:
  name: Format TOML files
  entry: taplo fmt
  language: system
  description: Format TOML files with taplo

yamllint:
  name: Lint YAML files
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed
  description: Lint YAML files with yamllint

json-format:
  name: Format JSON files
  entry: bash -c 'for f in "$@"; do jq . "$f" > "$f.tmp" && mv "$f.tmp" "$f"; done'
  language: system
  description: Format JSON files with jq

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  description: Lint and fix Markdown files

ruff-format:
  name: Format Python files
  entry: ruff format
  language: system
  description: Format Python files with ruff

ruff-check:
  name: Lint Python files
  entry: ruff check
  language: system
  args:
  - --fix
  description: Lint Python files with ruff

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  description: Lint GitHub Actions workflows

trailing-whitespace:
  name: Trim trailing whitespace
  entry: bash -c 'for f in "$@"; do sed -i "s/[[:space:]]*$//" "$f"; done'
  language: system
  description: Remove trailing whitespace

end-of-file:
  name: Fix end of file
  entry: bash -c 'for f in "$@"; do [ -n "$(tail -c1 "$f")" ] && echo >> "$f"; done'
  language: system
  description: Ensure files end with newline

check-merge-conflict:
  name: Check for merge conflicts
  entry: bash -c 'for f in "$@"; do ! grep -qE "^(<<<<<<<|=======|>>>>>>>)" "$f" || { echo "Merge conflict in $f"; exit 1; }; done'
  language: system
  description: Check for merge conflict markers

check-executables-have-shebangs:
  name: Check executables have shebangs
  entry: bash -c 'for f in "$@"; do if [ -x "$f" ] && ! head -1 "$f" | grep -qE "^#!"; then echo "Missing shebang in $f"; exit 1; fi; done'
  language: system
  description: Ensure executables have shebangs

flake-check:
  name: Check Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate Nix flake configuration (runs on all .nix file changes)

docs(spec): approve 2026-10-06-2182-p620-new-disks (#2182)
  spec/2026-10-06-2182-p620-new-disks.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft p620 new disks (#2182)
  plan/2026-10-06-2182-p620-new-disks.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-06-2182-p620-new-disks (#2182)
  plan/2026-10-06-2182-p620-new-disks.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(p620): mount new disks for home, build scratch and docker (#2182)
  hosts/p620/configuration.nix
  hosts/p620/nixos/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): record review deviations for steps 5-6 (#2182)
  plan/2026-10-06-2182-p620-new-disks.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): hold the merge until after cutover (#2182)
  plan/2026-10-06-2182-p620-new-disks.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): run the cutover as a system unit (#2182)
  plan/2026-10-06-2182-p620-new-disks.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): set PATH for the cutover unit (#2182)
  plan/2026-10-06-2182-p620-new-disks.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(p620): mount new disks for home, build scratch and docker (#2182) (#2183)
  hosts/p620/configuration.nix
  hosts/p620/nixos/hardware-configuration.nix
  intent/2026-10-06-2182-p620-new-disks.md
  plan/2026-10-06-2182-p620-new-disks.md
  spec/2026-10-06-2182-p620-new-disks.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): put containerd's image store on the docker disk (#2182)
  hosts/p620/configuration.nix
  plan/2026-10-06-2182-p620-new-disks.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(p620): put containerd's image store on the docker disk (#2182) (#2184)
  hosts/p620/configuration.nix
  plan/2026-10-06-2182-p620-new-disks.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(p620): retire the degraded /mnt/games drive (#2185)
  hosts/p620/nixos/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(p620): keep the degraded drive as /mnt/archives (#2185)
  hosts/p620/nixos/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(p620): rename the degraded /mnt/games drive to /mnt/archives (#2185) (#2186)
  hosts/p620/nixos/hardware-configuration.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(intent): draft 2026-10-06-2187-factory-cli-creds-stale (#2187)
  intent/2026-10-06-2187-factory-cli-creds-stale.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-06-2187-factory-cli-creds-stale (#2187)
  intent/2026-10-06-2187-factory-cli-creds-stale.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-10-06-2187-factory-cli-creds-stale (#2187)
  spec/2026-10-06-2187-factory-cli-creds-stale.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-06-2187-factory-cli-creds-stale (#2187)
  spec/2026-10-06-2187-factory-cli-creds-stale.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-10-06-2187-factory-cli-creds-stale (#2187)
  plan/2026-10-06-2187-factory-cli-creds-stale.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-06-2187-factory-cli-creds-stale (#2187)
  plan/2026-10-06-2187-factory-cli-creds-stale.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(k3d): seed factory-cli-creds from the freshest copy (#2187)
  modules/containers/k3d.nix
  plan/2026-10-06-2187-factory-cli-creds-stale.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

chore(secrets): re-seed factory-cli-creds with a dedicated login (#2187)
  secrets/factory-secret-factory-cli-creds.age
Due: none

fix(k3d): factory services run with an expired Claude seed credential (#2187) (#2190)
  intent/2026-10-06-2187-factory-cli-creds-stale.md
  modules/containers/k3d.nix
  plan/2026-10-06-2187-factory-cli-creds-stale.md
  secrets/factory-secret-factory-cli-creds.age
  spec/2026-10-06-2187-factory-cli-creds-stale.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(spec): draft 2026-10-06-2188-backup-silent-skip (#2188)
  spec/2026-10-06-2188-backup-silent-skip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-06-2188-backup-silent-skip (#2188)
  plan/2026-10-06-2188-backup-silent-skip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-06-2188-backup-silent-skip (#2188)
  intent/2026-10-06-2188-backup-silent-skip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-06-2188-backup-silent-skip (#2188)
  spec/2026-10-06-2188-backup-silent-skip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): draft 2026-10-06-2188-backup-silent-skip (#2188)
  plan/2026-10-06-2188-backup-silent-skip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft 2026-10-06-2188-backup-silent-skip (#2188)
  intent/2026-10-06-2188-backup-silent-skip.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

fix(k3d): alert when k3d backups go stale (#2188)
  modules/containers/k3d.nix
  plan/2026-10-06-2188-backup-silent-skip.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

fix(k3d): backup timers report success when no backup was taken (#2188) (#2191)
  intent/2026-10-06-2188-backup-silent-skip.md
  modules/containers/k3d.nix
  plan/2026-10-06-2188-backup-silent-skip.md
  spec/2026-10-06-2188-backup-silent-skip.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

docs(plan): draft 2026-10-06-2189-k3d-storage-off-qlc (#2189)
  plan/2026-10-06-2189-k3d-storage-off-qlc.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): approve 2026-10-06-2189-k3d-storage-off-qlc (#2189)
  spec/2026-10-06-2189-k3d-storage-off-qlc.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): approve 2026-10-06-2189-k3d-storage-off-qlc (#2189)
  intent/2026-10-06-2189-k3d-storage-off-qlc.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): snapshot the cli-creds right before the delete (#2189)
  plan/2026-10-06-2189-k3d-storage-off-qlc.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(spec): draft 2026-10-06-2189-k3d-storage-off-qlc (#2189)
  spec/2026-10-06-2189-k3d-storage-off-qlc.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(intent): draft 2026-10-06-2189-k3d-storage-off-qlc (#2189)
  intent/2026-10-06-2189-k3d-storage-off-qlc.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

docs(plan): approve 2026-10-06-2189-k3d-storage-off-qlc (#2189)
  plan/2026-10-06-2189-k3d-storage-off-qlc.md
Due: markdownlint, trailing-whitespace, end-of-file, check-merge-conflict

feat(p620): move k3d PV storage to /mnt/code (#2189)
  hosts/p620/configuration.nix
  modules/containers/k3d.nix
Due: nixpkgs-fmt, statix, deadnix, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

feat(p620): move k3d PV storage off the QLC /mnt/data disk (#2189) (#2193)
  hosts/p620/configuration.nix
  intent/2026-10-06-2189-k3d-storage-off-qlc.md
  modules/containers/k3d.nix
  plan/2026-10-06-2189-k3d-storage-off-qlc.md
  spec/2026-10-06-2189-k3d-storage-off-qlc.md
Due: nixpkgs-fmt, statix, deadnix, markdownlint, trailing-whitespace, end-of-file, check-merge-conflict, flake-check

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  shellcheck: any of: \.sh$
  shfmt: any of: \.sh$
  stylua: any of: \.lua$
  taplo: any of: \.toml$
  yamllint: any of: \.(yaml|yml)$
  json-format: any of: \.json$, but not: package-lock\.json|flake\.lock
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  trailing-whitespace: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  end-of-file: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-merge-conflict: any of: \.(nix|sh|lua|toml|yaml|yml|json|md|py)$
  check-executables-have-shebangs: any of: \.sh$
  flake-check: any of: \.nix$
  just-validate: any of: justfile$
